src/onec_ordinary_forms/schemas/platform/8.5/ecscore/ecscore_root-113-http_v8.1c.ru_8.3_ecs_core.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:tns="http://v8.1c.ru/8.3/ecs/core"
           targetNamespace="http://v8.1c.ru/8.3/ecs/core"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>

    <xs:complexType name="Status">
        <xs:attribute name="bound" type="xs:boolean" />
        <xs:attribute name="clientId" type="xs:string" />
        <xs:attribute name="server" type="xs:string" />
        <xs:attribute name="admin" type="xs:boolean" />
        <xs:attribute name="userChoiceForm" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="PreBindResponse">
        <xs:attribute name="clientId" type="xs:string" use="required" />
        <xs:attribute name="clientKey" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="BindParams">
        <xs:attribute name="clientId" type="xs:string" use="required" />
        <xs:attribute name="server" type="xs:string" use="required" />
        <xs:attribute name="serverKey" type="xs:string" use="required" />
    </xs:complexType>

    <xs:simpleType name="CollaborationSystemDataDumpStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Creating" />
            <xs:enumeration value="Loading" />
            <xs:enumeration value="Restoring" />
            <xs:enumeration value="Done" />
            <xs:enumeration value="Error" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CollaborationSystemFromDataDumpRestoreStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Success" />
            <xs:enumeration value="Error" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CollaborationSystemMessageButtonPanelButtonType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UsualButton" />
            <xs:enumeration value="Hyperlink" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CollaborationSystemMessageButtonPanelButtonAction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ProcessByBot" />
            <xs:enumeration value="ProcessOnClient" />
            <xs:enumeration value="SendMessage" />
            <xs:enumeration value="SendMessageWithData" />
            <xs:enumeration value="GotoURL" />
            <xs:enumeration value="RequestPhone" />
            <xs:enumeration value="RequestLocation" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RegistrationData">
        <xs:annotation>
            <xs:documentation>Данные регистрации системы взаимодействия</xs:documentation>
        </xs:annotation>
    </xs:simpleType>

  <xs:simpleType name="ConversationID">
    <xs:annotation>
      <xs:documentation>Идентификатор обсуждения системы взаимодействия</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="MessageID">
    <xs:annotation>
      <xs:documentation>Идентификатор сообщения системы взаимодействия</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="UserID">
    <xs:annotation>
      <xs:documentation>Идентификатор пользователя системы взаимодействия</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="ApplicationID">
    <xs:annotation>
      <xs:documentation>Идентификатор приложения системы взаимодействия</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="IntegrationID">
    <xs:annotation>
      <xs:documentation>Идентификатор интеграции системы взаимодействия</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="BotID">
    <xs:annotation>
      <xs:documentation>Идентификатор бота системы взаимодействия</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

    <xs:simpleType name="BackupID">
        <xs:annotation>
            <xs:documentation>Идентификатор резервной копии системы взаимодействия</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:complexType name="Backup">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="tns:BackupID"/>
        <xs:attribute name="creationDate" type="xs:dateTime"/>
        <xs:attribute name="status" type="tns:CollaborationSystemDataDumpStatus"/>
        <xs:attribute name="downloadAvailable" type="xs:boolean"/>
        <xs:attribute name="restoreStatus" type="tns:CollaborationSystemFromDataDumpRestoreStatus"/>
    </xs:complexType>

    <xs:simpleType name="MessageTemplateID">
        <xs:annotation>
            <xs:documentation>Идентификатор шаблона сообщения системы взаимодействия</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:complexType name="MessageTemplate">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="lang" type="xs:string" minOccurs="0"/>
            <xs:element name="descr" type="xs:string" minOccurs="0"/>
            <xs:element name="text" type="xs:string" minOccurs="0"/>
            <xs:element name="phDescr" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="tns:MessageTemplateID"/>
    </xs:complexType>

</xs:schema>
