src/onec_ordinary_forms/schemas/platform/8.2/vrscore/vrscore_root-05-http_v8.1c.ru_8.2_managed-application_logformexception.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="logformexception"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:v81="http://v8.1c.ru/8.1/data/core"
    targetNamespace="http://v8.1c.ru/8.2/managed-application/logformexception"
    xmlns:tns="http://v8.1c.ru/8.2/managed-application/logformexception"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.0">
    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>

    <xs:complexType name="LogFormException">
        <xs:complexContent>
            <xs:extension base="v81:GenericException">
                <xs:sequence>
                    <xs:element name="string0" type="xs:string" />
                    <xs:element name="string1" type="xs:string" />
                    <xs:element name="string2" type="xs:string" />
                    <xs:element name="string3" type="xs:string" />
                </xs:sequence>
                <xs:attribute name="reason" type="xs:decimal" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UniversalListException">
        <xs:complexContent>
            <xs:extension base="v81:GenericException">
                <xs:attribute name="reason" type="xs:decimal"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
