src/onec_ordinary_forms/schemas/platform/8.5/frntend/frntend_root-01-http_v8.1c.ru_8.3_config_merge_settings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:cms="http://v8.1c.ru/8.3/config/merge/settings" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://v8.1c.ru/8.3/config/merge/settings"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Схема XML для файла настроек объединения</xs:documentation>
	</xs:annotation>
	<xs:element name="Settings" type="cms:Settings">
		<xs:annotation>
			<xs:documentation>Корневой элемент настроек объединения конфигураций</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Settings">
		<xs:annotation>
			<xs:documentation>Настройки объединения конфигураций</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MainConfiguration" type="cms:ConfigurationDescription" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Описание основной конфигурации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SecondConfiguration" type="cms:ConfigurationDescription" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Описание второй конфигурации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OldVendorConfiguration" type="cms:ConfigurationDescription" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Описание конфигурации поставщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Parameters" type="cms:Parameters" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Параметры объединения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupportRules" type="cms:SupportRules" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Настройки правил поддержки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Conformities"  type="cms:Conformities" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Настройки соответствий объектов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Objects" type="cms:Objects">
				<xs:annotation>
					<xs:documentation>Настройки объединения объектов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="version" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Версия файла настроек</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="platformVersion" type="xs:string">
			<xs:annotation>
				<xs:documentation>Минимальная версия платформы</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="MergeRule">
		<xs:annotation>
			<xs:documentation>Правило объединения объекта</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DoNotMerge">
				<xs:annotation>
					<xs:documentation>Не объединять</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GetFromSecondConfiguration">
				<xs:annotation>
					<xs:documentation>Взять из второй конфигурации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MergePrioritizingMainConfiguration">
				<xs:annotation>
					<xs:documentation>Объединить с приоритетом основной конфигурации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MergePrioritizingSecondConfiguration">
				<xs:annotation>
					<xs:documentation>Объединить с приоритетом второй конфигурации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MergeWithExternalTool">
				<xs:annotation>
					<xs:documentation>Объединить с помощью внешней программы</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpreadsheetDocumentMergeRule">
		<xs:annotation>
			<xs:documentation>Правило объединения для табличных документов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Merge">
				<xs:annotation>
					<xs:documentation>Объединять</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Unite">
				<xs:annotation>
					<xs:documentation>Включить содержимое обоих документов</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MergeBase">
				<xs:annotation>
					<xs:documentation>Трехточечное объединение</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ObjectOrder">
		<xs:annotation>
			<xs:documentation>Порядок подчиненных объектов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="GetFromMainConfiguration">
				<xs:annotation>
					<xs:documentation>Порядок из основной конфигурации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GetFromSecondConfiguration">
				<xs:annotation>
					<xs:documentation>Порядок из второй конфигурации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConfigurationType">
		<xs:annotation>
			<xs:documentation>Идентификатор сравниваемых конфигураций</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Main">
				<xs:annotation>
					<xs:documentation>Основная конфигурация</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Second">
				<xs:annotation>
					<xs:documentation>Вторая конфигурация</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ConfigurationDescription">
		<xs:annotation>
			<xs:documentation>Описание конфигурации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Название конфигурации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Версия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vendor" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Поставщик</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Parameters">
		<xs:annotation>
			<xs:documentation>Параметры объединения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConfigurationsRelation" type="cms:ConfigurationsRelation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Отношения основной и второй конфигурации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComparisonLanguages" type="cms:ComparisonLanguages" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Выборочное сравнение по языкам</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AllowMainConfigurationObjectDeletion" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Разрешить удаление объектов основной конфигурации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CopyObjectsMode" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Режим копирования объектов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ConfigurationsRelation">
		<xs:annotation>
			<xs:documentation>Отношения основной и второй конфигурации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ConfigurationsNotRelated">
				<xs:annotation>
					<xs:documentation>Основная конфигурация не связана со второй</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SecondConfigurationIsDescendantOfMainConfiguration">
				<xs:annotation>
					<xs:documentation>Вторая конфигурация является потомком основной</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MainConfigurationIsDescendantOfSecondConfiguration">
				<xs:annotation>
					<xs:documentation>Основная конфигурация является потомком второй конфигурации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ComparisonLanguages">
		<xs:annotation>
			<xs:documentation>Выборочное сравнение по языкам</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Language" type="xs:string" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Имя объекта метаданных "Язык"</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupportRules">
		<xs:annotation>
			<xs:documentation>Настройка правил поддержки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NewObjects" type="cms:ObjectSupportRulesForNewObjects">
				<xs:annotation>
					<xs:documentation>Правила для новых объектов поставщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DuplicateObjectsAndModifiedObjectsWithGetFromSecondConfigurationRule" type="cms:ObjectSupportRulesForDuplicateObjects">
				<xs:annotation>
					<xs:documentation>Правила поддержки для идентичных объектов или объектов с режимом объединения «Взять из второй конфигурации»</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModifiedObjectsWithoutGetFromSecondConfigurationRule" type="cms:ObjectSupportRulesForModifiedObjects">
				<xs:annotation>
					<xs:documentation>Правила поддержки для измененных объектов с режимом, отличным от «Взять из второй конфигурации»</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObjectSupportRulesForNewObjects">
		<xs:annotation>
			<xs:documentation>Правила для новых объектов поставщика</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChangesAllowedRule" type="cms:SupportRulesForNewObjects">
				<xs:annotation>
					<xs:documentation>Для объектов с правилом поставки «Изменения разрешены»</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChangesNotRecommendedRule" type="cms:SupportRulesForNewObjects">
				<xs:annotation>
					<xs:documentation>Для объектов с правилом поставки «Изменения не рекомендуются»</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObjectSupportRulesForDuplicateObjects">
		<xs:annotation>
			<xs:documentation>Правила поддержки для идентичных объектов или объектов с режимом объединения «Взять из второй конфигурации»</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChangesAllowedRule" type="cms:SupportRulesForDuplicateObjects">
				<xs:annotation>
					<xs:documentation>Для объектов с правилом поставки «Изменения разрешены»</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChangesNotRecommendedRule" type="cms:SupportRulesForDuplicateObjects">
				<xs:annotation>
					<xs:documentation>Для объектов с правилом поставки «Изменения не рекомендуются»</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObjectSupportRulesForModifiedObjects">
		<xs:annotation>
			<xs:documentation>Правила поддержки для измененных объектов с режимом, отличным от «Взять из второй конфигурации»</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChangesAllowedRule" type="cms:SupportRulesForModifiedObjects">
				<xs:annotation>
					<xs:documentation>Для объектов с правилом поставки «Изменения разрешены»</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChangesNotRecommendedRule" type="cms:SupportRulesForModifiedObjects">
				<xs:annotation>
					<xs:documentation>Для объектов с правилом поставки «Изменения не рекомендуются»</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SupportRulesForNewObjects">
		<xs:annotation>
			<xs:documentation>Значения правил поддержки для новых объектов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ObjectNotEditable">
				<xs:annotation>
					<xs:documentation>Объект поставщика не редактируется</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ObjectIsEditableSupportEnabled">
				<xs:annotation>
					<xs:documentation>Объект поставщика редактируется с сохранением поддержки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ObjectNotSupported">
				<xs:annotation>
					<xs:documentation>Объект поставщика снят с поддержки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SupportRulesForDuplicateObjects">
		<xs:annotation>
			<xs:documentation>Значения правил поддержки для идентичных объектов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KeepCurrentRule">
				<xs:annotation>
					<xs:documentation>Сохранять текущий режим (только для для обновления на поддержке)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ObjectNotEditable">
				<xs:annotation>
					<xs:documentation>Объект поставщика не редактируется</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ObjectIsEditableSupportEnabled">
				<xs:annotation>
					<xs:documentation>Объект поставщика редактируется с сохранением поддержки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ObjectNotSupported">
				<xs:annotation>
					<xs:documentation>Объект поставщика снят с поддержки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SupportRulesForModifiedObjects">
		<xs:annotation>
			<xs:documentation>Значения правил поддержки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KeepCurrentRule">
				<xs:annotation>
					<xs:documentation>Сохранять текущий режим (только для для обновления на поддержке)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ObjectIsEditableSupportEnabled">
				<xs:annotation>
					<xs:documentation>Объект поставщика редактируется с сохранением поддержки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ObjectNotSupported">
				<xs:annotation>
					<xs:documentation>Объект поставщика снят с поддержки</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Conformities">
		<xs:annotation>
			<xs:documentation>Настройки соответствий объектов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Conformity" type="cms:Conformity" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Conformity">
		<xs:annotation>
			<xs:documentation>Настройки объединения соответствия для объекта</xs:documentation>
		</xs:annotation>
		<xs:attribute name="fullName" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Полное имя объекта</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fullNameInSecondConfiguration" type="xs:string">
			<xs:annotation>
				<xs:documentation>Полное имя объекта во второй конфигурации</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Objects">
		<xs:annotation>
			<xs:documentation>Настройки объединения объектов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Configuration" type="cms:Configuration" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Настройки корневого объекта конфигурации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Object" type="cms:Object" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Настройки объектов конфигурации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Configuration">
		<xs:annotation>
			<xs:documentation>Настройки корневого объекта конфигурации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MergeRule" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MergeRuleForPropertiesChangedTwice" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MergeRuleForPropertiesChangedOnce" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ObjectOrder" type="cms:ObjectOrder" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Properties" type="cms:PropertySettings" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Object">
		<xs:annotation>
			<xs:documentation>Настройки объединения объекта</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MergeRule" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MergeRuleForPropertiesChangedTwice" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MergeRuleForPropertiesChangedOnce" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ObjectOrder" type="cms:ObjectOrder" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Properties" type="cms:PropertySettings" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Subsystem" type="cms:Subsystem" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="fullName" type="xs:string">
			<xs:annotation>
				<xs:documentation>Полное имя объекта</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fullNameInSecondConfiguration" type="xs:string">
			<xs:annotation>
				<xs:documentation>Полное имя объекта во второй конфигурации</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Subsystem">
		<xs:annotation>
			<xs:documentation>Настройки для объединения объектов, входящих в состав подсистемы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MergeRule" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MergeRuleForPropertiesChangedTwice" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MergeRuleForPropertiesChangedOnce" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ObjectOrder" type="cms:ObjectOrder" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="configuration" type="cms:ConfigurationType" use="required">
			<xs:annotation>
				<xs:documentation>Из какой конфигурации брать состав подсистемы</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="includeObjectsFromSubordinateSubsystems" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Включать объекты из подчиненных подсистем</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PropertySettings">
		<xs:annotation>
			<xs:documentation>Настройки объединения свойств</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Property" type="cms:Property" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Property">
		<xs:annotation>
			<xs:documentation>Настройки объединения свойства</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MergeRule" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MergeRuleForPropertiesChangedTwice" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MergeRuleForPropertiesChangedOnce" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element name="Module" type="cms:Module"/>
				<xs:element name="FormModule" type="cms:FormModule"/>
				<xs:element name="SpreadsheetDocument" type="cms:SpreadsheetDocument"/>
        <xs:element name="Content" type="cms:Content"/>
        <xs:element name="Types" type="cms:Types"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Имя свойства</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Module">
		<xs:annotation>
			<xs:documentation>Настройки модуля</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="Methods" type="cms:Methods">
					<xs:annotation>
						<xs:documentation>Настройки методов модуля</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Patch" type="xs:string">
					<xs:annotation>
						<xs:documentation>patch текста модуля в формате unidif</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FormModule">
		<xs:annotation>
			<xs:documentation>Настройки модуля формы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MergeRule" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MergeRuleForPropertiesChangedTwice" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MergeRuleForPropertiesChangedOnce" type="cms:MergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Module" type="cms:Module" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpreadsheetDocument">
		<xs:annotation>
			<xs:documentation>Настройки табличного документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MergeRule" type="cms:SpreadsheetDocumentMergeRule"/>
			<xs:element name="MergeRuleForPropertiesChangedTwice" type="cms:SpreadsheetDocumentMergeRule" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MergeRuleForPropertiesChangedOnce" type="cms:SpreadsheetDocumentMergeRule" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Methods">
		<xs:annotation>
			<xs:documentation>Настройки соответствий и объединения методов модуля</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Method" type="cms:Method" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="DirectiveArea" type="cms:Method" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="VariableDeclarationArea" type="cms:Method" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Настройки раздела определения переменных</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MainArea" type="cms:Method" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Настройки раздела основной программы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Method">
		<xs:annotation>
			<xs:documentation>Настройки объединения методов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MergeRule" type="cms:MergeRule"/>
			<xs:choice>
				<xs:element name="Text" type="xs:string">
					<xs:annotation>
						<xs:documentation>Текст метода</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Patch" type="xs:string">
					<xs:annotation>
						<xs:documentation>patch текста метода в формате unidif</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Название метода в первой и второй конфигурации (если нет nameInSecondConfiguration)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nameInSecondConfiguration" type="xs:string">
			<xs:annotation>
				<xs:documentation>Название метода во второй конфигурации</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
  <xs:complexType name="DirectiveArea">
    <xs:annotation>
      <xs:documentation>Настройки объединения директив препроцессора</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MergeRule" type="cms:MergeRule"/>
      <xs:choice>
        <xs:element name="Text" type="xs:string">
          <xs:annotation>
            <xs:documentation>Текст директивы препроцессора</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Patch" type="xs:string">
          <xs:annotation>
            <xs:documentation>patch текста директивы препроцессора в формате unidif</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Директива препроцессора в первой и второй конфигурации (если нет nameInSecondConfiguration)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="nameInSecondConfiguration" type="xs:string">
      <xs:annotation>
        <xs:documentation>Директива препроцессора во второй конфигурации</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Content">
    <xs:annotation>
      <xs:documentation>Настройки соответствий и объединения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item" type="cms:Item" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:annotation>
      <xs:documentation>Настройки объединения состава</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="MergeRule" type="cms:MergeRule"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Название элемента из состава</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Types">
    <xs:annotation>
      <xs:documentation>Настройки соответствий и объединения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Type" type="cms:Type" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Type">
    <xs:annotation>
      <xs:documentation>Настройки объединения типов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="MergeRule" type="cms:MergeRule"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Название типа из домена</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
