src/onec_ordinary_forms/schemas/platform/8.5/map/map_root-02-http_v8.1c.ru_8.2_data_geo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://v8.1c.ru/8.2/data/geo"
           xmlns:tns="http://v8.1c.ru/8.2/data/geo"
           xmlns:ui="http://v8.1c.ru/8.1/data/ui"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.1/data/ui" schemaLocation="../../../xdto/src/res/uiobjects.xsd"/>

    <xs:simpleType name="GeographicalSchemaShowMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ScaleDefined"/>
            <xs:enumeration value="AllData"/>
            <xs:enumeration value="SpecifiedArea"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="GeographicalSchemaLineType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="Solid"/>
            <xs:enumeration value="Dotted"/>
            <xs:enumeration value="Dashed"/>
            <xs:enumeration value="DashDotted"/>
            <xs:enumeration value="DashDottedDotted"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GeographicalSchemaProjection">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CylindricalMillerProjection"/>
            <xs:enumeration value="CylindricalLambertEqualAreaProjection"/>
            <xs:enumeration value="CylindricalGallStereographicProjection"/>
            <xs:enumeration value="CylindricalEquidistantProjection"/>

            <xs:enumeration value="PseudoCylindricalSinusoidalProjection"/>
            <xs:enumeration value="PseudoCylindricalMollweideProjection"/>
            <xs:enumeration value="PseudoCylindricalRobinsonProjection"/>
            <xs:enumeration value="PseudoCylindricalEckert1Projection"/>
            <xs:enumeration value="PseudoCylindricalEckert2Projection"/>
            <xs:enumeration value="PseudoCylindricalEckert3Projection"/>
            <xs:enumeration value="PseudoCylindricalEckert4Projection"/>
            <xs:enumeration value="PseudoCylindricalEckert5Projection"/>
            <xs:enumeration value="PseudoCylindricalEckert6Projection"/>
            <xs:enumeration value="PseudoCylindricalHatanoAsymetricalEqualAreaProjection"/>
            <xs:enumeration value="PseudoCylindricalLoximutalProjection"/>
            <xs:enumeration value="PseudoCylindricalMcBrydeThomasFlatPolarParabolicProjection"/>
            <xs:enumeration value="PseudoCylindricalMcBrydeThomasFlatPolarQuarticProjection"/>
            <xs:enumeration value="PseudoCylindricalMcBrydeThomasFlatPolarSinusoidalProjection"/>
            <xs:enumeration value="PseudoCylindricalPutninP2Projection"/>
            <xs:enumeration value="PseudoCylindricalPutninP5Projection"/>
            <xs:enumeration value="PseudoCylindricalWinkel1Projection"/>
            <xs:enumeration value="PseudoCylindricalBoggsEumorphicProjection"/>

            <xs:enumeration value="AzimuthalHammerProjection"/>
            <xs:enumeration value="AzimuthalWagner7Projection"/>
            <xs:enumeration value="AzimuthalAitoffProjection"/>
            <xs:enumeration value="AzimuthalWinkelTripelProjection"/>
            <xs:enumeration value="AzimuthalEquidistantProjection"/>
            <xs:enumeration value="AzimuthalLambertEqualAreaProjection"/>

            <xs:enumeration value="MiscellaneousAugustEpicycloidalProjection"/>
            <xs:enumeration value="MiscellaneousBaconGlobularProjection"/>
            <xs:enumeration value="MiscellaneousNicolosiGlobularProjection"/>
            <xs:enumeration value="MiscellaneousApianGlobular1Projection"/>
            <xs:enumeration value="MiscellaneousOrteliusOvalProjection"/>
            <xs:enumeration value="MiscellaneousVanDerGrinten1Projection"/>
            <xs:enumeration value="MiscellaneousVanDerGrinten2Projection"/>
            <xs:enumeration value="MiscellaneousVanDerGrinten3Projection"/>

            <xs:enumeration value="ConicLambertEqualAreaProjection"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="GeographicalSchemaDataSourceOrganizationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AtRow"/>
            <xs:enumeration value="AtIntersection"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ShapeCoordinateSystemInfo -->
    <xs:complexType name="scsi">
        <xs:sequence>
          <!-- gcsName -->
          <xs:element name="name" type="xs:string"/>
          <!-- datumName -->
          <xs:element name="dName" type="xs:string"/>
          <!-- spheroidName -->
          <xs:element name="sName" type="xs:string"/>

          <!-- semimajorAxis -->
          <xs:element name="smjAxs" type="xs:decimal"/>
          <!-- semiminorAxis -->
          <xs:element name="smnAxs" type="xs:decimal"/>
          <!-- inverseFlattening -->
          <xs:element name="invfl" type="xs:decimal"/>

          <!-- angularUnitName -->
          <xs:element name="aun" type="xs:string"/>
          <!-- radiansPerUnit -->
          <xs:element name="rpu" type="xs:decimal"/>

          <!-- primeMeridianName -->
          <xs:element name="pmn" type="xs:string"/>
          <!-- primeMeridianLongitudee -->
          <xs:element name="pml" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="GeographicalSchemaLayerSeriesShowMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DontShow"/>
            <xs:enumeration value="Text"/>
            <xs:enumeration value="Column"/>
            <xs:enumeration value="ShapeSize"/>
            <xs:enumeration value="ShapeColor"/>
            <xs:enumeration value="ShapeColorHue"/>
            <xs:enumeration value="Picture"/>
            <xs:enumeration value="Pie"/>
            <xs:enumeration value="SizedPie"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SeriesValuesDrawingMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ShowAsValue"/>
            <xs:enumeration value="ShowAsPart"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- DataSeriesItem -->
    <xs:complexType name="dsi">
        <xs:sequence>
            <!-- figureBaseColor -->
            <xs:element name="bc" type="ui:Color" minOccurs="0"/>
            <!-- textColor -->
            <xs:element name="tc" type="ui:Color" minOccurs="0"/>
            <!-- textFont -->
            <xs:element name="tf" type="ui:Font" minOccurs="0"/>
            <!-- value -->
            <xs:element name="v" type="xs:anyType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
        <!-- objectID - идентификатор объекта -->
        <xs:attribute name="oi" type="xs:decimal"/>
        <!-- name -->
        <xs:attribute name="n" type="xs:string"/>
        <!-- text -->
        <xs:attribute name="t" type="xs:string"/>
        <!-- format -->
        <xs:attribute name="f" type="xs:string"/>
        <!-- drawingType-->
        <xs:attribute name="dt" type="tns:GeographicalSchemaLayerSeriesShowMode"/>
        <!-- group -->
        <xs:attribute name="g" type="xs:string"/>
        <!-- textOrientation -->
        <xs:attribute name="to" type="xs:decimal"/>
        <!-- valueDrawingType -->
        <xs:attribute name="vdt" type="tns:SeriesValuesDrawingMode"/>
    </xs:complexType>

    <!-- LayerObject -->
    <xs:complexType name="lobj">
        <xs:sequence>
            <!-- datails -->
            <xs:element name="det" type="xs:anyType" maxOccurs="1" minOccurs="0"/>
            <!-- value -->
            <xs:element name="val" type="xs:anyType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>

        <!-- objectID - идентификатор объекта -->
        <xs:attribute name="oi" type="xs:decimal"/>
        <!-- toolTip -->
        <xs:attribute name="tt" type="xs:string"/>
        <!-- showLinkedData -->
        <xs:attribute name="sld" type="xs:boolean"/>
        <!-- visibke -->
        <xs:attribute name="vis" type="xs:boolean"/>
        <!-- xMinOriginal -->
        <xs:attribute name="xn" type="xs:decimal"/>
        <!-- xMaxOriginal -->
        <xs:attribute name="xx" type="xs:decimal"/>
        <!-- yMinOriginal -->
        <xs:attribute name="yn" type="xs:decimal"/>
        <!-- yMaxOriginal -->
        <xs:attribute name="yx" type="xs:decimal"/>

        <!-- drawed xMin -->
        <xs:attribute name="dxn" type="xs:decimal"/>
        <!-- drawed xMax -->
        <xs:attribute name="dxx" type="xs:decimal"/>
        <!-- drawed yMin -->
        <xs:attribute name="dyn" type="xs:decimal"/>
        <!-- drawed yMax -->
        <xs:attribute name="dyx" type="xs:decimal"/>

    </xs:complexType>

    <xs:simpleType name="GeographicalSchemaMarkerType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="Pin"/>
            <xs:enumeration value="Darts"/>
            <xs:enumeration value="LittleCircle"/>
            <xs:enumeration value="BigCircle"/>
            <xs:enumeration value="LittleSquare"/>
            <xs:enumeration value="BigSquare"/>
            <xs:enumeration value="LittleTriangle"/>
            <xs:enumeration value="BigTriangle"/>
            <xs:enumeration value="QuestionMark"/>
            <xs:enumeration value="ExclamationPoint"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PaintingReferencePointPosition">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LeftTop"/>
            <xs:enumeration value="LeftCenter"/>
            <xs:enumeration value="LeftBottom"/>
            <xs:enumeration value="CenterTop"/>
            <xs:enumeration value="Center"/>
            <xs:enumeration value="CenterBottom"/>
            <xs:enumeration value="RightTop"/>
            <xs:enumeration value="RightCenter"/>
            <xs:enumeration value="RightBottom"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GeographicalSchemaPointObjectDrawingType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Char"/>
            <xs:enumeration value="Marker"/>
            <xs:enumeration value="Picture"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ps - PointShape -->
    <xs:complexType name="ps">
        <xs:complexContent>
            <xs:extension base="tns:lobj">
                <xs:sequence>
                    <!-- color -->
                    <xs:element name="clr" type="ui:Color" minOccurs="0"/>
                    <!-- font -->
                    <xs:element name="fnt" type="ui:Font" minOccurs="0"/>
                    <!-- picture -->
                    <xs:element name="pic" type="ui:Picture" minOccurs="0"/>
                </xs:sequence>
                <!-- xOriginal -->
                <xs:attribute name="x" type="xs:decimal"/>
                <!-- yOriginal -->
                <xs:attribute name="y" type="xs:decimal"/>
                <!-- drawed x -->
                <xs:attribute name="a" type="xs:decimal"/>
                <!-- drawed y -->
                <xs:attribute name="b" type="xs:decimal"/>
                <!-- symbol -->
                <xs:attribute name="smbl" type="xs:string"/>
                <!-- pushPin -->
                <xs:attribute name="pn" type="tns:GeographicalSchemaMarkerType"/>
                <!-- pointPosition-->
                <xs:attribute name="pp" type="tns:PaintingReferencePointPosition"/>
                <!-- drawingType -->
                <xs:attribute name="dt" type="tns:GeographicalSchemaPointObjectDrawingType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- sps - SimplePointShape -->
    <xs:complexType name="sps">
        <!-- objectID - идентификатор объекта -->
        <xs:attribute name="i" type="xs:decimal"/>
        <!-- xOriginal -->
        <xs:attribute name="x" type="xs:decimal"/>
        <!-- yOriginal -->
        <xs:attribute name="y" type="xs:decimal"/>
        <!-- drawed x -->
        <xs:attribute name="a" type="xs:decimal"/>
        <!-- drawed y -->
        <xs:attribute name="b" type="xs:decimal"/>
    </xs:complexType>

    <!-- dp - drawed point -->
    <xs:complexType name="dp">
        <!-- drawed x -->
        <xs:attribute name="x" type="xs:decimal"/>
        <!-- drawed y -->
        <xs:attribute name="y" type="xs:decimal"/>
    </xs:complexType>

    <!-- dps - drawed points -->
    <xs:complexType name="dps">
      <xs:sequence>
        <!-- drawed point -->
        <xs:element name="p" type="tns:dp" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <!-- mps - MultiPointShape -->
    <xs:complexType name="mps">
        <xs:complexContent>
            <xs:extension base="tns:lobj">
                <xs:sequence>
                    <!-- point -->
                    <xs:element name="pnt" type="tns:sps" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- drawed point -->
                    <xs:element name="dps" type="tns:dps" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- color -->
                    <xs:element name="clr" type="ui:Color" minOccurs="0"/>
                    <!-- font -->
                    <xs:element name="fnt" type="ui:Font" minOccurs="0"/>
                    <!-- picture -->
                    <xs:element name="pic" type="ui:Picture" minOccurs="0"/>
                </xs:sequence>
                <!-- symbol -->
                <xs:attribute name="smbl" type="xs:string"/>
                <!-- pushPin -->
                <xs:attribute name="pn" type="tns:GeographicalSchemaMarkerType"/>
                <!-- pointPosition-->
                <xs:attribute name="pp" type="tns:PaintingReferencePointPosition"/>
                <!-- drawingType -->
                <xs:attribute name="dt" type="tns:GeographicalSchemaPointObjectDrawingType"/>
              </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- IdentifiedPointsShapeVector -->
    <xs:complexType name="ipsv">
        <xs:sequence>
            <!-- point -->
            <xs:element name="p" type="tns:sps" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <!-- objectID - идентификатор объекта -->
        <xs:attribute name="i" type="xs:decimal"/>
    </xs:complexType>

    <!-- pls - PolyLineShape -->
    <xs:complexType name="pls">
        <xs:complexContent>
            <xs:extension base="tns:lobj">
                <xs:sequence>
                    <!-- color -->
                    <xs:element name="clr" type="ui:Color" minOccurs="0"/>
                    <!-- line -->
                    <xs:element name="ln" type="ui:Line" minOccurs="0"/>
                    <!-- segment -->
                    <xs:element name="sg" type="tns:ipsv" maxOccurs="unbounded" minOccurs="0"/>
                    <!-- drawed points -->
                    <xs:element name="dps" type="tns:dps" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- ps - PolygonShape -->
    <xs:complexType name="pgs">
        <xs:complexContent>
            <xs:extension base="tns:lobj">
                <xs:sequence>
                    <!-- color -->
                    <xs:element name="clr" type="ui:Color" minOccurs="0"/>
                    <!-- borderColor -->
                    <xs:element name="bClr" type="ui:Color" minOccurs="0"/>
                    <!-- contour -->
                    <xs:element name="cnt" type="tns:ipsv" maxOccurs="unbounded" minOccurs="0"/>
                    <!-- drawed points -->
                    <xs:element name="dps" type="tns:dps" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- mpcs - MultiPatchShape -->
    <!--
    <xs:complexType name="mpcs">
        <xs:complexContent>
            <xs:extension base="tns:lobj">
                <xs:sequence>
                    <xs:element name="point" type="tns:sps" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element name="part" type="xs:decimal" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element name="partType" type="xs:decimal" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element name="zRange" type="xs:decimal" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element name="zArray" type="xs:decimal" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element name="mRange" type="xs:decimal" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element name="mArray" type="xs:decimal" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    -->

    <!-- ValueItem -->
    <xs:complexType name="vi">
        <xs:sequence>
            <!-- value -->
            <xs:element name="v" type="xs:anyType" maxOccurs="1" minOccurs="0"/>
            <!-- details -->
            <xs:element name="d" type="xs:anyType" maxOccurs="1" minOccurs="0"/>
            <!-- drawed point -->
            <xs:element name="p" type="tns:dp" minOccurs="0" maxOccurs="unbounded"/>
            <!-- percents -->
            <xs:element name="r" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <!-- objectID - идентификатор объекта -->
        <xs:attribute name="i" type="xs:decimal"/>
        <!-- tooltip -->
        <xs:attribute name="t" type="xs:string"/>
        <!-- value -->
        <xs:attribute name="vs" type="xs:string"/>
        <xs:attribute name="vn" type="xs:decimal"/>
        <xs:attribute name="vb" type="xs:boolean"/>
        <xs:attribute name="vd" type="xs:dateTime"/>
        <!-- details -->
        <xs:attribute name="ds" type="xs:string"/>
        <xs:attribute name="dn" type="xs:decimal"/>
        <xs:attribute name="db" type="xs:boolean"/>
        <xs:attribute name="dd" type="xs:dateTime"/>
    </xs:complexType>

    <!--sad - SeriesAndData -->
    <xs:complexType name="sad">
        <xs:sequence>
            <!--vi - данные -->
            <xs:element name="v" type="tns:vi"/>
        </xs:sequence>
        <!--si - идентификатор серии -->
        <xs:attribute name="i" type="xs:decimal"/>
    </xs:complexType>

    <!--oas - ObjectAndSeries -->
    <xs:complexType name="oas">
        <xs:sequence>
            <!--si - даныне объекта -->
            <xs:element name="d" type="tns:sad" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <!--si - идентификатор объекта-->
        <xs:attribute name="i" type="xs:decimal"/>
    </xs:complexType>

    <!-- LayerItem -->
    <xs:complexType name="layer">
        <xs:sequence>
            <!-- gsc -->
            <xs:element name="gsc" type="tns:scsi"/>
            <!-- series-->
            <xs:element name="series" type="tns:dsi" maxOccurs="unbounded" minOccurs="0"/>
            <!-- point -->
            <xs:element name="pnt" type="tns:ps" maxOccurs="unbounded" minOccurs="0"/>
            <!-- multipoint-->
            <xs:element name="mpnt" type="tns:mps" maxOccurs="unbounded" minOccurs="0"/>
            <!-- polyline-->
            <xs:element name="pln" type="tns:pls" maxOccurs="unbounded" minOccurs="0"/>
            <!-- polyfon-->
            <xs:element name="plgn" type="tns:pgs" maxOccurs="unbounded" minOccurs="0"/>
            <!-- multipatch
            <xs:element name="mPtch" type="tns:mpcs" maxOccurs="unbounded" minOccurs="0"/>
            -->
            <!-- objectData -->
            <xs:element name="data" type="tns:oas" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>

        <!-- objectID - идентификатор объекта -->
        <xs:attribute name="oi" type="xs:decimal"/>
        <!-- name -->
        <xs:attribute name="name" type="xs:string"/>
        <!-- text -->
        <xs:attribute name="text" type="xs:string"/>

        <!-- xMinOriginal -->
        <xs:attribute name="xmn" type="xs:decimal"/>
        <!-- xMaxOriginal -->
        <xs:attribute name="xmx" type="xs:decimal"/>
        <!-- yMinOriginal -->
        <xs:attribute name="ymn" type="xs:decimal"/>
        <!-- yMaxOriginal -->
        <xs:attribute name="ymx" type="xs:decimal"/>

        <!-- visible -->
        <xs:attribute name="vis" type="xs:boolean"/>
        <!-- selectable -->
        <xs:attribute name="sel" type="xs:boolean"/>

        <!-- scaleRangeBegin-->
        <xs:attribute name="srb" type="xs:decimal"/>
        <!-- scaleRangeEnd -->
        <xs:attribute name="sre" type="xs:decimal"/>

        <!-- dataSourceRange -->
        <xs:attribute name="dsr" type="xs:string"/>
        <!-- contentType -->
        <xs:attribute name="ct" type="tns:GeographicalSchemaDataSourceOrganizationType"/>

        <!-- elementsType -->
        <xs:attribute name="et" type="core:UUID"/>
    </xs:complexType>

    <!-- PrintOption -->
    <xs:complexType name="po">
        <xs:sequence>
            <!-- value -->
            <xs:element name="val" type="xs:anyType" minOccurs="0"/>
        </xs:sequence>
        <!-- key -->
        <xs:attribute name="key" type="xs:decimal"/>
    </xs:complexType>

    <xs:simpleType name="GeographicalSchemaLegendItemShowScaleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DontShow"/>
            <xs:enumeration value="ShowByValues"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- GeographicalSchemeLegendItem -->
    <xs:complexType name="legItem">
        <xs:sequence>
            <!-- sampleTextColor -->
            <xs:element name="stc" type="ui:Color" minOccurs="0"/>
            <!-- sampleTextFont -->
            <xs:element name="stf" type="ui:Font" minOccurs="0"/>
            <!-- picture -->
            <xs:element name="pic" type="ui:Picture" minOccurs="0"/>
        </xs:sequence>
        <!-- objectID - идентификатор объекта -->
        <xs:attribute name="oi" type="xs:decimal"/>
        <!-- LayerObjectID - идентификатор объекта -->
        <xs:attribute name="loi" type="xs:decimal"/>
        <!-- ItemObjectID - идентификатор серии слоя  -->
        <xs:attribute name="soi" type="xs:decimal"/>
        <!-- sampleText -->
        <xs:attribute name="st" type="xs:string"/>
        <!-- captionText -->
        <xs:attribute name="ct" type="xs:string"/>
        <!-- scaleType -->
        <xs:attribute name="sct" type="tns:GeographicalSchemaLegendItemShowScaleType"/>
    </xs:complexType>

    <!-- GeographicalSchemeLegend -->
    <xs:complexType name="legend">
        <xs:sequence>
            <!-- color -->
            <xs:element name="clr" type="ui:Color" minOccurs="0"/>
            <!-- border -->
            <xs:element name="brdr" type="ui:Border" minOccurs="0"/>
            <!-- borderColor -->
            <xs:element name="brdrClr" type="ui:Color" minOccurs="0"/>
            <!-- borderColor -->
            <xs:element name="fnt" type="ui:Font" minOccurs="0"/>
            <!-- legendBackColor -->
            <xs:element name="bkClr" type="ui:Color" minOccurs="0"/>
            <!-- item -->
            <xs:element name="item" type="tns:legItem" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <!-- legendAreaShow -->
        <xs:attribute name="show" type="xs:boolean"/>
        <!-- legendTransparent -->
        <xs:attribute name="trnsprnt" type="xs:boolean"/>
        <!-- legendShowScaleLine -->
        <xs:attribute name="scale" type="xs:boolean"/>
        <!-- rectLeft -->
        <xs:attribute name="left" type="xs:decimal"/>
        <!-- rectRight -->
        <xs:attribute name="right" type="xs:decimal"/>
        <!-- rectTop -->
        <xs:attribute name="top" type="xs:decimal"/>
        <!-- rectBottom -->
        <xs:attribute name="bottom" type="xs:decimal"/>
    </xs:complexType>

    <!-- GeographicalSchemeDrawingArea -->
    <xs:complexType name="drawing">
        <xs:sequence>
            <!-- border -->
            <xs:element name="brdr" type="ui:Border" minOccurs="0"/>
            <!-- backColor -->
            <xs:element name="bkClr" type="ui:Color" minOccurs="0"/>
            <!-- color -->
            <xs:element name="clr" type="ui:Color" minOccurs="0"/>
        </xs:sequence>
        <!-- transparent -->
        <xs:attribute name="trnsprnt" type="xs:boolean"/>
        <!-- rectLeft -->
        <xs:attribute name="left" type="xs:decimal"/>
        <!-- rectRight -->
        <xs:attribute name="right" type="xs:decimal"/>
        <!-- rectTop -->
        <xs:attribute name="top" type="xs:decimal"/>
        <!-- rectBottom -->
        <xs:attribute name="bottom" type="xs:decimal"/>
    </xs:complexType>

    <!-- GeographicalSchemeTitle -->
    <xs:complexType name="title">
        <xs:sequence>
            <!-- border-->
            <xs:element name="brdr" type="ui:Border" minOccurs="0"/>
            <!-- borderColor-->
            <xs:element name="brdrClr" type="ui:Color" minOccurs="0"/>
            <!-- font-->
            <xs:element name="fnt" type="ui:Font" minOccurs="0"/>
            <!-- font -->
            <xs:element name="txt" type="core:LocalStringType" minOccurs="0"/>
            <!-- textColor -->
            <xs:element name="txtClr" type="ui:Color" minOccurs="0"/>
            <!-- titleBackColor-->
            <xs:element name="bckClr" type="ui:Color" minOccurs="0"/>
        </xs:sequence>
        <!-- titleAreaShow-->
        <xs:attribute name="show" type="xs:boolean"/>
        <!-- align -->
        <xs:attribute name="algn" type="ui:HorizontalAlign"/>
        <!-- titleTransparent -->
        <xs:attribute name="trnsprnt" type="xs:boolean"/>
        <!-- rectLeft -->
        <xs:attribute name="left" type="xs:decimal"/>
        <!-- rectRight -->
        <xs:attribute name="right" type="xs:decimal"/>
        <!-- rectTop -->
        <xs:attribute name="top" type="xs:decimal"/>
        <!-- rectBottom -->
        <xs:attribute name="bottom" type="xs:decimal"/>
    </xs:complexType>

    <xs:complexType name="GeographicalSchema">
        <xs:sequence>
            <xs:element name="pic" type="ui:Picture" minOccurs="0" maxOccurs="1"/>
            <!-- -->
            <xs:element name="layer" type="tns:layer" minOccurs="0" maxOccurs="unbounded"/>
            <!-- -->
            <xs:element name="po" type="tns:po" minOccurs="0" maxOccurs="unbounded"/>
            <!-- -->
            <xs:element name="legend" type="tns:legend"/>
            <!-- -->
            <xs:element name="title" type="tns:title"/>
            <!-- -->
            <xs:element name="drawing" type="tns:drawing"/>
        </xs:sequence>
        <!-- currentID -->
        <xs:attribute name="curId" type="xs:decimal"/>
        <!-- latitudeShift -->
        <xs:attribute name="latShift" type="xs:decimal"/>
        <!-- longitudeShift -->
        <xs:attribute name="longShift" type="xs:decimal"/>
        <!-- schemeProjection -->
        <xs:attribute name="proj" type="tns:GeographicalSchemaProjection"/>
        <!-- showMode -->
        <xs:attribute name="showMode" type="tns:GeographicalSchemaShowMode"/>
        <!-- scale -->
        <xs:attribute name="scale" type="xs:decimal"/>

        <!-- xMinOriginal -->
        <xs:attribute name="xmn" type="xs:decimal"/>
        <!-- xMaxOriginal -->
        <xs:attribute name="xmx" type="xs:decimal"/>
        <!-- yMinOriginal -->
        <xs:attribute name="ymn" type="xs:decimal"/>
        <!-- yMaxOriginal -->
        <xs:attribute name="ymx" type="xs:decimal"/>

        <!-- drawed xMin -->
        <xs:attribute name="dxn" type="xs:decimal"/>
        <!-- drawed xMax -->
        <xs:attribute name="dxx" type="xs:decimal"/>
        <!-- drawed yMin -->
        <xs:attribute name="dyn" type="xs:decimal"/>
        <!-- drawed yMax -->
        <xs:attribute name="dyx" type="xs:decimal"/>

        <!-- viewed xMin -->
        <xs:attribute name="vxn" type="xs:decimal"/>
        <!-- viewed xMax -->
        <xs:attribute name="vxx" type="xs:decimal"/>
        <!-- viewed yMin -->
        <xs:attribute name="vyn" type="xs:decimal"/>
        <!-- viewed yMax -->
        <xs:attribute name="vyx" type="xs:decimal"/>

        <!-- m_useOutput по умолчанию Auto -->
        <xs:attribute name="useOutput" type="ui:UseOutput" />

    </xs:complexType>

</xs:schema>
