src/onec_ordinary_forms/schemas/platform/8.5/moxel/moxel_root-69-http_v8.1c.ru_8.2_data_spreadsheet.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) (http://www.liquid-technologies.com)-->
<schema 
    xmlns:tns="http://v8.1c.ru/8.2/data/spreadsheet" 
    xmlns:core="http://v8.1c.ru/8.1/data/core" 
    xmlns:v8ui="http://v8.1c.ru/8.1/data/ui" 
    targetNamespace="http://v8.1c.ru/8.2/data/spreadsheet" 
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
  <import schemaLocation="../../../xdto/src/res/core.xsd" namespace="http://v8.1c.ru/8.1/data/core" />
  <import schemaLocation="../../../xdto/src/res/uiobjects.xsd" namespace="http://v8.1c.ru/8.1/data/ui" />
  <group name="PrimaryElements">
      <choice>
          <element name="columns" type="tns:Columns" />
          <element name="rowsItem" type="tns:RowsItem" />
          <element name="drawing" type="tns:Drawing" />
      </choice>
  </group>
  <complexType name="SpreadsheetDocument">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="distributedKey" type="string" />
      <element minOccurs="0" maxOccurs="1" name="languageSettings">
        <complexType>
          <sequence>
            <element name="currentLanguage" type="string" />
            <element name="defaultLanguage" type="string" />
            <element minOccurs="0" maxOccurs="unbounded" name="languageInfo">
              <complexType>
                <sequence>
                  <element name="id" type="string" />
                  <element name="code" type="string" />
                  <element minOccurs="0" maxOccurs="1" name="description" type="string" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" maxOccurs="1" name="languageCode" type="string" />
      <group ref="tns:PrimaryElements" minOccurs="0" maxOccurs="unbounded" />
      <element minOccurs="0" maxOccurs="1" name="backPicture" type="anyType" />
      <element minOccurs="0" maxOccurs="1" name="fixedBackground" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="leftHeader" type="tns:Cell" />
      <element minOccurs="0" maxOccurs="1" name="centerHeader" type="tns:Cell" />
      <element minOccurs="0" maxOccurs="1" name="rightHeader" type="tns:Cell" />
      <element minOccurs="0" maxOccurs="1" name="leftFooter" type="tns:Cell" />
      <element minOccurs="0" maxOccurs="1" name="centerFooter" type="tns:Cell" />
      <element minOccurs="0" maxOccurs="1" name="rightFooter" type="tns:Cell" />
      <element minOccurs="0" maxOccurs="1" name="templateMode" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="stepDirection" type="tns:SpreadsheetDocumentStepDirectionType" />
      <element minOccurs="0" maxOccurs="1" name="totalsRight" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="totalsBelow" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="defaultFormatIndex" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="height" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="vgLevels" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="vgRows" type="decimal" />
      <element minOccurs="0" maxOccurs="unbounded" name="vg" type="tns:Group" />
      <element minOccurs="0" maxOccurs="unbounded" name="hg" type="tns:Group" />
      <element minOccurs="0" maxOccurs="unbounded" name="verticalPageBreak" type="tns:PageBreak" />
      <element minOccurs="0" maxOccurs="unbounded" name="horizontalPageBreak" type="tns:PageBreak" />
      <element minOccurs="0" maxOccurs="unbounded" name="merge" type="tns:Merge" />
      <element minOccurs="0" maxOccurs="unbounded" name="verticalUnmerge" type="tns:Merge" />
      <element minOccurs="0" maxOccurs="unbounded" name="horizontalUnmerge" type="tns:Merge" />
      <element minOccurs="0" maxOccurs="unbounded" name="namedItem" type="tns:NamedItem" />
      <element minOccurs="0" maxOccurs="1" name="printSettingsName" type="string" />
      <element minOccurs="0" maxOccurs="1" name="printSettings" type="tns:PrintSettings" />
      <element minOccurs="0" maxOccurs="1" name="printArea" type="tns:Area" />
      <element minOccurs="0" maxOccurs="1" name="repeatRows" type="tns:Area" />
      <element minOccurs="0" maxOccurs="1" name="repeatColumns" type="tns:Area" />
      <element minOccurs="0" maxOccurs="unbounded" name="drawingDataSource" type="tns:DrawingsDataSource" />
      <element minOccurs="0" maxOccurs="unbounded" name="groupsBackColor" type="v8ui:Color" />
      <element minOccurs="0" maxOccurs="unbounded" name="groupsColor" type="v8ui:Color" />
      <element minOccurs="0" maxOccurs="unbounded" name="headersBackColor" type="v8ui:Color" />
      <element minOccurs="0" maxOccurs="unbounded" name="headersColor" type="v8ui:Color" />
      <element minOccurs="0" maxOccurs="1" name="saveViewSettings" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="viewSettings" type="tns:ViewSettings" />
      <element minOccurs="0" maxOccurs="unbounded" name="embeddedTable" type="tns:EmbeddedTableItem" />
      <element minOccurs="0" maxOccurs="unbounded" name="line" type="v8ui:Line" />
      <element minOccurs="0" maxOccurs="unbounded" name="font" type="v8ui:Font" />
      <element minOccurs="0" maxOccurs="unbounded" name="format" type="tns:Format" />
      <element minOccurs="0" maxOccurs="unbounded" name="picture" type="tns:Picture" />
      <element minOccurs="0" maxOccurs="1" name="usedFileName" type="string" />
      <element minOccurs="0" maxOccurs="1" name="output" type="v8ui:UseOutput" />
      <element minOccurs="0" maxOccurs="1" name="nextInsertionRow" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="nextInsertionCol" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="readOnly" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="protection" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="baseSheet" type="tns:SpreadsheetDocument" />
      <element minOccurs="0" maxOccurs="1" name="extensionMethod" type="tns:SpreadsheetDocumentExtensionAlgorithm" />
      <element minOccurs="0" maxOccurs="1" name="isCompactMode" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="originalSheet" type="tns:SpreadsheetDocument" />
      <element minOccurs="0" maxOccurs="1" name="textDirection" type="v8ui:TextDirection" />
	  <element minOccurs="0" maxOccurs="1" name="savedPicturesDensity" type="tns:SpreadsheetDocumentSavedPicturesDensity" />
    </sequence>
  </complexType>
  <element name="document" type="tns:SpreadsheetDocument" />
  <complexType name="Cell">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="f" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="tl" type="core:LocalStringType" />
      <element minOccurs="0" maxOccurs="1" name="t" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tfl" type="core:LocalStringType" />
      <element minOccurs="0" maxOccurs="1" name="tf" type="string" />
      <element minOccurs="0" maxOccurs="1" name="parameter" type="string" />
      <element minOccurs="0" maxOccurs="1" name="v" type="anyType" />
      <element minOccurs="0" maxOccurs="1" name="detailParameter" type="string" />
      <element minOccurs="0" maxOccurs="1" name="d" type="anyType" />
      <element minOccurs="0" maxOccurs="1" name="r" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="note" type="tns:Drawing" />
      <element minOccurs="0" maxOccurs="1" name="control" type="base64Binary"/>
      <element minOccurs="0" maxOccurs="1" name="pictureParameter" type="string" />
    </sequence>
  </complexType>
  <complexType name="Format">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="font" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="border" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="leftBorder" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="rightBorder" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="topBorder" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="bottomBorder" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="borderColor" type="v8ui:Color" />
      <element minOccurs="0" maxOccurs="1" name="height" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="width" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="autoWidthCalculation" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="widthWeightFactor" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="horizontalAlignment" type="v8ui:HorizontalAlign" />
      <element minOccurs="0" maxOccurs="1" name="verticalAlignment" type="v8ui:VerticalAlign" />
      <element minOccurs="0" maxOccurs="1" name="textColor" type="v8ui:Color" />
      <element minOccurs="0" maxOccurs="1" name="backColor" type="v8ui:Color" />
      <element minOccurs="0" maxOccurs="1" name="patternColor" type="v8ui:Color" />
      <element minOccurs="0" maxOccurs="1" name="pattern" type="tns:SpreadsheetDocumentPatternType" />
      <element minOccurs="0" maxOccurs="1" name="textPlacement" type="tns:SpreadsheetDocumentTextPlacementType" />
      <element minOccurs="0" maxOccurs="1" name="fillType" type="tns:SpreadsheetDocumentAreaFillType" />
      <element minOccurs="0" maxOccurs="1" name="protection" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="hidden" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="textOrientation" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="detailsUse" type="tns:SpreadsheetDocumentDetailUse" />
      <element minOccurs="0" maxOccurs="1" name="bySelectedColumns" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="markNegatives" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="containsValue" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="valueType" type="core:TypeDescription" />
      <element minOccurs="0" maxOccurs="1" name="format" type="core:LocalStringType" />
      <element minOccurs="0" maxOccurs="1" name="controlType" type="core:UUID" />
      <element minOccurs="0" maxOccurs="1" name="hyperLink" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="quickDrag" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="autoMarkIncomplete" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="markIncomplete" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="indent" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="autoIndent" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="editFormat" type="core:LocalStringType" />
      <element minOccurs="0" maxOccurs="1" name="columnSizeChange" type="v8ui:SizeChangeMode" />
      <element minOccurs="0" maxOccurs="1" name="print" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="drawingBorder" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="drawingHaveLeftBorder" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="drawingHaveTopBorder" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="drawingHaveRightBorder" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="drawingHaveBottomBorder" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="mask" type="core:LocalStringType" />
      <element minOccurs="0" maxOccurs="1" name="picIndex" type="decimal"/>
      <element minOccurs="0" maxOccurs="1" name="pictureSizeMode" type="tns:PictureSize" />
      <element minOccurs="0" maxOccurs="1" name="picHorizontalAlignment" type="v8ui:HorizontalAlign" />
      <element minOccurs="0" maxOccurs="1" name="picVerticalAlignment" type="v8ui:VerticalAlign" />
      <element minOccurs="0" maxOccurs="1" name="textPosition" type="tns:TextPositionRelativeToPicture" />
      <element minOccurs="0" maxOccurs="1" name="leftMargin" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="topMargin" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="rightMargin" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="bottomMargin" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="highlightMode" type="tns:SpreadsheetDocumentCellHighlightMode" />
      <element minOccurs="0" maxOccurs="1" name="showEditMode" type="tns:SpreadsheetDocumentEditableCellShowType" />
    </sequence>
  </complexType>
  <complexType name="Row">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="columnsID" type="core:UUID" />
      <element minOccurs="0" maxOccurs="1" name="formatIndex" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="empty" type="boolean" />
      <element minOccurs="0" maxOccurs="unbounded" name="c" type="tns:RowCellsItem" />
    </sequence>
  </complexType>
  <complexType name="Columns">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="id" type="core:UUID">
        <annotation>
          <documentation>Идентификатор колонок
</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="formatIndex" type="decimal" />
      <element minOccurs="1" maxOccurs="1" name="size" type="decimal" />
      <element minOccurs="0" maxOccurs="unbounded" name="columnsItem" type="tns:ColumnsItem" />
    </sequence>
  </complexType>
  <complexType name="Column">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="formatIndex" type="decimal" />
    </sequence>
  </complexType>
  <complexType name="ColumnsItem">
    <sequence>
      <element name="index" type="decimal" />
      <element name="column" type="tns:Column" />
    </sequence>
  </complexType>
  <complexType name="RowCellsItem">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="i" type="decimal" />
      <element name="c" type="tns:Cell" />
    </sequence>
  </complexType>
  <complexType name="Rows">
    <sequence>
      <element name="index" type="decimal" />
    </sequence>
  </complexType>
  <complexType name="RowsItem">
    <sequence>
      <element name="index" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="indexTo" type="decimal" />
      <element name="row" type="tns:Row" />
    </sequence>
  </complexType>
  <simpleType name="SpreadsheetDocumentTextPlacementType">
    <restriction base="string">
      <enumeration value="Auto" />
      <enumeration value="Cut" />
      <enumeration value="Block" />
      <enumeration value="Wrap" />
    </restriction>
  </simpleType>
  <simpleType name="SpreadsheetDocumentPatternType">
    <restriction base="string">
      <enumeration value="WithoutPattern" />
      <enumeration value="Solid" />
      <enumeration value="Pattern1" />
      <enumeration value="Pattern2" />
      <enumeration value="Pattern3" />
      <enumeration value="Pattern4" />
      <enumeration value="Pattern5" />
      <enumeration value="Pattern6" />
      <enumeration value="Pattern7" />
      <enumeration value="Pattern8" />
      <enumeration value="Pattern9" />
      <enumeration value="Pattern10" />
      <enumeration value="Pattern11" />
      <enumeration value="Pattern12" />
      <enumeration value="Pattern13" />
      <enumeration value="Pattern14" />
      <enumeration value="Pattern15" />
      <enumeration value="Pattern16" />
      <enumeration value="Pattern17" />
    </restriction>
  </simpleType>
  <simpleType name="SpreadsheetDocumentAreaFillType">
    <restriction base="string">
      <enumeration value="Text" />
      <enumeration value="Parameter" />
      <enumeration value="Template" />
    </restriction>
  </simpleType>
  <simpleType name="SpreadsheetDocumentDetailUse">
    <restriction base="string">
      <enumeration value="Cell" />
      <enumeration value="Row" />
      <enumeration value="WithoutProcessing" />
    </restriction>
  </simpleType>
  <simpleType name="SpreadsheetDocumentGroupHeaderPlacement">
    <restriction base="string">
      <enumeration value="Auto" />
      <enumeration value="Begin" />
      <enumeration value="End" />
    </restriction>
  </simpleType>
  <complexType name="Drawing">
    <sequence>
      <element name="drawingType" type="tns:SpreadsheetDocumentDrawingType" />
      <element name="id" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="formatIndex" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="text" type="core:LocalStringType" />
      <element minOccurs="0" maxOccurs="1" name="textString" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tfl" type="core:LocalStringType" />
      <element minOccurs="0" maxOccurs="1" name="tf" type="string" />
      <element minOccurs="0" maxOccurs="1" name="parameter" type="string" />
      <element minOccurs="0" maxOccurs="1" name="value" type="anyType" />
      <element minOccurs="0" maxOccurs="1" name="detailParameter" type="string" />
      <element minOccurs="0" maxOccurs="1" name="detailValue" type="anyType" />
      <element minOccurs="1" maxOccurs="1" name="beginRow" type="decimal" />
      <element minOccurs="1" maxOccurs="1" name="beginRowOffset" type="decimal" />
      <element minOccurs="1" maxOccurs="1" name="endRow" type="decimal" />
      <element minOccurs="1" maxOccurs="1" name="endRowOffset" type="decimal" />
      <element minOccurs="1" maxOccurs="1" name="beginColumn" type="decimal" />
      <element minOccurs="1" maxOccurs="1" name="beginColumnOffset" type="decimal" />
      <element minOccurs="1" maxOccurs="1" name="endColumn" type="decimal" />
      <element minOccurs="1" maxOccurs="1" name="endColumnOffset" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="autoSize" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="pictureSize" type="tns:PictureSize" />
      <element minOccurs="0" maxOccurs="1" name="zOrder" type="decimal" />
      <element minOccurs="0" maxOccurs="unbounded" name="nestedDrawing" type="tns:Drawing" />
      <element minOccurs="0" maxOccurs="1" name="object" type="anyType" />
      <element minOccurs="0" maxOccurs="1" name="pictureIndex" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="picture" type="anyType" />
    </sequence>
  </complexType>
  <complexType name="MoxelImageMap">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="mi" type="tns:MoxelImageMapItem" />
    </sequence>
  </complexType>
  <complexType name="MoxelImageMapItem">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="p" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="d" type="anyType" />
      <element minOccurs="0" maxOccurs="1" name="r" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="t" type="string" />
    </sequence>
  </complexType>
  <simpleType name="SpreadsheetDocumentDrawingType">
    <restriction base="string">
      <enumeration value="Line" />
      <enumeration value="Rectangle" />
      <enumeration value="Text" />
      <enumeration value="Ellipse" />
      <enumeration value="Picture" />
      <enumeration value="Object" />
      <enumeration value="Group" />
      <enumeration value="Chart" />
      <enumeration value="GanttChart" />
      <enumeration value="PivotChart" />
      <enumeration value="Dendrogram" />
      <enumeration value="GeographicalSchema" />
      <enumeration value="Control" />
      <enumeration value="Comment" />
    </restriction>
  </simpleType>
  <simpleType name="SpreadsheetDocumentExtensionAlgorithm">
    <restriction base="string">
      <enumeration value="Replace" />
      <enumeration value="Merge" />
    </restriction>
  </simpleType>
  <simpleType name="PictureSize">
    <restriction base="string">
      <enumeration value="RealSize" />
      <enumeration value="Stretch" />
      <enumeration value="Proportionally" />
      <enumeration value="Tile" />
      <enumeration value="AutoSize" />
      <enumeration value="RealSizeIgnoreScale" />
      <enumeration value="AutoSizeIgnoreScale" />
      <enumeration value="ByFontSize" />
    </restriction>
  </simpleType>
  <simpleType name="TextPositionRelativeToPicture">
    <restriction base="string">
      <enumeration value="Left" />
      <enumeration value="Right" />
      <enumeration value="Top" />
      <enumeration value="Bottom" />
      <enumeration value="OnTop" />
      <enumeration value="Auto" />
    </restriction>
  </simpleType>
  <complexType name="Picture">
    <sequence>
      <element name="index" type="decimal" />
      <element name="picture" type="anyType" />
    </sequence>
  </complexType>
  <simpleType name="SpreadsheetDocumentStepDirectionType">
    <restriction base="string">
      <enumeration value="ByRows" />
      <enumeration value="ByColumns" />
      <enumeration value="WithoutMove" />
    </restriction>
  </simpleType>
  <complexType name="Group">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="columnsID" type="core:UUID">
        <annotation>
          <documentation>Формат строк. Если формат по умолчанию, то не пишется.</documentation>
        </annotation>
      </element>
      <element name="b" type="decimal">
        <annotation>
          <documentation>Начало группировки.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="e" type="decimal">
        <annotation>
          <documentation>Конец группировки. Если равно началу, то не пишется</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="t" type="core:LocalStringType">
        <annotation>
          <documentation>Текст группировки. Если пустой, то не пишется.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="o" type="boolean">
        <annotation>
          <documentation>Группировка открыта. Если истина, то не пишется</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="g" type="tns:SpreadsheetDocumentGroupHeaderPlacement">
        <annotation>
          <documentation>Начало группы. Если Авто, то не пишется</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PageBreak">
    <sequence>
      <element name="position" type="decimal" />
      <element minOccurs="0" maxOccurs="unbounded" name="columnsID" type="core:UUID" />
    </sequence>
  </complexType>
  <complexType name="Merge">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="r" type="decimal">
        <annotation>
          <documentation>Строка, в которой начинается объединение</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="c" type="decimal">
        <annotation>
          <documentation>Колонка, в которой начинается объединение</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="h" type="decimal">
        <annotation>
          <documentation>Высота объединения. Ноль не пишется.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="w" type="decimal">
        <annotation>
          <documentation>Ширина объединения. Ноль не пишется.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="columnsID" type="core:UUID" />
    </sequence>
  </complexType>
  <complexType name="NamedItem">
    <sequence>
      <element name="name" type="string" />
    </sequence>
  </complexType>
  <simpleType name="NamedItemType">
    <restriction base="string">
      <enumeration value="Cells" />
      <enumeration value="Drawing" />
      <enumeration value="EmbeddedTable" />
      <enumeration value="DataSource" />
    </restriction>
  </simpleType>
  <complexType name="Area">
    <sequence minOccurs="1" maxOccurs="1">
      <element name="type" type="tns:SpreadsheetDocumentCellAreaType" />
      <element minOccurs="0" maxOccurs="1" name="beginRow" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="endRow" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="beginColumn" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="endColumn" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="columnsID" type="core:UUID" />
    </sequence>
  </complexType>
  <simpleType name="SpreadsheetDocumentCellAreaType">
    <restriction base="string">
      <enumeration value="Table" />
      <enumeration value="Rows" />
      <enumeration value="Columns" />
      <enumeration value="Rectangle" />
    </restriction>
  </simpleType>
  <complexType name="PrintSettings">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="pageOrientation" type="tns:PageOrientation" />
      <element minOccurs="0" maxOccurs="1" name="scale" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="collate" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="copies" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="perPage" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="topMargin" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="leftMargin" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="bottomMargin" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="rightMargin" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="headerSize" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="footerSize" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="fitToPage" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="blackAndWhite" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="printerName" type="string" />
      <element minOccurs="0" maxOccurs="1" name="paper" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="pageSize" type="string" />
      <element minOccurs="0" maxOccurs="1" name="paperSource" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="pageWidth" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="pageHeight" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="printAccuracy" type="tns:PrintAccuracy" />
      <element minOccurs="0" maxOccurs="1" name="duplexType" type="tns:DuplexPrintingType" />
      <element minOccurs="0" maxOccurs="1" name="pagePlacementAlternation" type="tns:PagePlacementAlternation" />
      <element minOccurs="0" maxOccurs="1" name="firstPageNumber" type="decimal" />
    </sequence>
  </complexType>
  <simpleType name="PageOrientation">
    <restriction base="string">
      <enumeration value="Portrait" />
      <enumeration value="Landscape" />
    </restriction>
  </simpleType>
  <simpleType name="PrintAccuracy">
    <restriction base="string">
      <enumeration value="Auto" />
      <enumeration value="Accurate" />
    </restriction>
  </simpleType>
    <simpleType name="DuplexPrintingType">
        <restriction base="string">
            <enumeration value="None" />
            <enumeration value="FlipPagesLeft" />
            <enumeration value="FlipPagesUp" />
            <enumeration value="UsePrinterSettings" />
        </restriction>
    </simpleType>
    <simpleType name="PagePlacementAlternation">
        <restriction base="string">
            <enumeration value="Auto" />
            <enumeration value="DontUse" />
            <enumeration value="MirrorOnLeft" />
            <enumeration value="MirrorOnTop" />
        </restriction>
    </simpleType>
  <complexType name="DrawingsDataSource">
    <sequence>
      <element name="drawingID" type="decimal" />
      <element name="area" type="tns:Area" />
    </sequence>
  </complexType>
  <complexType name="ViewSettings">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="currentColumn" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="currentRow" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="scale" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="showGrid" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="showHeaders" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="showNames" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="showGroups" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="showGroupsText" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="showPageBreaks" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="blackAndWhite" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="fixedColumn" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="fixedColumnRow" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="fixedRow" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="fixationPointColumn" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="fixationPointRow" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="topFixationPointColumn" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="topFixationPointRow" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="screenBeginPointColumn" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="screenBeginPointRow" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="showNamedRowsAndColumns" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="showNamedRowsAndColumnsText" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="currentLanguage" type="string" />
      <element minOccurs="0" maxOccurs="1" name="showComments" type="boolean" />
      <element minOccurs="0" maxOccurs="unbounded" name="selection" type="tns:Area" />
      <element minOccurs="0" maxOccurs="unbounded" name="selectedDrawing" type="decimal" />
    </sequence>
  </complexType>
  <complexType name="PivotTable">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="showFields" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="measuresAxis" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="horizontalRows" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="verticalRows" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="horizontalColumns" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="verticalColumns" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="horizontalOveralls" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="verticalOveralls" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="horizontalFullSize" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="verticalFullSize" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="horizontalFieldsArea" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="verticalFieldsArea" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="horizontalEmptyArea" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="verticalEmptyArea" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="autoFixation" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="rowsGroupping" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="columnsGroupping" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="totalRowsOnTop" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="totalColumnsOnLeft" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="dimensionAttributePlacementInRows" type="tns:DimensionAttributePlacementType" />
      <element minOccurs="0" maxOccurs="1" name="dimensionAttributePlacementInColumns" type="tns:DimensionAttributePlacementType" />
      <element minOccurs="0" maxOccurs="1" name="dimensionsPlacementOnRows" type="tns:DimensionPlacementType" />
      <element minOccurs="0" maxOccurs="1" name="dimensionsPlacementOnColumns" type="tns:DimensionPlacementType" />
      <element minOccurs="0" maxOccurs="unbounded" name="standardAppearance" type="tns:StandardAppearance" />
      <element minOccurs="0" maxOccurs="unbounded" name="notStandardAppearance" type="anyType" />
      <element minOccurs="0" maxOccurs="1" name="horizontalAdditionalSize" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="verticalAdditionalSize" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="showLines" type="tns:PivotTableLinesShowType" />
    </sequence>
  </complexType>
  <simpleType name="DimensionPlacementType">
    <restriction base="string">
      <enumeration value="Together" />
      <enumeration value="Separately" />
      <enumeration value="SeparatelyAndInTotalsOnly" />
    </restriction>
  </simpleType>
  <simpleType name="DimensionAttributePlacementType">
    <restriction base="string">
      <enumeration value="WithDimensions" />
      <enumeration value="Separately" />
      <enumeration value="Together" />
    </restriction>
  </simpleType>
  <simpleType name="StandardAppearance">
    <restriction base="string">
      <enumeration value="None" />
      <enumeration value="Stone" />
      <enumeration value="Classic" />
      <enumeration value="Classic2" />
      <enumeration value="Classic3" />
      <enumeration value="Spring" />
      <enumeration value="Summer" />
      <enumeration value="Autumn" />
      <enumeration value="Winter" />
      <enumeration value="Asphalt" />
      <enumeration value="Copper" />
      <enumeration value="Bronze" />
      <enumeration value="Platinum" />
      <enumeration value="Silver" />
      <enumeration value="Turquoise" />
      <enumeration value="Sand" />
      <enumeration value="Grass" />
      <enumeration value="Ice" />
      <enumeration value="Orange" />
      <enumeration value="Textile" />
      <enumeration value="Wood" />
      <enumeration value="Interface" />
    </restriction>
  </simpleType>
  <simpleType name="PivotTableLinesShowType">
    <restriction base="string">
      <enumeration value="Auto" />
      <enumeration value="Always" />
    </restriction>
  </simpleType>
  <complexType name="EmbeddedTableItem">
    <sequence>
      <element name="id" type="decimal" />
      <element name="table" type="anyType" />
    </sequence>
  </complexType>
  <complexType name="NamedItemDrawing">
    <complexContent>
      <extension base="tns:NamedItem">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="drawingID" type="decimal" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NamedItemCells">
    <complexContent>
      <extension base="tns:NamedItem">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="area" type="tns:Area" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NamedItemEmbeddedTable">
    <complexContent>
      <extension base="tns:NamedItem">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="area" type="tns:Area" />
          <element minOccurs="0" maxOccurs="1" name="embeddedTableID" type="decimal" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NamedItemDataSource">
    <complexContent>
      <extension base="tns:NamedItem">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="area" type="tns:Area" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Changes">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="commonPart" type="tns:SpreadsheetDocument" />
      <element minOccurs="0" maxOccurs="1" name="fullDocument" type="tns:SpreadsheetDocument" />
      <element minOccurs="0" maxOccurs="1" name="fullDocumentWithoutContent" type="tns:SpreadsheetDocument" />
      <element minOccurs="0" maxOccurs="unbounded" name="row" type="tns:ChangedRowItem" />
      <element minOccurs="0" maxOccurs="unbounded" name="vg" type="tns:Group" />
    </sequence>
  </complexType>
  <complexType name="ChangedCell">
    <sequence>
      <element name="NewElement" type="string" />
    </sequence>
  </complexType>
  <complexType name="ChangedRow">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="c" type="tns:ChangedCellItem" />
    </sequence>
  </complexType>
  <complexType name="ChangedRowItem">
    <sequence>
      <element name="index" type="decimal" />
      <element name="row" type="tns:ChangedRow" />
    </sequence>
  </complexType>
  <complexType name="NewComplexType" />
  <complexType name="ChangedCellItem">
    <sequence>
      <element name="i" type="decimal" />
      <element name="c" type="tns:Cell" />
    </sequence>
  </complexType>
  <simpleType name="SpreadsheetDocumentFileType">
    <restriction base="string">
      <enumeration value="MXL" />
      <enumeration value="XLS" />
      <enumeration value="HTML" />
      <enumeration value="TXT" />
      <enumeration value="MXL7" />
      <enumeration value="HTML3" />
      <enumeration value="HTML4" />
      <enumeration value="HTML5" />
      <enumeration value="XLS95" />
      <enumeration value="XLS97" />
      <enumeration value="ANSITXT" />
      <enumeration value="DOCX" />
      <enumeration value="XLSX" />
      <enumeration value="ODS" />
      <enumeration value="PDF" />
      <enumeration value="PDF_A_1" />
      <enumeration value="PDF_A_2" />
      <enumeration value="PDF_A_3" />
    </restriction>
  </simpleType>
  <simpleType name="SpreadsheetDocumentPointerType">
    <restriction base="string">
      <enumeration value="Special" />
      <enumeration value="Regular" />
    </restriction>
  </simpleType>
  <simpleType name="SpreadsheetDocumentSavedPicturesDensity">
	  <restriction base="string">
		  <enumeration value="Original" />
		  <enumeration value="High" />
		  <enumeration value="Medium" />
		  <enumeration value="Low" />
    </restriction>
  </simpleType>
  <simpleType name="SpreadsheetDocumentCellHighlightMode">
    <restriction base="string">
      <enumeration value="Auto" />
      <enumeration value="Cell" />
      <enumeration value="Row" />
      <enumeration value="DontHighlight" />
    </restriction>
  </simpleType>
  <simpleType name="SpreadsheetDocumentEditableCellShowType">
    <restriction base="string">
      <enumeration value="Auto" />
      <enumeration value="AsInputField" />
      <enumeration value="Regular" />
    </restriction>
  </simpleType>
</schema>
