src/onec_ordinary_forms/schemas/platform/8.5/testbase/testbase_root-01-http_v8.1c.ru_8.2_data_test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://v8.1c.ru/8.2/data/test"
           xmlns:tns="http://v8.1c.ru/8.2/data/test"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:ui="http://v8.1c.ru/8.1/data/ui"
           xmlns:lf="http://v8.1c.ru/8.2/managed-application/logform"
           xmlns:bsl="http://v8.1c.ru/8.2/bsl"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified">

  <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
  <xs:import namespace="http://v8.1c.ru/8.1/data/ui" schemaLocation="../../../xdto/src/res/uiobjects.xsd"/>
  <xs:import namespace="http://v8.1c.ru/8.2/managed-application/logform" schemaLocation="../../../mngcore/src/res/logform.xsd"/>
  <xs:import namespace="http://v8.1c.ru/8.2/bsl" schemaLocation="../../../xdto/src/res/bsl.xsd"/>

  <xs:complexType name="twb">
    <!-- path -->
    <xs:attribute name="op" type="xs:string"/>
    <!-- hasChilds -->
    <xs:attribute name="hc" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="ostwb">
    <xs:complexContent>
      <xs:extension base="tns:twb">
        <xs:attribute name="caption" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="v8stwb">
    <xs:complexContent>
      <xs:extension base="tns:ostwb">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="sf" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TesteeFieldButton">
    <xs:complexContent>
      <xs:extension base="tns:v8stwb">
        <xs:attribute name="kind" type="lf:ManagedFormButtonType"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TesteeFieldDecoration">
    <xs:complexContent>
      <xs:extension base="tns:v8stwb">
        <xs:attribute name="kind" type="lf:ManagedFormDecorationType"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TesteeFieldEdit">
    <xs:complexContent>
      <xs:extension base="tns:v8stwb">
        <xs:attribute name="kind" type="lf:ManagedFormFieldType"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TesteeFieldGroup">
    <xs:complexContent>
      <xs:extension base="tns:v8stwb">
        <xs:attribute name="kind" type="lf:ManagedFormGroupType"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TesteeFormItemAddition">
    <xs:complexContent>
      <xs:extension base="tns:v8stwb">
        <xs:attribute name="kind" type="lf:LogFormElementAdditionKind"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TesteeCIGroup">
    <xs:complexContent>
      <xs:extension base="tns:v8stwb">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TesteeCIButton">
    <xs:complexContent>
      <xs:extension base="tns:v8stwb">
        <xs:attribute name="url" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TesteeCI">
    <xs:complexContent>
      <xs:extension base="tns:v8stwb">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TesteeFieldTable">
    <xs:complexContent>
      <xs:extension base="tns:v8stwb">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TesteeManagedForm">
    <xs:complexContent>
      <xs:extension base="tns:v8stwb">
        <xs:attribute name="formName" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TesteeTopLevelFrame">
    <xs:complexContent>
      <xs:extension base="tns:v8stwb">
        <xs:attribute name="main" type="xs:boolean"/>
        <xs:attribute name="startPage" type="xs:boolean"/>
        <xs:attribute name="url" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TesteeOSWindow">
    <xs:complexContent>
      <xs:extension base="tns:v8stwb">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommand">
    <!-- path -->
    <xs:attribute name="id" type="core:UUID"/>
    <xs:attribute name="op" type="xs:string"/>
    <xs:attribute name="ec" type="xs:decimal"/>
    <xs:attribute name="cp" type="xs:boolean"/>
    <xs:attribute name="mt" type="xs:decimal"/>
  </xs:complexType>

  <xs:complexType name="TestClientCommandTestProcess">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="info" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="time" type="xs:dateTime"/>
        <xs:attribute name="ms" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="UIRecordingActions">
    <!-- В языке есть -->
    <xs:restriction base="xs:string">
      <xs:enumeration value="Start" />
      <xs:enumeration value="Pause" />
      <xs:enumeration value="Continue" />
      <xs:enumeration value="Cancel" />
      <xs:enumeration value="End" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TestClientCommandUIRecordingActions">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="result" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="action" type="tns:UIRecordingActions"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandGetPerformanceInfo">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="result" type="xs:anyType"/>
        </xs:sequence>
        <xs:attribute name="clearAccumulated" type="xs:boolean"/>
        <xs:attribute name="alias" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandSetFileDialogResult">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="filename" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="result" type="xs:boolean"/>
        <xs:attribute name="filterIndex" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandClearFileDialogResult">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandUserAvailabilityStatus">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="get" type="xs:boolean"/>
        <xs:attribute name="available" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

    <xs:complexType name="TestClientCommandGetCollaborationSystemPerformanceIndicators">
        <xs:complexContent>
            <xs:extension base="tns:TestClientCommand">
                <xs:attribute name="indicators" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TestClientCommandGetText">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="text" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandGetShownText">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="text" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandGetChoiceListPresentation">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="listPresentation" type="xs:anyType" />
        </xs:sequence>
        <xs:attribute name="alias" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandGetFormattedStringHyperlinksPresentations">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="listPresentation" type="xs:anyType" />
        </xs:sequence>
        <xs:attribute name="alias" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandTitleIsShown">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="titleIsShown" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandActivate">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandTypeChar">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="shortcut" type="ui:ShortCutType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="text" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandGetContextMenu">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="menu" type="tns:v8stwb" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandGetCommandBar">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="bar" type="tns:v8stwb" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandGetToolTip">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="toolTip" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandCurrentVisible">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="currentVisible" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandCurrentEnable">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="currentEnable" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandCurrentReadOnly">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="readOnly" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandButtonCurrentChecked">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="checked" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandGroupCurrentOpened">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="opened" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandButtonPress">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandCIButtonPress">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandCIButtonGetWindow">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="window" type="tns:v8stwb" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandGroupExpand">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandGroupCollapse">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFormGetCurrentPage">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="currentPage" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="TestClientCommandDecorationChoice">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditGetData">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="data" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditClear">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditCreate">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditCancel">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditOpen">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditChoice">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditOpenChoiceList">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditChoiceFromChoiceList">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="option" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditOpenDropList">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditCloseDropList">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditChoiceFromDropList">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="option" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditDropListIsOpen">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="isOpen" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditWaitForDropListData">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="generated" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditSpinDown">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditSpinUp">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditSetCheck">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditSelectOption">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="option" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditGotoValue">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="value" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditClickHyperLine">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditClickFormattedStringHyperlink">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="hyperlink" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditClickFormattedDocumentHyperlink">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="hyperlink" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditClickHTMLDocumentHyperlink">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="hyperlink" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditWriteContentToFile">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="saveAs" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditForAMonthForward">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditForAMonthBackward">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditForAYearForward">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditForAYearBackward">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditActivateDate">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="date" type="xs:dateTime"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditSendSelectArea">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="area" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditGetSelectedArea">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="area" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditGetSelectedAreaPresentation">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="area" type="xs:string"/>
        <xs:attribute name="presentation" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditTextIsWithinAreaBounds">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="area" type="xs:string"/>
        <xs:attribute name="inBounds" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditIncludedInMergedArea">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="area" type="xs:string"/>
        <xs:attribute name="included" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditSendBeginEditSelectedArea">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditSendFinishEditSelectedArea">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
          <xs:attribute name="cancel" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditSendCurrentModeIsEdit">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="mode" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditGetStatePresentation">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="showState" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditGetSelectedAreaField">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="object" type="tns:v8stwb" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditGetDocumentDataAreaHorizontalSize">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="size" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditGetDocumentDataAreaVerticalSize">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="size" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="TestClientCommandEditGetHTML">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="html" type="xs:string" />
          <xs:element name="attachments" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandEditInputHTML">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="html" type="xs:string" />
          <xs:element name="attachments" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableGetCurrentColumn">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="column" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableGetCurrentCellValue">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="cellValue" type="xs:anyType" />
          <xs:element name="column" type="xs:anyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableSetOrder">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="columnTitle" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableSendActivateColumn">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="column" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableLevelUp">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="rowDescr" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableLevelDown">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="rowDescr" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableNext">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="select" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTablePrev">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="select" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableFirst">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="select" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableLast">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="select" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="RowGotoDirection">
    <!-- В языке есть -->
    <xs:restriction base="xs:string">
      <xs:enumeration value="Up" />
      <xs:enumeration value="Down" />
    </xs:restriction>
  </xs:simpleType>

    <xs:simpleType name="st_TestedClientCollaborationSystemApplicationWindowAppearanceVariant">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Normal" />
            <xs:enumeration value="Maximized" />
            <xs:enumeration value="Minimized" />
            <xs:enumeration value="Compacted" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="st_TestedClientCollaborationSystemVideoCallViewType">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Gallery" />
            <xs:enumeration value="Portrait" />
            <xs:enumeration value="SpeakerPortrait" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TestClientFieldTableGotoRow">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="rowDescr" type="xs:anyType" />
        </xs:sequence>
        <xs:attribute name="executed" type="xs:boolean"/>
        <xs:attribute name="direction" type="tns:RowGotoDirection"/>
        <xs:attribute name="select" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableChoice">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableSelectAllRows">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableClearAllRowsSelection">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableGetSelectedRows">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="selectedRows" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableGetCurrentRow">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="rowDescr" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableSelectRow">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="rowDescr" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableClearRowSelection">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="rowDescr" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldCurrentEditMode">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="mode" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldBeginEditMode">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldFinishEditMode">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="cancel" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableSendAddRow">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableSendCopyRow">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableSendDeleteRow">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableSendMarkToDeleteRow">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableIsPossibleExpandNode">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="rowDescr" type="xs:anyType" />
        </xs:sequence>
        <xs:attribute name="posible" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableIsCurrentRowNodeExpanded">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="rowDescr" type="xs:anyType" />
        </xs:sequence>
        <xs:attribute name="expanded" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableSendExpandNode">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="rowDescr" type="xs:anyType" />
        </xs:sequence>
        <xs:attribute name="withSubordinates" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFieldTableSendCollapseNode">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="rowDescr" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFormClose">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFormGetActiveItem">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="activeItem" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFormGetDefaultButton">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="defaultButton" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientFormCurrentModified">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="currentModified" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFormActivateNext">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFormActivatePrev">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameExecuteCommand">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="url" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandExecuteChoiceFromList">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="value" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandExecuteChoiceFromMenu">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="value" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameGetUserMessageTexts">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="messageTexts" type="xs:anyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameChooseUserMessage">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="messageText" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameCloseUserMessagesPanel">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandAdditionGetViewStatusItemTexts">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="itemTexts" type="xs:anyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandAdditionClickViewStatusItem">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandAdditionRemoveViewStatusItem">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="item" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameGotoStartPage">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameGotoNextWindow">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameGotoPrevWindow">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameGetCollaborationWindowsState">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
          <xs:attribute name="state" type="tns:st_TestedClientCollaborationSystemApplicationWindowAppearanceVariant"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameGetCollaborationSystemVideoCallViewType">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="type" type="tns:st_TestedClientCollaborationSystemVideoCallViewType"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameSetCollaborationSystemVideoCallViewType">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="type" type="tns:st_TestedClientCollaborationSystemVideoCallViewType"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameShowParticipantsGalleryNextPage">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameShowParticipantsGalleryPrevPage">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="TestClientCommandFrameGetParticipantsGalleryNextPageAvailable">
    <xs:complexContent>
        <xs:extension base="tns:TestClientCommand">
          <xs:attribute name="available" type="xs:boolean"/>
        </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameGetParticipantsGalleryPrevPageAvailable">
    <xs:complexContent>
        <xs:extension base="tns:TestClientCommand">
          <xs:attribute name="available" type="xs:boolean"/>
        </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="TestClientCommandFrameShowParticipantsListNextPage">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameShowParticipantsListPrevPage">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="TestClientCommandFrameGetParticipantsListNextPageAvailable">
    <xs:complexContent>
        <xs:extension base="tns:TestClientCommand">
          <xs:attribute name="available" type="xs:boolean"/>
        </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameGetParticipantsListPrevPageAvailable">
    <xs:complexContent>
        <xs:extension base="tns:TestClientCommand">
          <xs:attribute name="available" type="xs:boolean"/>
        </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="TestClientCommandFrameGetForegroundParticipant">
    <xs:complexContent>
        <xs:extension base="tns:TestClientCommand">
          <xs:sequence>
            <xs:element name="foreground" type="xs:anyType" />
          </xs:sequence>
        </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameGetActiveParticipantsList">
    <xs:complexContent>
        <xs:extension base="tns:TestClientCommand">
          <xs:sequence>
            <xs:element name="list" type="xs:anyType" />
          </xs:sequence>
        </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameGetCurrentGalleryPageParticipantsList">
    <xs:complexContent>
        <xs:extension base="tns:TestClientCommand">
          <xs:sequence>
            <xs:element name="list" type="xs:anyType" />
          </xs:sequence>
        </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameGetCurrentPageParticipantsList">
    <xs:complexContent>
        <xs:extension base="tns:TestClientCommand">
          <xs:sequence>
            <xs:element name="list" type="xs:anyType" />
          </xs:sequence>
        </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandReadyForCloseConnection">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:attribute name="ready" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandGetActiveWindow">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="window" type="tns:v8stwb" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandGetCurrentErrorInfo">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="exception" type="core:GenericException"  minOccurs="0" maxOccurs="1"/>
          <xs:element name="runtimeException" type="bsl:RuntimeException" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandFrameGetCI">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="ci" type="tns:v8stwb" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandGetChilds">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="object" type="tns:v8stwb" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="overTree" type="xs:boolean"/>
        <xs:attribute name="onlyFirst" type="xs:boolean"/>
        <xs:attribute name="kind" type="xs:decimal"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="caption" type="xs:string"/>
        <xs:attribute name="startPage" type="xs:boolean"/>
        <xs:attribute name="main" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestClientCommandGetObjectByPath">
    <xs:complexContent>
      <xs:extension base="tns:TestClientCommand">
        <xs:sequence>
          <xs:element name="object" type="tns:v8stwb" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="objectPath" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
