src/onec_ordinary_forms/schemas/platform/8.2/vrsbase/vrsbase_root-01-http_v8.1c.ru_8.2_managed-application_debuggerWebClient.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="http://v8.1c.ru/8.2/managed-application/debuggerWebClient"
           xmlns:core="http://v8.1c.ru/8.1/data/core" 
           xmlns:uobj="http://v8.1c.ru/8.2/uobjects" 
           xmlns:ui="http://v8.1c.ru/8.2/data/ui"
           xmlns:ma="http://v8.1c.ru/8.2/managed-application/core"
           xmlns:module="http://v8.1c.ru/8.2/managed-application/modules"
           targetNamespace="http://v8.1c.ru/8.2/managed-application/debuggerWebClient"
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified" 
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>

    <!-- ===================================== -->
    <!-- Информация о выражении для вычисления -->
    <!-- ===================================== -->

    <!-- Описание элемента из вычисляемого выражения -->
    <xs:complexType name="SourceCalculationDataItem">
        <xs:choice>
          <!-- Начальное выражение для вычисления -->
          <xs:element name="expression" type="xs:string" />
          <!-- Имя свойства -->
          <xs:element name="property" type="xs:string" />
          <!-- Индекс элемента -->
          <xs:element name="index" type="xs:decimal" />
        </xs:choice>
    </xs:complexType>

    <!-- Описание всего вычислимого выражения -->
    <xs:complexType name="SourceCalculationDataItemVector">
        <xs:sequence>
            <xs:element name="info" type="tns:SourceCalculationDataItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Варианты вычисления выржения -->
    <xs:simpleType name="EvalExprInterfaces">
        <xs:restriction base="xs:string">
            <!-- Детализировать результаты вычислений не нужно -->
            <xs:enumeration value="NoneVariant" />
            <!-- Рассматривать результат вычисления как контекст -->
            <xs:enumeration value="ContextVariant" />
            <!-- Рассматривать результат вычисления как перечисление -->
            <xs:enumeration value="EnumVatiant" />
            <!-- Рассматривать результат вычисления как индексируемую коллекцию -->
            <xs:enumeration value="CollectionVariant" />
        </xs:restriction>
    </xs:simpleType>


    <!-- =============================================== -->
    <!-- Описание результата из onNextLine               -->
    <!-- =============================================== -->

    <!-- Режим использования параметра команды -->
    <xs:simpleType name="ContinueVariant">
        <xs:restriction base="xs:string">
            <!-- Не инициализированное состояние -->
            <xs:enumeration value="Unknown" />
            <!-- Нужно вычислить выражение -->
            <xs:enumeration value="EvalExpr" />
            <!-- Нужно проверить условие срабатывания точки останова -->
            <xs:enumeration value="BPEvalExpr" />
            <!-- Нужно продолжить исполнение кода -->
            <xs:enumeration value="Continue" />
            <!-- Нужно завершить работу веб-клиента -->
            <xs:enumeration value="Terminate" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="NextLineProcessingResult">
        <xs:sequence>
            <!-- Что нужно делать -->
            <xs:element name="variant" type="tns:ContinueVariant"/>
            <!-- Признак необходимости генерирования onNextLine при выходе из стек-фрейма -->
            <xs:element name="forceExecLineNum" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <!-- Выражение для вычисления -->
            <xs:element name="calcValue" type="tns:SourceCalculationDataItemVector" minOccurs="0" maxOccurs="1"/>
            <!-- Уровень стека вызовов для вычисления выражения (0 - вершина стека, 1 - на один уровень вниз, и тп -->
            <xs:element name="callStackLevel" type="xs:decimal"/>
            <!-- Вариант вычисления выражения -->
            <xs:element name="interfaces" type="tns:EvalExprInterfaces" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========================================================= -->
    <!-- Результаты вычисления условия срабатывания точки останова -->
    <!-- ========================================================= -->

    <!-- Результаты вычисления условия срабатывания точки останова -->
    <xs:simpleType name="BPConditionState">
        <xs:restriction base="xs:string">
            <!-- Результат проверки неизвестен -->
            <xs:enumeration value="Unkwnown" />
            <!-- Результат проверки условия есть Истина - точка останова должна сработать -->
            <xs:enumeration value="true" />
            <!-- Результат проверки условия есть Ложь - точка останова не должна сработать -->
            <xs:enumeration value="false" />
            <!-- При проверке условия возникли ошибки компиляции или ран-тайм - ошибки -->
            <xs:enumeration value="error" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="CompileErrorInfo">
        <xs:sequence>
            <!-- Код ошибки -->
            <xs:element name="reason" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <!-- Номер строки исходного текста, в которой обнаружена ошибка -->
            <xs:element name="lineNum" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <!-- Позиция в строке, в которой обнаружена ошибка -->
            <xs:element name="posInLine" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <!-- Полное описание ошибки -->
            <xs:element name="descr" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <!-- Текст сообщения об ошибке -->
            <xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Информация о ран-тайм ошибке -->
    <xs:complexType name="RunTimeErrorInfo">
        <xs:sequence>
            <!-- Имя модуля -->
            <xs:element name="mname" type="xs:string"/>
            <!-- Идентификатор объекта МД -->
            <xs:element name="mdObjectId" type="core:UUID" minOccurs="0" maxOccurs="1"/>
            <!-- Идентификатор свойства -->
            <xs:element name="mdPropertyId" type="core:UUID" minOccurs="0" maxOccurs="1"/>
            <!-- Номер строки -->
            <xs:element name="lineNo" type="xs:decimal"/>
            <!-- Информация об ошибке -->
            <xs:element name="exception" type="core:GenericException"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Информация о проверке условия срабатывания точки останова-->
    <xs:complexType name="CheckBPConditionResult">
        <xs:sequence>
            <!-- Результат проверки условия -->
            <xs:element name="condResult" type="tns:BPConditionState"/>
            <xs:choice>
                <!-- Информация по ошибке компиляции -->
                <xs:element name="compileErrorInfo" type="tns:CompileErrorInfo" minOccurs="0" maxOccurs="1"/>
                <!-- Информация по ран-тайм ошибке-->
                <xs:element name="runtimeErrorInfo" type="tns:RunTimeErrorInfo" minOccurs="0" maxOccurs="1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    
    <!-- =============================================== -->
    <!--  Информация о параметрах элемента стека вызовов -->
    <!-- =============================================== -->
    <!-- Информация о параметре -->
    <xs:complexType name="ParameterInfo">
        <xs:sequence>
            <!-- Имя формального параметра -->
            <xs:element name="name" type="xs:string"/>
            <!-- Текстовое предствление значения фактического параметра -->
            <xs:element name="pres" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Список параметров -->
    <xs:complexType name="ParametersInfo">
      <xs:sequence>
        <!-- Информация о параметре -->
        <xs:element name="param" type="tns:ParameterInfo" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <!-- Информация о элементе стека вызовов -->
    <xs:complexType name="CallStackItemInfo">
        <xs:sequence>
            <!-- Имя модуля -->
            <xs:element name="mname" type="xs:string"/>
            <!-- Идентификатор объекта МД -->
            <xs:element name="mdObjectId" type="core:UUID" minOccurs="0" maxOccurs="1"/>
            <!-- Идентификатор свойства -->
            <xs:element name="mdPropertyId" type="core:UUID" minOccurs="0" maxOccurs="1"/>
            <!-- Имя функции -->
            <xs:element name="fname" type="xs:string"/>
            <!-- Номер строки -->
            <xs:element name="lineNo" type="xs:decimal"/>
            <!-- Информация о параметрах -->
            <xs:element name="params" type="tns:ParametersInfo"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Информация о свойстве из контекста -->
    <!-- См метод CalculationResult::putContextInfo -->
    <xs:complexType name="PropertyInfo">
        <xs:sequence>
            <!-- Имя свойства -->
            <xs:element name="name" type="xs:string"/>
            <!-- Свойство доступно для чтения-->
            <xs:element name="isReadable" type="xs:boolean"/>
            <!-- Признак того, что свойство успешно прочитано-->
            <xs:element name="isReaded" type="xs:boolean"/>
            <!-- Текст ошибки, возникшей при чтении значения свойства -->
            <xs:element name="execDescr" type="xs:string"/>
            
            <!-- Текстовое представление значения свойства -->
            <xs:element name="valuePres" type="xs:string"/>
            <!-- Текстовое представление названия типа -->
            <xs:element name="typeName" type="xs:string"/>
            <!-- Идентификатор типа свойства -->
            <xs:element name="resultTypeCode" type="xs:decimal"/>
            
            <!-- Признак того, что свойство при просмотре можно раскрывать (поддерживается контекст и число свойств в нем > 0) -->
            <xs:element name="isExpandable" type="xs:boolean"/>

            <!-- Обладает ли значение свойства IContext -->
            <xs:element name="isSuppurtIContext" type="xs:boolean" minOccurs="0"/>
            <!-- Обладает ли значение свойства IIndexedCollectionRO -->
            <xs:element name="isIIndexedCollectionRO" type="xs:boolean" minOccurs="0"/>
            <!-- Обладает ли значение свойства IEnumValue -->
            <xs:element name="isSuppurtIEnumValue" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Информация о контексте, предоставляемом значением -->
    <xs:complexType name="ContextInfo">
        <xs:sequence>
            <!-- Описание свойства из контекста -->
            <xs:element name="propInfo" type="tns:PropertyInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ==================================================== -->
    <!-- Информация о перечислении, предоставляемом значением -->
    <!-- См метод CalculationResult::putObjectData_IEnumValue -->
    <!-- ==================================================== -->

    <!-- Информация об элементе коллекции -->
    <!-- См метод CalculationResult::putValueInfo -->
    <xs:complexType name="CollectionValueInfo">
        <xs:sequence>
            <!-- Идентификатор типа свойства -->
            <xs:element name="resultTypeCode" type="xs:decimal"/>
            <!-- Текстовое представление значения свойства -->
            <xs:element name="valuePres" type="xs:string"/>
            <!-- Текстовое представление названия типа -->
            <xs:element name="typeName" type="xs:string"/>
            <!-- Обладает ли значение свойства IContext -->
            <xs:element name="isSuppurtIContext" type="xs:boolean" minOccurs="0"/>
            <!-- Обладает ли значение свойства IIndexedCollectionRO -->
            <xs:element name="isIIndexedCollectionRO" type="xs:boolean" minOccurs="0"/>
            <!-- Обладает ли значение свойства IEnumValue -->
            <xs:element name="isSuppurtIEnumValue" type="xs:boolean" minOccurs="0"/>
            <xs:sequence>
                <!-- Описание контекста, предоставляемого значением перечисления -->
                <xs:element name="propInfo" type="tns:PropertyInfo" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Информация о перечислении в целом -->
    <xs:complexType name="EnumInfo">
        <xs:sequence>
            <!-- Информация о значении перечисления -->
            <xs:element name="valueInfo" type="tns:CollectionValueInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ============================================================== -->
    <!-- Информация о коллекции, предоставляемой значением              -->
    <!-- См метод CalculationResult::putObjectData_IIndexedCollectionRO -->
    <!-- ============================================================== -->

    <xs:complexType name="CollectionInfo">
        <xs:sequence>
            <!-- Информация о значении перечисления -->
            <xs:element name="valueInfo" type="tns:CollectionValueInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ======================================================== -->
    <!-- Информация о значении                                    -->
    <!-- См метод CalculationResult::IPersistableObject_serialize -->
    <!-- ======================================================== -->

    <xs:complexType name="CalculationResult">
        <xs:sequence>
            
            <!-- Признак того, что мы смогли нормально вычислить начальное выражение -->
            <xs:element name="mainEvalIsOk" type="xs:boolean"/>
            <!-- Текстовое представление результата -->
            <xs:element name="valuePres" type="xs:string"/>
            <!-- Идентификатор типа свойства -->
            <xs:element name="resultTypeCode" type="xs:decimal"/>
            <!-- Текстовое представление названия типа -->
            <xs:element name="typeName" type="xs:string"/>

            <!-- Признак того, что свойство при просмотре можно раскрывать (поддерживается контекст и число свойств в нем > 0) -->
            <xs:element name="isExpandable" type="xs:boolean"/>

            <!-- Обладает ли значение свойства IContext -->
            <xs:element name="isSuppurtIContext" type="xs:boolean" minOccurs="0"/>
            <!-- Обладает ли значение свойства IIndexedCollectionRO -->
            <xs:element name="isIIndexedCollectionRO" type="xs:boolean" minOccurs="0"/>
            <!-- Обладает ли значение свойства IEnumValue -->
            <xs:element name="isSuppurtIEnumValue" type="xs:boolean" minOccurs="0"/>
            
            <xs:choice>
                <!-- Информация о контексте -->
                <xs:element name="context" type="tns:ContextInfo" />
                <!-- Информация о перечислении -->
                <xs:element name="enum" type="tns:EnumInfo" />
                <!-- Информация об индексируемой коллекции -->
                <xs:element name="collection" type="tns:CollectionInfo" />
            </xs:choice>

            <!-- Текст сообщения об ошибке -->
            <xs:element name="exceptionDescr" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
