src/onec_ordinary_forms/schemas/platform/8.2/mngcore/mngcore_root-04-http_v8.1c.ru_8.2_managed-application_logform_layouter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ui="http://v8.1c.ru/8.1/data/ui"
           xmlns:v81="http://v8.1c.ru/8.1/data/core"
           xmlns:ma="http://v8.1c.ru/8.2/managed-application/core"
           targetNamespace="http://v8.1c.ru/8.2/managed-application/logform/layouter"
           xmlns:tns="http://v8.1c.ru/8.2/managed-application/logform/layouter"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">
    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.1/data/ui" schemaLocation="../../../xdto/src/res/uiobjects.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.2/managed-application/core" schemaLocation="mngapp.xsd"/>

    <xs:simpleType name="ControlCategory">
    <!-- В языке нет -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Prim" />
            <xs:enumeration value="Sec" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ItemHorizontalAlignment">
    <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Left" />
            <xs:enumeration value="Center" />
            <xs:enumeration value="Right" />
            <xs:enumeration value="Auto" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ItemVerticalAlignment">
    <!-- В языке нет -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Top" />
            <xs:enumeration value="Bottom" />
            <xs:enumeration value="Center" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StretchableMode">
    <!-- В языке нет -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="No" />
            <xs:enumeration value="Hor" />
            <xs:enumeration value="Ver" />
            <xs:enumeration value="Any" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormEnterKeyBehavior">
    <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="ControlNavigation" />
            <xs:enumeration value="DefaultButton" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IncompleteItemChoiceMode">
    <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="OnEnterPressed" />
            <xs:enumeration value="OnActivate" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ChoiceObjects">
    <!-- В языке нет (есть похожее) -->        
        <xs:restriction base="xs:string">
            <xs:enumeration value="Items" />
            <xs:enumeration value="Folders" />
            <xs:enumeration value="Both" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Direction">
    <!-- В языке нет -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Hor" />
            <xs:enumeration value="Ver" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ColumnMode">
    <!-- В языке нет -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Text" />
            <xs:enumeration value="Input" />
            <xs:enumeration value="Check" />
            <xs:enumeration value="Image" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableFieldEditMode">
    <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Directly" />
            <xs:enumeration value="Enter" />
            <xs:enumeration value="EnterOnInput" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ColumnsGroup">
    <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Horizontal" />
            <xs:enumeration value="Vertical" />
            <xs:enumeration value="InCell" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableRowInputMode">
    <!-- В языке есть -->        
        <xs:restriction base="xs:string">
            <xs:enumeration value="EndOfList" />
            <xs:enumeration value="EndOfWindow" />
            <xs:enumeration value="AfterCurrentRow" />
            <xs:enumeration value="BeforeCurrentRow" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableSelectionMode">
    <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="SingleRow" />
            <xs:enumeration value="MultiRow" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableRowSelectionMode">
    <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Cell" />
            <xs:enumeration value="Row" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableScrollBarUse">
    <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="DontUse" />
            <xs:enumeration value="UseAlways" />
            <xs:enumeration value="AutoUse" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableInitialListView">
    <!-- В языке есть -->        
        <xs:restriction base="xs:string">
            <xs:enumeration value="Beginning" />
            <xs:enumeration value="End" />
            <xs:enumeration value="Auto" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableInitialTreeView">
    <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="NoExpand" />
            <xs:enumeration value="ExpandTopLevel" />
            <xs:enumeration value="ExpandAllLevels" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SelectionShowMode">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="WhenActive" />
            <xs:enumeration value="Always" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormDateSelectionMode">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Single" />
            <xs:enumeration value="Multiple" />
            <xs:enumeration value="Interval" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormElementOrientation">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Horizontal" />
            <xs:enumeration value="Vertical" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormProgressBarRepresentation">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Smooth" />
            <xs:enumeration value="Broken" />
            <xs:enumeration value="BrokenTilt" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormTrackBarMarking">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="DontShow" />
            <xs:enumeration value="TopLeft" />
            <xs:enumeration value="BottomRight" />
            <xs:enumeration value="BothSides" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormPanelTabsRepresentation">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="Top" />
            <xs:enumeration value="Bottom" />
            <xs:enumeration value="LeftHorizontal" />
            <xs:enumeration value="RightHorizontal" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="WarningBeforeEditRepresentation">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Show" />
            <xs:enumeration value="DontShow" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MenuElementRepresentation">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Text" />
            <xs:enumeration value="Picture" />
            <xs:enumeration value="TextPicture" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BWDValue">
        <!-- В языке нет -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
            <xs:enumeration value="auto" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PictureSize">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="RealSize" />
            <xs:enumeration value="Stretch" />
            <xs:enumeration value="Proportionally" />
            <xs:enumeration value="Tile" />
            <xs:enumeration value="AutoSize" />
        </xs:restriction>
    </xs:simpleType>

  <xs:simpleType name="SearchOnInputForbiddenMode">
    <!-- В языке нет -->
    <xs:restriction base="xs:string">
      <xs:enumeration value="Allow" />
      <xs:enumeration value="Forbidden" />
      <xs:enumeration value="Check" />
    </xs:restriction>
  </xs:simpleType>

    <xs:complexType name="Item" abstract="true">
        <xs:sequence>
            <!-- m_title по умолчанию пустой -->
            <xs:element name="title" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <!-- m_name по умолчанию пустое -->
        <xs:attribute name="name" type="xs:string" />
        <!-- m_logFormElementName по умолчанию == m_name-->
        <xs:attribute name="formItem" type="xs:string" />
        <!-- m_category по умолчанию см. в каждом типе -->
        <xs:attribute name="cat" type="tns:ControlCategory" />
        <!-- m_top по умолчанию 0 -->
        <xs:attribute name="top" type="xs:decimal" />
        <!-- m_left по умолчанию 0 -->
        <xs:attribute name="left" type="xs:decimal" />
        <!-- m_width по умолчанию см. в каждом типе -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию см. в каждом типе -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_stretchableMode по умолчанию см. в каждом типе -->
        <xs:attribute name="stretch" type="tns:StretchableMode" />
        <!-- m_enabled по умолчанию true -->
        <xs:attribute name="enabled" type="xs:boolean" />
        <!-- m_readOnly по умолчанию false -->
        <xs:attribute name="readOnly" type="xs:boolean" />
        <!-- m_columnIndex по умолчанию 1 -->
        <xs:attribute name="col" type="xs:decimal" />
        <!-- m_skipOnInput по умолчанию false -->
        <xs:attribute name="skip" type="xs:boolean" />
        <!-- m_defaultControl по умолчанию false -->
        <xs:attribute name="def" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="Form">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Sec 
                 m_width == 0
                 m_height == 0 
                 m_stretchableMode == No -->
                <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="unbounded" >
                        <xs:element name="lbl" type="tns:Label" />
                        <xs:element name="txt" type="tns:TextBox" />
                        <xs:element name="chk" type="tns:CheckBox" />
                        <xs:element name="btn" type="tns:Button" />
                        <xs:element name="rbtn" type="tns:RadioButton" />
                        <xs:element name="cmdb" type="tns:CommandBar" />
                        <xs:element name="tbl" type="tns:TableBox" />
                        <xs:element name="grpb" type="tns:GroupBox" />
                        <xs:element name="pnl" type="tns:Panel" />
                        <xs:element name="img" type="tns:Image" />
                        <xs:element name="sep" type="tns:Separator" />
                        <xs:element name="sprdsht" type="tns:Spreadsheet" />
                        <xs:element name="txtd" type="tns:TextDocument" />
                        <xs:element name="fmtd" type="tns:FormattedDocument" />
                        <xs:element name="clndr" type="tns:Calendar" />
                        <xs:element name="prgb" type="tns:ProgressBar" />
                        <xs:element name="trckb" type="tns:TrackBar" />
                        <xs:element name="chrt" type="tns:Chart" />
                        <xs:element name="gchrt" type="tns:GanttChart" />
                        <xs:element name="dndrgm" type="tns:Dendrogram" />
                        <xs:element name="flwchrt" type="tns:Flowchart" />
                        <xs:element name="html" type="tns:HTML" />
                        <xs:element name="gm" type="tns:GeographicalMap" />
                        <xs:element name="empt" type="tns:EmptyElement" />
                        <xs:element name="nvg" type="tns:Navigator" />
                    </xs:choice>
                </xs:sequence>
                <!-- m_realHeight по умолчанию 0 -->
                <xs:attribute name="realHeight" type="xs:decimal" />
                <!-- m_enterKeyBehavior по умолчанию ControlNavigation -->
                <xs:attribute name="enter" type="tns:FormEnterKeyBehavior" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FormChangesRemoved">
        <xs:sequence>
            <xs:element name="item" type="tns:FormChangesRemovedItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FormChangesRemovedItem">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="FormChangesAddedItem">
        <xs:sequence>
            <xs:element name="type" type="v81:UUID"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="pname" type="xs:string"/>
        <xs:attribute name="aname" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="FormChangesAdded">
        <xs:sequence>
            <xs:element name="item" type="tns:FormChangesAddedItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FormChangesChangedItem">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded" >
                <xs:element name="frm" type="tns:Form" />
                <xs:element name="lbl" type="tns:Label" />
                <xs:element name="txt" type="tns:TextBox" />
                <xs:element name="chk" type="tns:CheckBox" />
                <xs:element name="btn" type="tns:Button" />
                <xs:element name="rbtn" type="tns:RadioButton" />
                <xs:element name="cmdb" type="tns:CommandBar" />
                <xs:element name="cmd" type="tns:Command" />
                <xs:element name="menu" type="tns:Submenu" />
                <xs:element name="msep" type="tns:MenuSeparator" />
                <xs:element name="cntm" type="tns:ContextMenu" />
                <xs:element name="tbl" type="tns:TableBox" />
                <xs:element name="column" type="tns:TableColumn" />
                <xs:element name="group" type="tns:TableColumnsGroup" />
                <xs:element name="grpb" type="tns:GroupBox" />
                <xs:element name="pnl" type="tns:Panel" />
                <xs:element name="page" type="tns:Page" />
                <xs:element name="img" type="tns:Image" />
                <xs:element name="sep" type="tns:Separator" />
                <xs:element name="sprdsht" type="tns:Spreadsheet" />
                <xs:element name="txtd" type="tns:TextDocument" />
                <xs:element name="fmtd" type="tns:FormattedDocument" />
                <xs:element name="clndr" type="tns:Calendar" />
                <xs:element name="prgb" type="tns:ProgressBar" />
                <xs:element name="trckb" type="tns:TrackBar" />
                <xs:element name="chrt" type="tns:Chart" />
                <xs:element name="gchrt" type="tns:GanttChart" />
                <xs:element name="dndrgm" type="tns:Dendrogram" />
                <xs:element name="flwchrt" type="tns:Flowchart" />
                <xs:element name="html" type="tns:HTML" />
                <xs:element name="gm" type="tns:GeographicalMap" />
                <xs:element name="empt" type="tns:EmptyElement" />
                <xs:element name="nvg" type="tns:Navigator" />
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <!-- Если передаётся, то имеем дело с изменением DifferenceKind::eChangedElement. -->
        <xs:attribute name="chtype" type="v81:UUID" />
    </xs:complexType>

    <xs:complexType name="FormChangesChanged">
        <xs:sequence>
            <xs:element name="item" type="tns:FormChangesChangedItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FormChangesMovedItem">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="pname" type="xs:string"/>
        <xs:attribute name="aname" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="FormChangesMoved">
        <xs:sequence>
            <xs:element name="item" type="tns:FormChangesMovedItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FormChangesShifted">
        <xs:sequence>
            <xs:element name="item" type="tns:FormChangesShiftedItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FormChangesShiftedItem">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="pname" type="xs:string"/>
        <xs:attribute name="index" type="xs:decimal"/>
    </xs:complexType>

    <xs:complexType name="FormChanges">
        <xs:sequence>
            <xs:element name="removed" type="tns:FormChangesRemoved" minOccurs="0" maxOccurs="1"/>
            <xs:element name="added" type="tns:FormChangesAdded" minOccurs="0" maxOccurs="1"/>
            <xs:element name="changed" type="tns:FormChangesChanged" minOccurs="0" maxOccurs="1"/>
            <xs:element name="moved" type="tns:FormChangesMoved" minOccurs="0" maxOccurs="1"/>
            <xs:element name="shifted" type="tns:FormChangesShifted" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HTMLChangesItem">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute name="pos" type="xs:decimal"/>
        <xs:attribute name="ins" type="xs:string"/>
        <xs:attribute name="del" type="xs:decimal"/>
    </xs:complexType>

    <xs:complexType name="HTMLChanges">
        <xs:sequence>
            <xs:element name="item" type="tns:HTMLChangesItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Command">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Sec 
                 m_width == 0
                 m_height == 0 
                 m_stretchableMode == No -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="shortCut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_picture по умолчанию V8Picture() -->
                    <xs:element name="pic" type="ui:Picture" minOccurs="0" />
                </xs:sequence>
                <!-- m_representation по умолчанию Picture -->
                <xs:attribute name="repres" type="tns:MenuElementRepresentation" />
                <!-- m_defaultButton по умолчанию false -->
                <xs:attribute name="defBtn" type="xs:boolean" />
                <!-- m_important по умолчанию true -->
                <xs:attribute name="important" type="xs:boolean" />
                <!-- m_right по умолчанию false -->
                <xs:attribute name="right" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Submenu">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Sec 
                 m_width == 0
                 m_height == 0 
                 m_stretchableMode == No -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_picture по умолчанию V8Picture() -->
                    <xs:element name="pic" type="ui:Picture" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <xs:element name="groupId" type="v81:CompositeID"/>                  
                    <xs:choice minOccurs="0" maxOccurs="unbounded" >
                        <xs:element name="cmd" type="tns:Command" />
                        <xs:element name="menu" type="tns:Submenu" />
                        <xs:element name="msep" type="tns:MenuSeparator" />
                    </xs:choice>
                </xs:sequence>
                <!-- m_representation по умолчанию Text -->
                <xs:attribute name="repres" type="tns:MenuElementRepresentation" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MenuSeparator">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Sec 
                 m_width == 0
                 m_height == 0 
                 m_stretchableMode == No -->
                <!-- m_autoSeparator по умолчанию true -->
                <xs:attribute name="auto" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CommandBar">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 1 
                 m_stretchableMode == Hor -->
                <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="unbounded" >
                        <xs:element name="cmd" type="tns:Command" />
                        <xs:element name="menu" type="tns:Submenu" />
                        <xs:element name="msep" type="tns:MenuSeparator" />
                    </xs:choice>
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                </xs:sequence>
                <!-- m_defaultComandSourceName по умолчанию пустой -->
                <xs:attribute name="source" type="xs:string" />
                <!-- m_hAlign по умолчанию Left -->
                <xs:attribute name="hAlign" type="tns:ItemHorizontalAlignment" />
                <!-- m_secondaryCommandBar по умолчанию true -->
                <xs:attribute name="secCB" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ContextMenu">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Sec 
                 m_width == 0
                 m_height == 0 
                 m_stretchableMode == No -->
                <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="unbounded" >
                        <xs:element name="cmd" type="tns:Command" />
                        <xs:element name="menu" type="tns:Submenu" />
                        <xs:element name="msep" type="tns:MenuSeparator" />
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Navigator">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <!-- умолчания из Item:
                 m_category == Sec 
                 m_width == 0
                 m_height == 0 
                 m_stretchableMode == No -->
                <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="unbounded" >
                        <xs:element name="cmd" type="tns:Command" />
                        <xs:element name="menu" type="tns:Submenu" />
                        <xs:element name="msep" type="tns:MenuSeparator" />
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Label">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Sec 
                 m_width == 0
                 m_height == 1 
                 m_stretchableMode == No -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="shortCut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_picture по умолчанию V8Picture() -->
                    <xs:element name="pic" type="ui:Picture" minOccurs="0" />
                    <!-- m_textColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
                    <!-- m_font по умолчанию Font(Font::eAutoFont, 0) -->
                    <xs:element name="fnt" type="ui:Font" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
                <!-- m_hAlign по умолчанию Auto -->
                <xs:attribute name="hAlign" type="tns:ItemHorizontalAlignment" />
                <!-- m_vAlign по умолчанию Center -->
                <xs:attribute name="vAlign" type="tns:ItemVerticalAlignment" />
                <!-- m_hyperlink по умолчанию false -->
                <xs:attribute name="hyper" type="xs:boolean" />
                <!-- m_formatString по умолчанию пустой -->
                <xs:attribute name="format" type="xs:string" />
                <!-- m_markNegatives по умолчанию false -->
                <xs:attribute name="markNegatives" type="xs:boolean" />
                <!-- m_passwordMode по умолчанию false -->
                <xs:attribute name="pwd" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TextBox">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 1 
                 m_stretchableMode == Hor -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_minValue по умолчанию equals(Value()) -->
                    <xs:element name="minValue" minOccurs="0" />
                    <!-- m_maxValue по умолчанию equals(Value()) -->
                    <xs:element name="maxValue" minOccurs="0" />
                    <!-- m_choiceButtonPicture по умолчанию V8Picture() -->
                    <xs:element name="choiceBtnPic" type="ui:Picture" minOccurs="0" />
                    <!-- m_choiceForm по умолчанию kUUIDNull -->
                    <xs:element name="choiceForm" type="v81:UUID" minOccurs="0" />
                    <!-- m_textColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
                    <!-- m_backColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="bkClr" type="ui:Color" minOccurs="0" />
                    <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
                    <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
                    <!-- m_font по умолчанию Font(Font::eAutoFont, 0) -->
                    <xs:element name="fnt" type="ui:Font" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
                <!-- m_hAlign по умолчанию Auto -->
                <xs:attribute name="hAlign" type="tns:ItemHorizontalAlignment" />
                <!-- m_wrap по умолчанию true -->
                <xs:attribute name="wrap" type="xs:boolean" />
                <!-- m_passwordMode по умолчанию false -->
                <xs:attribute name="pwd" type="xs:boolean" />
                <!-- m_extendedEdit по умолчанию false -->
                <xs:attribute name="extended" type="xs:boolean" />
                <!-- m_formatString по умолчанию пустой -->
                <xs:attribute name="format" type="xs:string" />
                <!-- m_markNegatives по умолчанию false -->
                <xs:attribute name="markNegatives" type="xs:boolean" />
                <!-- m_choiceListButton по умолчанию false -->
                <xs:attribute name="choiceListBtn" type="xs:boolean" />
                <!-- m_choiceButton по умолчанию false -->
                <xs:attribute name="choiceBtn" type="xs:boolean" />
                <!-- m_clearButton по умолчанию false -->
                <xs:attribute name="clearBtn" type="xs:boolean" />
                <!-- m_spinButton по умолчанию false -->
                <xs:attribute name="spinBtn" type="xs:boolean" />
                <!-- m_openButton по умолчанию false -->
                <xs:attribute name="openBtn" type="xs:boolean" />
                <!-- m_mask по умолчанию пустой -->
                <xs:attribute name="mask" type="xs:string" />
                <!-- m_listChoiceMode по умолчанию false -->
                <xs:attribute name="listChoiceMode" type="xs:boolean" />
                <!-- m_choiceListHeight по умолчанию 0 -->
                <xs:attribute name="choiceListHeight" type="xs:decimal" />
                <!-- m_choiceListMinWidth по умолчанию 0 -->
                <xs:attribute name="choiceListMinWidth" type="xs:decimal" />
                <!-- m_autoChoiceIncomplete по умолчанию false -->
                <xs:attribute name="autoChoice" type="xs:boolean" />
                <!-- m_incompleteChoiceMode по умолчанию OnEnterPressed -->
                <xs:attribute name="choiceMode" type="tns:IncompleteItemChoiceMode" />
                <!-- m_autoMarkIncomplete по умолчанию false -->
                <xs:attribute name="autoMark" type="xs:boolean" />
                <!-- m_quickChoice по умолчанию eBWDFalse -->
                <xs:attribute name="quickChoice" type="tns:BWDValue" />
                <!-- m_finalQuickChoice по умолчанию true -->
                <xs:attribute name="finalQuickChoice" type="xs:boolean" />
                <!-- m_choiceObjects по умолчанию Items -->
                <xs:attribute name="choice" type="tns:ChoiceObjects" />
                <!-- m_textEdit по умолчанию true -->
                <xs:attribute name="textEdit" type="xs:boolean" />
                <!-- m_multiLine по умолчанию false -->
                <xs:attribute name="multiLine" type="xs:boolean" />
              <!-- m_warningOnEditMode по умолчанию false -->
                <xs:attribute name="warningOnEditMode" type="xs:boolean" />
              <!-- m_searchOnInputForbiddenMode по умолчанию eSOIFMAllow -->
              <xs:attribute name="searchOnInput" type="tns:SearchOnInputForbiddenMode" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Button">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 1 
                 m_stretchableMode == No -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="shortCut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_picture по умолчанию V8Picture() -->
                    <xs:element name="pic" type="ui:Picture" minOccurs="0" />
                    <!-- m_textColor по умолчанию Color(Color::eV8Color, IV8Style::eButtonTextColor) -->
                    <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
                    <!-- m_backColor по умолчанию Color(Color::eV8Color, IV8Style::eButtonBkgrndColor) -->
                    <xs:element name="bkClr" type="ui:Color" minOccurs="0" />
                    <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
                    <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
                    <!-- m_font по умолчанию Font(Font::eAutoFont, 0) -->
                    <xs:element name="fnt" type="ui:Font" minOccurs="0" />
                </xs:sequence>
                <!-- m_defaultButton по умолчанию false -->
                <xs:attribute name="defBtn" type="xs:boolean" />
                <!-- m_dependedButton по умолчанию false -->
                <xs:attribute name="depBtn" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CheckBox">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 1 
                 m_stretchableMode == No -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
                    <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
                <!-- m_threeState по умолчанию false -->
                <xs:attribute name="threeState" type="xs:boolean" />
                <!-- m_vAlign по умолчанию Center -->
                <xs:attribute name="vAlign" type="tns:ItemVerticalAlignment" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RadioButton">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Sec 
                 m_width == 0
                 m_height == 1 
                 m_stretchableMode == No -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_textColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
                    <!-- m_font по умолчанию Font(Font::eAutoFont, 0) -->
                    <xs:element name="fnt" type="ui:Font" minOccurs="0" />
                    <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
                    <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
                <!-- m_vAlign по умолчанию Center -->
                <xs:attribute name="vAlign" type="tns:ItemVerticalAlignment" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Separator">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Sec 
                 m_width == 0
                 m_height == 0  
                 m_stretchableMode == Hor если m_direction == Hor, Ver если m_direction == Ver -->
                <!-- m_direction по умолчанию Hor -->
                <xs:attribute name="dir" type="tns:Direction" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GroupBox">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 1 - хорошо подходит когда в виде заголовка 
                 m_stretchableMode == No -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_textColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
                    <!-- m_font по умолчанию Font(Font::eAutoFont, 0) -->
                    <xs:element name="fnt" type="ui:Font" minOccurs="0" />
                    <xs:choice minOccurs="0" maxOccurs="unbounded" >
                        <xs:element name="lbl" type="tns:Label" />
                        <xs:element name="txt" type="tns:TextBox" />
                        <xs:element name="chk" type="tns:CheckBox" />
                        <xs:element name="btn" type="tns:Button" />
                        <xs:element name="rbtn" type="tns:RadioButton" />
                        <xs:element name="cmdb" type="tns:CommandBar" />
                        <xs:element name="tbl" type="tns:TableBox" />
                        <xs:element name="grpb" type="tns:GroupBox" />
                        <xs:element name="pnl" type="tns:Panel" />
                        <xs:element name="img" type="tns:Image" />
                        <xs:element name="sep" type="tns:Separator" />
                        <xs:element name="sprdsht" type="tns:Spreadsheet" />
                        <xs:element name="txtd" type="tns:TextDocument" />
                        <xs:element name="fmtd" type="tns:FormattedDocument" />
                        <xs:element name="clndr" type="tns:Calendar" />
                        <xs:element name="prgb" type="tns:ProgressBar" />
                        <xs:element name="trckb" type="tns:TrackBar" />
                        <xs:element name="chrt" type="tns:Chart" />
                        <xs:element name="gchrt" type="tns:GanttChart" />
                        <xs:element name="dndrgm" type="tns:Dendrogram" />
                        <xs:element name="flwchrt" type="tns:Flowchart" />
                        <xs:element name="html" type="tns:HTML" />
                        <xs:element name="gm" type="tns:GeographicalMap" />
                        <xs:element name="empt" type="tns:EmptyElement" />
                    </xs:choice>
                </xs:sequence>
                <!-- m_formatString по умолчанию пустой -->
                <xs:attribute name="format" type="xs:string" />
                <!-- m_dataFlag по умолчанию false -->
                <xs:attribute name="dataLink" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Panel">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0 
                 m_stretchableMode == No -->
                <xs:sequence>
                    <xs:element name="page" type="tns:Page" maxOccurs="unbounded" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                </xs:sequence>
                <!-- m_tabsRepresentation по умолчанию Top -->
                <xs:attribute name="tabs" type="tns:FormPanelTabsRepresentation" />
                <!-- m_pageWidth по умолчанию 0 -->
                <xs:attribute name="tabWidth" type="xs:decimal" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Page">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0 
                 m_stretchableMode == No -->
                <xs:sequence>
                    <!-- m_picture по умолчанию V8Picture() -->
                    <xs:element name="pic" type="ui:Picture" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <xs:choice minOccurs="0" maxOccurs="unbounded" >
                        <xs:element name="lbl" type="tns:Label" />
                        <xs:element name="txt" type="tns:TextBox" />
                        <xs:element name="chk" type="tns:CheckBox" />
                        <xs:element name="btn" type="tns:Button" />
                        <xs:element name="rbtn" type="tns:RadioButton" />
                        <xs:element name="cmdb" type="tns:CommandBar" />
                        <xs:element name="tbl" type="tns:TableBox" />
                        <xs:element name="grpb" type="tns:GroupBox" />
                        <xs:element name="pnl" type="tns:Panel" />
                        <xs:element name="img" type="tns:Image" />
                        <xs:element name="sep" type="tns:Separator" />
                        <xs:element name="sprdsht" type="tns:Spreadsheet" />
                        <xs:element name="txtd" type="tns:TextDocument" />
                        <xs:element name="fmtd" type="tns:FormattedDocument" />
                        <xs:element name="clndr" type="tns:Calendar" />
                        <xs:element name="prgb" type="tns:ProgressBar" />
                        <xs:element name="trckb" type="tns:TrackBar" />
                        <xs:element name="chrt" type="tns:Chart" />
                        <xs:element name="gchrt" type="tns:GanttChart" />
                        <xs:element name="dndrgm" type="tns:Dendrogram" />
                        <xs:element name="flwchrt" type="tns:Flowchart" />
                        <xs:element name="html" type="tns:HTML" />
                        <xs:element name="gm" type="tns:GeographicalMap" />
                        <xs:element name="empt" type="tns:EmptyElement" />
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TableColumn">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 1 
                 m_stretchableMode == No -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_footerText по умолчанию пустой -->
                    <xs:element name="footerText" type="xs:string" minOccurs="0" />
                    <!-- m_invisibleTitle по умолчанию пустой -->
                    <xs:element name="invTitle" type="xs:string" minOccurs="0" />
                    <!-- m_headerPicture по умолчанию V8Picture() -->
                    <xs:element name="headerPic" type="ui:Picture" minOccurs="0" />
                    <!-- m_footerPicture по умолчанию V8Picture() -->
                    <xs:element name="footerPic" type="ui:Picture" minOccurs="0" />
                    <!-- m_textColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
                    <!-- m_backColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="bkClr" type="ui:Color" minOccurs="0" />
                    <!-- m_font по умолчанию Font(Font::eAutoFont, 0) -->
                    <xs:element name="fnt" type="ui:Font" minOccurs="0" />
                    <!-- m_headerTextColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="hdrTxtClr" type="ui:Color" minOccurs="0" />
                    <!-- m_headerBackColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="hdrBkClr" type="ui:Color" minOccurs="0" />
                    <!-- m_headerFont по умолчанию Font(Font::eAutoFont, 0) -->
                    <xs:element name="hdrFnt" type="ui:Font" minOccurs="0" />
                    <!-- m_footerTextColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="ftrTxtClr" type="ui:Color" minOccurs="0" />
                    <!-- m_footerBackColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="ftrBkClr" type="ui:Color" minOccurs="0" />
                    <!-- m_footerFont по умолчанию Font(Font::eAutoFont, 0) -->
                    <xs:element name="ftrFnt" type="ui:Font" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_minValue по умолчанию equals(Value()) -->
                    <xs:element name="minValue" minOccurs="0" />
                    <!-- m_maxValue по умолчанию equals(Value()) -->
                    <xs:element name="maxValue" minOccurs="0" />
                    <!-- m_choiceButtonPicture по умолчанию V8Picture() -->
                    <xs:element name="choiceBtnPic" type="ui:Picture" minOccurs="0" />
                    <!-- m_choiceForm по умолчанию kUUIDNull -->
                    <xs:element name="choiceForm" type="v81:UUID" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
                <!-- m_columnMode по умолчанию Input -->
                <xs:attribute name="mode" type="tns:ColumnMode" />
                <!-- m_showInHeader по умолчанию true -->
                <xs:attribute name="showInHeader" type="xs:boolean" />
                <!-- m_showInFooter по умолчанию true -->
                <xs:attribute name="showInFooter" type="xs:boolean" />
                <!-- m_columnHAlign по умолчанию Auto -->
                <xs:attribute name="columnHAlign" type="tns:ItemHorizontalAlignment" />
                <!-- m_headerHAlign по умолчанию Left -->
                <xs:attribute name="headerHAlign" type="tns:ItemHorizontalAlignment" />
                <!-- m_footerHAlign по умолчанию Auto -->
                <xs:attribute name="footerHAlign" type="tns:ItemHorizontalAlignment" />
                <!-- m_columnEditMode по умолчанию Enter -->
                <xs:attribute name="editMode" type="tns:TableFieldEditMode" />
                <!-- m_autoCellHeight по умолчанию false -->
                <xs:attribute name="autoCellHeight" type="xs:boolean" />
                <!-- m_wrap по умолчанию true -->
                <xs:attribute name="wrap" type="xs:boolean" />
                <!-- m_passwordMode по умолчанию false -->
                <xs:attribute name="pwd" type="xs:boolean" />
                <!-- m_extendedEdit по умолчанию false -->
                <xs:attribute name="extended" type="xs:boolean" />
                <!-- m_textEdit по умолчанию true -->
                <xs:attribute name="textEdit" type="xs:boolean" />
                <!-- m_multiLine по умолчанию false -->
                <xs:attribute name="multiLine" type="xs:boolean" />
                <!-- m_formatString по умолчанию пустой -->
                <xs:attribute name="format" type="xs:string" />
                <!-- m_inputFormatString по умолчанию пустой -->
                <xs:attribute name="inputFormat" type="xs:string" />
                <!-- m_markNegatives по умолчанию false -->
                <xs:attribute name="markNegatives" type="xs:boolean" />
                <!-- m_choiceListButton по умолчанию false -->
                <xs:attribute name="choiceListBtn" type="xs:boolean" />
                <!-- m_choiceButton по умолчанию false -->
                <xs:attribute name="choiceBtn" type="xs:boolean" />
                <!-- m_clearButton по умолчанию false -->
                <xs:attribute name="clearBtn" type="xs:boolean" />
                <!-- m_spinButton по умолчанию false -->
                <xs:attribute name="spinBtn" type="xs:boolean" />
                <!-- m_openButton по умолчанию false -->
                <xs:attribute name="openBtn" type="xs:boolean" />
                <!-- m_mask по умолчанию пустой -->
                <xs:attribute name="mask" type="xs:string" />
                <!-- m_listChoiceMode по умолчанию false -->
                <xs:attribute name="listChoiceMode" type="xs:boolean" />
                <!-- m_choiceListHeight по умолчанию 0 -->
                <xs:attribute name="choiceListHeight" type="xs:decimal" />
                <!-- m_choiceListMinWidth по умолчанию 0 -->
                <xs:attribute name="choiceListMinWidth" type="xs:decimal" />
                <!-- m_autoChoiceIncomplete по умолчанию false -->
                <xs:attribute name="autoChoice" type="xs:boolean" />
                <!-- m_incompleteChoiceMode по умолчанию OnEnterPressed -->
                <xs:attribute name="autoChoiceMode" type="tns:IncompleteItemChoiceMode" />
                <!-- m_autoMarkIncomplete по умолчанию false -->
                <xs:attribute name="autoMark" type="xs:boolean" />
                <!-- m_quickChoice по умолчанию eBWDFalse -->
                <xs:attribute name="quickChoice" type="tns:BWDValue" />
                <!-- m_finalQuickChoice по умолчанию true -->
                <xs:attribute name="finalQuickChoice" type="xs:boolean" />
                <!-- m_choiceObjects по умолчанию Items -->
                <xs:attribute name="choice" type="tns:ChoiceObjects" />
                <!-- m_threeState по умолчанию false -->
                <xs:attribute name="threeState" type="xs:boolean" />
                <!-- m_hyperlink по умолчанию false -->
                <xs:attribute name="hyper" type="xs:boolean" />
                <!-- m_searchOnInputForbiddenMode по умолчанию eSOIFMAllow -->
                <xs:attribute name="searchOnInput" type="tns:SearchOnInputForbiddenMode" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TableColumnsGroup">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0 
                 m_stretchableMode == No -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_headerPicture по умолчанию V8Picture() -->
                    <xs:element name="headerPic" type="ui:Picture" minOccurs="0" />
                    <!-- m_headerTextColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="hdrTxtClr" type="ui:Color" minOccurs="0" />
                    <!-- m_headerBackColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="hdrBkClr" type="ui:Color" minOccurs="0" />
                    <!-- m_headerFont по умолчанию Font(Font::eAutoFont, 0) -->
                    <xs:element name="hdrFnt" type="ui:Font" minOccurs="0" />
                    <xs:choice minOccurs="0" maxOccurs="unbounded" >
                        <xs:element name="column" type="tns:TableColumn" />
                        <xs:element name="group" type="tns:TableColumnsGroup" />
                    </xs:choice>
                </xs:sequence>
                <!-- m_grouping по умолчанию Vertical -->
                <xs:attribute  name="grouping" type="tns:ColumnsGroup" />
                <!-- m_showInHeader по умолчанию false -->
                <xs:attribute name="showInHeader" type="xs:boolean" />
                <!-- m_headerHAlign по умолчанию Auto -->
                <xs:attribute name="headerHAlign" type="tns:ItemHorizontalAlignment" />
                <!-- m_headerFormatString по умолчанию пустой -->
                <xs:attribute name="headerFormat" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TableBox">
        <xs:complexContent>
            <xs:extension base="tns:Item">
            <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0 
                 m_stretchableMode == Any -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_rowsPicture по умолчанию V8Picture() -->
                    <xs:element name="rowsPic" type="ui:Picture" minOccurs="0" />
                    <!-- m_textColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
                    <!-- m_backColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="bkClr" type="ui:Color" minOccurs="0" />
                    <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
                    <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
                    <!-- m_font по умолчанию Font(Font::eAutoFont, 0) -->
                    <xs:element name="fnt" type="ui:Font" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                    <xs:choice minOccurs="0" maxOccurs="unbounded" >
                        <xs:element name="column" type="tns:TableColumn" />
                        <xs:element name="group" type="tns:TableColumnsGroup" />
                    </xs:choice>
                </xs:sequence>
                <!-- m_inplaceEdit по умолчанию false -->
                <xs:attribute name="inplEdit" type="xs:boolean" />
                <!-- m_changeRowSet по умолчанию true -->
                <xs:attribute name="changeRowSet" type="xs:boolean" />
                <!-- m_changeRowOrder по умолчанию true -->
                <xs:attribute name="changeRowOrder" type="xs:boolean" />
                <!-- m_rowInputMode по умолчанию EndOfList -->
                <xs:attribute name="rowInput" type="tns:TableRowInputMode" />
                <!-- m_rowSelectionMode по умолчанию Cell -->
                <xs:attribute name="rowSel" type="tns:TableRowSelectionMode" />
                <!-- m_rowsSelectionMode по умолчанию MultiRow -->
                <xs:attribute name="sel" type="tns:TableSelectionMode" />
                <!-- m_showHeader по умолчанию true -->
                <xs:attribute name="showHeader" type="xs:boolean" />
                <!-- m_headerHeight по умолчанию 1 -->
                <xs:attribute name="headerHeight" type="xs:decimal" />
                <!-- m_showFooter по умолчанию false -->
                <xs:attribute name="showFooter" type="xs:boolean" />
                <!-- m_footerHeight по умолчанию 1 -->
                <xs:attribute name="footerHeight" type="xs:decimal" />
                <!-- m_logicRowHeight по умолчанию 1 -->
                <xs:attribute name="logicRowHeight" type="xs:decimal" />
                <!-- m_realRowHeight по умолчанию 1 -->
                <xs:attribute name="realRowHeight" type="xs:decimal" />
                <!-- m_horScrollBarMode по умолчанию AutoUse -->
                <xs:attribute name="horScroll" type="tns:TableScrollBarUse" />
                <!-- m_verScrollBarMode по умолчанию AutoUse -->
                <xs:attribute name="verScroll" type="tns:TableScrollBarUse" />
                <!-- m_showHorLines по умолчанию true -->
                <xs:attribute name="horLines" type="xs:boolean" />
                <!-- m_showVerLines по умолчанию true -->
                <xs:attribute name="verLines" type="xs:boolean" />
                <!-- m_fixedLeft по умолчанию 0 -->
                <xs:attribute name="fixedLeft" type="xs:decimal" />
                <!-- m_fixedRight по умолчанию 0 -->
                <xs:attribute name="fixedRight" type="xs:decimal" />
                <!-- m_useAlternationRowColor по умолчанию false -->
                <xs:attribute name="altRowColor" type="xs:boolean" />
                <!-- m_autoInsertNewRow по умолчанию false -->
                <xs:attribute name="autoInsert" type="xs:boolean" />
                <!-- m_bAutoInsertNotcompletedValues по умолчанию false -->
                <xs:attribute name="autoInsertNotcompleted" type="xs:boolean" />
                <!-- m_bAutoMarkNotcompletedValues по умолчанию false -->
                <xs:attribute name="autoMarkNotcompleted" type="xs:boolean" />
                <!-- m_initialListView по умолчанию Auto -->
                <xs:attribute name="initListView" type="tns:TableInitialListView" />
                <!-- m_initialTreeView по умолчанию NoExpand -->
                <xs:attribute name="initTreeView" type="tns:TableInitialTreeView" />
                <!-- m_useOutput по умолчанию true -->
                <xs:attribute name="output" type="xs:boolean" />
                <!-- m_enableStartDrag по умолчанию false -->
                <xs:attribute name="startDrag" type="xs:boolean" />
                <!-- m_enableDrag по умолчанию false -->
                <xs:attribute name="drag" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Image">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0  
                 m_stretchableMode == Any -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="shortCut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_picture по умолчанию V8Picture() -->
                    <xs:element name="pic" type="ui:Picture" minOccurs="0" />
                    <!-- m_pictureValues по умолчанию V8Picture() -->
                    <xs:element name="picVal" type="ui:Picture" minOccurs="0" />
                    <!-- m_textColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
                    <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
                    <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
                    <!-- m_font по умолчанию Font(Font::eAutoFont, 0) -->
                    <xs:element name="fnt" type="ui:Font" minOccurs="0" />
                    <!-- m_border  -->
                    <xs:element name="brd" type="ui:Border" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
                <!-- m_hyperlink по умолчанию false -->
                <xs:attribute name="hyper" type="xs:boolean" />
                <!-- m_pictureSizeMode по умолчанию RealSize -->
                <xs:attribute name="pictureSize" type="tns:PictureSize" />
                <!-- m_zoomable по умолчанию false -->
                <xs:attribute name="zoom" type="xs:boolean" />
                <!-- m_enableStartDrag по умолчанию false -->
                <xs:attribute name="startDrag" type="xs:boolean" />
                <!-- m_enableDrag по умолчанию false -->
                <xs:attribute name="drag" type="xs:boolean" />
                <!-- m_nonselectedPictureText по умолчанию пустой -->
                <xs:attribute name="picTxt" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Spreadsheet">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0  
                 m_stretchableMode == Any -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
                    <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
                <!-- m_showGrid по умолчанию false -->
                <xs:attribute name="grid" type="xs:boolean" />
                <!-- m_showHeaders по умолчанию false -->
                <xs:attribute name="headers" type="xs:boolean" />
                <!-- m_showHorizontalScrollBar по умолчанию true -->
                <xs:attribute name="horScroll" type="xs:boolean" />
                <!-- m_showVerticalScrollBar по умолчанию true -->
                <xs:attribute name="verScroll" type="xs:boolean" />
                <!-- m_blackAndWhiteView по умолчанию false -->
                <xs:attribute name="blackAndWhite" type="xs:boolean" />
                <!-- m_protection по умолчанию false -->
                <xs:attribute name="protect" type="xs:boolean" />
                <!-- m_selectionShowMode по умолчанию Always -->
                <xs:attribute name="selShow" type="tns:SelectionShowMode" />
                <!-- m_useOutput по умолчанию true -->
                <xs:attribute name="output" type="xs:boolean" />
                <!-- m_edit по умолчанию false -->
                <xs:attribute name="edit" type="xs:boolean" />
                <!-- m_showGroups по умолчанию true -->
                <xs:attribute name="showGroups" type="xs:boolean" />
                <!-- m_enableStartDrag по умолчанию false -->
                <xs:attribute name="startDrag" type="xs:boolean" />
                <!-- m_enableDrag по умолчанию false -->
                <xs:attribute name="drag" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TextDocument">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0  
                 m_stretchableMode == Any -->
                <xs:sequence>
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_textColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
                    <!-- m_backColor по умолчанию Color(Color::eAutoColor, 0) -->
                    <xs:element name="bkClr" type="ui:Color" minOccurs="0" />
                    <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
                    <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
                    <!-- m_font по умолчанию Font(Font::eAutoFont, 0) -->
                    <xs:element name="fnt" type="ui:Font" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
                <!-- m_useOutput по умолчанию true -->
                <xs:attribute name="output" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FormattedDocument">
      <xs:complexContent>
        <xs:extension base="tns:Item">
          <!-- умолчания из Item:
                   m_category == Prim 
                   m_width == 0
                   m_height == 0  
                   m_stretchableMode == Any -->
          <xs:sequence>
            <!-- m_tooltip по умолчанию пустой -->
            <xs:element name="tooltip" type="xs:string" minOccurs="0" />
            <!-- m_shortCut по умолчанию ShortCut() -->
            <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
            <!-- m_textColor по умолчанию Color(Color::eAutoColor, 0) -->
            <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
            <!-- m_backColor по умолчанию Color(Color::eAutoColor, 0) -->
            <xs:element name="bkClr" type="ui:Color" minOccurs="0" />
            <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
            <!-- m_font по умолчанию Font(Font::eAutoFont, 0) -->
            <xs:element name="fnt" type="ui:Font" minOccurs="0" />
            <!-- m_pContextMenu по умолчанию нет -->
            <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
          </xs:sequence>
          <!-- m_useOutput по умолчанию true -->
          <xs:attribute name="output" type="xs:boolean" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Calendar">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0  
                 m_stretchableMode == Any -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_font по умолчанию Font(Font::eAutoFont, 0) -->
                    <xs:element name="fnt" type="ui:Font" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                    <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
                    <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
                </xs:sequence>
                <!-- m_dateSelection по умолчанию Single -->
                <xs:attribute name="dateSel" type="tns:FormDateSelectionMode" />
                <!-- m_showCurrentDate по умолчанию true -->
                <xs:attribute name="showCurDate" type="xs:boolean" />
                <!-- m_calendarNavigation по умолчанию true -->
                <xs:attribute name="navigation" type="xs:boolean" />
                <!-- m_beginOfRepresentationPeriod по умолчанию Date() -->
                <xs:attribute name="begPeriod" type="xs:dateTime" />
                <!-- m_endOfRepresentationPeriod по умолчанию Date() -->
                <xs:attribute name="endPeriod" type="xs:dateTime" />
                <!-- m_enableStartDrag по умолчанию false -->
                <xs:attribute name="startDrag" type="xs:boolean" />
                <!-- m_enableDrag по умолчанию false -->
                <xs:attribute name="drag" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ProgressBar">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0  
                 m_stretchableMode == Any -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
                    <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
                <!-- m_minValue по умолчанию 0 -->
                <xs:attribute name="minValue" type="xs:decimal" />
                <!-- m_maxValue по умолчанию 100 -->
                <xs:attribute name="maxValue" type="xs:decimal" />
                <!-- m_orientation по умолчанию Horizontal -->
                <xs:attribute name="orientation" type="tns:FormElementOrientation" />
                <!-- m_representation по умолчанию Smooth -->
                <xs:attribute name="represent" type="tns:FormProgressBarRepresentation" />
                <!-- m_showPercent по умолчанию false -->
                <xs:attribute name="showPercent" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TrackBar">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0  
                 m_stretchableMode == Any -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
                    <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
                <!-- m_minValue по умолчанию 0 -->
                <xs:attribute name="minValue" type="xs:decimal" />
                <!-- m_maxValue по умолчанию 100 -->
                <xs:attribute name="maxValue" type="xs:decimal" />
                <!-- m_step по умолчанию 1 -->
                <xs:attribute name="step" type="xs:decimal" />
                <!-- m_pageSize по умолчанию 10 -->
                <xs:attribute name="page" type="xs:decimal" />
                <!-- m_markingStep по умолчанию 5 -->
                <xs:attribute name="markingStep" type="xs:decimal" />
                <!-- m_orientation по умолчанию Horizontal -->
                <xs:attribute name="orientation" type="tns:FormElementOrientation" />
                <!-- m_marking по умолчанию BottomRight -->
                <xs:attribute name="marking" type="tns:FormTrackBarMarking" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Chart">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0  
                 m_stretchableMode == Any -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GanttChart">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0  
                 m_stretchableMode == Any -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Dendrogram">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0  
                 m_stretchableMode == Any -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Flowchart">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0  
                 m_stretchableMode == Any -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
                    <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
                <!-- m_useOutput по умолчанию true -->
                <xs:attribute name="output" type="xs:boolean" />
                <!-- m_edit по умолчанию true -->
                <xs:attribute name="edit" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HTML">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0  
                 m_stretchableMode == Any -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
                    <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
                <!-- m_useOutput по умолчанию true -->
                <xs:attribute name="output" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GeographicalMap">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <!-- умолчания из Item:
                 m_category == Prim 
                 m_width == 0
                 m_height == 0  
                 m_stretchableMode == Any -->
                <xs:sequence>
                    <!-- m_tooltip по умолчанию пустой -->
                    <xs:element name="tooltip" type="xs:string" minOccurs="0" />
                    <!-- m_borderColor по умолчанию Color(Color::eV8Color, IV8Style::eBorderColor) -->
                    <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
                    <!-- m_shortCut по умолчанию ShortCut() -->
                    <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
                    <!-- m_pContextMenu по умолчанию нет -->
                    <xs:element name="cntm" type="tns:ContextMenu" minOccurs="0" />
                </xs:sequence>
                <!-- m_useOutput по умолчанию true -->
                <xs:attribute name="output" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EmptyElement">
        <xs:complexContent>
            <xs:extension base="tns:Item">
                <!-- умолчания из Item:
                 m_category == Sec 
                 m_width == 0
                 m_height == 0  
                 m_stretchableMode == Any -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
</xs:schema>
