src/onec_ordinary_forms/schemas/platform/8.2/mngcore/mngcore_root-03-http_v8.1c.ru_8.2_managed-application_logform.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ui="http://v8.1c.ru/8.1/data/ui"
           xmlns:v81="http://v8.1c.ru/8.1/data/core"
           xmlns:ma="http://v8.1c.ru/8.2/managed-application/core"
           xmlns:ent="http://v8.1c.ru/8.1/data/enterprise"
           targetNamespace="http://v8.1c.ru/8.2/managed-application/logform"
           xmlns:tns="http://v8.1c.ru/8.2/managed-application/logform"
           xmlns:uobj="http://v8.1c.ru/8.2/uobjects"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">
    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.1/data/ui" schemaLocation="../../../xdto/src/res/uiobjects.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.2/managed-application/core" schemaLocation="mngapp.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.2/uobjects" schemaLocation="uobjects.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.1/data/enterprise" schemaLocation="../../../enums/src/res/enums.xsd"/>

    <xs:simpleType name="ItemHorizontalAlignment">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Left" />
            <xs:enumeration value="Center" />
            <xs:enumeration value="Right" />
            <xs:enumeration value="Auto" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ItemVerticalAlignment">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Top" />
            <xs:enumeration value="Center" />
            <xs:enumeration value="Bottom" />
            <xs:enumeration value="Auto" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ColumnsGroup">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Horizontal" />
            <xs:enumeration value="Vertical" />
            <xs:enumeration value="InCell" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormChildrenGroup">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Horizontal" />
            <xs:enumeration value="Vertical" />
        </xs:restriction>
    </xs:simpleType>

  <xs:simpleType name="FormFixedInTable">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="Left" />
            <xs:enumeration value="Right" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormChildrenWidth">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Auto" />
            <xs:enumeration value="Equal" />
            <xs:enumeration value="LeftWide" />
            <xs:enumeration value="LeftWidest" />
            <xs:enumeration value="LeftNarrow" />
            <xs:enumeration value="LeftNarrowest" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormPagesRepresentation">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="TabsOnTop" />
            <xs:enumeration value="TabsOnBottom" />
            <xs:enumeration value="TabsOnLeftHorizontal" />
            <xs:enumeration value="TabsOnRightHorizontal" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UsualGroupRepresentation">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="GroupBox" />
            <xs:enumeration value="Line" />
            <xs:enumeration value="Margin" />
        </xs:restriction>
    </xs:simpleType>

  <xs:simpleType name="ButtonRepresentation">
    <!-- В языке есть -->
    <xs:restriction base="xs:string">
      <xs:enumeration value="Text" />
      <xs:enumeration value="Picture" />
      <xs:enumeration value="PictureAndText" />
      <xs:enumeration value="Auto" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ReportFormType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Main"/>
            <xs:enumeration value="Settings"/>
            <xs:enumeration value="Variant"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FoldersAndItems">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Items" />
            <xs:enumeration value="Folders" />
            <xs:enumeration value="FoldersAndItems" />
            <xs:enumeration value="Auto" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IncompleteItemChoiceMode">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="OnEnterPressed" />
            <xs:enumeration value="OnActivate" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EditTextUpdate">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Auto" />
            <xs:enumeration value="DontUse" />
            <xs:enumeration value="OnValueChange" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BWAValue">
        <!-- В языке нет -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
            <xs:enumeration value="auto" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MenuElementPlacementArea">
        <!-- В языке нет -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="mainCmdsLeft"/>
            <xs:enumeration value="autoCmds"/>
            <xs:enumeration value="userCmds"/>
            <xs:enumeration value="mainCmdsRight"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SelectionShowMode">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="WhenActive" />
            <xs:enumeration value="Always" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormDateSelectionMode">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Single" />
            <xs:enumeration value="Multiple" />
            <xs:enumeration value="Interval" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormElementOrientation">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Horizontal" />
            <xs:enumeration value="Vertical" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormProgressBarRepresentation">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Smooth" />
            <xs:enumeration value="Broken" />
            <xs:enumeration value="BrokenTilt" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MarkingStyle">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="DontShow" />
            <xs:enumeration value="TopLeft" />
            <xs:enumeration value="BottomRight" />
            <xs:enumeration value="BothSides" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ManagedFormButtonType">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="CommandBarButton" />
            <xs:enumeration value="UsualButton" />
            <xs:enumeration value="Hyperlink" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableRepresentation">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="List" />
            <xs:enumeration value="HierarchicalList" />
            <xs:enumeration value="Tree" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormElementTitleLocation">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="Auto" />
            <xs:enumeration value="Left" />
            <xs:enumeration value="Top" />
            <xs:enumeration value="Right" />
            <xs:enumeration value="Bottom" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="WarningOnEditRepresentation">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Show" />
            <xs:enumeration value="DontShow" />
            <xs:enumeration value="Auto" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SearchOnInput">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Use" />
            <xs:enumeration value="DontUse" />
            <xs:enumeration value="Auto" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormElementCommandBarLocation">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="Auto" />
            <xs:enumeration value="Top" />
            <xs:enumeration value="Bottom" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableRowInputMode">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="EndOfList" />
            <xs:enumeration value="EndOfWindow" />
            <xs:enumeration value="AfterCurrentRow" />
            <xs:enumeration value="BeforeCurrentRow" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableSelectionMode">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="SingleRow" />
            <xs:enumeration value="MultiRow" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableRowSelectionMode">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Cell" />
            <xs:enumeration value="Row" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableScrollBarUse">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="DontUse" />
            <xs:enumeration value="UseAlways" />
            <xs:enumeration value="AutoUse" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableInitialListView">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Beginning" />
            <xs:enumeration value="End" />
            <xs:enumeration value="Auto" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableInitialTreeView">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="NoExpand" />
            <xs:enumeration value="ExpandTopLevel" />
            <xs:enumeration value="ExpandAllLevels" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VerticalAlign">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Top" />
            <xs:enumeration value="Bottom" />
            <xs:enumeration value="Center" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ManagedFormGroupType">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="CommandBar" />
            <xs:enumeration value="Popup" />
            <xs:enumeration value="ColumnGroup" />
            <xs:enumeration value="Pages" />
            <xs:enumeration value="Page" />
            <xs:enumeration value="UsualGroup" />
            <xs:enumeration value="ButtonGroup" />
            <xs:enumeration value="ContextMenu" />
            <xs:enumeration value="AutoCommandBar" />
            <xs:enumeration value="Navigator" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ManagedFormFieldType">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Default" />
            <xs:enumeration value="LabelField" />
            <xs:enumeration value="InputField" />
            <xs:enumeration value="CheckBoxField" />
            <xs:enumeration value="PictureField" />
            <xs:enumeration value="RadioButtonField" />
            <xs:enumeration value="SpreadsheetDocumentField" />
            <xs:enumeration value="TextDocumentField" />
            <xs:enumeration value="FormattedDocumentField" />
            <xs:enumeration value="CalendarField" />
            <xs:enumeration value="ProgressBarField" />
            <xs:enumeration value="TrackBarField" />
            <xs:enumeration value="ChartField" />
            <xs:enumeration value="GanttChartField" />
            <xs:enumeration value="DendrogramField" />
            <xs:enumeration value="GraphicalSchemaField" />
            <xs:enumeration value="HTMLDocumentField" />
            <xs:enumeration value="GeographicalSchemaField" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ManagedFormDecorationType">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Label" />
            <xs:enumeration value="Picture" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TableFieldEditMode">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Directly" />
            <xs:enumeration value="Enter" />
            <xs:enumeration value="EnterOnInput" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormEnterKeyBehavior">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="ControlNavigation" />
            <xs:enumeration value="DefaultButton" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SaveFormDataInSettings">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="DontUse" />
            <xs:enumeration value="UseList" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AutoSaveFormDataInSettings">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="DontUse" />
            <xs:enumeration value="Use" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormWindowOpeningMode">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Independent" />
            <xs:enumeration value="LockOwnerWindow" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="PictureSize">
        <!-- В языке есть -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="RealSize" />
            <xs:enumeration value="Stretch" />
            <xs:enumeration value="Proportionally" />
            <xs:enumeration value="Tile" />
            <xs:enumeration value="AutoSize" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FormElementOrigin">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Source" />
            <xs:enumeration value="AutoGenerated" />
            <xs:enumeration value="AddedFromContext" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Command">
        <xs:sequence>
            <!-- m_id -->
            <xs:element name="id" type="v81:CompositeID" />
        </xs:sequence>
        <!-- m_name по умолчанию пустое -->
        <xs:attribute name="name" type="xs:string"/>
        <!-- m_handlerName по умолчанию пустое -->
        <xs:attribute name="handler" type="xs:string"/>
        <!-- m_modifiesStoredData по умолчанию false -->
        <xs:attribute name="modifiesData" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="Property">
        <xs:sequence>
            <xs:element name="savingContent" type="tns:DataPath" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- m_id -->
        <xs:attribute name="id" type="v81:CompositeID" />
        <!-- m_mainProperty по умолчанию false -->
        <xs:attribute name="main" type="xs:boolean"/>
        <!-- m_storedData по умолчанию false -->
        <xs:attribute name="storedData" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="Event">
        <xs:sequence>
            <!-- id по умолчанию kUUIDNull -->
            <xs:element name="id" type="v81:UUID" />
        </xs:sequence>
        <!-- handler по умолчанию пустое -->
        <xs:attribute name="handler" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="DataPath">
        <xs:sequence>
            <xs:element name="id" type="v81:CompositeID" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AddProp">
        <xs:sequence>
            <!-- id -->
            <xs:element name="id" type="xs:decimal" />
            <!-- value -->
            <xs:element name="val" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AddProps">
        <xs:sequence>
            <xs:element name="prop" type="tns:AddProp" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CommandsInclusion">
        <xs:sequence>
            <xs:element name="uuid" type="v81:UUID" maxOccurs="unbounded"  />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MenuGroupData">
        <xs:sequence>
            <!-- m_commandsGroup по умолчанию kNullCompositeID -->
            <xs:element name="cmdGroups" type="v81:CompositeID" />
        </xs:sequence>
        <!-- m_hAlign по умолчанию Left -->
        <xs:attribute name="hAlign" type="tns:ItemHorizontalAlignment" />
    </xs:complexType>

    <xs:complexType name="AutoMenuGroupData">
        <!-- m_hAlign по умолчанию Left -->
        <xs:attribute name="hAlign" type="tns:ItemHorizontalAlignment" />
        <!-- m_fillStdCommands по умолчанию true -->
        <xs:attribute name="fillStd" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="SubmenuGroupData">
        <xs:sequence>
            <!-- m_picture по умолчанию V8Picture() -->
            <xs:element name="pic" type="ui:Picture" minOccurs="0" />
            <!-- m_commandsGroup по умолчанию kNullCompositeID -->
            <xs:element name="cmdGroups" type="v81:CompositeID" />
        </xs:sequence>
        <!-- m_representation по умолчанию Auto -->
        <xs:attribute name="repres" type="tns:ButtonRepresentation"/>
    </xs:complexType>

    <xs:complexType name="ButtonsGroupData">
        <xs:sequence>
            <!-- m_commandsGroup по умолчанию kNullCompositeID -->
            <xs:element name="cmdGroups" type="v81:CompositeID" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ContextMenuGroupData">
        <!-- m_fillStdCommands по умолчанию true -->
        <xs:attribute name="fillStd" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="ColumnsGroupData">
        <xs:sequence>
            <!-- m_headerPicture по умолчанию V8Picture() -->
            <xs:element name="headerPic" type="ui:Picture" minOccurs="0" />
            <!-- m_titleBackColor по умолчанию kLogFormColumnsGroupDataDefTitleBackColor -->
            <xs:element name="titleBkClr" type="ui:Color" minOccurs="0" />
            <!-- m_headerProperty по умолчанию empty() -->
            <xs:element name="hdProp" type="tns:DataPath" minOccurs="0" />
            <!-- m_headerPropertyName по умолчанию empty() -->
            <xs:element name="hdPropName" type="xs:string" minOccurs="0" />
            <!-- m_headerTypeDomainPattern по умолчанию types().empty() -->
            <xs:element name="hdTdp" type="v81:TypeDescription" minOccurs="0" />
        </xs:sequence>
        <!-- m_grouping по умолчанию kLogFormColumnsGroupDataDefGrouping -->
        <xs:attribute name="grouping" type="tns:ColumnsGroup" />
        <!-- m_showTitle по умолчанию kLogFormColumnsGroupDataDefShowTitle -->
        <xs:attribute name="showTitle" type="xs:boolean" />
        <!-- m_showInHeader по умолчанию kLogFormColumnsGroupDataDefShowInHeader -->
        <xs:attribute name="showInHeader" type="xs:boolean" />
        <!-- m_headerHAlign по умолчанию kLogFormColumnsGroupDataDefHeaderHAlign -->
        <xs:attribute name="headerHAlign" type="tns:ItemHorizontalAlignment" />
        <!-- m_headerFormatString по умолчанию пустой
             брать только строку из языка # -->
        <xs:attribute name="headerFormat" type="xs:string" />
        <!-- m_fixedInTable по умолчанию kLogFormColumnsGroupDataDefFixedInTable -->
        <xs:attribute name="fixedInTable" type="tns:FormFixedInTable" />
    </xs:complexType>

    <xs:complexType name="PagesGroupData">
        <xs:sequence>
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- m_representation по умолчанию Top -->
        <xs:attribute name="repres" type="tns:FormPagesRepresentation" />
    </xs:complexType>

    <xs:complexType name="PageGroupData">
        <xs:sequence>
            <!-- m_picture по умолчанию V8Picture() -->
            <xs:element name="pic" type="ui:Picture" minOccurs="0" />
            <!-- m_property по умолчанию empty() -->
            <xs:element name="prop" type="tns:DataPath" minOccurs="0" />
            <!-- m_propertyName по умолчанию empty() -->
            <xs:element name="propName" type="xs:string" minOccurs="0" />
            <!-- m_tdp по умолчанию types().empty() -->
            <xs:element name="tdp" type="v81:TypeDescription" minOccurs="0" />
        </xs:sequence>
        <!-- m_grouping по умолчанию Vertical -->
        <xs:attribute name="grouping" type="tns:FormChildrenGroup" />
        <!-- m_childrenWidth по умолчанию Auto -->
        <xs:attribute name="childrenWidth" type="tns:FormChildrenWidth" />
        <!-- m_formatString по умолчанию пустой
             брать только строку из языка # -->
        <xs:attribute name="format" type="xs:string" />
        <!-- m_showTitle по умолчанию true -->
        <xs:attribute name="showTitle" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="UsualGroupData">
        <xs:sequence>
            <!-- m_property по умолчанию empty() -->
            <xs:element name="prop" type="tns:DataPath" minOccurs="0" />
            <!-- m_propertyName по умолчанию empty() -->
            <xs:element name="propName" type="xs:string" minOccurs="0" />
            <!-- m_tdp по умолчанию types().empty() -->
            <xs:element name="tdp" type="v81:TypeDescription" minOccurs="0" />
        </xs:sequence>
        <!-- m_grouping по умолчанию Vertical -->
        <xs:attribute name="grouping" type="tns:FormChildrenGroup" />
        <!-- m_childrenWidth по умолчанию Auto -->
        <xs:attribute name="childrenWidth" type="tns:FormChildrenWidth" />
        <!-- m_representation по умолчанию None -->
        <xs:attribute name="repres" type="tns:UsualGroupRepresentation" />
        <!-- m_showTitle по умолчанию true -->
        <xs:attribute name="showTitle" type="xs:boolean" />
        <!-- m_formatString по умолчанию пустой
             брать только строку из языка # -->
        <xs:attribute name="format" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="TextFieldData">
        <xs:sequence>
            <!-- m_textColor по умолчанию kLogFormTextFieldDataDefTextColor -->
            <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
            <!-- m_backColor по умолчанию kLogFormTextFieldDataDefBackColor -->
            <xs:element name="bkClr" type="ui:Color" minOccurs="0" />
            <!-- m_font по умолчанию kLogFormTextFieldDataDefFont -->
            <xs:element name="fnt" type="ui:Font" minOccurs="0" />
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- m_width по умолчанию 0 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_rowsCount по умолчанию 0 -->
        <xs:attribute name="rowsCount" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию auto -->
        <xs:attribute name="horStretch" type="tns:BWAValue" />
        <!-- m_verStretchable по умолчанию auto -->
        <xs:attribute name="verStretch" type="tns:BWAValue" />
        <!-- m_markNegatives по умолчанию auto -->
        <xs:attribute name="markNeg" type="tns:BWAValue" />
        <!-- m_formatString по умолчанию пустой
             брать только строку из языка # -->
        <xs:attribute name="format" type="xs:string" />
        <!-- m_hyperlink по умолчанию false -->
        <xs:attribute name="hyper" type="xs:boolean" />
        <!-- m_passwordMode по умолчанию auto -->
        <xs:attribute name="psw" type="tns:BWAValue" />
    </xs:complexType>

    <xs:complexType name="InputFieldData">
        <xs:sequence>
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
            <!-- m_minValue если не Value()-->
            <xs:element name="minVal" />
            <!-- m_maxValue если не Value()-->
            <xs:element name="maxVal" />
            <!-- m_choiceButtonPicture по умолчанию V8Picture() -->
            <xs:element name="choiceBtnPic" type="ui:Picture" minOccurs="0" />
            <!-- m_choiceFormId по умолчанию kUUIDNull -->
            <xs:element name="choiceFormId" type="v81:UUID" />
            <!-- m_pChoiceParamLinks если не пустые -->
            <xs:element name="choiceParamLinks" type="ma:ChoiceParameterLinks" minOccurs="0" />
            <!-- m_pChoiceParamLinks если не пустые -->
            <xs:element name="choiceParams" type="ma:ChoiceParameters" minOccurs="0" />
            <!-- m_availableTypes по умолчанию types().empty() -->
            <xs:element name="avlTypes" type="v81:TypeDescription" minOccurs="0" />
            <!-- m_pValueList если не пустой -->
            <xs:element name="valList" type="v81:ValueListType" />
            <!-- m_textColor по умолчанию kLogFormInputFieldDataDefTextColor -->
            <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
            <!-- m_backColor по умолчанию kLogFormInputFieldDataDefBackColor -->
            <xs:element name="bkClr" type="ui:Color" minOccurs="0" />
            <!-- m_borderColor по умолчанию kLogFormInputFieldDataDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
            <!-- m_font по умолчанию kLogFormInputFieldDataDefFont -->
            <xs:element name="fnt" type="ui:Font" minOccurs="0" />
            <!-- m_linkByType если не пустой -->
            <xs:element name="linkByType" type="ma:TypeLink" minOccurs="0" />
        </xs:sequence>
        <!-- m_width по умолчанию 0 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_rowsCount по умолчанию 0 -->
        <xs:attribute name="rowsCount" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию auto -->
        <xs:attribute name="horStretch" type="tns:BWAValue" />
        <!-- m_verStretchable по умолчанию auto -->
        <xs:attribute name="verStretch" type="tns:BWAValue" />
        <!-- m_wrap по умолчанию true -->
        <xs:attribute name="wrap" type="xs:boolean" />
        <!-- m_passwordMode по умолчанию auto -->
        <xs:attribute name="psw" type="tns:BWAValue" />
        <!-- m_multiLine по умолчанию auto -->
        <xs:attribute name="mlt" type="tns:BWAValue" />
        <!-- m_extendedEdit по умолчанию auto -->
        <xs:attribute name="extEdit" type="tns:BWAValue" />
        <!-- m_markNegatives по умолчанию auto -->
        <xs:attribute name="markNeg" type="tns:BWAValue" />
        <!-- m_choiceListButton по умолчанию auto -->
        <xs:attribute name="choiceListBtn" type="tns:BWAValue" />
        <!-- m_choiceButton по умолчанию auto -->
        <xs:attribute name="choiceBtn" type="tns:BWAValue" />
        <!-- m_clearButton по умолчанию auto -->
        <xs:attribute name="clearBtn" type="tns:BWAValue" />
        <!-- m_spinButton по умолчанию auto -->
        <xs:attribute name="spinBtn" type="tns:BWAValue" />
        <!-- m_openButton по умолчанию auto -->
        <xs:attribute name="openBtn" type="tns:BWAValue" />
        <!-- m_mask по умолчанию пустой -->
        <xs:attribute name="mask" type="xs:string" />
        <!-- m_listChoiceMode по умолчанию false -->
        <xs:attribute name="listChoice" type="xs:boolean" />
        <!-- m_choiceListHeight по умолчанию 0 -->
        <xs:attribute name="choiceListHeight" type="xs:decimal" />
        <!-- m_choiceListMinWidth по умолчанию 0 -->
        <xs:attribute name="choiceListMinWidth" type="xs:decimal" />
        <!-- m_autoChoiceIncomplete по умолчанию auto -->
        <xs:attribute name="autoChoice" type="tns:BWAValue" />
        <!-- m_quickChoice по умолчанию auto -->
        <xs:attribute name="quickChoice" type="tns:BWAValue" />
        <!-- m_choiceObjects по умолчанию Auto -->
        <xs:attribute name="choice" type="tns:FoldersAndItems" />
        <!-- m_formatString по умолчанию пустой
             брать только строку из языка # -->
        <xs:attribute name="format" type="xs:string" />
        <!-- m_inputFormatString по умолчанию пустой
             брать только строку из языка # -->
        <xs:attribute name="inputFormat" type="xs:string" />
        <!-- m_autoMarkIncomplete по умолчанию auto -->
        <xs:attribute name="autoMark" type="tns:BWAValue" />
        <!-- m_choiceType по умолчанию true -->
        <xs:attribute name="choiceType" type="xs:boolean" />
        <!-- m_incompleteChoiceMode по умолчанию OnEnterPressed -->
        <xs:attribute name="incompleteChoice" type="tns:IncompleteItemChoiceMode" />
        <!-- m_typeDomainEnabled по умолчанию true -->
        <xs:attribute name="typeDomainEnabled" type="xs:boolean" />
        <!-- m_textEdit по умолчанию true -->
        <xs:attribute name="textEdit" type="xs:boolean" />
        <!-- m_editTextUpdateMode по умолчанию Auto -->
        <xs:attribute name="editTextUpdateMode" type="tns:EditTextUpdate" />
    </xs:complexType>

    <xs:complexType name="CheckBoxFieldData">
        <xs:sequence>
            <!-- m_borderColor по умолчанию kLogFormInputFieldDataDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
            <!-- m_backColor по умолчанию kLogFormInputFieldDataDefBackColor -->
            <xs:element name="bkClr" type="ui:Color" minOccurs="0" />
        </xs:sequence>
        <!-- m_threeState по умолчанию false -->
        <xs:attribute name="threeState" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="ImageFieldData">
        <xs:sequence>
            <!-- m_pictureValues по умолчанию V8Picture() -->
            <xs:element name="picValues" type="ui:Picture" minOccurs="0" />
            <!-- m_textColor по умолчанию kLogFormImageFieldDataDefTextColor -->
            <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
            <!-- m_borderColor по умолчанию kLogFormImageFieldDataDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
            <!-- m_font по умолчанию kLogFormImageFieldDataDefFont -->
            <xs:element name="fnt" type="ui:Font" minOccurs="0" />
            <!-- m_border по умолчанию kLogFormImageFieldDataDefBorder -->
            <xs:element name="brd" type="ui:Border" minOccurs="0" />
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- m_width по умолчанию 2 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 1 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию true -->
        <xs:attribute name="horStretch" type="xs:boolean" />
        <!-- m_verStretchable по умолчанию true -->
        <xs:attribute name="verStretch" type="xs:boolean" />
        <!-- m_pictureSizeMode по умолчанию RealSize -->
        <xs:attribute name="pictureSize" type="tns:PictureSize" />
        <!-- m_zoomable по умолчанию false -->
        <xs:attribute name="zoomable" type="xs:boolean" />
        <!-- m_hyperlink по умолчанию false -->
        <xs:attribute name="hyper" type="xs:boolean" />
        <!-- m_nonselectedPictureText по умолчанию пустой
             брать только строку из языка # -->
        <xs:attribute name="picText" type="xs:string" />
        <!-- m_enableStartDrag по умолчанию false -->
        <xs:attribute name="startDrag" type="xs:boolean" />
        <!-- m_enableDrag по умолчанию false -->
        <xs:attribute name="drag" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="RadioButtonsData">
        <xs:sequence>
            <!-- m_pValueList если не пустой -->
            <xs:element name="valList" type="v81:ValueListType" />
            <!-- m_textColor по умолчанию kLogFormRadioButtonsFieldDataDefTextColor -->
            <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
            <!-- m_font по умолчанию kLogFormRadioButtonsFieldDataDefFont -->
            <xs:element name="fnt" type="ui:Font" minOccurs="0" />
            <!-- m_borderColor по умолчанию kLogFormInputFieldDataDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
        </xs:sequence>
        <!-- m_columnsCount по умолчанию kDefaultColumnCount -->
        <xs:attribute name="colsCount" type="xs:decimal" />
        <!-- m_elementRowsCount по умолчанию kLogFormRadioButtonsFieldDataDefElementRowsCount-->
        <xs:attribute name="elementRowsCount" type="xs:decimal" />
    </xs:complexType>

    <xs:complexType name="SpreadsheetFieldData">
        <xs:sequence>
            <!-- m_borderColor по умолчанию kLogFormInputFieldDataDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- m_width по умолчанию 50 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 10 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию true -->
        <xs:attribute name="horStretch" type="xs:boolean" />
        <!-- m_verStretchable по умолчанию true -->
        <xs:attribute name="verStretch" type="xs:boolean" />
        <!-- m_showGrid по умолчанию false -->
        <xs:attribute name="showGrid" type="xs:boolean" />
        <!-- m_showHeaders по умолчанию false -->
        <xs:attribute name="showHdrs" type="xs:boolean" />
        <!-- m_showVerticalScrollBar по умолчанию true -->
        <xs:attribute name="showVerScroll" type="xs:boolean" />
        <!-- m_showHorizontalScrollBar по умолчанию true -->
        <xs:attribute name="showHorScroll" type="xs:boolean" />
        <!-- m_blackAndWhiteView по умолчанию false -->
        <xs:attribute name="blackAndWhite" type="xs:boolean" />
        <!-- m_protection по умолчанию false -->
        <xs:attribute name="protection" type="xs:boolean" />
        <!-- m_selectionShowMode по умолчанию Always -->
        <xs:attribute name="selectionMode" type="tns:SelectionShowMode" />
        <!-- m_useOutput по умолчанию Auto -->
        <xs:attribute name="useOutput" type="ui:UseOutput" />
        <!-- m_edit по умолчанию false -->
        <xs:attribute name="edit" type="xs:boolean" />
        <!-- m_showGroups по умолчанию true -->
        <xs:attribute name="showGroups" type="xs:boolean" />
        <!-- m_enableStartDrag по умолчанию false -->
        <xs:attribute name="startDrag" type="xs:boolean" />
        <!-- m_enableDrag по умолчанию false -->
        <xs:attribute name="drag" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="TextDocFieldData">
        <xs:sequence>
            <!-- m_textColor по умолчанию kLogFormTextDocFieldDataDefTextColor -->
            <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
            <!-- m_backColor по умолчанию kLogFormTextDocFieldDataDefBackColor -->
            <xs:element name="bkClr" type="ui:Color" minOccurs="0" />
            <!-- m_borderColor по умолчанию kLogFormTextDocFieldDataDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
            <!-- m_font по умолчанию kLogFormTextDocFieldDataDefFont -->
            <xs:element name="fnt" type="ui:Font" minOccurs="0" />
        </xs:sequence>
        <!-- m_width по умолчанию 50 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 10 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию true -->
        <xs:attribute name="horStretch" type="xs:boolean" />
        <!-- m_verStretchable по умолчанию true -->
        <xs:attribute name="verStretch" type="xs:boolean" />
        <!-- m_useOutput по умолчанию Auto -->
        <xs:attribute name="useOutput" type="ui:UseOutput" />
    </xs:complexType>

    <xs:complexType name="FormattedDocFieldData">
        <xs:sequence>
            <!-- m_textColor по умолчанию kLogFormFormattedDocFieldDataDefTextColor -->
            <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
            <!-- m_backColor по умолчанию kLogFormFormattedDocFieldDataDefBackColor -->
            <xs:element name="bkClr" type="ui:Color" minOccurs="0" />
            <!-- m_borderColor по умолчанию kLogFormFormattedDocFieldDataDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
            <!-- m_font по умолчанию kLogFormFormattedDocFieldDataDefFont -->
            <xs:element name="fnt" type="ui:Font" minOccurs="0" />
        </xs:sequence>
        <!-- m_width по умолчанию 50 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 10 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию true -->
        <xs:attribute name="horStretch" type="xs:boolean" />
        <!-- m_verStretchable по умолчанию true -->
        <xs:attribute name="verStretch" type="xs:boolean" />
        <!-- m_useOutput по умолчанию Auto -->
        <xs:attribute name="useOutput" type="ui:UseOutput" />
    </xs:complexType>

    <xs:complexType name="CalendarFieldData">
        <xs:sequence>
            <!-- m_font по умолчанию kLogFormCalendarFieldDataDefFont -->
            <xs:element name="fnt" type="ui:Font" minOccurs="0" />
            <!-- m_borderColor по умолчанию kLogFormCalendarFieldDataDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- m_width по умолчанию 16 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 9 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию true -->
        <xs:attribute name="horStretch" type="xs:boolean" />
        <!-- m_verStretchable по умолчанию true -->
        <xs:attribute name="verStretch" type="xs:boolean" />
        <!-- m_dateSelection по умолчанию Single -->
        <xs:attribute name="dateSel" type="tns:FormDateSelectionMode" />
        <!-- m_showCurrentDate по умолчанию true -->
        <xs:attribute name="showCurDate" type="xs:boolean" />
        <!-- m_calendarNavigation по умолчанию true -->
        <xs:attribute name="navigation" type="xs:boolean" />
        <!-- m_beginOfRepresentationPeriod по умолчанию Date() -->
        <xs:attribute name="begPeriod" type="xs:dateTime" />
        <!-- m_endOfRepresentationPeriod по умолчанию Date() -->
        <xs:attribute name="endPeriod" type="xs:dateTime" />
        <!-- m_enableStartDrag по умолчанию false -->
        <xs:attribute name="startDrag" type="xs:boolean" />
        <!-- m_enableDrag по умолчанию false -->
        <xs:attribute name="drag" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="ProgressBarFieldData">
        <xs:sequence>
            <!-- m_borderColor по умолчанию kLogFormInputFieldDataDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
        </xs:sequence>
        <!-- m_width по умолчанию 32 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 1 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию true -->
        <xs:attribute name="horStretch" type="xs:boolean" />
        <!-- m_verStretchable по умолчанию false -->
        <xs:attribute name="verStretch" type="xs:boolean" />
        <!-- m_minValue по умолчанию 0 -->
        <xs:attribute name="minVal" type="xs:decimal" />
        <!-- m_maxValue по умолчанию 100 -->
        <xs:attribute name="maxVal" type="xs:decimal" />
        <!-- m_orientation по умолчанию Horizontal -->
        <xs:attribute name="orientation" type="tns:FormElementOrientation" />
        <!-- m_representation по умолчанию Smooth -->
        <xs:attribute name="repres" type="tns:FormProgressBarRepresentation" />
        <!-- m_showPercent по умолчанию false -->
        <xs:attribute name="showPercent" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="TrackBarFieldData">
        <xs:sequence>
            <!-- m_borderColor по умолчанию kLogFormInputFieldDataDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
        </xs:sequence>
        <!-- m_width по умолчанию 32 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 2 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию true -->
        <xs:attribute name="horStretch" type="xs:boolean" />
        <!-- m_verStretchable по умолчанию false -->
        <xs:attribute name="verStretch" type="xs:boolean" />
        <!-- m_minValue по умолчанию 0 -->
        <xs:attribute name="minVal" type="xs:decimal" />
        <!-- m_maxValue по умолчанию 100 -->
        <xs:attribute name="maxVal" type="xs:decimal" />
        <!-- m_step по умолчанию 1 -->
        <xs:attribute name="step" type="xs:decimal" />
        <!-- m_pageSize по умолчанию 10 -->
        <xs:attribute name="pageSize" type="xs:decimal" />
        <!-- m_markingStep по умолчанию 5 -->
        <xs:attribute name="markingStep" type="xs:decimal" />
        <!-- m_orientation по умолчанию Horizontal -->
        <xs:attribute name="orientation" type="tns:FormElementOrientation" />
        <!-- m_marking по умолчанию BottomRight -->
        <xs:attribute name="marking" type="tns:MarkingStyle" />
    </xs:complexType>

    <xs:complexType name="ChartFieldData">
        <xs:sequence>
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- m_width по умолчанию 50 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 10 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию true -->
        <xs:attribute name="horStretch" type="xs:boolean" />
        <!-- m_verStretchable по умолчанию true -->
        <xs:attribute name="verStretch" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="GanttChartFieldData">
        <xs:sequence>
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- m_width по умолчанию 50 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 10 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию true -->
        <xs:attribute name="horStretch" type="xs:boolean" />
        <!-- m_verStretchable по умолчанию true -->
        <xs:attribute name="verStretch" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="DendrogramFieldData">
        <xs:sequence>
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- m_width по умолчанию 50 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 10 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию true -->
        <xs:attribute name="horStretch" type="xs:boolean" />
        <!-- m_verStretchable по умолчанию true -->
        <xs:attribute name="verStretch" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="FlowchartFieldData">
        <xs:sequence>
            <!-- m_borderColor по умолчанию kLogFormInputFieldDataDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- m_width по умолчанию 50 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 10 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_useOutput по умолчанию Auto -->
        <xs:attribute name="useOutput" type="ui:UseOutput" />
        <!-- m_edit по умолчанию true -->
        <xs:attribute name="edit" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="HTMLFieldData">
        <xs:sequence>
            <!-- m_borderColor по умолчанию kLogFormInputFieldDataDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- m_width по умолчанию 50 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 10 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_useOutput по умолчанию Auto -->
        <xs:attribute name="useOutput" type="ui:UseOutput" />
    </xs:complexType>

    <xs:complexType name="GeographicalMapFieldData">
        <xs:sequence>
            <!-- m_borderColor по умолчанию kLogFormGeographicalMapFieldDataDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- m_width по умолчанию kLogFormGeographicalMapFieldDataDefWidth -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию kLogFormGeographicalMapFieldDataDefHeight -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию kLogFormGeographicalMapFieldDataDefHorStretchable -->
        <xs:attribute name="horStretch" type="xs:boolean" />
        <!-- m_verStretchable по умолчанию kLogFormGeographicalMapFieldDataDefVerStretchable -->
        <xs:attribute name="verStretch" type="xs:boolean" />
        <!-- m_useOutput по умолчанию kLogFormGeographicalMapFieldDataDefUseOutput -->
        <xs:attribute name="useOutput" type="ui:UseOutput" />
    </xs:complexType>

    <xs:complexType name="TextDecorationData">
        <xs:sequence>
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- m_hyperlink по умолчанию false -->
        <xs:attribute name="hyper" type="xs:boolean" />
        <!-- m_hAlign по умолчанию Left -->
        <xs:attribute name="hAlign" type="tns:ItemHorizontalAlignment" />
        <!-- m_vAlign по умолчанию Center -->
        <xs:attribute name="vAlign" type="tns:ItemVerticalAlignment" />
        <!-- m_titleHeight по умолчанию 0 -->
        <xs:attribute name="titleHeight" type="xs:decimal" />
    </xs:complexType>

    <xs:complexType name="PictureDecorationData">
        <xs:sequence>
            <!-- m_picture по умолчанию V8Picture() -->
            <xs:element name="pic" type="ui:Picture" minOccurs="0" />
            <!-- m_borderColor по умолчанию kLogFormImageFieldDataDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
            <!-- m_border по умолчанию kLogFormImageFieldDataDefBorder -->
            <xs:element name="brd" type="ui:Border" minOccurs="0" />
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- m_hyperlink по умолчанию false -->
        <xs:attribute name="hyper" type="xs:boolean" />
        <!-- m_pictureSizeMode по умолчанию RealSize -->
        <xs:attribute name="pictureSize" type="tns:PictureSize" />
        <!-- m_zoomable по умолчанию false -->
        <xs:attribute name="zoomable" type="xs:boolean" />
        <!-- m_nonselectedPictureText по умолчанию пустой
             брать только строку из языка # -->
        <xs:attribute name="picText" type="xs:string" />
        <!-- m_enableStartDrag по умолчанию false -->
        <xs:attribute name="startDrag" type="xs:boolean" />
        <!-- m_enableDrag по умолчанию false -->
        <xs:attribute name="drag" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="Button">
        <xs:sequence>
            <!-- m_command -->
            <xs:element name="command" type="v81:CompositeID"/>
            <!-- m_property по умолчанию empty() -->
            <xs:element name="prop" type="tns:DataPath" minOccurs="0"/>
            <!-- m_propertyName по умолчанию empty() -->
            <xs:element name="propName" type="xs:string" minOccurs="0"/>
            <!-- m_tdp по умолчанию types().empty() -->
            <xs:element name="tdp" type="v81:TypeDescription" minOccurs="0"/>
            <!-- m_backColor по умолчанию kLogFormButtonDefBackColor -->
            <xs:element name="bkClr" type="ui:Color" minOccurs="0"/>
            <!-- m_textColor по умолчанию kLogFormButtonDefTextColor -->
            <xs:element name="txtClr" type="ui:Color" minOccurs="0"/>
            <!-- m_borderColor по умолчанию kLogFormButtonDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0"/>
            <!-- m_font по умолчанию kLogFormButtonDefFont -->
            <xs:element name="fnt" type="ui:Font" minOccurs="0"/>
            <!-- m_shortCut по умолчанию ShortCut() -->
            <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0"/>
            <!-- m_picture по умолчанию V8Picture() -->
            <xs:element name="pic" type="ui:Picture" minOccurs="0" />
            <!-- m_title по умолчанию пустой
                 брать только строку из языка # -->
            <xs:element name="title" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <!-- m_id Пишется только long. uuid - константа -->
        <xs:attribute name="id" type="xs:decimal"/>
        <!-- m_name -->
        <xs:attribute name="name" type="xs:string"/>
        <!-- m_origin по умолчанию eSource -->
        <xs:attribute name="org" type="tns:FormElementOrigin"/>
        <!-- m_kind -->
        <xs:attribute name="kind" type="tns:ManagedFormButtonType"/>
        <!-- m_visible по умолчанию true -->
        <xs:attribute name="visible" type="xs:boolean"/>
        <!-- m_pUserVisible сериализовать как bool значение брать из commonValue
             по умолчанию true -->
        <xs:attribute name="userVisible" type="xs:boolean"/>
        <!-- m_titleRowsCount по умолчанию 0 -->
        <xs:attribute name="titleRowsCount" type="xs:decimal" />
        <!-- m_representation по умолчанию Auto -->
        <xs:attribute name="repres" type="tns:ButtonRepresentation"/>
        <!-- m_defaultButton по умолчанию false -->
        <xs:attribute name="defButton" type="xs:boolean"/>
        <!-- m_skipOnInput по умолчанию auto -->
        <xs:attribute name="skipOnInput" type="tns:BWAValue" />
        <!-- m_enabled по умолчанию true -->
        <xs:attribute name="enabled" type="xs:boolean"/>
        <!-- m_defaultElement по умолчанию false -->
        <xs:attribute name="defItem" type="xs:boolean"/>
        <!-- m_important по умолчанию auto -->
        <xs:attribute name="important" type="tns:BWAValue"/>
        <!-- m_width по умолчанию 0 -->
        <xs:attribute name="width" type="xs:decimal"/>
        <!-- m_height по умолчанию 0 -->
        <xs:attribute name="height" type="xs:decimal"/>
        <!-- m_placementArea по умолчанию eMEPAMainCommandsLeftArea -->
        <xs:attribute name="plcm" type="tns:MenuElementPlacementArea"/>
        <!-- m_check по умолчанию false -->
        <xs:attribute name="check" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="Table">
        <xs:sequence>
            <!-- m_property по умолчанию empty() -->
            <xs:element name="prop" type="tns:DataPath" minOccurs="0" />
            <!-- m_propertyName по умолчанию empty() -->
            <xs:element name="propName" type="xs:string" minOccurs="0" />
            <!-- m_tdp по умолчанию types().empty() -->
            <xs:element name="tdp" type="v81:TypeDescription" minOccurs="0" />
            <!-- m_rowsPictureProperty по умолчанию empty() -->
            <xs:element name="rowsPicProp" type="tns:DataPath" minOccurs="0" />
            <!-- m_rowsPicturePropertyName по умолчанию empty() -->
            <xs:element name="rowsPicPropName" type="xs:string" minOccurs="0" />
            <!-- m_rowsPicture по умолчанию V8Picture() -->
            <xs:element name="rowsPic" type="ui:Picture" minOccurs="0" />
            <!-- m_backColor по умолчанию kLogFormTableDefBackColor -->
            <xs:element name="bkClr" type="ui:Color" minOccurs="0" />
            <!-- m_textColor по умолчанию kLogFormTableDefTextColor -->
            <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
            <!-- m_borderColor по умолчанию kLogFormTableDefBorderColor -->
            <xs:element name="brdClr" type="ui:Color" minOccurs="0" />
            <!-- m_font по умолчанию kLogFormTableDefFont -->
            <xs:element name="fnt" type="ui:Font" minOccurs="0" />
            <!-- m_titleTextColor по умолчанию kLogFormTableDefTitleTextColor -->
            <xs:element name="titleTxtClr" type="ui:Color" minOccurs="0" />
            <!-- m_titleFont по умолчанию kLogFormTableDefTitleFont -->
            <xs:element name="titleFnt" type="ui:Font" minOccurs="0" />
            <!-- m_shortCut по умолчанию ShortCut() -->
            <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0"/>
            <!-- m_additionalProperties если не пустые-->
            <xs:element name="addProps" type="tns:AddProps" minOccurs="0" />
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
            <!-- m_commands если не пустые-->
            <xs:element name="commands" type="tns:CommandsInclusion" />
            <!-- m_pContextMenu если оно не пустое и у его данных установлен fillStd
                 иначе только его id -->
            <xs:choice>
                <xs:element name="contextMenu" type="tns:Group" />
                <xs:element name="contextMenuId" type="xs:decimal" />
            </xs:choice>
            <!-- m_pCommandBar если оно не пустое и у его данных установлен fillStd
                 иначе только его id -->
            <xs:choice>
                <xs:element name="autoCommandBar" type="tns:Group" />
                <xs:element name="autoCommandBarId" type="xs:decimal" />
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="unbounded" >
                <xs:element name="field" type="tns:Field" />
                <xs:element name="group" type="tns:Group" />
            </xs:choice>
            <!-- m_title по умолчанию пустой
                 брать только строку из языка # -->
            <xs:element name="title" type="xs:string" minOccurs="0" />
            <!-- m_tooltip по умолчанию пустой
                 брать только строку из языка # -->
            <xs:element name="tooltip" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <!-- m_id Пишется только long. uuid - константа -->
        <xs:attribute name="id" type="xs:decimal" />
        <!-- m_name -->
        <xs:attribute name="name" type="xs:string" />
        <!-- m_origin по умолчанию eSource -->
        <xs:attribute name="org" type="tns:FormElementOrigin" />
        <!-- m_representation по умолчанию HierarhicList -->
        <xs:attribute name="repres" type="tns:TableRepresentation" />
        <!-- m_visible по умолчанию true -->
        <xs:attribute name="visible" type="xs:boolean"/>
        <!-- m_pUserVisible сериализовать как bool значение брать из commonValue
             по умолчанию true -->
        <xs:attribute name="userVisible" type="xs:boolean"/>
        <!-- m_titleLocation по умолчанию None -->
        <xs:attribute name="titleLocation" type="tns:FormElementTitleLocation" />
        <!-- m_titleRowsCount по умолчанию 0 -->
        <xs:attribute name="titleRowsCount" type="xs:decimal" />
        <!-- m_commandBarLocation по умолчанию Auto -->
        <xs:attribute name="commandBarLocation" type="tns:FormElementCommandBarLocation" />
        <!-- m_autoFill по умолчанию false -->
        <xs:attribute name="autoFill" type="xs:boolean" />
        <!-- m_enabled по умолчанию true -->
        <xs:attribute name="enabled" type="xs:boolean" />
        <!-- m_readOnly по умолчанию false -->
        <xs:attribute name="readOnly" type="xs:boolean" />
        <!-- m_skipOnInput по умолчанию auto -->
        <xs:attribute name="skipOnInput" type="tns:BWAValue" />
        <!-- m_defaultElement по умолчанию false -->
        <xs:attribute name="defItem" type="xs:boolean" />
        <!-- m_changeRowSet по умолчанию true -->
        <xs:attribute name="changeRowSet" type="xs:boolean" />
        <!-- m_changeRowOrder по умолчанию true -->
        <xs:attribute name="changeRowOrder" type="xs:boolean" />
        <!-- m_width по умолчанию 0 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 0 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_rowsCount по умолчанию 0 -->
        <xs:attribute name="rowsCount" type="xs:decimal" />
        <!-- m_choiceMode по умолчанию false -->
        <xs:attribute name="choiceMode" type="xs:boolean" />
        <!-- m_multipleChoice по умолчанию false -->
        <xs:attribute name="multipleChoice" type="xs:boolean" />
        <!-- m_rowInputMode по умолчанию EndOfList -->
        <xs:attribute name="rowInput" type="tns:TableRowInputMode" />
        <!-- m_rowsSelectionMode по умолчанию MultiRow -->
        <xs:attribute name="rowsSelection" type="tns:TableSelectionMode" />
        <!-- m_rowSelectionMode по умолчанию Cell -->
        <xs:attribute name="rowSelection" type="tns:TableRowSelectionMode" />
        <!-- m_showHeader по умолчанию true -->
        <xs:attribute name="showHeader" type="xs:boolean" />
        <!-- m_headerHeight по умолчанию 1 -->
        <xs:attribute name="headerHeight" type="xs:decimal" />
        <!-- m_showFooter по умолчанию false -->
        <xs:attribute name="showFooter" type="xs:boolean" />
        <!-- m_footerHeight по умолчанию 1 -->
        <xs:attribute name="footerHeight" type="xs:decimal" />
        <!-- m_horScrollBarMode по умолчанию AutoUse -->
        <xs:attribute name="horScroll" type="tns:TableScrollBarUse" />
        <!-- m_verScrollBarMode по умолчанию AutoUse -->
        <xs:attribute name="verScroll" type="tns:TableScrollBarUse" />
        <!-- m_showHorLines по умолчанию true -->
        <xs:attribute name="showHorLines" type="xs:boolean" />
        <!-- m_showVerLines по умолчанию true -->
        <xs:attribute name="showVerLines" type="xs:boolean" />
        <!-- m_fixedLeft по умолчанию 0 -->
        <xs:attribute name="fixedLeft" type="xs:decimal" />
        <!-- m_fixedRight по умолчанию 0 -->
        <xs:attribute name="fixedRight" type="xs:decimal" />
        <!-- m_useAlternationRowColor по умолчанию false -->
        <xs:attribute name="useAltRowColor" type="xs:boolean" />
        <!-- m_autoInsertNewRow по умолчанию false -->
        <xs:attribute name="autoInsert" type="xs:boolean" />
        <!-- m_bAutoInsertNotcompletedValues по умолчанию auto -->
        <xs:attribute name="autoInsertNotcompleted" type="tns:BWAValue" />
        <!-- m_bAutoMarkNotcompletedValues по умолчанию auto -->
        <xs:attribute name="autoMarkNotcompleted" type="tns:BWAValue" />
        <!-- m_searchOnInput по умолчанию Auto -->
        <xs:attribute name="searchOnInput" type="tns:SearchOnInput" />
        <!-- m_initialListView по умолчанию Auto -->
        <xs:attribute name="initListView" type="tns:TableInitialListView" />
        <!-- m_initialTreeView по умолчанию NoExpand -->
        <xs:attribute name="initTreeView" type="tns:TableInitialTreeView" />
        <!-- m_useOutput по умолчанию Auto -->
        <xs:attribute name="useOutput" type="ui:UseOutput" />
        <!-- m_horStretchable по умолчанию true -->
        <xs:attribute name="horStretch" type="xs:boolean" />
        <!-- m_verStretchable по умолчанию true -->
        <xs:attribute name="verStretch" type="xs:boolean" />
        <!-- m_enableStartDrag по умолчанию false -->
        <xs:attribute name="startDrag" type="xs:boolean" />
        <!-- m_enableDrag по умолчанию false -->
        <xs:attribute name="drag" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="Group">
        <xs:sequence>
            <!-- m_titleTextColor по умолчанию kLogFormGroupDefTitleTextColor -->
            <xs:element name="titleTxtClr" type="ui:Color" minOccurs="0" />
            <!-- m_titleFont по умолчанию kLogFormGroupDefTitleFont -->
            <xs:element name="titleFnt" type="ui:Font" minOccurs="0" />
            <!-- m_shortCut по умолчанию ShortCut() -->
            <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0"/>
            <xs:choice minOccurs="0" maxOccurs="1" >
                <xs:element name="menuData" type="tns:MenuGroupData" />
                <xs:element name="autoMenuData" type="tns:AutoMenuGroupData" />
                <xs:element name="subMenuData" type="tns:SubmenuGroupData" />
                <xs:element name="buttonsData" type="tns:ButtonsGroupData" />
                <xs:element name="contextMenuData" type="tns:ContextMenuGroupData" />
                <xs:element name="columnsData" type="tns:ColumnsGroupData" />
                <xs:element name="pagesData" type="tns:PagesGroupData" />
                <xs:element name="pageData" type="tns:PageGroupData" />
                <xs:element name="usualData" type="tns:UsualGroupData" />
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="unbounded" >
                <xs:element name="field" type="tns:Field" />
                <xs:element name="group" type="tns:Group" />
                <xs:element name="table" type="tns:Table" />
                <xs:element name="button" type="tns:Button" />
                <xs:element name="decoration" type="tns:Decoration" />
            </xs:choice>
            <!-- m_title по умолчанию пустой
                 брать только строку из языка # -->
            <xs:element name="title" type="xs:string" minOccurs="0" />
            <!-- m_tooltip по умолчанию пустой
                 брать только строку из языка # -->
            <xs:element name="tooltip" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <!-- m_id Пишется только long. uuid - константа -->
        <xs:attribute name="id" type="xs:decimal" />
        <!-- m_name -->
        <xs:attribute name="name" type="xs:string" />
        <!-- m_origin по умолчанию eSource -->
        <xs:attribute name="org" type="tns:FormElementOrigin" />
        <!-- m_createdByUser по умолчанию false -->
        <xs:attribute name="users" type="xs:boolean" />
        <!-- m_kind -->
        <xs:attribute name="kind" type="tns:ManagedFormGroupType" />
        <!-- m_visible по умолчанию true -->
        <xs:attribute name="visible" type="xs:boolean"/>
        <!-- m_pUserVisible сериализовать как bool значение брать из commonValue
             по умолчанию true -->
        <xs:attribute name="userVisible" type="xs:boolean"/>
        <!-- m_united по умолчанию false -->
        <xs:attribute name="united" type="xs:boolean" />
        <!-- m_enabled по умолчанию true -->
        <xs:attribute name="enabled" type="xs:boolean" />
        <!-- m_readOnly по умолчанию false -->
        <xs:attribute name="readOnly" type="xs:boolean" />
        <!-- m_width по умолчанию 0 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 0 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию auto -->
        <xs:attribute name="horStretch" type="tns:BWAValue" />
        <!-- m_verStretchable по умолчанию auto -->
        <xs:attribute name="verStretch" type="tns:BWAValue" />
    </xs:complexType>

    <xs:complexType name="Field">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1" >
                <xs:element name="textData" type="tns:TextFieldData" />
                <xs:element name="inputData" type="tns:InputFieldData" />
                <xs:element name="checkData" type="tns:CheckBoxFieldData" />
                <xs:element name="imageData" type="tns:ImageFieldData" />
                <xs:element name="radioData" type="tns:RadioButtonsData" />
                <xs:element name="spereadsheetData" type="tns:SpreadsheetFieldData" />
                <xs:element name="textDocData" type="tns:TextDocFieldData" />
                <xs:element name="formattedDocData" type="tns:FormattedDocFieldData" />
                <xs:element name="calendarData" type="tns:CalendarFieldData" />
                <xs:element name="progressBarData" type="tns:ProgressBarFieldData" />
                <xs:element name="trackBarData" type="tns:TrackBarFieldData" />
                <xs:element name="chartData" type="tns:ChartFieldData" />
                <xs:element name="ganttChartData" type="tns:GanttChartFieldData" />
                <xs:element name="dendrogramData" type="tns:DendrogramFieldData" />
                <xs:element name="flowchartData" type="tns:FlowchartFieldData" />
                <xs:element name="htmlData" type="tns:HTMLFieldData" />
                <xs:element name="geographicalMapData" type="tns:GeographicalMapFieldData" />
            </xs:choice>
            <!-- m_property по умолчанию empty() -->
            <xs:element name="prop" type="tns:DataPath" minOccurs="0" />
            <!-- m_propertyName по умолчанию empty() -->
            <xs:element name="propName" type="xs:string" minOccurs="0" />
            <!-- m_tdp по умолчанию types().empty() -->
            <xs:element name="tdp" type="v81:TypeDescription" minOccurs="0" />
            <!-- m_footerProperty по умолчанию empty() -->
            <xs:element name="ftProp" type="tns:DataPath" minOccurs="0" />
            <!-- m_footerPropertyName по умолчанию empty() -->
            <xs:element name="ftPropName" type="xs:string" minOccurs="0" />
            <!-- m_footerTdp по умолчанию types().empty() -->
            <xs:element name="ftTdp" type="v81:TypeDescription" minOccurs="0" />
            <!-- m_headerPicture по умолчанию V8Picture() -->
            <xs:element name="headerPic" type="ui:Picture" minOccurs="0" />
            <!-- m_footerPicture по умолчанию V8Picture() -->
            <xs:element name="footerPic" type="ui:Picture" minOccurs="0" />
            <!-- m_titleTextColor по умолчанию kLogFormFieldDefTitleTextColor -->
            <xs:element name="titleTxtClr" type="ui:Color" minOccurs="0" />
            <!-- m_titleFont по умолчанию kLogFormFieldDefTitleFont -->
            <xs:element name="titleFnt" type="ui:Font" minOccurs="0" />
            <!-- m_headerBackColor по умолчанию kLogFormFieldDefHeaderBackColor -->
            <xs:element name="titleBkClr" type="ui:Color" minOccurs="0" />
            <!-- m_footerTextColor по умолчанию kLogFormFieldDefFooterTextColor -->
            <xs:element name="ftrTxtClr" type="ui:Color" minOccurs="0" />
            <!-- m_footerBackColor по умолчанию kLogFormFieldDefFooterBackColor -->
            <xs:element name="ftrBkClr" type="ui:Color" minOccurs="0" />
            <!-- m_footerFont по умолчанию kLogFormFieldDefFooterFont -->
            <xs:element name="ftrFnt" type="ui:Font" minOccurs="0" />
            <!-- m_shortCut по умолчанию ShortCut() -->
            <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0"/>
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
            <!-- m_commands если не пустые-->
            <xs:element name="commands" type="tns:CommandsInclusion" />
            <!-- m_pContextMenu если оно не пустое и у его данных установлен fillStd
                 иначе только его id -->
            <xs:choice>
                <xs:element name="contextMenu" type="tns:Group" />
                <xs:element name="contextMenuId" type="xs:decimal" />
            </xs:choice>
            <!-- m_title по умолчанию пустой
                 брать только строку из языка # -->
            <xs:element name="title" type="xs:string" minOccurs="0" />
            <!-- m_tooltip по умолчанию пустой
                 брать только строку из языка # -->
            <xs:element name="tooltip" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <!-- m_id Пишется только long. uuid - константа -->
        <xs:attribute name="id" type="xs:decimal" />
        <!-- m_name -->
        <xs:attribute name="name" type="xs:string" />
        <!-- m_origin по умолчанию eSource -->
        <xs:attribute name="org" type="tns:FormElementOrigin" />
        <!-- m_createdByUser по умолчанию false -->
        <xs:attribute name="users" type="xs:boolean" />
        <!-- m_kind -->
        <xs:attribute name="kind" type="tns:ManagedFormFieldType" />
        <!-- m_visible по умолчанию true -->
        <xs:attribute name="visible" type="xs:boolean"/>
        <!-- m_pUserVisible сериализовать как bool значение брать из commonValue
             по умолчанию true -->
        <xs:attribute name="userVisible" type="xs:boolean"/>
        <!-- m_titleLocation по умолчанию Auto -->
        <xs:attribute name="titleLocation" type="tns:FormElementTitleLocation" />
        <!-- m_titleRowsCount по умолчанию 0 -->
        <xs:attribute name="titleRowsCount" type="xs:decimal" />
        <!-- m_enabled по умолчанию true -->
        <xs:attribute name="enabled" type="xs:boolean" />
        <!-- m_cellHyperlink по умолчанию true -->
        <xs:attribute name="cellHyper" type="xs:boolean" />
        <!-- m_readOnly по умолчанию false -->
        <xs:attribute name="readOnly" type="xs:boolean" />
        <!-- m_skipOnInput по умолчанию auto -->
        <xs:attribute name="skipOnInput" type="tns:BWAValue" />
        <!-- m_defaultElement по умолчанию false -->
        <xs:attribute name="defItem" type="xs:boolean" />
        <!-- m_warningOnEditRepresentation по умолчанию Auto -->
        <xs:attribute name="warningOnEditRepresentation" type="tns:WarningOnEditRepresentation" />
        <!-- m_warningOnEdit по умолчанию пустой -->
        <xs:attribute name="warningOnEdit" type="xs:string" />
        <!-- m_footerText по умолчанию пустой
             брать только строку из языка # -->
        <xs:attribute name="footerText" type="xs:string" />
        <!-- m_showInHeader по умолчанию true -->
        <xs:attribute name="showInHeader" type="xs:boolean" />
        <!-- m_showInFooter по умолчанию true -->
        <xs:attribute name="showInFooter" type="xs:boolean" />
        <!-- m_hAlign по умолчанию Auto -->
        <xs:attribute name="hAlign" type="tns:ItemHorizontalAlignment" />
        <!-- m_headerHAlign по умолчанию Left -->
        <xs:attribute name="headerHAlign" type="tns:ItemHorizontalAlignment" />
        <!-- m_footerHAlign по умолчанию Auto -->
        <xs:attribute name="footerHAlign" type="tns:ItemHorizontalAlignment" />
        <!-- m_vAlign по умолчанию Auto -->
        <xs:attribute name="vAlign" type="tns:ItemVerticalAlignment" />
        <!-- m_columnEditMode по умолчанию Enter -->
        <xs:attribute name="columnEditMode" type="tns:TableFieldEditMode" />
        <!-- m_autoCellHeight по умолчанию false -->
        <xs:attribute name="autoCellHeight" type="xs:boolean" />
        <!-- m_fixedInTable по умолчанию kLogFormFieldDefFixedInTable -->
        <xs:attribute name="fixedInTable" type="tns:FormFixedInTable" />
    </xs:complexType>

    <xs:complexType name="Decoration">
        <xs:sequence>
            <!-- m_textColor по умолчанию kLogFormDecorationDefTextColor -->
            <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
            <!-- m_font по умолчанию kLogFormDecorationDefFont -->
            <xs:element name="fnt" type="ui:Font" minOccurs="0" />
            <!-- m_shortCut по умолчанию ShortCut() -->
            <xs:element name="stcut" type="ui:ShortCutType" minOccurs="0" />
            <xs:choice minOccurs="0" maxOccurs="1" >
                <xs:element name="textData" type="tns:TextDecorationData" />
                <xs:element name="pictureData" type="tns:PictureDecorationData" />
            </xs:choice>
            <!-- m_pContextMenu если оно не пустое и у его данных установлен fillStd
                 иначе только его id -->
            <xs:choice>
                <xs:element name="contextMenu" type="tns:Group" />
                <xs:element name="contextMenuId" type="xs:decimal" />
            </xs:choice>
            <!-- m_title по умолчанию пустой
                 брать только строку из языка # -->
            <xs:element name="title" type="xs:string" minOccurs="0" />
            <!-- m_tooltip по умолчанию пустой
                 брать только строку из языка # -->
            <xs:element name="tooltip" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <!-- m_id Пишется только long. uuid - константа -->
        <xs:attribute name="id" type="xs:decimal" />
        <!-- m_name -->
        <xs:attribute name="name" type="xs:string" />
        <!-- m_origin по умолчанию eSource -->
        <xs:attribute name="org" type="tns:FormElementOrigin" />
        <!-- m_createdByUser по умолчанию false -->
        <xs:attribute name="users" type="xs:boolean" />
        <!-- m_kind -->
        <xs:attribute name="kind" type="tns:ManagedFormDecorationType" />
        <!-- m_visible по умолчанию true -->
        <xs:attribute name="visible" type="xs:boolean"/>
        <!-- m_pUserVisible сериализовать как bool значение брать из commonValue
             по умолчанию true -->
        <xs:attribute name="userVisible" type="xs:boolean"/>
        <!-- m_enabled по умолчанию true -->
        <xs:attribute name="enabled" type="xs:boolean" />
        <!-- m_width по умолчанию 0 -->
        <xs:attribute name="width" type="xs:decimal" />
        <!-- m_height по умолчанию 0 -->
        <xs:attribute name="height" type="xs:decimal" />
        <!-- m_horStretchable по умолчанию auto -->
        <xs:attribute name="horStretch" type="tns:BWAValue" />
        <!-- m_verStretchable по умолчанию auto -->
        <xs:attribute name="verStretch" type="tns:BWAValue" />
        <!-- m_skipOnInput по умолчанию auto -->
        <xs:attribute name="skipOnInput" type="tns:BWAValue" />
    </xs:complexType>


    <xs:complexType name="ElementsChangesItem">
        <xs:sequence>
            <xs:element name="guid" type="v81:UUID"/>
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element name="main" type="tns:MainElement"/>
                <xs:element name="field" type="tns:Field"/>
                <xs:element name="group" type="tns:Group"/>
                <xs:element name="table" type="tns:Table"/>
                <xs:element name="button" type="tns:Button"/>
                <xs:element name="decoration" type="tns:Decoration"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="type" type="xs:decimal"/>
        <xs:attribute name="id" type="xs:decimal"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="pid" type="xs:decimal"/>
        <xs:attribute name="aid" type="xs:decimal"/>
    </xs:complexType>

    <xs:complexType name="ElementsChanges">
        <xs:sequence>
            <xs:element name="elemcs" type="tns:ElementsChangesItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MainElement">
        <xs:sequence>
            <!-- m_settingsStorage по умолчанию kUUIDNull -->
            <xs:element name="storage" type="v81:UUID" minOccurs="0" />
            <!-- m_additionalProperties если не пустые-->
            <xs:element name="addProps" type="tns:AddProps" minOccurs="0" />
            <!-- m_elementEvents если не пустые-->
            <xs:element name="event" type="tns:Event" minOccurs="0" maxOccurs="unbounded" />
            <!-- m_commands если не пустые-->
            <xs:element name="commands" type="tns:CommandsInclusion"/>
            <!-- m_pNavigator если m_pNavigator не пустой-->
            <xs:element name="navigator" type="tns:Group" minOccurs="0" />
            <!-- m_pCommandBar если m_pCommandBar пустой и у его данных установлен fillStd -->
            <xs:element name="autoCommandBar" type="tns:Group" minOccurs="0" />
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="field" type="tns:Field"/>
                <xs:element name="group" type="tns:Group"/>
                <xs:element name="table" type="tns:Table"/>
                <xs:element name="button" type="tns:Button"/>
                <xs:element name="decoration" type="tns:Decoration" />
            </xs:choice>
            <!-- m_title по умолчанию пустой
                 брать только строку из языка # -->
            <xs:element name="title" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <!-- m_origin по умолчанию eSource -->
        <xs:attribute name="org" type="tns:FormElementOrigin"/>
        <!-- m_openingMode по умолчанию Normal -->
        <xs:attribute name="openingMode" type="tns:FormWindowOpeningMode"/>
        <!-- m_width по умолчанию 0 -->
        <xs:attribute name="width" type="xs:decimal"/>
        <!-- m_height по умолчанию 0 -->
        <xs:attribute name="height" type="xs:decimal"/>
        <!-- m_enterKeyBehavior по умолчанию ControlNavigation -->
        <xs:attribute name="enterKeyBehavior" type="tns:FormEnterKeyBehavior"/>
        <!-- m_saveFormDataInSettings по умолчанию DontUse -->
        <xs:attribute name="saveFormDataInSettings" type="tns:SaveFormDataInSettings" />
        <!-- m_saveFormDataInSettings по умолчанию DontUse -->
        <xs:attribute name="autoSaveFormDataInSettings" type="tns:AutoSaveFormDataInSettings" />
        <!-- m_autoTitle по умолчанию true -->
        <xs:attribute name="autoTitle" type="xs:boolean"/>
        <!-- m_grouping по умолчанию Vertical -->
        <xs:attribute name="grouping" type="tns:FormChildrenGroup" />
        <!-- m_childrenWidth по умолчанию Auto -->
        <xs:attribute name="childrenWidth" type="tns:FormChildrenWidth" />
        <!-- m_autoFillCheck по умолчанию true -->
        <xs:attribute name="autoFillCheck" type="xs:boolean"/>
        <!-- m_customizable по умолчанию true -->
        <xs:attribute name="customizable" type="xs:boolean"/>
        <!-- m_enabled по умолчанию true -->
        <xs:attribute name="enabled" type="xs:boolean"/>
        <!-- m_readOnly по умолчанию false -->
        <xs:attribute name="readOnly" type="xs:boolean"/>
        <!-- m_commandBarLocation по умолчанию Auto -->
        <xs:attribute name="commandBarLocation" type="tns:FormElementCommandBarLocation" />
        <!-- m_purposeUseKey по умолчанию пустой -->
        <xs:attribute name="purposeUseKey" type="xs:string"/>
        <!-- m_windowOptionsKey по умолчанию пустой -->
        <xs:attribute name="windowOptionsKey" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="Form">
        <xs:sequence>
            <!-- m_pElements -->
            <xs:element name="elements" type="tns:MainElement"/>
            <!-- m_pCommands если не пустые -->
            <xs:element name="command" type="tns:Command" minOccurs="0" maxOccurs="unbounded" />
            <!-- m_pProperties если не пустые -->
            <xs:element name="property" type="tns:Property" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LFEDataPathRuntimeValue">
        <xs:sequence>
                <!-- m_dataPath по умолчанию kNullCompositeID -->
            <xs:element name="dataPath" type="v81:CompositeID" minOccurs="0" maxOccurs="unbounded"/>
                <!-- m_stringDataPath по умолчанию - пустая строка -->
            <xs:element name="stringDataPath" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <!-- Видимые колонки для таблиц отображающих динамический список -->
    <xs:complexType name="TableVisibleFields">
      <xs:sequence>
        <xs:element name="id" type="xs:decimal"/>
        <xs:element name="vf" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LogFormUserAddedElement">
        <xs:sequence>
            <xs:choice>
                <xs:element name="fld" type="tns:Field" />
                <xs:element name="gr" type="tns:Group" />
                <xs:element name="tbl" type="tns:Table" />
                <xs:element name="btn" type="tns:Button" />
                <xs:element name="decor" type="tns:Decoration" />
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="pId" type="xs:decimal"/>
    </xs:complexType>

    <xs:complexType name="LogFormUserMovedElement">
        <xs:attribute name="pId" type="xs:decimal"/>
        <xs:attribute name="eId" type="xs:decimal"/>
        <xs:attribute name="aId" type="xs:decimal"/>
    </xs:complexType>

    <xs:complexType name="LogFormUserTableChange">
        <xs:sequence>
            <xs:element name="autoRef" type="xs:anyType" minOccurs="0" />
            <xs:element name="autoRefInt" type="xs:anyType" minOccurs="0" />
            <xs:element name="updOnDtCng" type="xs:anyType" minOccurs="0" />
            <xs:element name="rstCurLn" type="xs:anyType" minOccurs="0" />
            <xs:element name="showRoot" type="xs:anyType" minOccurs="0" />
            <xs:element name="allowRootCh" type="xs:anyType" minOccurs="0" />
        </xs:sequence>        
        <xs:attribute name="tId" type="xs:decimal" />
        <xs:attribute name="lstView" type="tns:TableInitialListView" />
    </xs:complexType>    
    
    <xs:complexType name="LogFormUserFieldChange">
        <xs:attribute name="fId" type="xs:decimal"/>
        <xs:attribute name="spin" type="tns:BWAValue"/>
    </xs:complexType>

    <xs:complexType name="LogFormUserButtonChange">
        <xs:attribute name="bId" type="xs:decimal"/>
        <xs:attribute name="def" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="LogFormUserChangesDescription">
        <xs:sequence>
            <xs:element name="addEl" type="tns:LogFormUserAddedElement" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="movEl" type="tns:LogFormUserMovedElement" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="tblChg" type="tns:LogFormUserTableChange" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="fldChg" type="tns:LogFormUserFieldChange" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="btnChg" type="tns:LogFormUserButtonChange" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
