src/onec_ordinary_forms/schemas/platform/8.2/mngcore/mngcore_root-02-http_v8.1c.ru_8.2_managed-application_dynamic-list.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.2/managed-application/dynamic-list"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:dcs="http://v8.1c.ru/8.1/data-composition-system/settings"
           xmlns:dcscore="http://v8.1c.ru/8.1/data-composition-system/core"
           targetNamespace="http://v8.1c.ru/8.2/managed-application/dynamic-list"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">
    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.1/data-composition-system/core" schemaLocation="../../../dcscore/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.1/data-composition-system/settings" schemaLocation="../../../dcscore/src/res/settings.xsd"/>

    <!-- DynamicList schema -->

    <xs:complexType name="UsedField">
        <xs:attribute  name="ID" type="xs:decimal"/>
        <xs:attribute  name="Name" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="LFEDataPath">
        <xs:sequence>
            <xs:element name="id" type="core:CompositeID" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DynamicList">
        <xs:sequence>
            <xs:element name="QueryText" type="xs:string" minOccurs="0"/>
            <xs:element name="UsedField" type="tns:UsedField" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="RequiredField" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="DataPaths" type="tns:LFEDataPath" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="QueryParam" type="dcscore:ParameterValue" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="FilterItem" type="dcs:FilterItem" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="OrderItem" type="dcs:OrderItem" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ConditionalAppearanceItem" type="dcs:ConditionalAppearanceItem" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="GroupFieldsItem" type="dcs:GroupItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="MainTable" type="core:UUID"/>
        <xs:attribute name="KeyType" type="core:UUID"/>
        <xs:attribute name="MainTableCategory" type="xs:decimal"/>
        <xs:attribute name="StaticQuery" type="xs:boolean"/>
        <xs:attribute name="ManualQuery" type="xs:boolean"/>
        <xs:attribute name="HierAvailable" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="DynamicalListGroupRow">
        <xs:sequence>
            <xs:element name="GroupValue" type="xs:anyType" />
            <xs:element name="GroupName" type="xs:string" minOccurs="0" maxOccurs="2"/>
            <xs:element name="Parent" type="tns:DynamicalListGroupRow" nillable="true" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TableExtensionSettings">
        <xs:sequence>
            <xs:element name="period" type="core:StandardPeriod" minOccurs="0"/>
            <xs:element name="appearance" type="dcs:ConditionalAppearanceItem" minOccurs="0"/>
            <xs:element name="filter" type="dcs:FilterItem" minOccurs="0"/>
            <xs:element name="configuredFilter" type="dcs:FilterItem" minOccurs="0"/>
            <xs:element name="history" type="core:Map" minOccurs="0"/>
            <xs:element name="currentLine" type="xs:anyType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="applyOnStartUp" type="xs:boolean"/>
        <xs:attribute name="restoreCurrentLine" type="xs:boolean"/>
        <xs:attribute name="findInList" type="xs:decimal"/>
    </xs:complexType>

</xs:schema>
