src/onec_ordinary_forms/schemas/platform/8.2/mngcore/mngcore_root-05-http_v8.1c.ru_8.2_managed-application_core.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="http://v8.1c.ru/8.2/managed-application/core"
           xmlns:core="http://v8.1c.ru/8.1/data/core" 
           xmlns:ui="http://v8.1c.ru/8.1/data/ui" 
           xmlns:cmi="http://v8.1c.ru/8.2/managed-application/cmi"
           xmlns:ent="http://v8.1c.ru/8.1/data/enterprise"
           targetNamespace="http://v8.1c.ru/8.2/managed-application/core"
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified" 
           version="1.0">
    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.1/data/ui" schemaLocation="../../../xdto/src/res/uiobjects.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.1/data/enterprise" schemaLocation="../../../enums/src/res/enums.xsd"/>

    <xs:complexType name="ChoiceParameterItem">
        <xs:sequence>
            <xs:element name="value" type="xs:anyType" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="ChoiceParameters">
        <xs:sequence>
            <xs:element name="item" type="tns:ChoiceParameterItem" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ChoiceParameterLink">
        <xs:sequence>
            <xs:element name="dataPath" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="mode" type="ent:LinkedValueChangeMode" />
    </xs:complexType>

    <xs:complexType name="ChoiceParameter">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="mode" type="ent:LinkedValueChangeMode" />
            <xs:element name="pathItem" type="core:CompositeID" maxOccurs="unbounded" />
            <xs:element name="webDataPath" type="xs:string" maxOccurs="1" minOccurs="0" />
            <xs:element name="strPath" type="xs:string" maxOccurs="1" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ChoiceParameterLinks">
        <xs:sequence>
            <xs:element name="item" type="tns:ChoiceParameter" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TypeLink">
        <xs:sequence>
            <xs:element name="pathItem" type="core:CompositeID" maxOccurs="unbounded" />
            <xs:element name="linkItem" type="xs:decimal" maxOccurs="1" minOccurs="0" />
            <xs:element name="webDataPath" type="xs:string" maxOccurs="1" minOccurs="0" />
            <xs:element name="strPath" type="xs:string" maxOccurs="1" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="SettingsChoice">
        <xs:sequence>
            <xs:element name="settingsKey" />
            <xs:element name="additionalProperties" type="core:Structure" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <!-- Вариант встроенного языка (русский, английский) -->
    <xs:simpleType name="Alias">
        <xs:restriction base="xs:string">
            <xs:enumeration value="en" />
            <xs:enumeration value="ru" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Абстрактный тип -->
    <xs:complexType name="Type" abstract="true">
        <xs:attribute name="clsid" type="core:UUID" use="required" />
        <xs:attribute name="table" type="xs:decimal" use="required" />
        <xs:attribute name="code" type="xs:NCName" />
    </xs:complexType>

    <!-- Список идентификаторов типов -->
    <xs:complexType name="TypeIDList">
        <xs:sequence>
            <xs:element name="type" type="core:UUID" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Представление типа -->
    <xs:complexType name="TypePresentation" >
        <xs:attribute name="clsid" type="core:UUID" use="required" />
        <xs:attribute name="view" type="xs:string" use="required" />
    </xs:complexType>
    
    <!-- Массив представлений типов -->
    <xs:complexType name="TypePresentations" >
        <xs:sequence>
            <xs:element name="type" type="tns:TypePresentation" />
        </xs:sequence>
    </xs:complexType>

    <!-- Квалификаторы строкового типа -->
    <xs:complexType name="StringQualifiers" >
        <xs:attribute name="length" type="xs:decimal" default="0" />
        <xs:attribute name="varying" type="xs:boolean" default="true" />
    </xs:complexType>

    <!-- Квалификаторы числового типа -->
    <xs:complexType name="NumberQualifiers" >
        <xs:attribute name="length" type="xs:decimal" default="0"/>
        <xs:attribute name="precision" type="xs:decimal" default="0" />
        <xs:attribute name="positive" type="xs:boolean" default="false" />
    </xs:complexType>

    <!-- Квалификаторы даты -->
    <xs:complexType name="DateQualifiers" >
        <xs:attribute name="fractions" type="core:DateFractions" default="DateTime" />
    </xs:complexType>

    <!-- Квалификаторы бинарного типа -->
    <xs:complexType name="BinaryDataQualifiers" >
        <xs:attribute name="length" type="xs:decimal" default="0" />
        <xs:attribute name="varying" type="xs:boolean" default="true" />
    </xs:complexType>

    <!-- Набор типов -->
    <xs:complexType name="TypeSet" >
        <xs:sequence>
            <xs:element name="type" type="core:UUID" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="string" type="tns:StringQualifiers" minOccurs="0" />
            <xs:element name="number" type="tns:NumberQualifiers" minOccurs="0" />
            <xs:element name="date" type="tns:DateQualifiers" minOccurs="0" />
            <xs:element name="binary" type="tns:BinaryDataQualifiers" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="clsid" type="core:UUID" />
        <xs:attribute name="name" type="xs:QName" />
    </xs:complexType>

    <!-- Определение набора типов -->
    <xs:complexType name="TypeSetDef" >
        <xs:attribute name="clsid" type="core:UUID" />
        <xs:attribute name="en" type="xs:NCName" />
        <xs:attribute name="ru" type="xs:NCName" />
        <xs:attribute name="name" type="xs:QName" />
    </xs:complexType>

    <!-- Значение перечисления -->
    <xs:complexType name="EnumValue" >
        <xs:attribute name="uuid" type="core:UUID" use="required" />
        <xs:attribute name="code" type="xs:string" />
    </xs:complexType>

    <!-- Перечисление -->
    <xs:complexType name="Enum" >
        <xs:complexContent>
            <xs:extension base="tns:Type">
                <xs:sequence>
                    <xs:element name="val" type="tns:EnumValue" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Массив представлений значений перечисления -->
    <xs:complexType name="EnumPresentations" >
        <xs:sequence>
            <xs:element name="val" type="xs:string" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Набор типов перечислений -->
    <xs:complexType name="EnumTypeSet" >
        <xs:complexContent>
            <xs:extension base="tns:TypeSetDef">
                <xs:sequence>
                    <xs:element name="type" type="tns:Enum" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Ссылка -->
    <xs:complexType name="Reference" >
        <xs:complexContent>
            <xs:extension base="tns:Type" >
                <xs:attribute name="bppoint" type="xs:boolean" />
                <xs:attribute name="hasAccess" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Набор ссылочных типов -->
    <xs:complexType name="RefTypeSet" >
        <xs:complexContent>
            <xs:extension base="tns:TypeSetDef">
                <xs:sequence>
                    <xs:element name="type" type="tns:Reference" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Ссылка таблицы внешнего источника данных -->
    <xs:complexType name="ExtReference" >
        <xs:complexContent>
            <xs:extension base="tns:Type" >
                <xs:attribute name="valueType" type="xs:QName" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Набор ссылочных типов для внешних источников данных -->
    <xs:complexType name="ExtRefTypeSet" >
        <xs:sequence>
            <xs:element name="type" type="tns:ExtReference" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="en" type="xs:NCName" />
        <xs:attribute name="ru" type="xs:NCName" />
    </xs:complexType>

    <!-- Ключ регистра (для всех кроме регистра сведений) -->
    <xs:complexType name="RegKey" >
        <xs:complexContent>
            <xs:extension base="tns:Type">
                <xs:attribute name="recorder" type="xs:QName"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Набор типов ключей регистров -->
    <xs:complexType name="RegKeyTypeSet" >
        <xs:complexContent>
            <xs:extension base="tns:TypeSetDef">
                <xs:sequence>
                    <xs:element name="type" type="tns:RegKey" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InfoRegKeyDim">
        <xs:attribute name="name" type="xs:NCName"/>
        <xs:attribute name="type" type="xs:QName"/>
    </xs:complexType>

    <!-- Ключ регистра сведений -->
    <xs:complexType name="InfoRegKey" >
        <xs:complexContent>
            <xs:extension base="tns:Type">
                <xs:sequence>
                    <xs:element name="dim" type="tns:InfoRegKeyDim" />
                    <xs:element name="sep" type="tns:InfoRegKeyDim" />
                </xs:sequence>
                <xs:attribute name="recorder" type="xs:QName" />
                <xs:attribute name="period" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Ключ ключа внешнего источника -->
    <xs:complexType name="ExtKeyKey">
      <xs:attribute name="name" type="xs:NCName"/>
      <xs:attribute name="type" type="xs:QName"/>
    </xs:complexType>

    <!-- Ключ таблицы внешнего источника -->
    <xs:complexType name="ExtKey" >
      <xs:complexContent>
        <xs:extension base="tns:Type">
          <xs:sequence>
            <xs:element name="key" type="tns:ExtKeyKey" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>

    <!-- Набор типов ключей таблиц внешних источников данных -->
    <xs:complexType name="ExtKeyTypeSet" >
        <xs:sequence>
            <xs:element name="type" type="tns:ExtKey" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="en" type="xs:NCName" />
        <xs:attribute name="ru" type="xs:NCName" />
    </xs:complexType>
    
    <!-- Набор типов ключей регистров сведений -->
    <xs:complexType name="InfoRegKeyTypeSet" >
        <xs:complexContent>
            <xs:extension base="tns:TypeSetDef">
                <xs:sequence>
                    <xs:element name="type" type="tns:InfoRegKey" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Система типов клиентского приложения -->
    <xs:complexType name="TypeSystem" >
        <xs:choice>
            <xs:element name="enums" type="tns:EnumTypeSet" minOccurs="0" />
            <xs:element name="refs" type="tns:RefTypeSet" minOccurs="0" />
            <xs:element name="regs" type="tns:RegKeyTypeSet" minOccurs="0" />
            <xs:element name="infoRegs" type="tns:InfoRegKeyTypeSet" minOccurs="0" />
            <xs:element name="typeSet" type="tns:TypeSet" minOccurs="0" />
            <xs:element name="extRef" type="tns:ExtRefTypeSet" minOccurs="0" />
            <xs:element name="extKey" type="tns:ExtKeyTypeSet" minOccurs="0" />
        </xs:choice>
        <xs:attribute name="namespace" type="xs:anyURI" />
    </xs:complexType>

    <!-- Информация о рабочем столе -->
    <xs:complexType name="DesktopInfo">
        <xs:sequence>
            <xs:element name="left" type="tns:DesktopFormInfo" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="right" type="tns:DesktopFormInfo" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="state" type="xs:decimal" />
    </xs:complexType>

    <xs:complexType name="DesktopFormInfo">
        <xs:attribute name="id" type="xs:string" />
        <xs:attribute name="height" type="xs:decimal" />
        <xs:attribute name="visible" type="xs:boolean" default="true"/>
        <xs:attribute name="title" type="xs:string" />
    </xs:complexType>

    <xs:simpleType name="StyleEntryKind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="color" />
            <xs:enumeration value="font" />
            <xs:enumeration value="border" />
            <xs:enumeration value="line" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Информация о элементах стиля -->
    <xs:complexType name="StyleEntriesInfo">
        <xs:sequence>
            <xs:element name="styleEntries" type="tns:StyleEntryInfo" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Информация о элементе стиля -->
    <xs:complexType name="StyleEntryInfo">
        <xs:sequence>
            <xs:element name="value" type="xs:anyType" />
        </xs:sequence>
        <xs:attribute name="uuid" type="core:CompositeID" />
        <xs:attribute name="code" type="xs:string" />
        <xs:attribute name="description" type="xs:string" />
        <xs:attribute name="kind" type="tns:StyleEntryKind" />
    </xs:complexType>

    <!-- Информация о языке -->
    <xs:complexType name="LanguageInfo">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="code" type="xs:string" />
                <xs:attribute name="id" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Языковые установки -->
    <xs:complexType name="LangSettings">
        <xs:sequence>
            <xs:element name="lang" type="tns:LanguageInfo" />
        </xs:sequence>
        <xs:attribute name="current" type="xs:string" />
        <xs:attribute name="default" type="xs:string" />
        <xs:attribute name="alias" type="tns:Alias" />
    </xs:complexType>

    <!-- информация о сплеше -->
    <xs:complexType name="SplashInfo">
        <xs:sequence>
            <xs:element name="copyright" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="exist" type="xs:boolean" />
    </xs:complexType>

    <!-- Информация о приложении -->
    <xs:complexType name="ApplicationInfo">
        <xs:sequence>
            <xs:element name="locale" type="tns:LocaleInfo" minOccurs="0"/>
            <xs:element name="langs" type="tns:LangSettings" />
            <xs:element name="config" type="core:UUID" />
            <xs:element name="types" type="xs:string" />
            <xs:element name="user" type="core:UUID" />
            <xs:element name="rolesID" type="xs:decimal" />
            <xs:element name="seance" type="core:UUID" />
            <xs:element name="seanceNo" type="xs:decimal" />
            <xs:element name="connectHash" type="xs:string" />
            <xs:element name="userRunMode" type="xs:decimal" />
            <xs:element name="configRunMode" type="xs:decimal" />
            <xs:element name="splash" type="tns:SplashInfo" minOccurs="0"/>
            <xs:element name="fullLocale" type="tns:MngLocale" minOccurs="0"/>
            <xs:element name="compatibilityMode" type="xs:decimal" minOccurs="0"/>
            <xs:element name="compatibilityModeLive" type="xs:decimal" minOccurs="0"/>
            <xs:element name="userSeparatorsEmpty" type="xs:boolean" />
            <xs:element name="training" type="xs:boolean" />
        </xs:sequence>
        <xs:attribute name="confNotSaved" type="xs:boolean" />
    </xs:complexType>

    <!-- информация о региональных установках ИБ -->
    <xs:complexType name="LocaleInfo">
        <xs:sequence>
            <xs:element name="bool" type="tns:BoolFormat" minOccurs="0" />
            <xs:element name="date" type="tns:DateFormat" minOccurs="0" />
            <xs:element name="numeric" type="tns:NumericFormat" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="useSeanceFormats" type="xs:boolean" />
    </xs:complexType>

    <!-- информация о региональных установках ИБ -->
    <xs:complexType name="BoolFormat">
        <xs:attribute name="true" type="xs:string" />
        <xs:attribute name="false" type="xs:string" />
    </xs:complexType>

    <!-- информация о региональных установках ИБ -->
    <xs:complexType name="DateFormat">
        <xs:attribute name="shortDate" type="xs:string" />
        <xs:attribute name="time" type="xs:string" />
    </xs:complexType>

    <!-- информация о региональных установках ИБ -->
    <xs:complexType name="NumericFormat">
        <xs:attribute name="decimal" type="xs:string" />
        <xs:attribute name="group" type="xs:string" />
        <xs:attribute name="grouping" type="xs:string" />
        <xs:attribute name="negative" type="xs:decimal" />
    </xs:complexType>

    <!-- Информация о программе -->
    <xs:complexType name="AboutInfo">
        <xs:sequence>
            <xs:element name="title" type="xs:string" />
            <xs:element name="user" type="xs:string" />
            <xs:element name="config" type="xs:string" />
            <xs:element name="logo" type="ui:Picture" minOccurs="0" />
            <xs:element name="presentation" type="xs:string" />
            <xs:element name="runMode" type="xs:string" minOccurs="0" />
            <xs:element name="compress" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <!-- ресурсная строка -->
    <xs:complexType name="ResourceString">
        <xs:sequence>
            <xs:element name="resName" type="xs:string" />
            <xs:element name="resString" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!-- ресурсные строки -->
    <xs:complexType name="ResourceStrings">
        <xs:sequence>
            <xs:element name="content" type="tns:ResourceString" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Значение системного перечисления -->
    <xs:complexType name="SysEnumValue" >
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="name2" type="xs:string" />
        <xs:attribute name="presentation" type="xs:string" />
    </xs:complexType>

    <!-- Cистемное перечисление -->
    <xs:complexType name="SysEnum" >
        <xs:sequence>
            <xs:element name="values" type="tns:SysEnumValue" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="factoryClsid" type="core:UUID" />
        <xs:attribute name="clsid" type="core:UUID" />
        <xs:attribute name="enumName" type="xs:string" />
        <xs:attribute name="enumName2" type="xs:string" />
        <xs:attribute name="xmlName" type="xs:string" />
        <xs:attribute name="namespace" type="xs:anyURI" />
        <xs:attribute name="defValue" type="xs:string" />
    </xs:complexType>

    <!-- Cистемные перечисления -->
    <xs:complexType name="SysEnums" >
        <xs:sequence>
            <xs:element name="sysEnums" type="tns:SysEnum" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Региональные установки, формат логического -->
    <xs:complexType name="LocaleBoolFormat" >
        <xs:attribute name="falseName" type="xs:string" />
        <xs:attribute name="trueName" type="xs:string" />
    </xs:complexType>

    <!-- Региональные установки, формат числа -->
    <xs:complexType name="LocaleNumericFormat" >
        <xs:attribute name="decimalSeparator" type="xs:string" />
        <xs:attribute name="groupingSeparator" type="xs:string" />
        <xs:attribute name="groupingSize" type="xs:decimal" />
        <xs:attribute name="secondaryGroupingSize" type="xs:decimal" />
        <xs:attribute name="negativePrefix" type="xs:string" />
        <xs:attribute name="negativeSuffix" type="xs:string" />
        <xs:attribute name="positivePrefix" type="xs:string" />
        <xs:attribute name="positiveSuffix" type="xs:string" />
    </xs:complexType>

    <!-- Региональные установки, формат даты -->
    <xs:complexType name="LocaleDateFormat" >
        <xs:choice>
            <xs:element name="longDayNames" type="xs:string" minOccurs="7" maxOccurs="7" />
            <xs:element name="shortDayNames" type="xs:string" minOccurs="7" maxOccurs="7" />
            <xs:element name="longMonthNames" type="xs:string" minOccurs="12" maxOccurs="12" />
            <xs:element name="shortMonthNames" type="xs:string" minOccurs="12" maxOccurs="12" />
            <xs:element name="longAloneMonthNames" type="xs:string" minOccurs="12" maxOccurs="12" />
            <xs:element name="shortAloneMonthNames" type="xs:string" minOccurs="12" maxOccurs="12" />
        </xs:choice>
        <xs:attribute name="longDatePattern" type="xs:string" />
        <xs:attribute name="shortDatePattern" type="xs:string" />
        <xs:attribute name="timePattern" type="xs:string" />
        <xs:attribute name="longDateTimePattern" type="xs:string" />
        <xs:attribute name="shortDateTimePattern" type="xs:string" />
        <xs:attribute name="beginningOfCentury" type="xs:decimal" />
    </xs:complexType>

    <!-- Региональные установки -->
    <xs:complexType name="MngLocale" >
        <xs:sequence>
            <xs:element name="boolFormat" type="tns:LocaleBoolFormat" />
            <xs:element name="numericFormat" type="tns:LocaleNumericFormat" />
            <xs:element name="dateFormat" type="tns:LocaleDateFormat" />
        </xs:sequence>
        <xs:attribute name="localeCode" type="xs:string" />
        <xs:attribute name="displayName" type="xs:string" />
        <xs:attribute name="cdisplayName" type="xs:string" />
        <xs:attribute name="localeName" type="xs:string" />
    </xs:complexType>
    
    <!-- Значение перечисления -->
    <xs:complexType name="EnumVal" >
        <xs:attribute name="uuid" type="core:UUID" />
        <xs:attribute name="code" type="xs:string" />
        <xs:attribute name="presentation" type="xs:string" />
    </xs:complexType>
    
    <!-- значения перечисления -->
    <xs:complexType name="EnumVals" >
        <xs:sequence>
            <xs:element name="enumVals" type="tns:EnumVal" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- версии панелей подсистемы  -->
    <xs:complexType name="SubsystemVerInfo">
        <xs:attribute name="id" type="core:UUID" />
        <xs:attribute name="actionPanelVer" type="core:UUID" />
        <xs:attribute name="navPanelVer" type="core:UUID" />
    </xs:complexType>

  <!-- Точка навигации -->
  <xs:complexType name="NavigationPoint">
    <xs:attribute name="fragment" type="core:UUID" />
    <xs:attribute name="subTheme" type="core:CompositeID" />
  </xs:complexType>

  <!-- стартовая информация -->
    <xs:complexType name="StartInfo">
        <xs:sequence>
            <xs:element name="navStartPoint" type="tns:NavigationPoint" />
            <xs:element name="subsystemVer" type="tns:SubsystemVerInfo" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="desktop" type="tns:DesktopInfo" />
            <xs:element name="styleEntries" type="tns:StyleEntriesInfo" />
            <xs:element name="fullConfName" type="xs:string" />
            <xs:element name="compress" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="confName" type="xs:string" />
        <xs:attribute name="subsystemsPanelVer" type="core:UUID" />
        <xs:attribute name="foVer" type="core:UUID" />
        <xs:attribute name="mainWindowOptionsVer" type="core:UUID" />
        <xs:attribute name="desktopSpliterPosVer" type="core:UUID" />
        <xs:attribute name="notifyWindowOptionsVer" type="core:UUID" />
        <xs:attribute name="stateWindowOptionsVer" type="core:UUID" />
        <xs:attribute name="commConfName" type="xs:string" />
        <xs:attribute name="commConfURL" type="xs:string" />
        <xs:attribute name="commProvName" type="xs:string" />
        <xs:attribute name="commProvURL" type="xs:string" />
        <xs:attribute name="desktopFormsWindowSettingsVerHash" type="xs:string" />
        <xs:attribute name="enableOutput" type="xs:boolean" />
        <xs:attribute name="allowAllFunctionsMode" type="xs:boolean" />
        <xs:attribute name="allowSaveUserData" type="xs:boolean" />
        <xs:attribute name="clientSettings" type="xs:decimal" />
    </xs:complexType>

    <!-- режим запуска клиентского приложения -->
    <xs:simpleType name="ClientRunMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Auto" />
            <xs:enumeration value="ManagedApplication" />
            <xs:enumeration value="OrdinaryApplication" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
