src/onec_ordinary_forms/schemas/platform/8.5/ext/ext_root-01-http_v8.1c.ru_8.3_data_ext.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://v8.1c.ru/8.3/data/ext"
        xmlns:core="http://v8.1c.ru/8.1/data/core"
        targetNamespace="http://v8.1c.ru/8.3/data/ext"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

  <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>

  <xs:complexType name="GeographicCoordinates">
        <xs:annotation>
            <xs:documentation>Географические координаты</xs:documentation>
        </xs:annotation>
      <xs:attribute name="latitude" type="xs:double" use="required"/>
      <xs:attribute name="longitude" type="xs:double" use="required"/>
      <xs:attribute name="altitude" type="xs:double" default="0"/>
    </xs:complexType>

    <xs:complexType name="LocationData">
        <xs:annotation>
            <xs:documentation> Данные местоположения</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- Координаты. -->
            <xs:element name="coordinates" type="tns:GeographicCoordinates" />
            <!-- Направление движения. -->
            <xs:element name="heading" type="xs:double" />
            <!-- Скорость движения. -->
            <xs:element name="speed" type="xs:double" />
            <!-- Горизонтальная точность. -->
            <xs:element name="horizontalAccuracy" type="xs:double" />
            <!-- Вертикальная точность. -->
            <xs:element name="verticalAccurcy" type="xs:double" />
        </xs:sequence>
        <xs:attribute name="date" type="xs:dateTime" />
    </xs:complexType>
    
    <xs:simpleType name="DeliverableNotificationSubscriberType">
        <!-- Тип подписчика уведомлений -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="APNS" />
            <xs:enumeration value="GCM" />
            <xs:enumeration value="WNS" />
            <xs:enumeration value="FCM" />
            <xs:enumeration value="HPK" />
            <xs:enumeration value="RMS" />
            <xs:enumeration value="AuroraCenter" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="SoundAlert">
        <!-- ЗвуковоеОповещение -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="Default" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DeliverableNotificationSendErrorType">
        <!-- ТипОшибкиОтправкиДоставляемогоУведомления -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="AuthenticationDataError" />
            <xs:enumeration value="NotificationBodyError" />
            <xs:enumeration value="NotificationsLimitExceeded" />
            <xs:enumeration value="DeliverableNotificationSubscriberIDError" />
            <xs:enumeration value="PushServiceProviderConnectionError" />
            <xs:enumeration value="PushServiceProviderError" />
            <xs:enumeration value="UnknownError" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="DeliverableNotificationSubscriberID">
        <xs:annotation>
            <xs:documentation> Подписчик уведомлений</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- Тип подписчика ios/android -->
            <xs:element name="subscriberType" type="tns:DeliverableNotificationSubscriberType" />
            <!-- идентификатор устройства-->
            <xs:element name="deviceID" type="xs:string" />
            <!-- идентификатор приложения-->
            <xs:element name="applicationID" type="xs:string" />
            <!-- идентификатор базы-->
            <xs:element name="databaseID" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="InAppPurchaseService">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GooglePlayInAppBilling" />
            <xs:enumeration value="AppleInAppPurchase" />
            <xs:enumeration value="WindowsInAppPurchase" />
            <xs:enumeration value="HuaweiInAppPurchase" />
            <xs:enumeration value="RuStoreInAppPurchase" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="InAppPurchaseReceipt">
        <xs:annotation>
            <xs:documentation> Квитанция О Встроенной Покупке</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="service" type="tns:InAppPurchaseService" minOccurs="0" />
            <xs:element name="data" type="xs:base64Binary" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DocumentScanningParameters">
        <xs:annotation>
            <xs:documentation>Параметры сканирования документов</xs:documentation>
        </xs:annotation>
        <xs:attribute name="rect" type="xs:boolean"/>
        <xs:attribute name="whiteBack" type="xs:boolean"/>
        <xs:attribute name="checkingQuality" type="xs:anyURI"/>
        <xs:attribute name="filters" type="xs:Array"/>
        <xs:attribute name="scanSeries" type="xs:boolean"/>
        <xs:attribute name="autoCapture" type="xs:boolean"/>
        <xs:attribute name="orientMode" type="xs:anyURI"/>
    </xs:complexType>

    <xs:complexType name="MultimediaData">
        <xs:annotation>
            <xs:documentation>Данные мультимедиа</xs:documentation>
        </xs:annotation>
        <xs:attribute name="mime" type="xs:string"/>
        <xs:attribute name="ext" type="xs:string"/>
        <xs:attribute name="data" type="xs:base64Binary"/>
    </xs:complexType>

    <xs:complexType name="DocumentScanningQualityParameters">
        <xs:annotation>
            <xs:documentation>Уровни качества отсканированной страницы документа</xs:documentation>
        </xs:annotation>
        <xs:attribute name="generalizedQuality" type="xs:float"/>
        <xs:attribute name="perspectiveDistortion" type="xs:float"/>
        <xs:attribute name="whitePaperQuality" type="xs:float"/>
        <xs:attribute name="textContrast" type="xs:float"/>
        <xs:attribute name="borderQuality" type="xs:float"/>
    </xs:complexType>

    <xs:complexType name="DocumentScanningPage">
        <xs:annotation>
            <xs:documentation>Отсканированная страница документа</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="imageData" type="tns:MultimediaData"/>
            <xs:element name="params" type="tns:DocumentScanningQualityParameters"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:double"/>
        <xs:attribute name="docFound" type="xs:boolean"/>
    </xs:complexType>
    
    <xs:simpleType name="AdministrationTest">
        <!-- АдминистрированиеТестирование -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="NotUsed" />
            <xs:enumeration value="Used" />
            <xs:enumeration value="Backup" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AdministrationProcessChoicePriority">
        <!-- АдминистрированиеПриоритетВыбораПроцесса  -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="ByPerformance" />
            <xs:enumeration value="ByMemory" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AdministrationResourceConsumptionCounterGroupType">
        <!-- АдминистрированиеТипГруппировкиСчетчикаПотребленияРесурсов  -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Users" />
            <xs:enumeration value="DataSeparation" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AdministrationResourceConsumptionCounterFilterType">
        <!-- АдминистрированиеТипОтбораСчетчикаПотребленияРесурсов  -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="AllSelected" />
            <xs:enumeration value="AllButSelected" />
            <xs:enumeration value="All" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AdministrationActionOnResourceConsumptionLimitExcess">
        <!-- АдминистрированиеДействиеПриПревышенииОграниченияПотребленияРесурсов -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="SetThreadLowPriority" />
            <xs:enumeration value="InterruptCurrentServerCall" />
            <xs:enumeration value="TerminateSession" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AdministrationWorkProcessStatus">
        <!-- АдминистрированиеСостояниеРабочегоПроцесса  -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="NotUsed" />
            <xs:enumeration value="Used" />
            <xs:enumeration value="Reserve" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="AdministrationConnectionSecurityLevel">
        <!-- АдминистрированиеУровеньБезопасностиСоединений  -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Unsecure" />
            <xs:enumeration value="SecureOnConnect" />
            <xs:enumeration value="Secure" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AdministrationAssignmentRuleType">
        <!-- АдминистрированиеТипТребованияНазначения -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="Assign" />
            <xs:enumeration value="DontAssign" />
            <xs:enumeration value="Auto" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AdministrationInfoBaseDeletionMode">
        <!-- АдминистрированиеРежимУдаленияИнформационнойБазы  -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="DeleteDatabase" />
            <xs:enumeration value="ClearDatabase" />
            <xs:enumeration value="DontPerformActionsWithDatabase" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ClientNotification">
        <xs:sequence>
            <xs:element name="Value" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
