src/onec_ordinary_forms/schemas/platform/8.5/bsl/bsl_root-01-http_v8.1c.ru_8.2_data_bsl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://v8.1c.ru/8.2/data/bsl"
        targetNamespace="http://v8.1c.ru/8.2/data/bsl"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <xs:complexType name="BSLAnnotationAttribute">
        <xs:annotation>
            <xs:documentation>Атрибут аннотации</xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
    </xs:complexType>
    
    <xs:complexType name="BSLAnnotation">
        <xs:annotation>
            <xs:documentation>Аннотация</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="attribute" type="tns:BSLAnnotationAttribute" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="BSLVariableImage">
        <xs:annotation>
            <xs:documentation>Образ переменной модуля</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="annotation" type="tns:BSLAnnotation" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="isLocal" type="xs:boolean" default="false" />
        <xs:attribute name="isExternal" type="xs:boolean" default="false"/>
        <xs:attribute name="isParam" type="xs:boolean" default="false"/>
        <xs:attribute name="isByValue" type="xs:boolean" default="false"/>
        <xs:attribute name="isExported" type="xs:boolean" default="false"/>
        <xs:attribute name="initConstPos" type="xs:int" default="-1"/>
    </xs:complexType>

    <xs:complexType name="BSLLabel">
        <xs:annotation>
            <xs:documentation>Метка для команды Перейти (Goto)</xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="addr" type="xs:unsignedInt" />
    </xs:complexType>

    <xs:complexType name="BSLProcedureImage">
        <xs:annotation>
            <xs:documentation>
                Образ процедуры модуля
                paramsDefValue - значения параметров процедуры по умолчанию в том же
                формате, что и константы модуля (см. далее)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="label" type="tns:BSLLabel" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="variable" type="tns:BSLVariableImage" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="paramsDefValue" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="annotation" type="tns:BSLAnnotation" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="isAsync" type="xs:boolean" default="false"/>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="isFunction" type="xs:boolean" default="false"/>
        <xs:attribute name="isExported" type="xs:boolean" default="false"/>
        <xs:attribute name="isExternal" type="xs:boolean" default="false"/>
        <xs:attribute name="parametersCount" type="xs:unsignedInt" default="0"/>
        <xs:attribute name="startAddr" type="xs:unsignedInt" />
    </xs:complexType>

    <xs:complexType name="BSLModuleImage">
        <xs:annotation>
            <xs:documentation>
                Образ BSL модуля:
                constant - константы модуля в формате:
                строка, 1-й символ - префикс типа:
                'U' - Неопределено
                'L' - Null
                'B' - Булево
                'N' - Numeric
                'S' - Строка
                'D' – Дата
                со 2-го символа и до конца строки - преобразованное в строку значение:
                Булево: "true" или "false"
                Numeric: строковое представление числа
                Data: строковое представление даты вида "ДД.ММ.ГГГГ Ч:ММ:СС" (core::Date::toString())

                cmdOpCode и cmdOperand - массивы команд байт-кода и их операндов,
                в виде строки через запятую: "op1,op2,op3,...",
                эти массивы должны иметь одинаковый размер
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="cmdOpCode" type="xs:string" />
            <xs:element name="cmdOperand" type="xs:string" />
            <xs:element name="constant" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="variable" type="tns:BSLVariableImage" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="label" type="tns:BSLLabel" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="procedure" type="tns:BSLProcedureImage" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="version" type="xs:unsignedInt" />

        <!-- 4294967295(0xFFFFFFFF) - значение адреса для модулей без глобального кода-->
        <xs:attribute name="startAddr" type="xs:unsignedInt" default="4294967295"/>
    </xs:complexType>

</xs:schema>
