src/onec_ordinary_forms/schemas/platform/8.5/vrscore/vrscore_root-08-http_v8.1c.ru_8.2_managed-application_remoteexception.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="remoteexception"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:v81="http://v8.1c.ru/8.1/data/core"
    targetNamespace="http://v8.1c.ru/8.2/managed-application/remoteexception"
    xmlns:tns="http://v8.1c.ru/8.2/managed-application/remoteexception"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.0">
    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>

    <xs:complexType name="RemoteException">
        <xs:complexContent>
            <xs:extension base="v81:GenericException">
                <xs:sequence>
                    <xs:element name="data" type="xs:base64Binary" />
                </xs:sequence>
                <xs:attribute name="reason" type="xs:decimal" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
