src/onec_ordinary_forms/schemas/platform/8.5/vrscore/vrscore_root-07-http_v8.1c.ru_8.2_managed-application_objectlocksexception.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="objectlocksexception"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:v81="http://v8.1c.ru/8.1/data/core"
    targetNamespace="http://v8.1c.ru/8.2/managed-application/objectlocksexception"
    xmlns:tns="http://v8.1c.ru/8.2/managed-application/objectlocksexception"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.0">
    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>

    <xs:complexType name="SeanceToFinish">
        <xs:attribute name="seanceID" type="v81:UUID" />
        <xs:attribute name="descr" type="xs:string" />
        <xs:attribute name="seancePID" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="ObjectLocksException">
        <xs:complexContent>
            <xs:extension base="v81:GenericException">
                <xs:sequence>
                    <xs:element name="frmtDescr" type="xs:string" />
                    <xs:element name="seanceIDs" type="xs:string" />
                    <xs:element name="connBySrvrProc" type="xs:string" />
                    <xs:element name="blockUserName" type="xs:string" />
                    <xs:element name="blockComputerName" type="xs:string" />
                    <xs:element name="blockInfo" type="xs:string" />
                    <xs:element name="seancesToFinish" type="tns:SeanceToFinish" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="otherSeancesDescr" type="xs:string" />
                </xs:sequence>
                <xs:attribute name="reason" type="xs:decimal" />
                <xs:attribute name="userID" type="v81:UUID" />
                <xs:attribute name="isFormatted" type="xs:boolean" />
                <xs:attribute name="allowTerminationAtSessionStart" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
