src/onec_ordinary_forms/schemas/platform/8.5/vrscore/vrscore_root-01-http_v8.1c.ru_8.2_managed-application_InteractiveSecurityException.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="seancecontextexception"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:v81="http://v8.1c.ru/8.1/data/core"
    targetNamespace="http://v8.1c.ru/8.2/managed-application/InteractiveSecurityException"
    xmlns:tns="http://v8.1c.ru/8.2/managed-application/InteractiveSecurityException"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.0">
    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>

    <xs:complexType name="InteractiveSecurityException">
        <xs:complexContent>
            <xs:extension base="v81:GenericException">
                <xs:attribute name="moduleSignature" type="xs:string" />
                <xs:attribute name="operationType" type="xs:decimal" />
                <xs:attribute name="commandCouldNotRestart" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
