src/onec_ordinary_forms/schemas/platform/8.5/mob/mob_root-01-http_v8.1c.ru_8.3_data_mob.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://v8.1c.ru/8.3/data/mob"
        xmlns:core="http://v8.1c.ru/8.1/data/core"
        xmlns:ui="http://v8.1c.ru/8.1/data/ui"
        targetNamespace="http://v8.1c.ru/8.3/data/mob"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

  <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
  <xs:import namespace="http://v8.1c.ru/8.1/data/ui" schemaLocation="../../../xdto/src/res/uiobjects.xsd"/>

  <xs:complexType name="AddressData">
    <xs:annotation>
      <xs:documentation> Данные адреса</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- ИсходныеДанные. -->
      <xs:element name="rowData" type="core:Map" minOccurs="0" />
      <!-- Представление. -->
      <xs:element name="presentation" type="xs:string" minOccurs="0" />
      <!-- Улица -->
      <xs:element name="street" type="xs:string" minOccurs="0" />
      <!-- Дом -->
      <xs:element name="house" type="xs:string" minOccurs="0" />
      <!-- Город -->
      <xs:element name="city" type="xs:string" minOccurs="0" />
      <!-- Страна -->
      <xs:element name="country" type="xs:string" minOccurs="0" />
      <!-- Индекс -->
      <xs:element name="zipCode" type="xs:string" minOccurs="0" />
      <!-- Регион -->
      <xs:element name="state" type="xs:string" minOccurs="0" />
      <!-- СтрокаАдресаОсновная -->
      <xs:element name="primaryAddress" type="xs:string" minOccurs="0" />
      <!-- СтрокаАдресаДополнительная -->
      <xs:element name="additionalAddress" type="xs:string" minOccurs="0" />
      <!-- СтрокаАдреса -->
      <xs:element name="addressString" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CallLogRecord">
    <xs:sequence>
      <!--PhoneNumber-->
      <xs:element name="phoneNumber" type="xs:string" />
      <!--Date-->
      <xs:element name="date" type="xs:date" />
      <!--CallType-->
      <xs:element name="callType" type="xs:anyURI" />
      <!--Duration-->
      <xs:element name="duration" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="MMSAttachment">
    <xs:sequence>
      <!--data-->
      <xs:element name="data" type="xs:base64Binary" />
      <!--mimeType-->
      <xs:element name="mimeType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="SMSMessage">
    <xs:sequence>
      <!--From-->
      <xs:element name="from" type="xs:string" />
      <!--To-->
      <xs:element name="to" type="core:Array" />
      <!--DateReceived-->
      <xs:element name="dateRecieved" type="xs:date" />
      <!--Text-->
      <xs:element name="text" type="xs:string" />
      <!--Attachments-->
      <xs:element name="attachments" type="core:Array" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="CalendarData">
    <xs:sequence>
      <!--Name-->
      <xs:element name="name" type="xs:string" />
      <!--Color-->
      <xs:element name="color" type="ui:Color" />
      <!--RawData-->
      <xs:element name="rawData" type="core:Map" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CalendarAccount">
    <xs:sequence>
      <!--AccountSourcea-->
      <xs:element name="accountSource"  type ="xs:string" />
      <!--ID-->
      <xs:element name="id"  type ="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountCalendarData">
    <xs:sequence>
      <!--CalendarData-->
      <xs:element name="calendarData" type="tns:CalendarData" />
      <!--Account-->
      <xs:element name="account" type="tns:CalendarAccount" />
      <!--GlobalCalendarKey-->
      <xs:element name="globalCalendarKey" type="xs:string" />
     </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountCalendarEventData">
    <xs:sequence>
      <!--CalendarEventData-->
      <xs:element name="calendarEventData" type="tns:CalendarEventData" />
      <!--Account-->
      <xs:element name="account" type="tns:CalendarAccount"/>
      <!--GlobalCalendarKey-->
      <xs:element name="globalCalendarKey" type="xs:string" />
      <!--GlobalCalendarEventKey-->
      <xs:element name="globalCalendarEventKey" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountContactData">
    <xs:sequence>
      <!--ContactData-->
      <xs:element name="contactData" type="tns:ContactData" />
      <!--Account-->
      <xs:element name="account" type="tns:ContactAccount" />
      <!--GlobalContactKey-->
      <xs:element name="globalContactKey" type="xs:string" />
     </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="CalendarEventData">
    <xs:sequence>
      <!--Subject-->
      <xs:element name="subject" type="xs:string" />
      <!--Start-->
      <xs:element name="start" type="xs:date" />
      <!--End-->
      <xs:element name="end" type="xs:date" />
      <!--Location-->
      <xs:element name="location" type="xs:string" />
      <!--Description-->
      <xs:element name="description" type ="xs:string" />
      <!--AllDay-->
      <xs:element name="allDay" type="xs:boolean" />
      <!--Reminders-->
      <xs:element name="reminders" type="core:Array" />
      <!--Recurrence-->
      <xs:element name="recurrence" type="xs:anyURI" />
      <!--Organizer-->
      <xs:element name="organizer" type="xs:string" />
      <!--TimeZone-->
      <xs:element name="timeZone" type="xs:string" />
      <!--Attendees-->
      <xs:element name="attendees" type="core:Array" />
      <!--RawData-->
      <xs:element name="rawData" type="core:Map" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ContactAccount">
    <xs:sequence>
      <!--AccountSource-->
      <xs:element name="accountSource" type="xs:string" />
      <!--ID-->
      <xs:element name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ContactData">
    <xs:sequence>
      <!--FirstName-->
    <xs:element name="firstName" type="xs:string" />
      <!--MiddleName-->
    <xs:element name="middleName" type="xs:string" />
      <!--LastName-->
    <xs:element name="lastName" type="xs:string" />
      <!--PhoneticFirstName-->
    <xs:element name="phoneticFirstName" type="xs:string" />
      <!--PhoneticMiddleName-->
    <xs:element name="phoneticMiddleName" type="xs:string" />
      <!--PhoneticLastName-->
    <xs:element name="phoneticLastName" type="xs:string" />
      <!--NickName-->
    <xs:element name="nickName" type="xs:string" />
      <!--Prefix-->
    <xs:element name="prefix" type="xs:string" />
      <!--Suffix-->
    <xs:element name="suffix" type="xs:string" />
      <!--Organization-->
    <xs:element name="organization" type="xs:string" />
      <!--Department-->
    <xs:element name="department" type="xs:string" />
      <!--JobTitle-->
    <xs:element name="jobTitle" type="xs:string" />
      <!--Note-->
    <xs:element name="note" type="xs:string" />
      <!--Birthday-->
    <xs:element name="birthday" type="xs:dateTime" />
      <!--Photo-->
    <xs:element name="photo" type="xs:base64Binary" />
      <!--PhoneNumbers-->
    <xs:element name="phoneNumbers" type="core:Array" />
      <!--Emails-->
    <xs:element name="emails" type="core:Array" />
      <!--Addresses-->
    <xs:element name="addresses" type="core:Array" />
      <!--IMs-->
    <xs:element name="IMs" type="core:Array" />
      <!--URLs-->
    <xs:element name="urls" type="core:Array" />
      <!--Events-->
    <xs:element name="events" type="core:Array" />
      <!--Relations-->
    <xs:element name="relations" type="core:Array" />
      <!--RawData-->
    <xs:element name="rawData" type="core:Map" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ContactDataElement">
    <xs:sequence>
      <!--DataType-->
      <xs:element name="dataType" type="xs:anyURI" />
      <!--Value-->
      <xs:element name="value" type="xs:anyURI" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ContactDataElementInstantMessaging">
    <xs:sequence>
      <!--DataType-->
      <xs:element name="dataType" type="xs:anyURI" />
      <!--IMType-->
      <xs:element name="imType" type="xs:string" />
      <!--ID-->
      <xs:element name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LocalCalendarKey">
    <xs:sequence>
      <!--ID-->
      <xs:element name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LocalCalendarEventKey">
    <xs:sequence>
      <!--ID-->
      <xs:element name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LocalContactKey">
    <xs:sequence>
      <!--ID-->
      <xs:element name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>


  <xs:simpleType name="ContactDataPhoneNumberType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Work"/>                 
      <xs:enumeration value="Home"/>                 
      <xs:enumeration value="Other"/>                
      <xs:enumeration value="Mobile"/>               
      <xs:enumeration value="iPhone"/>               
      <xs:enumeration value="Main"/>                 
      <xs:enumeration value="HomeFax"/>              
      <xs:enumeration value="WorkFax"/>              
      <xs:enumeration value="OtherFax"/>             
      <xs:enumeration value="WorkMobile"/>           
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ContactDataEmailAddressType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Work"/>           
      <xs:enumeration value="Home"/>           
      <xs:enumeration value="Mobile"/>         
      <xs:enumeration value="Other"/>          
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ContactDataAddressType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Work"/>             
      <xs:enumeration value="Home"/>             
      <xs:enumeration value="Other"/>            
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ContactDataIMAddressType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Work"/>              
      <xs:enumeration value="Home"/>              
      <xs:enumeration value="Other"/>             
    </xs:restriction>
  </xs:simpleType>

  
  <xs:simpleType name="ContactDataURLType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Work"/>                 
      <xs:enumeration value="Home"/>                 
      <xs:enumeration value="HomePage"/>             
      <xs:enumeration value="Other"/>                
      <xs:enumeration value="Blog"/>                 
      <xs:enumeration value="Profile"/>              
      <xs:enumeration value="FTP"/>                  
    </xs:restriction>
  </xs:simpleType>

  
  <xs:simpleType name="ContactDataRelationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Mother"/>                  
      <xs:enumeration value="Father"/>                  
      <xs:enumeration value="Parent"/>                  
      <xs:enumeration value="Sister"/>                  
      <xs:enumeration value="Brother"/>                 
      <xs:enumeration value="Child"/>                   
      <xs:enumeration value="Friend"/>                  
      <xs:enumeration value="Spouse"/>                  
      <xs:enumeration value="Partner"/>                 
      <xs:enumeration value="Manager"/>                 
      <xs:enumeration value="Assistant"/>               
      <xs:enumeration value="DomesticPartner"/>         
      <xs:enumeration value="Relative"/>                
      <xs:enumeration value="Other"/>                   
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CalendarEventRecurrence">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OneTime"/>                     
      <xs:enumeration value="EveryDay"/>                    
      <xs:enumeration value="EveryWeek"/>                   
      <xs:enumeration value="EveryMonth"/>                  
      <xs:enumeration value="EveryYear"/>                   
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="CallLogCallType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Outgoing"/>                     
      <xs:enumeration value="Incoming"/>                    
      <xs:enumeration value="Missed"/>                   
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="SMSLogRecord">
    <xs:sequence>
      <xs:element name="phoneNumbers" type="core:Array" />
      <xs:element name="dateReceived" type="xs:date" />
      <xs:element name="dateSent" type="xs:date" />
      <xs:element name="text" type="xs:string" />
      <xs:element name="attachments" type="core:Array" />
      <xs:element name="messageType" type="xs:anyURI" />
      <xs:element name="read" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InAppPurchaseReceiptData">
    <xs:sequence>
      <xs:element name="purchaseID" type="xs:string" />
      <xs:element name="appID" type="xs:string" />
      <xs:element name="activeSubscription" type="xs:boolean" />
      <xs:element name="purchaseDate" type="xs:date" />
      <xs:element name="rawData" type="core:Map" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
