src/onec_ordinary_forms/schemas/platform/8.5/plnnr/plnnr_root-01-http_v8.1c.ru_8.3_data_planner.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ui="http://v8.1c.ru/8.1/data/ui"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:tns="http://v8.1c.ru/8.3/data/planner"
           xmlns:chart="http://v8.1c.ru/8.2/data/chart"
           targetNamespace="http://v8.1c.ru/8.3/data/planner"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.1/data/ui" schemaLocation="../../../xdto/src/res/uiobjects.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.2/data/chart" schemaLocation="../../../chart/src/res/chart.xsd"/>
    <xs:simpleType name="BWAValue">
        <!-- В языке нет -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
            <xs:enumeration value="auto" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PlannerItemScheduleWeekDays">
        <xs:list itemType="xs:decimal" />
    </xs:simpleType>

    <xs:simpleType name="PlannerItemScheduleMonths" >
        <xs:list itemType="xs:decimal" />
    </xs:simpleType>

    <!-- Режим отображения времени на элементе -->
    <xs:simpleType name="PlannerItemsTimeRepresentation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DontDisplay" />
            <xs:enumeration value="BeginTime" />
            <xs:enumeration value="BeginAndEndTime" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Поведение элементов при сжатии -->
    <xs:simpleType name="PlannerItemsBehaviorWhenSpaceInsufficient">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CollapseItems" />
            <xs:enumeration value="ShowAllItems" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Положение действия элемента планировщика -->
    <xs:simpleType name="PlannerItemActionLocation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EndOfText" />
            <xs:enumeration value="EndOfItem" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Режим редактирования элемента планировщика -->
    <xs:simpleType name="PlannerItemEnableEditMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DisableEdit" />
            <xs:enumeration value="DisableDragAndStretch" />
            <xs:enumeration value="DisableStretch" />
            <xs:enumeration value="EnableEdit" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Тип текста новых элементов -->
    <xs:simpleType name="NewPlannerItemsTextType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="String" />
            <xs:enumeration value="FormattedString" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Данные планировщика -->
    <xs:complexType name="Planner">
        <xs:sequence>
            <xs:element name="item" type="tns:PlannerItem" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="dimension" type="tns:PlannerDimension" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="period" type="tns:PlannerRepresentationPeriod" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="backInterval" type="tns:PlannerBackgroundInterval" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="border" type="ui:Border" />
            <xs:element name="borderColor" type="ui:Color" />
            <xs:element name="textColor" type="ui:Color" />
            <xs:element name="backColor" type="ui:Color" />
            <xs:element name="lineColor" type="ui:Color" />
            <xs:element name="font" type="ui:Font" />
            <xs:element name="beginOfRepresentationPeriod" type="xs:dateTime" />
            <xs:element name="endOfRepresentationPeriod" type="xs:dateTime" />
            <xs:element name="alignElementsOfTimeScale" type="xs:boolean" default="false" minOccurs="0" />
            <xs:element name="displayTimeScaleWrapHeaders" type="xs:boolean" default="true" minOccurs="0" />
            <xs:element name="displayWrapHeaders" type="xs:boolean" default="true" minOccurs="0" />
            <xs:element name="displayCurrentDate" type="xs:boolean" default="true" minOccurs="0" />
            <xs:element name="timeScaleWrapHeadersFormat" type="core:LocalStringType" />
            <xs:element name="periodicVariantRepetition" type="xs:decimal" />
            <xs:element name="timeScaleWrapBeginIndent" type="xs:decimal" />
            <xs:element name="timeScaleWrapEndIndent" type="xs:decimal" />
            <xs:element name="timeScale" type="chart:TimeScale" />
            <xs:element name="periodicVariantUnit" type="chart:TimeScaleUnitType" />
            <xs:element name="itemsTimeRepresentation" type="tns:PlannerItemsTimeRepresentation" />
            <xs:element name="itemsBehaviorWhenSpaceInsufficient" type="tns:PlannerItemsBehaviorWhenSpaceInsufficient" />
            <xs:element name="newItemsTextType" type="tns:NewPlannerItemsTextType" />
            <xs:element name="autoMinColumnWidth" type="xs:boolean" default="true" minOccurs="0" />
            <xs:element name="autoMinRowHeight" type="xs:boolean" default="true" minOccurs="0" />
            <xs:element name="minColumnWidth" type="xs:decimal" default="0" minOccurs="0" />
            <xs:element name="minRowHeight" type="xs:decimal" default="0" minOccurs="0" />
            <xs:element name="fixDimensionsHeader" type="tns:BWAValue" minOccurs="0" />
            <xs:element name="fixTimeScaleHeader" type="tns:BWAValue" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- Измерение планировщика -->
    <xs:complexType name="PlannerDimension">
        <xs:sequence>
            <xs:element name="item" type="tns:PlannerDimensionItem" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="value" type="xs:anyType" nillable="true" />
            <xs:element name="text" type="xs:string" />
            <xs:element name="borderColor" type="ui:Color" />
            <xs:element name="textColor" type="ui:Color" />
            <xs:element name="backColor" type="ui:Color" />
            <xs:element name="font" type="ui:Font" />
            <xs:element name="textFormatted" type="xs:boolean" default="false" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- Элемент планировщика -->
    <xs:complexType name="PlannerItem">
        <xs:sequence>
            <xs:element name="value" type="xs:anyType" minOccurs="0" nillable="true" />
            <xs:element name="picture" type="ui:Picture" />
            <xs:element name="begin" type="xs:dateTime" />
            <xs:element name="end" type="xs:dateTime" />
            <xs:element name="text" type="xs:string" />
            <xs:element name="tooltip" type="xs:string" />
            <xs:element name="borderColor" type="ui:Color" />
            <xs:element name="textColor" type="ui:Color" />
            <xs:element name="backColor" type="ui:Color" />
            <xs:element name="font" type="ui:Font" />
            <xs:element name="schedule" type="tns:PlannerItemSchedule" minOccurs="0" />
            <xs:element name="dimensionValues" type="core:FixedMap" />
            <xs:element name="replacementItem" type="tns:PlannerItem" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="replacementDate" type="xs:dateTime" nillable="true" />
            <xs:element name="deleted" type="xs:boolean" nillable="true" />
            <xs:element name="id" type="core:UUID" />
            <xs:element name="textFormatted" type="xs:boolean" default="false" minOccurs="0" />
            <xs:element name="border" type="ui:Border" />
            <xs:element name="action" type="tns:PlannerItemAction" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="editMode" type="tns:PlannerItemEnableEditMode" />
        </xs:sequence>
    </xs:complexType>

    <!-- Элемент измерения планировщика -->
    <xs:complexType name="PlannerDimensionItem">
        <xs:sequence>
            <xs:element name="value" type="xs:anyType" minOccurs="0" nillable="true" />
            <xs:element name="text" type="xs:string" />
            <xs:element name="borderColor" type="ui:Color" />
            <xs:element name="textColor" type="ui:Color" />
            <xs:element name="backColor" type="ui:Color" />
            <xs:element name="font" type="ui:Font" />
            <xs:element name="item" type="tns:PlannerDimensionItem" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="showOnlySubordinatesAreas" type="xs:boolean" default="false" minOccurs="0" />
            <xs:element name="textFormatted" type="xs:boolean" default="false" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- Расписание элемента планировщика -->
    <xs:complexType name="PlannerItemSchedule">
        <xs:sequence>
            <xs:element name="endDate" type="xs:dateTime"/>
            <xs:element name="dayInMonth" type="xs:decimal" default="0" minOccurs="0" />
            <xs:element name="weekDayInMonth" type="xs:decimal" default="0" minOccurs="0" />
            <xs:element name="daysRepeat" type="xs:decimal" default="1" minOccurs="0" />
            <xs:element name="weeksRepeat" type="xs:decimal" default="0" minOccurs="0" />
            <xs:element name="monthsRepeat" type="xs:decimal" default="0" minOccurs="0" />
            <xs:element name="yearsRepeat" type="xs:decimal" default="0" minOccurs="0" />
            <xs:element name="repeatCount" type="xs:decimal" default="0" minOccurs="0" />
            <xs:element name="weekDays" type="tns:PlannerItemScheduleWeekDays" />
            <xs:element name="months" type="tns:PlannerItemScheduleMonths" />
        </xs:sequence>
    </xs:complexType>

    <!-- Период отображения планировщика -->
    <xs:complexType name="PlannerRepresentationPeriod">
        <xs:sequence>
            <xs:element name="begin" type="xs:dateTime" />
            <xs:element name="end" type="xs:dateTime" />
        </xs:sequence>
    </xs:complexType>

    <!-- Интервал фона планировщика -->
    <xs:complexType name="PlannerBackgroundInterval">
        <xs:sequence>
            <xs:element name="begin" type="xs:dateTime" />
            <xs:element name="end" type="xs:dateTime" />
            <xs:element name="color" type="ui:Color" />
            <xs:element name="dimensionValues" type="core:FixedMap" minOccurs="0" nillable="true" />
            <xs:element name="label" type="tns:PlannerBackgroundIntervalLabel" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="borderColor" type="ui:Color" />
            <xs:element name="border" type="ui:Border" />
        </xs:sequence>
    </xs:complexType>

    <!-- Метка интервала фона планировщика -->
    <xs:complexType name="PlannerBackgroundIntervalLabel">
        <xs:sequence>
            <xs:element name="value" type="xs:anyType" minOccurs="0" nillable="true" />
            <xs:element name="text" type="xs:string" />
            <xs:element name="vAlign" type="ui:VerticalAlign" />
            <xs:element name="hAlign" type="ui:HorizontalAlign" />
            <xs:element name="textColor" type="ui:Color" />
            <xs:element name="font" type="ui:Font" />
            <xs:element name="textFormatted" type="xs:boolean" default="false" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <!-- Действие элемента планировщика -->
    <xs:complexType name="PlannerItemAction">
        <xs:sequence>
            <xs:element name="value" type="xs:anyType" minOccurs="0" nillable="true" />
            <xs:element name="enabled" type="xs:boolean" default="true" minOccurs="0" />
            <xs:element name="visible" type="xs:boolean" default="true" minOccurs="0" />
            <xs:element name="picture" type="ui:Picture" />
            <xs:element name="text" type="xs:string" />
            <xs:element name="textFormatted" type="xs:boolean" default="false" minOccurs="0" />
            <xs:element name="tooltip" type="xs:string" />
            <xs:element name="textColor" type="ui:Color" />
            <xs:element name="font" type="ui:Font" />
            <xs:element name="location" type="tns:PlannerItemActionLocation" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
