src/onec_ordinary_forms/schemas/platform/8.2/chart/chart_root-01-http_v8.1c.ru_8.2_data_chart.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://v8.1c.ru/8.2/data/chart" xmlns:tns="http://v8.1c.ru/8.2/data/chart"  xmlns:v8ui="http://v8.1c.ru/8.1/data/ui" xmlns:core="http://v8.1c.ru/8.1/data/core">

    <import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <import namespace="http://v8.1c.ru/8.1/data/ui" schemaLocation="../../../xdto/src/res/uiobjects.xsd"/>

    <simpleType name="ChartLabelLocation">
        <restriction base="string">
            <enumeration value="Edge" />
            <enumeration value="Center" />
            <enumeration value="EdgeInside" />
            <enumeration value="EdgeAuto" />
        </restriction>
    </simpleType>

    <simpleType name="ChartOrientation">
        <restriction base="string">
            <enumeration value="SouthWest" />
            <enumeration value="SouthEast" />
        </restriction>
    </simpleType>

    <simpleType name="MaxSeries">
        <restriction base="string">
            <enumeration value="NotDefined" />
            <enumeration value="Limited" />
            <enumeration value="Percent" />
        </restriction>
    </simpleType>

    <simpleType name="ChartSpaceMode">
        <restriction base="string">
            <enumeration value="None" />
            <enumeration value="Half" />
            <enumeration value="Full" />
        </restriction>
    </simpleType>

    <simpleType name="ChartMarkerType">
        <restriction base="string">
            <enumeration value="None" />
            <enumeration value="Rect" />
            <enumeration value="Circle" />
            <enumeration value="Rhomb" />
        </restriction>
    </simpleType>

    <simpleType name="RadarChartScaleType">
        <restriction base="string">
            <enumeration value="Circle" />
            <enumeration value="Polygon" />
        </restriction>
    </simpleType>

    <simpleType name="GaugeChartValueRepresentation">
        <restriction base="string">
            <enumeration value="Needle" />
            <enumeration value="Sector" />
        </restriction>
    </simpleType>

    <simpleType name="GaugeChartValuesScaleLabelsLocation">
        <restriction base="string">
            <enumeration value="AtScale" />
            <enumeration value="InsideScale" />
        </restriction>
    </simpleType>

    <complexType name="DoubleRect">
        <sequence>
            <element name="left" type="decimal" />
            <element name="right" type="decimal" />
            <element name="top" type="decimal" />
            <element name="bottom" type="decimal" />
        </sequence>
    </complexType>

    <complexType name="SeriesData">
        <sequence>
            <element name="id" type="decimal" />
            <element name="color" type="v8ui:Color" />
            <element name="line" type="v8ui:Line" />
            <element name="marker" type="tns:ChartMarkerType" />
            <element name="text" type="core:LocalStringType" />
            <element name="strIsChanged" type="boolean" />
            <element name="isExpand" type="boolean" />
            <element name="isIndicator" type="boolean" />
            <element name="colorPriority" type="boolean" />
            <element name="key" type="anyType" maxOccurs="1" minOccurs="0"  />
            <element name="valInfo" type="anyType" maxOccurs="1" minOccurs="0"  />
        </sequence>
    </complexType>

    <complexType name="PointData">
        <sequence>
            <element name="id" type="decimal" />
            <element name="color" type="v8ui:Color" />
            <element name="line" type="v8ui:Line" />
            <element name="marker" type="tns:ChartMarkerType" />
            <element name="text" type="core:LocalStringType" />
            <element name="strIsChanged" type="boolean" />
            <element name="isExpand" type="boolean" />
            <element name="isIndicator" type="boolean" />
            <element name="colorPriority" type="boolean" />
            <element name="key" type="anyType" maxOccurs="1" minOccurs="0" />
            <element name="valInfo" type="anyType" maxOccurs="1" minOccurs="0"  />
        </sequence>
    </complexType>

    <complexType name="RealDataItem">
        <sequence>
            <element name="valData" type="anyType" nillable="true" />
            <element name="valInfo" type="anyType" nillable="true" />
            <element name="toolTip" type="string" />            
        </sequence>
    </complexType>
    
    <complexType name="RealDataItems">
        <sequence>
            <element name="item" type="tns:RealDataItem" maxOccurs="unbounded" minOccurs="1" />
        </sequence>
    </complexType>

    <complexType name="Chart">
        <sequence>
            <element name="seriesCurId" type="decimal" />
            <element name="pointsCurId" type="decimal" />
            <element name="isSeriesDesign" type="boolean" />
            <element name="realSeriesCount" type="decimal" />
            <element name="realSeriesData" type="tns:SeriesData" maxOccurs="unbounded" minOccurs="0" />
            <element name="realExSeriesData" type="tns:SeriesData" maxOccurs="1" minOccurs="0" />
            <element name="isPointsDesign" type="boolean" />
            <element name="realPointCount" type="decimal" />
            <element name="realPointData" type="tns:PointData" maxOccurs="unbounded" minOccurs="0" />
            <element name="curSeries" type="decimal" />
            <element name="curPoint" type="decimal" />
            <element name="chartType" type="v8ui:ChartType" />
            <element name="circleLabelType" type="v8ui:ChartLabelType" />
            <element name="labelsDelimiter" type="string" />
            <element name="labelsLocation" type="tns:ChartLabelLocation" />
            <element name="lbFormat" type="core:LocalStringType" />
            <element name="lbpFormat" type="core:LocalStringType" />
            <element name="labelsColor" type="v8ui:Color" />
            <element name="labelsFont" type="v8ui:Font" />
            <element name="transparentLabelsBkg" type="boolean" />
            <element name="labelsBkgColor" type="v8ui:Color" />
            <element name="labelsBorder" type="v8ui:Border" />
            <element name="labelsBorderColor" type="v8ui:Color" />
            <element name="circleExpandMode" type="v8ui:AutoSeriesSeparation" />
            <element name="chart3Dcrd" type="tns:ChartOrientation" />
            <element name="title" type="core:LocalStringType" />
            <element name="isShowTitle" type="boolean" />
            <element name="isShowLegend" type="boolean" />
            <element name="ttlBorder" type="v8ui:Border" />            
            <element name="ttlBorderColor" type="v8ui:Color" />
            <element name="lgBorder" type="v8ui:Border" />
            <element name="lgBorderColor" type="v8ui:Color" />
            <element name="chBorder" type="v8ui:Border" />
            <element name="chBorderColor" type="v8ui:Color" />
            <element name="transparent" type="boolean" />
            <element name="bkgColor" type="v8ui:Color" />
            <element name="isTrnspTtl" type="boolean" />
            <element name="ttlColor" type="v8ui:Color" />
            <element name="isTrnspLeg" type="boolean" />
            <element name="legColor" type="v8ui:Color" />
            <element name="isTrnspCh" type="boolean" />
            <element name="chColor" type="v8ui:Color" />
            <element name="ttlTxtColor" type="v8ui:Color" />
            <element name="legTxtColor" type="v8ui:Color" />
            <element name="chTxtColor" type="v8ui:Color" />
            <element name="ttlFont" type="v8ui:Font" />
            <element name="legFont" type="v8ui:Font" />
            <element name="chFont" type="v8ui:Font" />
            <element name="isShowScale" type="boolean" />
            <element name="isShowScaleVL" type="boolean" />
            <element name="isShowSeriesScale" type="boolean" />
            <element name="isShowPointsScale" type="boolean" />
            <element name="isShowValuesScale" type="boolean" />
            <element name="vsFormat" type="core:LocalStringType" />
            <element name="xLabelsOrientation" type="v8ui:ChartLabelsOrientation" />
            <element name="scaleLine" type="v8ui:Line" />
            <element name="scaleColor" type="v8ui:Color" />
            <element name="isAutoSeriesName" type="boolean" />
            <element name="isAutoPointName" type="boolean" />
            <element name="maxMode" type="tns:MaxSeries" />
            <element name="maxSeries" type="decimal" />
            <element name="maxSeriesPrc" type="decimal" />
            <element name="spaceMode" type="tns:ChartSpaceMode" />
            <element name="baseVal" type="decimal" />
            <element name="isOutline" type="boolean" />
            <element name="realPiePoint" type="decimal" />
            <element name="realStockSeries" type="decimal" />
            <element name="isLight" type="boolean" />
            <element name="isGradient" type="boolean" />
            <element name="isTransposition" type="boolean" />
            <element name="hideBaseVal" type="boolean" />
            <element name="dataTable" type="boolean" />
            <element name="dtVerLines" type="boolean" />
            <element name="dtHorLines" type="boolean" />
            <element name="dtHAlign" type="v8ui:HorizontalAlign" />
            <element name="dtFormat" type="core:LocalStringType" />
            <element name="dtKeys" type="boolean" />
            <element name="paletteKind" type="v8ui:ChartColorPalette" />
            <element name="isTransposed" type="boolean" />
            <element name="autoTransposition" type="boolean" />
            <element name="legendScrollEnable" type="boolean" />
            <element name="surfaceColor" type="v8ui:Color" />
            <element name="radarScaleType" type="tns:RadarChartScaleType" />
            <element name="gaugeValuesPresentation" type="tns:GaugeChartValueRepresentation" />
            <element name="gaugeQualityBands" type="v8ui:GaugeChartQualityBands" maxOccurs="unbounded" minOccurs="0" />            
            <element name="beginGaugeAngle" type="decimal" />
            <element name="endGaugeAngle" type="decimal" />
            <element name="gaugeThickness" type="decimal" />
            <element name="gaugeLabelsLocation" type="tns:GaugeChartValuesScaleLabelsLocation" />
            <element name="gaugeLabelsArcDirection" type="boolean" />
            <element name="gaugeBushThickness" type="decimal" />
            <element name="gaugeBushColor" type="v8ui:Color" />
            <element name="autoMaxValue" type="boolean" />
            <element name="userMaxValue" type="decimal" />
            <element name="autoMinValue" type="boolean" />
            <element name="userMinValue" type="decimal" />
            <element name="elementsIsInit" type="boolean" />
            <element name="titleIsInit" type="boolean" />
            <element name="legendIsInit" type="boolean" />
            <element name="chartIsInit" type="boolean" />
            <element name="elementsChart" type="tns:DoubleRect" />
            <element name="elementsLegend" type="tns:DoubleRect" />
            <element name="elementsTitle" type="tns:DoubleRect" />
            <element name="borderColor" type="v8ui:Color" />            
            <element name="border" type="v8ui:Border" />
            <element name="dataSourceDescription" type="string" />
            <element name="isDataSourceMode" type="boolean" />
            <element name="isRandomizedNewValues" type="boolean" maxOccurs="1" minOccurs="0" />
            <element name="realDataItems" type="tns:RealDataItems" maxOccurs="1" minOccurs="0" />
        </sequence>
    </complexType>

    <complexType name="ChartInterval">
        <sequence>
            <element name="itemKey" type="decimal" />
            <element name="key" type="decimal" />
            <element name="begin" type="dateTime" />
            <element name="end" type="dateTime" />
            <element name="text" type="core:LocalStringType" />
            <element name="details" type="anyType" maxOccurs="1" minOccurs="0"  />
            <element name="color" type="v8ui:Color" />            
            <element name="intervalKey" type="decimal" />
        </sequence>
    </complexType>

    <complexType name="ChartValue">
        <sequence>
            <element name="itemKey" type="decimal" />
            <element name="key" type="decimal" />
            <element name="text" type="core:LocalStringType" />
            <element name="details" type="anyType"  maxOccurs="1" minOccurs="0" />
            <element name="editFlag" type="boolean" />
            <element name="backColor" type="v8ui:Color" />            
            <element name="textColor" type="v8ui:Color" />            
            <element name="mainColor" type="v8ui:Color" />
            <element name="secondColor" type="v8ui:Color" />            
        </sequence>
    </complexType>
    
    <complexType name="TimeScaleLabel">
        <sequence>
            <element name="key" type="dateTime" />
            <element name="text" type="core:LocalStringType" />
            <element name="details" type="anyType" maxOccurs="1" minOccurs="0"  />
            <element name="lineColor" type="v8ui:Color" />
            <element name="textColor" type="v8ui:Color" />
        </sequence>
    </complexType>

    <complexType name="TimeScaleLabels">
        <sequence>
            <element name="label" type="tns:TimeScaleLabel" maxOccurs="unbounded" minOccurs="0" />
            <element name="ticks" type="decimal" />
        </sequence>
    </complexType>

    <simpleType name="GanttChartScaleKeeping">
        <restriction base="string">
            <enumeration value="Fixed" />
            <enumeration value="Period" />
            <enumeration value="AllData" />
            <enumeration value="Auto" />
        </restriction>
    </simpleType>

    <simpleType name="TimeScaleUnitType">
        <restriction base="string">
            <enumeration value="Second" />
            <enumeration value="Minute" />
            <enumeration value="Hour" />
            <enumeration value="Day" />
            <enumeration value="Week" />
            <enumeration value="Month" />
            <enumeration value="Quarter" />
            <enumeration value="Year" />
        </restriction>
    </simpleType>

    <simpleType name="TimeScaleDayFormat">
        <restriction base="string">
            <enumeration value="MonthDay" />
            <enumeration value="WeekDay" />
            <enumeration value="MonthDayWeekDay" />
            <enumeration value="WeekDayMonthDay" />
        </restriction>
    </simpleType>

    <simpleType name="GanttChartIntervalRepresentation">
        <restriction base="string">
            <enumeration value="Flat" />
            <enumeration value="ThreeDimensional" />
            <enumeration value="Rhomb" />
            <enumeration value="Gradient" />
        </restriction>
    </simpleType>

    <simpleType name="GanttChartVerticalStretch">
        <restriction base="string">
            <enumeration value="None" />
            <enumeration value="StretchRows" />
            <enumeration value="StretchRowsAndData" />
        </restriction>
    </simpleType>

    <simpleType name="GanttChartLinkType">
        <restriction base="string">
            <enumeration value="BeginEnd" />
            <enumeration value="BeginBegin" />
            <enumeration value="EndBegin" />
            <enumeration value="EndEnd" />
        </restriction>
    </simpleType>
    
    <complexType name="TimeScaleLevel">
        <sequence>
            <element name="measure" type="tns:TimeScaleUnitType" />
            <element name="interval" type="decimal" />
            <element name="show" type="boolean" />
            <element name="line" type="v8ui:Line" />
            <element name="scaleColor" type="v8ui:Color" />
            <element name="dayFormatRule" type="tns:TimeScaleDayFormat" />
            <element name="format" type="core:LocalStringType" />
            <element name="labels" type="tns:TimeScaleLabels" />
            <element name="backColor" type="v8ui:Color" />
            <element name="textColor" type="v8ui:Color" />
            <element name="showPereodicalLabels" type="boolean" />
        </sequence>
    </complexType>

    <simpleType name="TimeScalePosition">
        <restriction base="string">
            <enumeration value="Top" />
            <enumeration value="Bottom" />
        </restriction>
    </simpleType>

    <simpleType name="GanttChartValueTextRepresentation">
        <restriction base="string">
            <enumeration value="None" />
            <enumeration value="Right" />
        </restriction>
    </simpleType>

    <complexType name="TimeScale">
        <sequence>
            <element name="placement" type="tns:TimeScalePosition" />
            <element name="level" type="tns:TimeScaleLevel" maxOccurs="unbounded" minOccurs="0" />
            <element name="transparent" type="boolean" />
            <element name="backColor" type="v8ui:Color" />            
            <element name="textColor" type="v8ui:Color" />            
            <element name="currentLevel" type="decimal" />
        </sequence>
    </complexType>
    
    <complexType name="CollectItem">
        <sequence>
            <element name="key" type="dateTime" />
            <element name="secondaryDate" type="dateTime" />
            <element name="cacheKey" type="decimal" />
        </sequence>
    </complexType>

    <complexType name="Collect">
        <sequence>
            <element name="item" type="tns:CollectItem" maxOccurs="unbounded" minOccurs="0" />
            <element name="ticks" type="decimal" />
        </sequence>
    </complexType>

    <complexType name="GanttChartBackgroundIntervals">
        <sequence>
            <element name="collection" type="tns:Collect" />
            <element name="contentCacheItem" type="v8ui:Color" maxOccurs="unbounded" minOccurs="0" />            
            <element name="ticks" type="decimal" />
        </sequence>
    </complexType>
    
    <complexType name="PointDimensionValue">
        <sequence>
            <element name="itemKey" type="decimal" />
            <element name="key" type="decimal" />
            <element name="parentKey" type="decimal" />
            <element name="leftKey" type="decimal" />
            <element name="rightKey" type="decimal" />
            <element name="extKey" type="decimal" />
            <element name="valueKey" type="anyType"  maxOccurs="1" minOccurs="0" />
            <element name="title" type="core:LocalStringType" />
            <element name="details" type="anyType"  maxOccurs="1" minOccurs="0" />
            <element name="cacheKey" type="decimal" />
            <element name="baseData" type="decimal" />
            <element name="font" type="v8ui:Font" />        
            <element name="picture" type="v8ui:Picture" />
        </sequence>
    </complexType>

    <complexType name="SeriesDimensionValue">
        <sequence>
            <element name="itemKey" type="decimal" />
            <element name="key" type="decimal" />
            <element name="parentKey" type="decimal" />
            <element name="leftKey" type="decimal" />
            <element name="rightKey" type="decimal" />
            <element name="extKey" type="decimal" />
            <element name="valueKey" type="anyType"  maxOccurs="1" minOccurs="0" />
            <element name="title" type="core:LocalStringType" />
            <element name="details" type="anyType"  maxOccurs="1" minOccurs="0" />
            <element name="cacheKey" type="decimal" />
            <element name="baseData" type="decimal" />
        </sequence>
    </complexType>

    <complexType name="GanttChartPointValueContent">
        <sequence>
            <element name="mainColor" type="v8ui:Color" />
            <element name="secondColor" type="v8ui:Color" />
            <element name="backColor" type="v8ui:Color" />
            <element name="textColor" type="v8ui:Color" />
        </sequence>
    </complexType>
    
    <complexType name="ChartPoints">
        <sequence>
            <element name="testMode" type="boolean" />
            <element name="value" type="tns:PointDimensionValue" maxOccurs="unbounded" minOccurs="0" />
            <element name="contentCacheItem" type="tns:GanttChartPointValueContent" maxOccurs="unbounded" minOccurs="0" />            
            <element name="autoText" type="boolean" />
            <element name="useValuesReverseBehavior" type="boolean" />
        </sequence>
    </complexType>
    
    <complexType name="GanttChartSeriesValueContent">
        <sequence>
            <element name="mainColor" type="v8ui:Color" />
            <element name="secondColor" type="v8ui:Color" />
            <element name="hatchBetweenIntervalsColor" type="v8ui:Color" />
        </sequence>
    </complexType>
    
    <complexType name="ChartSeries">
        <sequence>
            <element name="testMode" type="boolean" />
            <element name="value" type="tns:SeriesDimensionValue" maxOccurs="unbounded" minOccurs="0" />
            <element name="contentCacheItem" type="tns:GanttChartSeriesValueContent" maxOccurs="unbounded" minOccurs="0" />            
            <element name="autoText" type="boolean" />
            <element name="useValuesReverseBehavior" type="boolean" />
        </sequence>
    </complexType>
    
    <complexType name="GanttChartLink">
        <sequence>
            <element name="curBeginKey" type="decimal" />
            <element name="curEndKey" type="decimal" />
            <element name="beginKey" type="decimal" />
            <element name="endKey" type="decimal" />
            <element name="linkType" type="tns:GanttChartLinkType" />
            <element name="color" type="v8ui:Color" />            
        </sequence>
    </complexType>

    <complexType name="GanttChart">
        <sequence>
            <element name="chart" type="tns:Chart" />
            <element name="points" type="tns:ChartPoints" />
            <element name="series" type="tns:ChartSeries" />
            <element name="interval" type="tns:ChartInterval" maxOccurs="unbounded" minOccurs="0" />
            <element name="value" type="tns:ChartValue" maxOccurs="unbounded" minOccurs="0" />
            <element name="drawEmpty" type="boolean" />
            <element name="timeScale" type="tns:TimeScale" />
            <element name="keepScaleVariant" type="tns:GanttChartScaleKeeping" />
            <element name="fixedVariantMeasure" type="tns:TimeScaleUnitType" />
            <element name="fixedVariantInterval" type="decimal" />
            <element name="autoFullInterval" type="boolean" />
            <element name="fullIntervalBegin" type="dateTime" />
            <element name="fullIntervalEnd" type="dateTime" />
            <element name="visualBegin" type="dateTime" />
            <element name="intervalDrawType" type="tns:GanttChartIntervalRepresentation" />
            <element name="noneVariantChars" type="decimal" />
            <element name="noneVariantMeasure" type="tns:TimeScaleUnitType" />
            <element name="verticalStretch" type="tns:GanttChartVerticalStretch" />
            <element name="verticalScrollEnable" type="boolean" />
            <element name="showValueText" type="tns:GanttChartValueTextRepresentation" />
            <element name="extTitle" type="core:LocalStringType" />
            <element name="outboundColor" type="v8ui:Color" />            
            <element name="backIntervals" type="tns:GanttChartBackgroundIntervals" />
            <element name="link" type="tns:GanttChartLink" maxOccurs="unbounded" minOccurs="0" />
            <element name="linksColor" type="v8ui:Color" />            
            <element name="linksLine" type="v8ui:Line" />            
        </sequence>
    </complexType>

    <simpleType name="DendrogramOrientation">
        <restriction base="string">
            <enumeration value="Top" />
            <enumeration value="Bottom" />
            <enumeration value="Right" />
            <enumeration value="Left" />
        </restriction>
    </simpleType>

    <simpleType name="DendrogramScaleKeeping">
        <restriction base="string">
            <enumeration value="AllItems" />
            <enumeration value="ItemCount" />
            <enumeration value="MinimumWidth" />
        </restriction>
    </simpleType>

    <complexType name="DendrogramDimensionValue">
        <sequence>
            <element name="itemKey" type="decimal" />
            <element name="key" type="decimal" />
            <element name="parentKey" type="decimal" />
            <element name="leftKey" type="decimal" />
            <element name="rightKey" type="decimal" />
            <element name="extKey" type="decimal" />
            <element name="valueKey" type="anyType"  maxOccurs="1" minOccurs="0" />
            <element name="title" type="core:LocalStringType" />
            <element name="details" type="anyType"  maxOccurs="1" minOccurs="0" />
            <element name="cacheKey" type="decimal" />
            <element name="baseData" type="decimal" />
        </sequence>
    </complexType>

    <complexType name="DendrogramContent">
        <sequence>
            <element name="mainColor" type="v8ui:Color" />
            <element name="secondColor" type="v8ui:Color" />
        </sequence>
    </complexType>    

    <complexType name="DendrogramElements">
        <sequence>
            <element name="testMode" type="boolean" />
            <element name="value" type="tns:DendrogramDimensionValue" maxOccurs="unbounded" minOccurs="0" />
            <element name="contentCacheItem" type="tns:DendrogramContent" maxOccurs="unbounded" minOccurs="0" />            
            <element name="autoText" type="boolean" />
            <element name="useValuesReverseBehavior" type="boolean" />
        </sequence>
    </complexType>
    
    <complexType name="DendrogramLinkValue">
        <sequence>
            <element name="itemKey" type="decimal" />
            <element name="key" type="decimal" />
            <element name="parentKey" type="decimal" />
            <element name="leftKey" type="decimal" />
            <element name="rightKey" type="decimal" />
            <element name="extKey" type="decimal" />
            <element name="valueKey" type="anyType"  maxOccurs="1" minOccurs="0" />
            <element name="title" type="core:LocalStringType" />
            <element name="details" type="anyType"  maxOccurs="1" minOccurs="0" />
            <element name="cacheKey" type="decimal" />
            <element name="baseData" type="decimal" />
            <element name="firstElementKey" type="decimal" />
            <element name="secondElementKey" type="decimal" />
            <element name="distance" type="decimal" />
        </sequence>
    </complexType>

    <complexType name="DendrogramLinks">
        <sequence>
            <element name="testMode" type="boolean" />
            <element name="value" type="tns:DendrogramLinkValue" maxOccurs="unbounded" minOccurs="0" />
            <element name="contentCacheItem" type="tns:DendrogramContent" maxOccurs="unbounded" minOccurs="0" />            
            <element name="autoText" type="boolean" />
            <element name="useValuesReverseBehavior" type="boolean" />
        </sequence>
    </complexType>
    
    <complexType name="Dendrogram">
        <sequence>
            <element name="chart" type="tns:Chart" />
            <element name="elements" type="tns:DendrogramElements" />
            <element name="links" type="tns:DendrogramLinks" />
            <element name="orientation" type="tns:DendrogramOrientation" />
            <element name="scaleType" type="tns:DendrogramScaleKeeping" />
            <element name="countElements" type="decimal" />
            <element name="fixedMinWidthElement" type="decimal" />
            <element name="lineColor" type="v8ui:Color" />            
            <element name="line" type="v8ui:Line" />            
            <element name="verticalLabels" type="boolean" />
        </sequence>
    </complexType>
</schema>
