src/onec_ordinary_forms/schemas/platform/8.5/dbgbase/dbgbase_root-04-http_v8.1c.ru_8.3_debugger_debugBreakpoints.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.3/debugger/debugBreakpoints"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:dbgbase="http://v8.1c.ru/8.3/debugger/debugBaseData"
           targetNamespace="http://v8.1c.ru/8.3/debugger/debugBreakpoints"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugBaseData" schemaLocation="debugBaseData.xsd"/>

    <!-- =============================================================== -->
    <!-- Информация о точках останова                                    -->
    <!-- См. метод BreakpointInfoWorkspace::IPersistableObject_serialize -->
    <!-- См. метод BreakpointInfoModule::IPersistableObject_serialize    -->
    <!-- =============================================================== -->

    <!-- Точка останова -->
    <xs:complexType name="BreakpointInfo">
        <xs:sequence>
            <!-- Номер строки -->
            <xs:element name="line" type="xs:decimal" default="0" />
            <!-- Признак активности -->
            <xs:element name="isActive" type="xs:boolean" default="true" />
            <!-- Признак того, что в точке останова используется условие -->
            <xs:element name="breakOnCondition" type="xs:boolean" default="false" />
            <!-- Условие срабатывания -->
            <xs:element name="condition" type="xs:string" default="" minOccurs="0" maxOccurs="1"/>
            <!-- Признак того, что в точке останова используется имя вышестоящего метода -->
            <xs:element name="breakOnParentMethod" type="xs:boolean" default="false" />
            <!-- Имя метода выше по стеку, при вызове из которого точка останова должна сработать -->
            <xs:element name="parentMethod" type="xs:string" default="" minOccurs="0" maxOccurs="1"/>

            <!-- Признак того, что в точке останова используется останов по количеству попаданий -->
            <xs:element name="breakOnHitCount" type="xs:boolean" default="false" />
            <!-- Вариант останова по количеству попаданий -->
            <xs:element name="hitCountVariant" type="xs:decimal" default="0" />
            <!-- Количество попаданий, нужное для остановки -->
            <xs:element name="hitCount" type="xs:decimal" default="0" />
            
            <!-- Признак того, что в точке останова используется сообщение -->
            <xs:element name="showOutputMessage" type="xs:boolean" default="false" />
            <!-- Описание точки останова -->
            <xs:element name="putDescription" type="xs:string" default="" minOccurs="0" maxOccurs="1"/>
            <!-- Сообщение для вывода -->
            <xs:element name="putExpressionResult" type="xs:string" default="" minOccurs="0" maxOccurs="1"/>
            <!-- Признак того, что при выводе сообщения нужно добавить стек вызовов -->
            <xs:element name="putStackTrace" type="xs:boolean" default="false" />
            <!-- Признак того, что при выводе сообщения нужно добавить количество попаданий -->
            <xs:element name="putHitCount" type="xs:boolean" default="false" />
            <!-- Признак того, что в точке останова используется сообщение -->
            <xs:element name="continueExecution" type="xs:boolean" default="true" />

            <!-- Текущее количество попаданий -->
            <xs:element name="currentHitCounter" type="xs:decimal" default="0"  minOccurs="0" maxOccurs="1"/>

            <!-- Признак временной точки останова -->
            <xs:element name="temp" type="xs:boolean" default="false" />
            <!-- Признак пользовательскной точки останова -->
            <xs:element name="user" type="xs:boolean" default="true" />
        </xs:sequence>
    </xs:complexType>

    <!-- Информация о точках останова для одного модуля (внутренняя запись)-->
    <xs:complexType name="ModuleBPInfoInternal">
        <xs:sequence>
            <!-- Идентификатор модуля -->
            <xs:element name="id" type="dbgbase:BSLModuleIdInternal"/>
            <!-- Набор точек останова -->
            <xs:element name="bpInfo" type="tns:BreakpointInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Информация о точках останова для одного модуля (пользовательский)-->
    <xs:complexType name="ModuleBPInfoUser">
        <xs:sequence>
            <!-- Идентификатор модуля -->
            <xs:element name="id" type="dbgbase:BSLModuleIdUser"/>
            <!-- Набор точек останова -->
            <xs:element name="bpInfo" type="tns:BreakpointInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Информация о точках останова для набора модулей (внутренняя запись)-->
    <xs:complexType name="BPWorkspaceInternal">
        <xs:sequence>
            <!-- Информация о точках останова -->
            <xs:element name="moduleBPInfo" type="tns:ModuleBPInfoInternal" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Информация о точках останова для набора модулей (пользовательский)-->
    <xs:complexType name="BPWorkspaceUser">
        <xs:sequence>
            <!-- Информация о точках останова -->
            <xs:element name="moduleBPInfo" type="tns:ModuleBPInfoUser" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
