src/onec_ordinary_forms/schemas/platform/8.5/dbgbase/dbgbase_root-08-http_v8.1c.ru_8.3_debugger_debugMeasure.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.3/debugger/debugMeasure"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:dbgbase="http://v8.1c.ru/8.3/debugger/debugBaseData"
           targetNamespace="http://v8.1c.ru/8.3/debugger/debugMeasure"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugBaseData" schemaLocation="debugBaseData.xsd"/>

    <!-- ================================================= -->
    <!-- Информация о времени исполнения одной строки кода -->
    <!-- ================================================= -->
    <xs:complexType name="PerformanceInfoLine">
        <xs:sequence>
            <!-- Номер строки -->
            <xs:element name="lineNo" type="xs:decimal"/>
            <!-- Число вызовов -->
            <xs:element name="frequency" type="xs:decimal"/>
            <!-- Время -->
            <xs:element name="durability" type="xs:decimal"/>
            <!-- Чистое время -->
            <xs:element name="pureDurability" type="xs:decimal"/>
            <!-- Признак вызова серверной функции -->
            <xs:element name="serverCallSignal" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ============================================ -->
    <!-- Информация о времени исполнения строк модуля -->
    <!-- ============================================ -->
    <xs:complexType name="PerformanceInfoModule">
        <xs:sequence>
            <!-- Идентификатор модуля -->
            <xs:element name="moduleID" type="dbgbase:BSLModuleIdInternal"/>
            <!-- Информация о времени исполнения строк модуля -->
            <xs:element name="lineInfo" type="tns:PerformanceInfoLine" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ======================================================= -->
    <!-- Информация о замере производительности предмета отладки -->
    <!-- ======================================================= -->
    <xs:complexType name="PerformanceInfoMain">
        <xs:sequence>
            <!-- Идентификатор предмета отладки -->
            <xs:element name="targetID" type="dbgbase:DebugTargetId"/>
            <!-- Общее время исполнения -->
            <xs:element name="totalDurability" type="xs:decimal"/>
            <!-- Общее время работы кода на сервере (в секундах), исполняемого без вызова из клиентского кода -->
            <xs:element name="totalIndepServerWorkTime" type="xs:decimal"/>
            <!-- Частота таймера высокого разрешения -->
            <xs:element name="performanceFrequency" type="xs:decimal"/>
            <!-- Информация об исполнении модулей -->
            <xs:element name="moduleData" type="tns:PerformanceInfoModule" minOccurs="0" maxOccurs="unbounded"/>
            <!-- Идентификатор сессии замера производительности -->
            <xs:element name="sessionID" type="core:UUID" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
