src/onec_ordinary_forms/schemas/platform/8.5/dbgbase/dbgbase_root-09-http_v8.1c.ru_8.3_debugger_debugRDBGRequestResponse.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.3/debugger/debugRDBGRequestResponse"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:dbgbase="http://v8.1c.ru/8.3/debugger/debugBaseData"
           xmlns:debugAutoAttach="http://v8.1c.ru/8.3/debugger/debugAutoAttach"
           xmlns:dbgcalc="http://v8.1c.ru/8.3/debugger/debugCalculations"
           xmlns:debugRTEInfo="http://v8.1c.ru/8.3/debugger/debugRTEInfo"
           xmlns:debugArea="http://v8.1c.ru/8.3/debugger/debugArea"
           xmlns:dbgbp="http://v8.1c.ru/8.3/debugger/debugBreakpoints"
           xmlns:dbgui="http://v8.1c.ru/8.3/debugger/debugDBGUICommands"
           xmlns:debugMeasure="http://v8.1c.ru/8.3/debugger/debugMeasure"
           xmlns:debugRTEFilter="http://v8.1c.ru/8.3/debugger/debugRTEFilter"
           xmlns:debugForegroundData="http://v8.1c.ru/8.3/debugger/debugForegroundData"
           targetNamespace="http://v8.1c.ru/8.3/debugger/debugRDBGRequestResponse"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugBaseData" schemaLocation="debugBaseData.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugAutoAttach" schemaLocation="debugAutoAttach.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugCalculations" schemaLocation="debugCalculations.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugRTEInfo" schemaLocation="debugRTEInfo.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugArea" schemaLocation="debugArea.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugBreakpoints" schemaLocation="debugBreakpoints.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugDBGUICommands" schemaLocation="debugDBGUICommands.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugMeasure" schemaLocation="debugMeasure.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugRTEFilter" schemaLocation="debugRTEFilter.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugForegroundData" schemaLocation="debugForegroundData.xsd"/>

    <!-- Запрос для тестирования соединения с сервером отладки -->
    <xs:complexType name="RDBGTestRequest">
    </xs:complexType>
    
    <!-- Ответ на запрос о версии API сервера отладки -->
    <xs:complexType name="MiscRDbgGetAPIVerResponse">
        <xs:sequence>
            <!-- Версия API сервера отладки, формата D.D.D где D - число -->
            <xs:element name="version" type="xs:string"/>
        </xs:sequence>        
    </xs:complexType>

    <!-- ====================================================== -->
    <!-- Схемы для запросов и ответов для удаленного отладчика, -->
    <!-- не связанных с информационной базой                    -->
    <!-- ====================================================== -->
    
    <!-- Базовый тип для всех запросов сервера отладки со стороны UI+ - части отладки -->
    <xs:complexType name="RDbgBaseRequest">
        <xs:sequence>
            <!-- Имя информационной базы -->
            <xs:element name="infoBaseAlias" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <!-- Идентификатор UI+ - части отладчика -->
            <xs:element name="idOfDebuggerUI" type="core:UUID"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Запрос об идентификаторе UI+ - части отладчика -->
    <xs:complexType name="RDBGGetDebugIDRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
        
    <!-- Ответ на запрос об идентификаторе UI+ - части отладчика -->
    <xs:complexType name="RDBGGetDebugIDResponse">
        <xs:sequence>
            <!-- Идентификатор UI+ - части отладчика -->
            <xs:element name="idOfDebugUI" type="core:UUID"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Опции отладчика -->
    <xs:complexType name="DebuggerOptions">
        <xs:sequence>
            <!-- Возможность выполнения активизации отладчика со стороны предмета отладки -->
            <xs:element name="foregroundAbility" type="xs:boolean" default="false"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Запрос на подключение UI+ - части отладчика к информационной базе -->
    <xs:complexType name="RDBGAttachDebugUIRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Упакованный пользователь сервера отладки -->
                    <xs:element name="userName" type="xs:base64Binary" minOccurs="0" maxOccurs="1"/>
                    <!-- Упакованный пароль сервера отладки -->
                    <xs:element name="credentials" type="xs:base64Binary" minOccurs="0"/>
                    <!-- Опции отладчика -->
                    <xs:element name="options" type="tns:DebuggerOptions" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Ответ на запрос о подключении UI+ - части отладчика -->
    <xs:complexType name="RDBGAttachDebugUIResponse">
        <xs:sequence>
            <!-- Результат выполнения подключения -->
            <xs:element name="result" type="dbgbase:AttachDebugUIResult"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Запрос отключение UI+ - части отладчика от информационной базы -->
    <xs:complexType name="RDBGDetachDebugUIRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Ответ на запрос об отключении UI+ - части отладчика -->
    <xs:complexType name="RDBGDetachDebugUIResponse">
        <xs:sequence>
            <!-- Результат выполнения отключения -->
            <xs:element name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Начало обновления ИБ в UI+ - части отладчика - запрос -->
    <xs:complexType name="RDBGStartUpdateIBRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Начало обновления ИБ в UI+ - части отладчика - ответ -->
    <xs:complexType name="RDBGStartUpdateIBResponse">
        <xs:sequence>
            <!-- Результат выполнения отключения -->
            <xs:element name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Завершение обновления ИБ в UI+ - части отладчика - запрос -->
    <xs:complexType name="RDBGFinishUpdateIBRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Завершение обновления ИБ в UI+ - части отладчика - ответ -->
    <xs:complexType name="RDBGFinishUpdateIBResponse">
        <xs:sequence>
            <!-- Результат выполнения отключения -->
            <xs:element name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Запрос с оповещением о наличии UI+ - части отладчика -->
    <xs:complexType name="RDBGPingDebugUIRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Записывать данные по возможности как строки -->
                    <xs:element name="saveDataAsString" type="xs:boolean" default="false"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Ответ на запрос с оповещением о наличии UI+ - части отладчика -->
    <xs:complexType name="RDBGPingDebugUIResponse">
        <xs:sequence>
            <!-- Результат выполнения пингования: тут будут сидеть типы, расширяющие тип DBGUIExtCmdInfoBase -->
            <xs:element name="result" type="dbgui:DBGUIExtCmdInfoBase" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Настройки окружения для процесса отладки -->
    <xs:complexType name="HTTPInitialDebugSettingsData">
        <xs:sequence>
            <!-- Версия настроек окружения ЦУПа предмета отладки -->
            <xs:element name="envStateVersion" type="core:UUID" minOccurs="0" maxOccurs="1"/>
            <!-- Признак необходимости останова на следующей строке кода -->
            <xs:element name="breakOnNextLine" type="xs:boolean" default="false"/>
            <!-- Признак включенности замера производительности -->
            <xs:element name="measureMode" type="core:UUID" minOccurs="0" maxOccurs="1"/>
            <!-- Общее время работы кода на сервере (в микросекундах), исполняемого без вызова из клиентского кода -->
            <xs:element name="serverIndependentWorkTime" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <!-- Пространство точек останова -->
            <xs:element name="bpWorkspace" type="dbgbp:BPWorkspaceInternal" minOccurs="0" maxOccurs="1"/>
            <!-- Версия точек останова -->
            <xs:element name="bpVersion" type="core:UUID" minOccurs="0" maxOccurs="1"/>
            <!-- Способ обработки ран-тайм - ошибки -->
            <xs:element name="rteProcessing" type="debugRTEFilter:RteFilterStorage" minOccurs="0" maxOccurs="1"/>
            <!-- Версия настройки обработки ран-тайм - ошибок -->
            <xs:element name="rteProcVersion" type="core:UUID" minOccurs="0" maxOccurs="1"/>
            <!-- Состав идентификаторов модулей, недоступных для отладки -->
            <xs:element name="inacessibleModuleID" type="dbgbase:BSLModuleIdInternal" minOccurs="0" maxOccurs="unbounded"/>
            <!-- Версия состава недоступных модулей -->
            <xs:element name="inacessibleModuleVersion" type="core:UUID" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Настройки окружения для процесса отладки на сервере отладки -->
    <xs:complexType name="HTTPServerInitialDebugSettingsData">
        <xs:complexContent>
            <xs:extension base="tns:HTTPInitialDebugSettingsData">
                <xs:sequence>
                    <!-- Области отладки -->
                    <xs:element name="debugAreaInfo" type="debugArea:DebugAreaInfo" minOccurs="0" maxOccurs="unbounded" />
                    <!-- Настройки автоматического подключения предметов отладки -->
                    <xs:element name="autoAttachSettings" type="debugAutoAttach:DebugAutoAttachSettings" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    

    <!-- Установить настройки сервера отладки -->
    <xs:complexType name="RDBGSetInitialDebugSettingsRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Описание состояния окружения ЦУПа отладчика -->
                    <xs:element name="data" type="tns:HTTPServerInitialDebugSettingsData" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Запрос получения списка имеющихся обалстей отладки -->
    <xs:complexType name="RDBGGetListOfDebugAreaRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Ответ на запрос получения списка имеющихся областей отладки -->
    <xs:complexType name="RDBGGetListOfDebugAreaResponse">
        <xs:sequence>
            <!-- Описание идентификатора области отладки и ее параметров -->
            <xs:element name="debugAreaInfo" type="debugArea:DebugAreaInfo" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- Запрос для установки областей отладки -->
    <xs:complexType name="RDBGSetListOfDebugAreaRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Описание идентификатора области отладки и ее параметров -->
                    <xs:element name="debugAreaInfo" type="debugArea:DebugAreaInfo" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Запрос на получение списка предметов отладки -->
    <xs:complexType name="RDBGSGetDbgTargetsRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Имя области отладки -->
                    <xs:element name="degugAreaName" type="xs:string" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- Ответ на запрос получения списка предметов отладки -->
    <xs:complexType name="RDBGSGetDbgTargetsResponse">
        <xs:sequence>
            <!-- Идентификатор предмета отладки -->
            <xs:element name="id" type="dbgbase:DebugTargetId" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- Запрос о состоянии предмета отладки -->
    <xs:complexType name="RDBGGetDbgTargetStateRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Идентификатор предмета отладки -->
                    <xs:element name="id" type="dbgbase:DebugTargetIdLight"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Ответ на запрос о состоянии предмета отладки -->
    <xs:complexType name="RDBGGetDbgTargetStateResponse">
        <xs:sequence>
            <!-- Состояние предмета отладки -->
            <xs:element name="state" type="dbgbase:DbgTargetState"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Запрос о состоянии всех имеющихся предметов отладки -->
    <xs:complexType name="RDBGGetDbgAllTargetStatesRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Имя области отладки -->
                    <xs:element name="degugAreaName" type="xs:string" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Ответ на запрос о состоянии всех имеющихся предметов отладки -->
    <xs:complexType name="RDBGGetDbgAllTargetStatesResponse">
        <xs:sequence>
            <!-- Состояние предмета отладки -->
            <xs:element name="item" type="dbgbase:DbgTargetStateInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Ответ на запрос о подключении/отключении предмета отладки -->
    <xs:complexType name="RDBGAttachDetachDbgTargetResponse">
        <xs:sequence>
            <!-- Результат выполнения операции -->
            <xs:element name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Запрос о проверке возможности принудительного завершения работы предмета отладки -->
    <xs:complexType name="RDBGCheckTerminateAbilityRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Идентификатор предмета отладки -->
                    <xs:element name="id" type="dbgbase:DebugTargetId"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Ответ на запрос о проверке возможности принудительного завершения работы предмета отладки -->
    <xs:complexType name="RDBGCheckTerminateAbilityResponse">
        <xs:sequence>
            <!-- Результат выполнения операции -->
            <xs:element name="result" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Запрос для настройки автоматического подключения предметов отладки -->
    <xs:complexType name="RDBGSetAutoAttachSettingsRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Настройки автоматического подключения предметов отладки -->
                    <xs:element name="autoAttachSettings" type="debugAutoAttach:DebugAutoAttachSettings" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Запрос на получение настроек автоматического подключения предметов отладки -->
    <xs:complexType name="RDBGGetAutoAttachSettingsRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Ответ на запрос для настройки автоматического подключения предметов отладки -->
    <xs:complexType name="RDBGGetAutoAttachSettingsResponse">
        <xs:sequence>
            <!-- Настройки автоматического подключения предметов отладки -->
            <xs:element name="autoAttachSettings" type="debugAutoAttach:DebugAutoAttachSettings" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Запрос на подключение предмета отладки к отладчику -->
    <xs:complexType name="RDBGAttachDetachDebugTargetsRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Признак подключения/отключения предмета отладки -->
                    <xs:element name="attach" type="xs:boolean" default ="true"/>
                    <!-- Идентификатор предмета отладки -->
                    <xs:element name="id" type="dbgbase:DebugTargetIdLight" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Запрос для установки точек останова -->
    <xs:complexType name="RDBGSetBreakpointsRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Пространство точек останова -->
                    <xs:element name="bpWorkspace" type="dbgbp:BPWorkspaceInternal" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Запрос для получения точек останова -->
    <xs:complexType name="RDBGGetBreakpointsRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Ответ на запрос для получения точек останова -->
    <xs:complexType name="RDBGGetBreakpointsResponse">
        <xs:sequence>
            <!-- Пространство точек останова -->
            <xs:element name="bpWorkspace" type="dbgbp:BPWorkspaceInternal" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Запрос для получения списка модулей, недоступных для отладки -->
    <xs:complexType name="RDBGGetInaccessibleModulesRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Ответ на запрос о получении списка модулей, недоступных для отладки -->
    <xs:complexType name="RDBGGetInaccessibleModulesResponse">
        <xs:sequence>
            <!-- Состав идентификаторов модулей, недоступных для отладки -->
            <xs:element name="moduleID" type="dbgbase:BSLModuleIdInternal" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Запрос для установки списка модулей, недоступных для отладки -->
    <xs:complexType name="RDBGSetInaccessibleModulesRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Пространство точек останова -->
                    <xs:element name="moduleID" type="dbgbase:BSLModuleIdInternal" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Запрос для получения стека вызовов предмета отладки -->
    <xs:complexType name="RDBGGetCallStackRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Идентификатор предмета отладки -->
                    <xs:element name="id" type="dbgbase:DebugTargetIdLight"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Ответ на запрос для получения стека вызовов предмета отладки -->
    <xs:complexType name="RDBGGetCallStackResponse">
        <xs:sequence>
            <!-- Стек вызовов -->
            <xs:element name="callStack" type="dbgbase:StackItemViewInfoData" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Запрос для вычисления выражения в предмете отладки -->
    <xs:complexType name="RDBGEvalExprRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Время для ожидания результата вычисления выражения (в милисекундах): 0 - без ожидания результата, kInfinite - бесконечное ожидение результата -->
                    <xs:element name="calcWaitingTime" type="xs:decimal" />
                    <!-- Идентификатор предмета отладки -->
                    <xs:element name="targetID" type="dbgbase:DebugTargetIdLight"/>
                    <!-- Выражение для вычисления -->
                    <xs:element name="expr" type="dbgcalc:CalculationSourceDataStorage" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Ответ на запрос вычисления выражения в предмете отладки -->
    <xs:complexType name="RDBGEvalExprResponse">
        <xs:sequence>
            <!-- Результат вычисления выражения -->
            <xs:element name="result" type="dbgcalc:CalculationResultBaseData" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Запрос для вычисления локальных переменных -->
    <xs:complexType name="RDBGEvalLocalVariablesRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Время для ожидания результата вычисления выражения (в милисекундах): 0 - без ожидания результата, kInfinite - бесконечное ожидение результата -->
                    <xs:element name="calcWaitingTime" type="xs:decimal" />            
                    <!-- Идентификатор предмета отладки -->
                    <xs:element name="targetID" type="dbgbase:DebugTargetIdLight"/>
                    <!-- Выражение для вычисления: -->
                    <!-- Первое из выражений описывает вычисление собственно локальных переменных, -->
                    <!-- а последующие выражения (если есть) описывают некоторые другие выражения  -->
                    <!-- для вычисления, которые полезно указывать, например, в том случае, если -->
                    <!-- нужно сразу вычислить выражения, соответствующие раскрытым узлам в отладчике -->
                    <xs:element name="expr" type="dbgcalc:CalculationSourceDataStorage" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Ответ на запрос о вычислении локальных переменных -->
    <xs:complexType name="RDBGEvalLocalVariablesResponse">
        <xs:sequence>
            <!-- Результат вычисления выражения -->
            <xs:element name="result" type="dbgcalc:CalculationResultBaseData" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Запрос на изменение значения локальной переменной или свойства контекста-->
    <xs:complexType name="RDBGModifyValueRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Идентификатор предмета отладки -->
                    <xs:element name="targetID" type="dbgbase:DebugTargetIdLight"/>
                    <!-- Выражение для вычисления -->
                    <xs:element name="modifyDataPath" type="dbgcalc:CalculationSourceDataStorage" maxOccurs="1"/>
                    <!-- Описание нового значения локальной переменной или свойства контекста -->
                    <xs:element name="newValueInfo" type="dbgcalc:NewValueInfo" minOccurs="1" maxOccurs="1"/>
                    <!-- Время ожидания результата изменения значения переменной, мс-->
                    <!-- Значение по умолчанию: 60 секунд -->
                    <xs:element name="timeout" type="xs:decimal" default="60000"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Ответ на запрос об изменении значения локальной переменной или свойства контекста -->
    <xs:complexType name="RDBGModifyValueResponse">
        <xs:sequence>
            <!-- Состояние изменения значения переменной -->
            <xs:element name="processed" type="xs:boolean" default="true"/>            
            <!-- Результат вычисления выражения, полученного после изменения значения переменной -->
            <xs:element name="newValueState" type="dbgcalc:CalculationResultBaseData"/>
            <!-- Текст ошибки для случая, если значение локальной переменной изменить не удалось -->
            <xs:element name="errorDescr" type="xs:base64Binary" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Запрос на установку способа обработки ран-тайм - ошибок -->
    <xs:complexType name="RDBGSetRunTimeErrorProcessingRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Способ обработки ран-тайм - ошибки -->
                    <xs:element name="state" type="debugRTEFilter:RteFilterStorage" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Запрос на получение способа обработки ран-тайм - ошибок -->
    <xs:complexType name="RDBGGetRunTimeErrorProcessingRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Ответ на получение способа обработки ран-тайм - ошибок -->
    <xs:complexType name="RDBGGetRunTimeErrorProcessingResponse">
        <xs:sequence>
            <!-- Способ обработки ран-тайм - ошибки -->
            <xs:element name="state" type="debugRTEFilter:RteFilterStorage" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Запрос на установку состояния режима замера производительности -->
    <xs:complexType name="RDBGSetMeasureModeRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Идентификатор сессии замера производительности -->
                    <xs:element name="measureModeSeanceID" type="core:UUID" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Запрос на выполнение шага или останова -->
    <xs:complexType name="RDBGStepRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Идентификатор предмета отладки -->
                    <xs:element name="targetID" type="dbgbase:DebugTargetIdLight"/>
                    <!-- Тип шага или останова -->
                    <xs:element name="action" type="dbgbase:DebugStepAction"/>
                    <!-- Признак того, что команду пошаговой отладки (внутрь, наружу, через) -->
                    <!-- нужно делать только в указанном предмете отладки, не продолжая работу -->
                    <!-- других остановленных предметов отладки -->
                    <xs:element name="simple" type="xs:boolean" default="false"/>
                    <!-- Идентификатор предмета отладки, который вызвал срабатывание -->
                    <xs:element name="triggeredTargetID" type="dbgbase:DebugTargetIdLight"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Ответ на выполнение шага или останова -->
    <xs:complexType name="RDBGStepResponse">
        <xs:sequence>
            <!-- Состояние предмета отладки -->
            <xs:element name="item" type="dbgbase:DbgTargetStateInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Запрос на выполнение останова на следующей строке кода -->
    <xs:complexType name="RDBGSetBreamOnNextStatementRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Запрос на получение данных для активизации предмета отладки -->
    <xs:complexType name="RDBGGetForegroundHelperDataRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Идентификатор предмета отладки -->
                    <xs:element name="targetID" type="dbgbase:DebugTargetId" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Ответ на запрос о получении данных для активизации предмета отладки -->
    <xs:complexType name="RDBGGetForegroundHelperDataResponse">
        <xs:sequence>
            <!-- Данные для активации окна -->
            <xs:element name="data" type="debugForegroundData:ForegroundWindowData" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Запрос на завершение работы предметов отладки -->
    <xs:complexType name="RDBGTerminateRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Идентификатор предмета отладки -->
                    <xs:element name="targetID" type="dbgbase:DebugTargetId" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Запрос на перезапуск приложений с предметами отладки -->
    <xs:complexType name="RDBGRestartRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Идентификатор предмета отладки -->
                    <xs:element name="targetID" type="dbgbase:DebugTargetId" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Запрос с нотификацией о завершении сеансов -->
    <xs:complexType name="RDBGNotifyOnFinishSeanceRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Идентификатор сеанса -->
                    <xs:element name="seanceID" type="core:UUID" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Запрос на получение данных активизации окна предмета отладки -->
    <xs:complexType name="RDBGGetDebugTargetForegroundHelperRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Идентификатор предмета отладки -->
                    <xs:element name="targetID" type="dbgbase:DebugTargetId" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Ответ на запрос на получение данных активизации окна предмета отладки-->
    <xs:complexType name="RDBGGetDebugTargetForegroundHelperResponse">
        <xs:sequence>
            <!-- Данные для активации окна -->
            <xs:element name="data" type="debugForegroundData:ForegroundWindowData" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Запрос для передачи данных для активизации окна отладчика предмету отладки -->
    <xs:complexType name="RDBGSetDebuggerForegroundHelperDataRequest">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Идентификатор получателя -->
                    <xs:element name="receiverID" type="core:UUID" minOccurs="1" maxOccurs="1"/>
                    <!-- Данные для активации окна -->
                    <xs:element name="data" type="debugForegroundData:ForegroundWindowData" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Запрос на активизицию отладчика из предмета отладки -->
    <xs:complexType name="RDBGApplyDebuggerForegroundHelperData">
        <xs:complexContent>
            <xs:extension base="tns:RDbgBaseRequest">
                <xs:sequence>
                    <!-- Идентификатор предмета отладки -->
                    <xs:element name="targetID" type="dbgbase:DebugTargetId" minOccurs="0" maxOccurs="unbounded" />
                    <!-- Данные для активации окна -->
                    <xs:element name="data" type="debugForegroundData:ForegroundWindowData" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
