src/onec_ordinary_forms/schemas/platform/8.5/dbgbase/dbgbase_root-11-http_v8.1c.ru_8.3_debugger_debugRTEInfo.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.3/debugger/debugRTEInfo"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:dbgbase="http://v8.1c.ru/8.3/debugger/debugBaseData"
           targetNamespace="http://v8.1c.ru/8.3/debugger/debugRTEInfo"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugBaseData" schemaLocation="debugBaseData.xsd"/>

    <!-- =================================================== -->
    <!-- Описание информации о ран-тайм ошикбке              -->
    <!-- См. метод ErrorInfo::IPersistableObject_serialize   -->
    <!-- =================================================== -->

    <!-- Перечисление типов ошибок -->
    <xs:simpleType name="ErrorType">
        <xs:restriction base="xs:string">
            <!-- Неизвестнвый тип ошибки -->
            <xs:enumeration value="Unknown" />
            <!-- Ошибка компиляции -->
            <xs:enumeration value="BSLCompile" />
            <!-- Ошибка времени исполнения -->
            <xs:enumeration value="BSLRuntime" />
            <!-- Ошибка компиляции условия точки останова -->
            <xs:enumeration value="BreakpointBSLCompile" />
            <!-- Ошибка времени исполнения при вычислении условия точки останова -->
            <xs:enumeration value="BreakpointBSLRuntime" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ErrorViewInfoData">
        <xs:sequence>
            <!-- Тип ошибки -->
            <xs:element name="errorType" type="tns:ErrorType" />
            <!-- Исключение, породившее ошибку-->
            <xs:element name="exception" type="core:GenericException" minOccurs="0" />
            <!-- Идентификатор модуля -->
            <xs:element name="moduleID" type="dbgbase:BSLModuleIdInternal" minOccurs="0" />
            <!-- Имя модуля -->
            <xs:element name="moduleName" type="xs:string" />
            <!-- Номер строки -->
            <xs:element name="lineNo" type="xs:decimal" />
            <!-- Краткое описание ошибки -->
            <xs:element name="descr" type="xs:base64Binary" />
            <!-- Текст исходной строки модуля -->
            <xs:element name="srcLine" type="xs:string" />
            <!-- Позиция в строке -->
            <xs:element name="posInLine" type="xs:decimal" />
            <!-- Представление ошибки -->
            <xs:element name="presentation" type="xs:base64Binary" />
            <!-- Расширенное представление ошибки -->
            <xs:element name="longPresentation" type="xs:base64Binary" />
            <!-- Стек вызовов -->
            <xs:element name="callStack" type="dbgbase:StackItemViewInfoData" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Описание информации об ошибке при проверке условия срабатывания точки останова -->
    <xs:complexType name="CheckBPCondErrorInfo">
        <xs:sequence>
            <!-- Условие срабатывания точки останова -->
            <xs:element name="bpCondition" type="xs:string"/>
            <!-- Исключение, породившее ошибку-->
            <xs:element name="exception" type="core:GenericException" minOccurs="0"/>
            <!-- Идентификатор модуля -->
            <xs:element name="moduleID" type="dbgbase:BSLModuleIdInternal" minOccurs="0" />
            <!-- Номер строки -->
            <xs:element name="lineNo" type="xs:decimal" default="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
