src/onec_ordinary_forms/schemas/platform/8.5/dbgbase/dbgbase_root-10-http_v8.1c.ru_8.3_debugger_debugRTEFilter.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.3/debugger/debugRTEFilter"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:dbgbase="http://v8.1c.ru/8.3/debugger/debugBaseData"
           targetNamespace="http://v8.1c.ru/8.3/debugger/debugRTEFilter"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugBaseData" schemaLocation="debugBaseData.xsd"/>

    <!-- ==================================================================== -->
    <!-- Информация об останове по ран-тайм ошибкам                           -->
    <!-- См. метод RuntimeErrorFilteringStorage::IPersistableObject_serialize -->
    <!-- ==================================================================== -->

    <xs:complexType name="RteFilterItem">
        <xs:sequence>
            <!-- Признак необходимости использования элемента -->
            <xs:element name="include" type="xs:boolean" default="true" />
            <!-- Подстрока из текста ошибки -->
            <xs:element name="str" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RteFilterStorage">
        <xs:sequence>
            <!-- Останавливаться по ошибке -->
            <xs:element name="stopOnErrors" type="xs:boolean" />
            <!-- Анализировать текст ошибки -->
            <xs:element name="analyzeErrorStr" type="xs:boolean" />
            <!-- Вектор фильтров -->
            <xs:element name="strTemplate" type="tns:RteFilterItem" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
