src/onec_ordinary_forms/schemas/platform/8.5/dbgbase/dbgbase_root-02-http_v8.1c.ru_8.3_debugger_debugAutoAttach.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.3/debugger/debugAutoAttach"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:dbgbase="http://v8.1c.ru/8.3/debugger/debugBaseData"
           targetNamespace="http://v8.1c.ru/8.3/debugger/debugAutoAttach"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugBaseData" schemaLocation="debugBaseData.xsd"/>

    <!-- Описание настроек автоматического подключения предметов отладки в областях отладки -->
    <!-- и вне областей отладки (пользовательский) -->
    <xs:complexType name="DebugAutoAttachSettings">
        <xs:sequence>
            <!-- Тип предмета отладки для автоматического подключения -->
            <xs:element name="targetType" type="dbgbase:DebugTargetType" minOccurs="0" maxOccurs="unbounded"/>
            <!-- Имя области-->
            <xs:element name="areaName" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Хранение настроек в профайле -->
    <xs:complexType name="DebugAutoAttachSettingsProperty">
        <xs:sequence>
            <!-- Настройки автоматического подключения предметов отладки -->
            <xs:element name="autoAttachSettings" type="tns:DebugAutoAttachSettings" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
