src/onec_ordinary_forms/schemas/platform/8.5/dbgbase/dbgbase_root-01-http_v8.1c.ru_8.3_debugger_debugArea.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.3/debugger/debugArea"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:dbgbase="http://v8.1c.ru/8.3/debugger/debugBaseData"
           targetNamespace="http://v8.1c.ru/8.3/debugger/debugArea"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugBaseData" schemaLocation="debugBaseData.xsd"/>

    <!-- Описание информации о разделителе, входящем в область отладки -->
    <xs:complexType name="DebugAreaDSPairInfo">
        <xs:sequence>
            <!-- Имя разделителя данных -->
            <xs:element name="name" type="xs:string"/>
            <!-- Значение разделителя данных -->
            <xs:element name="value" type="xs:anyType"/>
            <!-- Признак использования знаяения разделителя данных -->
            <xs:element name="use" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Множество идентификаторов пользователей -->
    <xs:complexType name="DebugAreaUserInfo">
        <xs:sequence>
            <!-- Имя пользователя -->
            <xs:element name="name" type="xs:string" minOccurs="0" default="" />
            <!-- Признак использования пользователя -->
            <xs:element name="use" type="xs:boolean" default="false"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Описание параметров области отладки -->
    <xs:complexType name="DebugAreaInfo">
        <xs:sequence>
            <!-- Имя области -->
            <xs:element name="name" type="xs:string" />
            <!-- Признак использования маски области данных -->
            <xs:element name="useMaskOfDSArea" type="xs:boolean" />
            <!-- Маска из значений разделителей, описывающих область данных -->
            <xs:element name="dsPairInfo" type="tns:DebugAreaDSPairInfo" minOccurs="0" maxOccurs="unbounded" />
            <!-- Признак использования маски с типами предметов отладки -->
            <xs:element name="useMaskOfTargetTypes" type="xs:boolean" />
            <!-- Тип предмета отладки  -->
            <xs:element name="targetType" type="dbgbase:DebugTargetType" minOccurs="0" maxOccurs="unbounded" />
            <!-- Признак использования маски с номерами сеансов -->
            <xs:element name="useMaskOfUsers" type="xs:boolean" />
            <!-- Маска с идентификаторами пользователей -->
            <xs:element name="userInfo" type="tns:DebugAreaUserInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Описание вектора из идентификаторов областей отладки и их параметров (внутренний) -->
    <xs:complexType name="DebugAreas">
        <xs:sequence>
            <!-- Описание идентификатора области отладки и ее параметров -->
            <xs:element name="item" type="tns:DebugAreaInfo" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- Описание вектора из идентификаторов областей отладки и их параметров (пользовательский) -->
    <xs:complexType name="DebugTargetFilters">
        <xs:sequence>
            <!-- Описание идентификатора области отладки и ее параметров -->
            <xs:element name="item" type="tns:DebugAreaInfo" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
