src/onec_ordinary_forms/schemas/platform/8.2/txtedt/txtedt_root-01-http_v8.1c.ru_8.1_data_txtedt.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.1/data/txtedt"
           xmlns:ui="http://v8.1c.ru/8.1/data/ui"
           targetNamespace="http://v8.1c.ru/8.1/data/txtedt"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:import namespace="http://v8.1c.ru/8.1/data/ui" schemaLocation="../../../xdto/src/res/uiobjects.xsd"/>

  <xs:complexType name="MaketParameter">
      <xs:sequence>
        <xs:element name="val" type="xs:anyType" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="TextDocument">
      <xs:sequence>
        <xs:element name="content" type="xs:string" minOccurs="0" />
        <xs:element name="param" type="tns:MaketParameter" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="ro"  type="xs:boolean" />
      <xs:attribute name="url" type="xs:string" />
      <xs:attribute name="tpl" type="xs:string" />
      <xs:attribute name="sep" type="xs:string" />
      <xs:attribute name="out" type="ui:UseOutput" />
      <xs:attribute name="cod" type="xs:string" />
      <xs:attribute name="codext" type="ui:TextEncoding" />
    </xs:complexType>
</xs:schema>
