src/onec_ordinary_forms/schemas/platform/8.5/mngcore/mngcore_root-149-http_v8.1c.ru_8.2_managed-application_cmi.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="http://v8.1c.ru/8.2/managed-application/cmi"
           xmlns:core="http://v8.1c.ru/8.1/data/core" 
           xmlns:uobj="http://v8.1c.ru/8.2/uobjects" 
           xmlns:ui="http://v8.1c.ru/8.1/data/ui"
           xmlns:lf="http://v8.1c.ru/8.2/managed-application/logform"
           xmlns:ma="http://v8.1c.ru/8.2/managed-application/core"
           xmlns:module="http://v8.1c.ru/8.2/managed-application/modules"
           xmlns:bsl="http://v8.1c.ru/8.2/data/bsl"
           targetNamespace="http://v8.1c.ru/8.2/managed-application/cmi"
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified" 
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.1/data/ui" schemaLocation="../../../xdto/src/res/uiobjects.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.2/uobjects" schemaLocation="uobjects.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.2/managed-application/logform" schemaLocation="logform.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.2/managed-application/modules" schemaLocation="modules.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.2/managed-application/core" schemaLocation="mngapp.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.2/data/bsl" schemaLocation="../../../bsl/src/res/bsl.xsd"/>

    <xs:element name="command" type="tns:Command" />
    <xs:element name="group" type="tns:Group" />
    <xs:element name="section" type="tns:Section" />

    <!-- Общая информация -->
    <xs:group name="CommonInfo">
        <xs:choice>
            <xs:element name="text" type="xs:string" minOccurs="0" />
            <xs:element name="tooltip" type="xs:string" minOccurs="0" />
            <xs:element name="pic" type="ui:Picture" minOccurs="0" />
            <!-- Размер картинки по горизонтали: заполняется только для разделов, если попросили -->
            <xs:element name="picSizeCX" type="xs:decimal" minOccurs="0" />
            <!-- Размер картинки по вертикали: заполняется только для разделов, если попросили -->
            <xs:element name="picSizeCY" type="xs:decimal" minOccurs="0" />
            <!-- Картинка является шаблоном: заполняется только для разделов, если попросили -->
            <xs:element name="picMask" type="xs:decimal" minOccurs="0" />
        </xs:choice>
    </xs:group>

    <!-- Фрагмент -->
    <xs:group name="Fragment">
        <xs:choice>
            <xs:element ref="tns:command" />
            <xs:element ref="tns:group" />
            <xs:element ref="tns:section" />
        </xs:choice>
    </xs:group>

    <!-- URL для точки навигации -->
    <xs:complexType name="URLByNavigationPoint">
        <xs:sequence>
          <xs:element name="np"  type="ma:NavigationPoint"/>
          <xs:element name="url" type="xs:string"/>
          <xs:element name="presentation" type="xs:string"/>
          <xs:element name="shortPresentation" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Список URL'ов для точек навигации -->
    <xs:complexType name="URLsByNavigationPoints">
        <xs:sequence>
            <xs:element name="data" type="tns:URLByNavigationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Режим использования параметра команды -->
    <xs:simpleType name="CommandParameterUseMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Single" />
            <xs:enumeration value="Multiple" />
        </xs:restriction>
    </xs:simpleType>
                   
    <!-- Информация о команде -->
    <xs:complexType name="CommandInfo">
        <xs:choice>
            <xs:group ref="tns:CommonInfo" />
            <xs:element name="shortcut" type="ui:ShortCutType" minOccurs="0" />
            <xs:element name="param" type="core:TypeDescription" minOccurs="0" />
        </xs:choice>
        <!-- Идентификатор команды -->
        <xs:attribute name="id" type="core:CompositeID" use="required"/>
        <!-- Имя команды английское -->
        <xs:attribute name="nameInt" type="xs:string" use="required"/>
        <!-- Имя команды русское -->
        <xs:attribute name="nameRus" type="xs:string" use="required"/>
        <!-- Имя объекта метаданных, предоставляющего команду -->
        <xs:attribute name="md" type="xs:string" use="required"/>
        <!-- Вид представления команды -->
        <xs:attribute name="kind" type="lf:ButtonRepresentation" />
        <!-- Справка -->
        <xs:attribute name="helpTopic" type="xs:string" use="required"/>
        <!-- Навигационная ссылка -->
        <xs:attribute name="url" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Информация о командах -->
    <xs:complexType name="CommandsInfo">
        <xs:sequence>
            <xs:element name="info" type="tns:CommandInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Категория групп команд -->
    <xs:simpleType name="GroupCategory">
        <xs:restriction base="xs:string">
            <!-- Неопределенная категория -->
          <xs:enumeration value="undefined" />
            <!-- Навигатор -->
            <xs:enumeration value="navigator" />
            <!-- Навигатор формы -->
            <xs:enumeration value="form" />
            <!-- Панель действий -->
            <xs:enumeration value="panel" />
            <!-- Командная панель формы -->
            <xs:enumeration value="toolbar" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Категории групп команд -->
    <xs:simpleType name="GroupCategories">
        <xs:list itemType="tns:GroupCategory"/>
    </xs:simpleType>

    <!-- Информация о группе команд -->
    <xs:complexType name="GroupInfo">
        <xs:choice>
            <xs:group ref="tns:CommonInfo" />
        </xs:choice>
        <!-- Идентификатор группы -->
        <xs:attribute name="id" type="core:UUID" use="required"/>
        <!-- Категория группы -->
        <xs:attribute name="cat" type="tns:GroupCategory" />
        <!-- Приоритет группы -->
        <xs:attribute name="order" type="xs:decimal" />
        <!-- Вид представления команды -->
        <xs:attribute name="kind" type="lf:ButtonRepresentation" />
    </xs:complexType>

    <!-- Информация о секции команд -->
    <xs:complexType name="SectionInfo">
        <xs:choice>
            <xs:group ref="tns:CommonInfo" />
        </xs:choice>
        <!-- Идентификатор секции -->
        <xs:attribute name="id" type="core:UUID" use="required"/>
        <!-- Имя секции -->
        <xs:attribute name="name" type="xs:string" use="required"/>
        <!-- Справка -->
        <xs:attribute name="helpTopic" type="xs:string" use="required"/>
        <!-- Подсистема с одной командой -->
        <xs:attribute name="oneCommandSubsystem" type="xs:boolean" default="false"/>
    </xs:complexType>

    <!-- Команда - элемент командного интерфейса -->
    <xs:complexType name="Command">
        <xs:complexContent>
            <xs:extension base="tns:CommandInfo">
                <xs:attribute name="include" type="xs:boolean" default="true" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Группа - элемент командного интерфейса -->
    <xs:complexType name="Group">
        <xs:complexContent>
            <xs:extension base="tns:GroupInfo">
                <xs:group ref="tns:Fragment" minOccurs="0" maxOccurs="unbounded" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Раздел - элемент командного интерфейса -->
    <xs:complexType name="Section">
        <xs:complexContent>
            <xs:extension base="tns:SectionInfo">
                <xs:choice>
                  <xs:group ref="tns:Fragment" minOccurs="0" maxOccurs="unbounded" />
                </xs:choice>
                <xs:attribute name="include" type="xs:boolean" default="true" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Фрагмент командного интерфейса -->
    <xs:complexType name="Fragment">
        <xs:sequence>
            <xs:group ref="tns:Fragment" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- Вид представления команд -->
        <xs:attribute name="kind" type="ma:SectionPanelRepresentation" />
    </xs:complexType>

    <xs:complexType name="ModuleInfo">
        <xs:sequence>
          <xs:element name="securityInfo" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="moduleId" type="xs:string"/>
        <xs:attribute name="moduleName" type="xs:string"/>
    </xs:complexType>

    <!-- Иниформация об обработчике команды -->
    <xs:complexType name="HandlerInfo">
        <xs:sequence>
            <xs:element name="formId" type="core:CompositeID" />
            <xs:element name="formName" type="xs:string"  minOccurs="0" />
            <xs:element name="moduleInfo" type="tns:ModuleInfo" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="name" type="xs:string"  minOccurs="0"/>
            <xs:element name="nameRu" type="xs:string"  minOccurs="0" />
            <xs:element name="listFilter" type="xs:boolean" />
            <xs:element name="param" type="xs:string"  minOccurs="0" />
            <xs:element name="usageMode" type="tns:CommandParameterUseMode" />
            <xs:element name="modifiesData" type="xs:boolean" />
            <xs:element name="createGroupCommand" type="xs:boolean" />
        </xs:sequence>
        <xs:attribute name="theme" type="xs:boolean" />
        <xs:attribute name="subTheme" type="xs:boolean" />
        <xs:attribute name="standard" type="xs:boolean" />
        <xs:attribute name="defGroupCat" type="tns:GroupCategory" />
    </xs:complexType>

    <xs:complexType name="ModuleInfoEx">
        <xs:sequence>
            <xs:element name="clnModule" type="xs:string" minOccurs="0"/>
            <xs:element name="mtd" type="module:MethodDefs" minOccurs="0"/>
            <xs:element name="moduleImage" type="bsl:BSLModuleImage" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <!-- Расширенная иниформация об обработчике команды -->
    <xs:complexType name="HandlerInfoEx">
        <xs:complexContent>
            <xs:extension base="tns:HandlerInfo">
                <xs:sequence>
                    <xs:element name="moduleInfoEx" type="tns:ModuleInfoEx" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="url" type="xs:string" minOccurs="0"/>
                    <xs:element name="presentation" type="xs:string" minOccurs="0"/>
                    <xs:element name="shortPresentation" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

  <!-- Иниформация об обработчике команды по идентификатору-->
  <xs:complexType name="HandlerInfoByID">
    <xs:sequence>
      <!-- Идентификатор команды -->
      <xs:element name="id" type="core:CompositeID"/>
      <!-- Информация об обработчике команды -->
      <xs:element name="handleInfo" type="tns:HandlerInfo" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Иниформация об обработчиках команд -->
  <xs:complexType name="HandlersInfosVector">
    <xs:sequence>
      <!-- Информация об обработчике команды по идентификатору -->
      <xs:element name="item" type="tns:HandlerInfoByID" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!-- Список идентификаторов команд -->
  <xs:complexType name="CommandIDs">
    <xs:sequence>
      <!-- Идентификатор команды -->
      <xs:element name="id" type="core:CompositeID" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!-- Путь к точке навигации -->
    <xs:complexType name="CommandPath">
        <xs:sequence>
            <xs:element name="cmd" type="tns:CommandInfo" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Настройки командного интерфейса -->
    <xs:complexType name="CommandInterfaceItems">
        <xs:sequence>
            <xs:element name="uitems" type="uobj:FormDataTree" minOccurs="0" />
            <xs:element name="present" type="ma:SectionPanelRepresentation" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

  <!-- подсистема и панель -->
  <xs:complexType name="SubsystemAndPanel">
    <xs:sequence>
      <xs:element name="subsystem" type="core:UUID" />
      <xs:element name="panel" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>

  <!-- Команда с акселератором -->
  <xs:complexType name="CommansShortCutInfo">
    <xs:sequence>
      <xs:element name="shortCut" type="ui:ShortCutType" />
      <xs:element name="fragments" type="tns:SubsystemAndPanel" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="commandId" type="core:CompositeID" />
    </xs:sequence>
  </xs:complexType>

  <!-- Информация о командах с акселератором-->
  <xs:complexType name="CommansShortCutInfoVector">
    <xs:sequence>
      <xs:element name="info" type="tns:CommansShortCutInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Информация для возврата клиентскому менеджеру ГКИ при его старте -->
  <xs:complexType name="ClientCMIStartUpDataType">
    <xs:sequence>
      
      <!-- Описание обработчика команды для дефолтной точки навигации -->
      <xs:element name="defaultNPHandleInfo" type="tns:HandlerInfo" minOccurs="0" maxOccurs="unbounded"/>

      <!-- Разделы верхнего уровня для UUID'a из дефолтной точки навигации -->
      <xs:element name="toplevelSubsystems" type="tns:Fragment" minOccurs="0" maxOccurs="unbounded"/>

      <!-- URLы для точек навигации -->
      <xs:element name="urls" type="tns:URLsByNavigationPoints" minOccurs="0" maxOccurs="unbounded"/>

      <!-- Панель навигации и панель действий -->
      <xs:element name="panels" type="tns:Fragment" minOccurs="0" maxOccurs="unbounded"/>

      <!-- Команды с акселераторами -->
      <xs:element name="commandsWithShortCuts" type="tns:CommansShortCutInfoVector" minOccurs="0" maxOccurs="unbounded"/>
      
    </xs:sequence>
  </xs:complexType>
    
  <!-- Информация для возврата клиентскому менеджеру ГКИ при обновлении интерфейса (метод ОбновитьИнтерфейс) -->
  <xs:complexType name="ClientCMIUpdateInterfaceDataType">
    <xs:sequence>
        
      <!-- Вервисия функциональных опций -->
      <xs:element name="foVer" type="xs:string" minOccurs="0"/>
        
      <!-- Дефолтная точка навигации -->
      <xs:element name="defaultNP" type="ma:NavigationPoint" minOccurs="0"/>

      <!-- URL для текущей точки навигации -->
      <xs:element name="currentNPUrl" type="xs:string" minOccurs="0"/>

      <!-- Начальная информация для работы клиентского менеджера ГКИ -->
      <xs:element name="startUpData" type="tns:ClientCMIStartUpDataType" minOccurs="0"/>
        
    </xs:sequence>
  </xs:complexType>

    <!-- Тип группы меню функций -->
    <xs:simpleType name="FuncMenuGroupType">
        <xs:restriction base="xs:string">
            <!-- Значение по умолчанию -->
            <xs:enumeration value="Simple" />
            <xs:enumeration value="SubSystem" />
            <xs:enumeration value="Section" />
            <xs:enumeration value="Group" />
            <xs:enumeration value="Actions" />
            <xs:enumeration value="SeeAlso" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Подсветка участка текста в меню функций -->
    <xs:complexType name="FuncMenuHighlight">
        <xs:attribute name="position" type="xs:decimal" />
        <xs:attribute name="length" type="xs:decimal" />
    </xs:complexType>

    <!-- Команда в меню функций -->
    <xs:complexType name="FuncMenuCommand">
        <xs:sequence>
            <xs:element name="id" type="core:CompositeID" minOccurs="0" maxOccurs="1" />
            <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="tooltip" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="picture" type="ui:Picture" minOccurs="0" maxOccurs="1" />
            <xs:element name="shortCut" type="ui:ShortCutType" minOccurs="0" maxOccurs="1" />
            <xs:element name="important" type="xs:boolean" minOccurs="0" maxOccurs="1" />
            <xs:element name="highlight" type="tns:FuncMenuHighlight" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- Группа в меню функций -->
    <xs:complexType name="FuncMenuGroup">
        <xs:sequence>
            <xs:element name="type" type="tns:FuncMenuGroupType" minOccurs="0" maxOccurs="1" />
            <xs:element name="id" type="core:CompositeID" minOccurs="0" maxOccurs="1" />
            <xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="picture" type="ui:Picture" minOccurs="0" maxOccurs="1" />
            <xs:element name="newColumn" type="xs:boolean" minOccurs="0" maxOccurs="1" />
            <xs:element name="command" type="tns:FuncMenuCommand" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="group" type="tns:FuncMenuGroup" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="highlight" type="tns:FuncMenuHighlight" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
