src/onec_ordinary_forms/schemas/platform/8.2/dcscore/dcscore_root-03-http_v8.1c.ru_8.1_data-composition-system_settings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.1/data-composition-system/settings"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:dcscore="http://v8.1c.ru/8.1/data-composition-system/core"
           targetNamespace="http://v8.1c.ru/8.1/data-composition-system/settings"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.1/data-composition-system/core" schemaLocation="core.xsd"/>
    <xs:element name="settings" type="tns:Settings">
		<xs:annotation>
			<xs:documentation>Корневые настройки</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Settings">
		<xs:annotation>
			<xs:documentation>Настройки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="userFields" type="tns:UserFields" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пользовательские поля.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="selection" type="tns:Selection" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Выбранные поля. При выводе отчета не используется</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filter" type="tns:Filter" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Глобальный фильтр. Прописывается как условия в запросы наборов данных и как фильтры для наборов данных целиком.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataParameters" type="tns:DataParameterValues" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Значение парметров получения данных.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="order" type="tns:Order" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядок. Прописывается как упорядочивание в запросы набоов данных.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="conditionalAppearance" type="tns:ConditionalAppearance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Условное оформление. Используется во всей компоновке.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="outputParameters" type="tns:CompositionOutputParameterValues" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Параметры вывода. Использование зависит от свойства.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="item" type="tns:StructureItem" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Элемент структуры отчета</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalProperties" type="core:Structure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дополнительные свойства</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="itemsViewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Режим отображения структуры</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="itemsUserSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор выделенной настройки структуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="itemsUserSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Представление выделенной настройки структуры</xs:documentation>
				</xs:annotation>
			</xs:element>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="DataParameterValues">
		<xs:annotation>
			<xs:documentation>Параметры получения данных</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dcscore:ParameterValues"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CompositionOutputParameterValues">
		<xs:annotation>
			<xs:documentation>
                Параметры вывода всей компоновки. Возможны следующие параметры:
                TotalsPlacement - итоги по строкам колонкам (TotalPlacement)
                GroupFieldsPlacement - размещение полей группировки (GroupFieldsPlacementType)
                GroupPlacement - тип размещения группировок (GroupPlacementType)
                AttributePlacement
                ResourcePlacement
                HorizontalOverallPlacement - (TotalPlacement)
                VerticalOverallPlacement - (TotalPlacement)
                ChartType (ТипДиаграммы) - тип диаграммы. Перечисление ТипДиаграммы.
                ChartType.BaseValue (ТипДиаграммы.БазовоеЗначение)– Базовое значение. Число.
                ChartType.HideBaseValue (ТипДиаграммы.ПропускатьБазовоеЗначение) - Пропускать точки с базовым значением. Булево.
                ChartType.LabelType (ТипДиаграммы.ВидПодписей) - Состав подписей. Перечисление ВидПодписейКДиаграмме (ChartLabelType).
                ChartType.AutoSeriesSeparation (ТипДиаграммы.АвтоРаздвижениеСерий) Режим раздвижения. Перечисление АвтоРаздвижениеСерий (AutoSeriesSeparation).
                ChartType.ShowDataTable (ТипДиаграммы.ОтображатьТаблицуДанных)- Отображать таблицу данных. Булево.
                ChartType.MaxValue (ТипДиаграммы.МаксимальноеЗначение) - Максимальное значение. Число.
                ChartType.MinValue (ТипДиаграммы.МинимальноеЗначение) - Минимальное значение. Число.
                ChartType.Outline (ТипДиаграммы.Окантовка) – Окантовка. Булево.
                ChartType.Gradient (ТипДиаграммы.Градиент) – Градиент. Булево.
                ChartType.Font(ТипДиаграммы.Шрифт) - Шрифт диаграммы. Шрифт
                ChartType.BackColor(ТипДиаграммы.ЦветФона) - Цвет фона диаграммы. Цвет.
                ChartType.BorderStyle(ТипДиаграммы.СтильЛинии) - стиль линии вокруг диаграммы. Линия.
                ChartType.LegendPlacement(ТипДиаграммы.РасположениеЛегенды) - расположение легенды в диаграммы. РасположениеЛегендыДиаграммыСистемыКомпоновкиДанных.
                ChartType.GaugeChartQualityBands(ТипДиаграммы.ПолосыИзмерительнойДиаграммы) - полосы для измерительной диаграммы. ПолосыИзмерительнойДиаграммы.
                ChartType.ResourcesPlacement(ТипДиаграммы.РасположениеРесурсов) - расположение ресурсов в диаграмме. РасположениеРесурсовВДиаграммеКомпоновкиДанных.

                FieldsTitleType - тип заголовков полей(DataCompositionFieldsTitleType)
                OutputTitle - выводить заголовок (DataCompositionTextOutputType)
                Title - заголовок (Строка)
                OutputDataParameters - выводить параметры данных (DataCompositionTextOutputType)
                OutputFilter - выводить отбор (DataCompositionTextOutputType)
                ResourcesAutoPosition - авто позиция ресурсов (DataCompositionResourcesAutoPosition)
            </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dcscore:ParameterValues"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Order">
		<xs:annotation>
			<xs:documentation>Порядок</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="tns:OrderItem" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Элемент порядка</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Режим отображения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Представление выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
        </xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderItem" abstract="true">
		<xs:annotation>
			<xs:documentation>Элемент порядка</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="OrderItemField">
        <xs:annotation>
            <xs:documentation>Элемент порядка поле</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:OrderItem">
                <xs:sequence>
					<xs:element name="use" type="xs:boolean"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Элемент порядка используется.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="field" type="dcscore:Field">
						<xs:annotation>
							<xs:documentation>
								Поле упорядочивания.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderType"
						type="dcscore:DataCompositionSortDirection" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Тип упорядочивания.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
		            <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
		                <xs:annotation>
		                    <xs:documentation>Режим отображения</xs:documentation>
		                </xs:annotation>
		            </xs:element>
				</xs:sequence>
                <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
            </xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderItemAuto">
		<xs:annotation>
			<xs:documentation>Элемент порядка авто</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:OrderItem">
				<xs:sequence>
					<xs:element name="use" type="xs:boolean"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Элемент порядка используется.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
                <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
            </xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Filter">
		<xs:annotation>
			<xs:documentation>Отбор</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="tns:FilterItem" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Элемент отбора</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Режим отображения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Представление выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
        </xs:sequence>
	</xs:complexType>
	<xs:complexType name="FilterItem" abstract="true">
		<xs:annotation>
			<xs:documentation>Элемент отбора</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="FilterItemComparison">
		<xs:annotation>
			<xs:documentation>Элемент отбора - сравнение</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:FilterItem">
				<xs:sequence>
					<xs:element name="use" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Элемент отбора используется.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="left" type="xs:anyType" maxOccurs="1" minOccurs="0" nillable="true">
						<xs:annotation>
							<xs:documentation>Значение в левой части условия. Может содержать константное значение или значение - поле.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="comparisonType" type="tns:DataCompositionComparisonType">
						<xs:annotation>
							<xs:documentation>Тип сравнения.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="right" type="xs:anyType" minOccurs="0" maxOccurs="unbounded" nillable="true">
						<xs:annotation>
							<xs:documentation>Значение в правой части условия. Может содержать константное значение или значение - поле.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="presentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление элемента</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="application" type="tns:DataCompositionFilterApplicationType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Применение элемента</xs:documentation>
						</xs:annotation>
					</xs:element>		
					<xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Режим отображения</xs:documentation>
						</xs:annotation>
					</xs:element>		
					<xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор выделенной настройки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление выделенной настройки</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
                <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
            </xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DataCompositionComparisonType">
		<xs:annotation>
			<xs:documentation>Вид сравнения</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Equal"/>
			<xs:enumeration value="NotEqual" />
			<xs:enumeration value="Less"/>
			<xs:enumeration value="LessOrEqual"/>
			<xs:enumeration value="Greater"/>
			<xs:enumeration value="GreaterOrEqual"/>
			<xs:enumeration value="Contains"/>
			<xs:enumeration value="InList"/>
			<xs:enumeration value="InListByHierarchy"/>
			<xs:enumeration value="InHierarchy" />
			<xs:enumeration value="NotContains"/>
			<xs:enumeration value="NotInList"/>
			<xs:enumeration value="NotInListByHierarchy"/>
			<xs:enumeration value="NotInHierarchy" />
			<xs:enumeration value="Filled"/>
			<xs:enumeration value="NotFilled" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FilterItemGroup">
		<xs:annotation>
			<xs:documentation>Элемент отбора группа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:FilterItem">
				<xs:sequence>
					<xs:element name="use" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Элемент отбора используется.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="groupType" type="tns:DataCompositionFilterItemsGroupType">
						<xs:annotation>
							<xs:documentation>Тип группы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="item" type="tns:FilterItem" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Вложенные элементы отбора.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="presentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление элемента</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="application" type="tns:DataCompositionFilterApplicationType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Применение элемента</xs:documentation>
						</xs:annotation>
					</xs:element>		
					<xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Режим отображения</xs:documentation>
						</xs:annotation>
					</xs:element>		
					<xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор выделенной настройки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление выделенной настройки</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
                <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
            </xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DataCompositionFilterItemsGroupType">
		<xs:annotation>
			<xs:documentation>Тип группы отбора</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AndGroup"/>
			<xs:enumeration value="OrGroup"/>
			<xs:enumeration value="NotGroup"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Selection">
		<xs:annotation>
			<xs:documentation>Выбранные элементы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="tns:SelectedItem" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Элемент выбора.</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Режим отображения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Представление выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
        </xs:sequence>
	</xs:complexType>
	<xs:complexType name="SelectedItem" abstract="true">
		<xs:annotation>
			<xs:documentation>Выбранный элемент</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="SelectedItemField">
		<xs:annotation>
			<xs:documentation>Выбранное поле</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:SelectedItem">
				<xs:sequence>
					<xs:element name="use" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Поле используется</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="field" type="dcscore:Field">
						<xs:annotation>
							<xs:documentation>Путь к данным поля.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="title" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Заголовок</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lwsTitle" type="core:LocalStringType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Заголовок на нескольких языках.</xs:documentation>
						</xs:annotation>
					</xs:element>
		            <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
		                <xs:annotation>
		                    <xs:documentation>Режим отображения</xs:documentation>
		                </xs:annotation>
		            </xs:element>
				</xs:sequence>
                <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
            </xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DataCompositionFieldPlacement">
		<xs:annotation>
			<xs:documentation>Тип размещения поля</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Auto"/>
			<xs:enumeration value="Horizontally"/>
			<xs:enumeration value="Vertically"/>
			<xs:enumeration value="SpecialColumn"/>
			<xs:enumeration value="Together"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SelectedItemFolder">
		<xs:annotation>
			<xs:documentation>Выбранная папка</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:SelectedItem">
				<xs:sequence>
					<xs:element name="use" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Папка и ее содержимое используется.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="field" type="dcscore:Field" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Путь к данным папки.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="title" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Заголовок.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lwsTitle" type="core:LocalStringType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Заголовок на нескольких языках.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="item" type="tns:SelectedItem" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Вложенный выбор.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="placement" type="tns:DataCompositionFieldPlacement" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Размещение</xs:documentation>
						</xs:annotation>
					</xs:element>
		            <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
		                <xs:annotation>
		                    <xs:documentation>Режим отображения</xs:documentation>
		                </xs:annotation>
		            </xs:element>
				</xs:sequence>
                <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
            </xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SelectedItemAuto">
		<xs:annotation>
			<xs:documentation>Выбранное поле "авто"</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:SelectedItem">
				<xs:sequence>
					<xs:element name="use" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Выбранное поле используется.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
                <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
            </xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UserFields">
		<xs:annotation>
			<xs:documentation>Пользовательские поля</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="tns:UserField" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Пользовательское поле.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserField" abstract="true">
		<xs:annotation>
			<xs:documentation>Пользовательское поле</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="use" type="xs:boolean" maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="dataPath" type="xs:string">
				<xs:annotation>
					<xs:documentation>Путь к данным поля.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Заголовок поля.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lwsTitle" type="core:LocalStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Заголовок на нескольких языках.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserFieldExpression">
		<xs:annotation>
			<xs:documentation>Пользовательское поле - выражение</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:UserField">
				<xs:sequence>
					<xs:element name="detailExpression" type="xs:string">
						<xs:annotation>
							<xs:documentation>Выражение поля.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detailExpressionPresentation" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление выражения поля.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="totalExpression" type="xs:string">
						<xs:annotation>
							<xs:documentation>Выражение итогового поля.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="totalExpressionPresentation" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление выражения итогового поля.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UserFieldCase">
		<xs:annotation>
			<xs:documentation>Пользовательское поле - выбор</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:UserField">
				<xs:sequence>
					<xs:element name="cases" type="tns:Case">
						<xs:annotation>
							<xs:documentation>Варианты</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Case">
		<xs:annotation>
			<xs:documentation>Варианты пользовательского поля</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="tns:CaseItem" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вариант.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CaseItem">
		<xs:annotation>
			<xs:documentation>Вариант пользовательского поля</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="use" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вариант используется.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filter" type="tns:Filter" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отбор варианта.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="value" type="xs:anyType" maxOccurs="1" minOccurs="0" nillable="true">
				<xs:annotation>
					<xs:documentation>Значение. Может содержать константное значение или значение - поле.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="presentationValue" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Значение представления.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lwsPresentationValue" type="core:LocalStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Значение представления на нескольких языках.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
        <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
    </xs:complexType>
	<xs:complexType name="StructureItem" abstract="true">
		<xs:annotation>
			<xs:documentation>Элемент структуры</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="StructureItemGroup">
		<xs:annotation>
			<xs:documentation>Группировка</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:StructureItem">
				<xs:sequence>
					<xs:element name="use" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Группировка используется.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Имя группировки.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="groupItems" type="tns:GroupItems" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Поля, по которым осуществляется группировка</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="filter" type="tns:Filter" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Отбор, применяемый к записям, попадающим в группировку.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="order" type="tns:Order" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Порядок для упорядочивания групповых записей.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="selection" type="tns:Selection" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Поля, выводимые в группировке.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="conditionalAppearance" type="tns:ConditionalAppearance" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Условное оформление, применяемое в группировке.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="outputParameters" type="tns:GroupOutputParameterValues" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Использование зависит от свойства.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="item" type="tns:StructureItem" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элементы структуры группировки.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор</xs:documentation>
						</xs:annotation>
					</xs:element>
                    <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Режим отображения</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор выделенной настройки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление выделенной настройки</xs:documentation>
						</xs:annotation>
					</xs:element>
                    <xs:element name="itemsViewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Режим отображения структуры</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="itemsUserSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор выделенной настройки структуры</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="itemsUserSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление выделенной настройки структуры</xs:documentation>
						</xs:annotation>
					</xs:element>
                    <xs:element name="groupState" type="tns:DataCompositionSettingsItemState" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Состояние группировки</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
            </xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GroupOutputParameterValues">
		<xs:annotation>
			<xs:documentation>
                Параметры вывода группировки. Возможны следующие параметры:
                TotalsPlacement - итоги по строкам колонкам (TotalPlacement)
                GroupFieldsPlacement - размещение полей группировки (GroupFieldsPlacementType)
                GroupPlacement - тип размещения группировок (GroupPlacementType)
                AttributePlacement
                ResourcePlacement
                VerticalOverallsPlacement  - (TotalPlacement)
                ChartType (ТипДиаграммы) - тип диаграммы. Перечисление ТипДиаграммы.
                ChartType.BaseValue (ТипДиаграммы.БазовоеЗначение)– Базовое значение. Число.
                ChartType.HideBaseValue (ТипДиаграммы.ПропускатьБазовоеЗначение) - Пропускать точки с базовым значением. Булево.
                ChartType.LabelType (ТипДиаграммы.ВидПодписей) - Состав подписей. Перечисление ВидПодписейКДиаграмме (ChartLabelType).
                ChartType.AutoSeriesSeparation (ТипДиаграммы.АвтоРаздвижениеСерий) Режим раздвижения. Перечисление АвтоРаздвижениеСерий (AutoSeriesSeparation).
                ChartType.ShowDataTable (ТипДиаграммы.ОтображатьТаблицуДанных)- Отображать таблицу данных. Булево.
                ChartType.MaxValue (ТипДиаграммы.МаксимальноеЗначение) - Максимальное значение. Число.
                ChartType.MinValue (ТипДиаграммы.МинимальноеЗначение) - Минимальное значение. Число.
                ChartType.Outline (ТипДиаграммы.Окантовка) – Окантовка. Булево.
                ChartType.Gradient (ТипДиаграммы.Градиент) – Градиент. Булево.
                ChartType.Font(ТипДиаграммы.Шрифт) - Шрифт диаграммы. Шрифт
                ChartType.BackColor(ТипДиаграммы.ЦветФона) - Цвет фона диаграммы. Цвет.
                ChartType.BorderStyle(ТипДиаграммы.СтильЛинии) - стиль линии вокруг диаграммы. Линия.
                ChartType.LegendPlacement(ТипДиаграммы.РасположениеЛегенды) - расположение легенды в диаграммы. РасположениеЛегендыДиаграммыСистемыКомпоновкиДанных.
                ChartType.GaugeChartQualityBands(ТипДиаграммы.ПолосыИзмерительнойДиаграммы) - полосы для измерительной диаграммы. ПолосыИзмерительнойДиаграммы.
                ChartType.ResourcesPlacement(ТипДиаграммы.РасположениеРесурсов) - расположение ресурсов в диаграмме. РасположениеРесурсовВДиаграммеКомпоновкиДанных.
                TemplateType - тип макета
                FieldsTitleType - тип заголовков полей(DataCompositionFieldsTitleType)
                RecordsCount(КоличествоЗаписей) - количество записей, которое необходимо выводить в группировке
                RecordsPercent(ПроцентЗаписей) - процент записей, которое необходимо выводить в группировке
                ResourcesAutoPosition - авто позиция ресурсов (DataCompositionResourcesAutoPosition)
            </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dcscore:ParameterValues"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StructureItemTable">
		<xs:annotation>
			<xs:documentation>Таблица</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:StructureItem">
				<xs:sequence>
					<xs:element name="use" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таблица используется</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Имя таблицы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="column" type="tns:TableGroup" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Колонки таблицы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="row" type="tns:TableGroup" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Строки таблицы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="selection" type="tns:Selection" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Выбранные поля. При выводе не используется.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="conditionalAppearance" type="tns:ConditionalAppearance" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Условное оформление, используемое в таблице.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="outputParameters" type="tns:TableOutputParameterValues" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Параметры вывода таблицы. Использование зависит от свойства.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор</xs:documentation>
						</xs:annotation>
					</xs:element>
                    <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Режим отображения</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор выделенной настройки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление выделенной настройки</xs:documentation>
						</xs:annotation>
					</xs:element>
                    <xs:element name="columnsViewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Режим отображения колонок</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="columnsUserSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор выделенной настройки структуры колонок</xs:documentation>
						</xs:annotation>
					</xs:element>
                    <xs:element name="columnsUserSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление выделенной настройки структуры колонок</xs:documentation>
						</xs:annotation>
					</xs:element>
                    <xs:element name="rowsViewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Режим отображения строк</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="rowsUserSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор выделенной настройки структуры строк</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rowsUserSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление выделенной настройки структуры строк</xs:documentation>
						</xs:annotation>
					</xs:element>
                </xs:sequence>
                <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
            </xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TableOutputParameterValues">
		<xs:annotation>
			<xs:documentation>Параметры вывода таблицы. Возможны следующие параметры:
TotalsPlacement - итоги по строкам колонкам (TotalPlacement)
GroupFieldsPlacement - размещение полей группировки (GroupFieldsPlacementType)
GroupPlacement - тип размещения группировок (GroupPlacementType)
AttributePlacement
ResourcePlacement
HorizontalOverallPlacement - (TotalPlacement)
VerticalOverallPlacement - (TotalPlacement)
FieldsTitleType - тип заголовков полей(DataCompositionFieldsTitleType)
OutputTitle - выводить заголовок (DataCompositionTextOutputType)
Title - заголовок (Строка)
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dcscore:ParameterValues"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TableGroup">
		<xs:annotation>
			<xs:documentation>Группировка таблицы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="use" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Группировка используется.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Имя группировки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="groupItems" type="tns:GroupItems" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Поля, по которым осуществляется группировка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filter" type="tns:Filter" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фильтр, применяемый к записям, попадающим в группировку.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="order" type="tns:Order" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Упорядочивание записей группировки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="selection" type="tns:Selection" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Поля, выводимые в группировке.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="conditionalAppearance" type="tns:ConditionalAppearance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Условоное оформление, применяемое для группировки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="outputParameters" type="tns:TableGroupOutputParameterValues" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Параметры вывода группировки. Использование зависит от свойства.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="item" type="tns:TableGroup" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Элементы структуры группировки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Режим отображения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Представление выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="itemsViewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Режим отображения структуры</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="itemsUserSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор выделенной настройки структуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="itemsUserSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Представление выделенной настройки структуры</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="groupState" type="tns:DataCompositionSettingsItemState" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Состояние группировки</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
    </xs:complexType>
	<xs:complexType name="TableGroupOutputParameterValues">
		<xs:annotation>
			<xs:documentation>Параметры вывода группировки таблицы. Возможны следующие параметры:
TotalsPlacement - итоги по строкам колонкам (TotalPlacement)
GroupFieldsPlacement - размещение полей группировки (GroupFieldsPlacementType)
GroupPlacement - тип размещения группировок (GroupPlacementType)
AttributePlacement
ResourcePlacement
FieldsTitleType - тип заголовков полей(DataCompositionFieldsTitleType)
RecordsCount(КоличествоЗаписей) - количество записей, которое необходимо выводить в группировке
RecordsPercent(ПроцентЗаписей) - процент записей, которое необходимо выводить в группировке
UseVariant(ВариантИспользования) - вариант использования</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dcscore:ParameterValues"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StructureItemChart">
		<xs:annotation>
			<xs:documentation>Диаграмма</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:StructureItem">
				<xs:sequence>
					<xs:element name="use" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Диаграмма используется</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Имя диаграммы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="point" type="tns:ChartGroup" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Точки диаграммы.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="series" type="tns:ChartGroup" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Серии диаграммы.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="selection" type="tns:Selection" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Задаются ресурсы, выводимые в диаграмму.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="conditionalAppearance" type="tns:ConditionalAppearance" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Условное оформление, используемое в диаграмме.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="outputParameters" type="tns:ChartOutputParameterValues" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Параметры вывода диаграммы.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор</xs:documentation>
						</xs:annotation>
					</xs:element>
                    <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Режим отображения</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор выделенной настройки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление выделенной настройки</xs:documentation>
						</xs:annotation>
					</xs:element>
                    <xs:element name="pointsViewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Режим отображения структуры точек</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="pointsUserSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор выделенной настройки структуры точек</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pointsUserSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление выделенной настройки структуры точек</xs:documentation>
						</xs:annotation>
					</xs:element>
                    <xs:element name="seriesViewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Режим отображения структуры серий</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="seriesUserSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор выделенной настройки структуры серий</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="seriesUserSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление выделенной настройки структуры серий</xs:documentation>
						</xs:annotation>
					</xs:element>
                </xs:sequence>
                <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
            </xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChartOutputParameterValues">
		<xs:annotation>
			<xs:documentation>
                Параметры вывода диаграммы. Возможны следующие параметры:
                ChartType (ТипДиаграммы) - тип диаграммы. Перечисление ТипДиаграммы.
                ChartType.BaseValue (ТипДиаграммы.БазовоеЗначение)– Базовое значение. Число.
                ChartType.HideBaseValue (ТипДиаграммы.ПропускатьБазовоеЗначение) - Пропускать точки с базовым значением. Булево.
                ChartType.LabelType (ТипДиаграммы.ВидПодписей) - Состав подписей. Перечисление ВидПодписейКДиаграмме (ChartLabelType).
                ChartType.AutoSeriesSeparation (ТипДиаграммы.АвтоРаздвижениеСерий) Режим раздвижения. Перечисление АвтоРаздвижениеСерий (AutoSeriesSeparation).
                ChartType.ShowDataTable (ТипДиаграммы.ОтображатьТаблицуДанных)- Отображать таблицу данных. Булево.
                ChartType.MaxValue (ТипДиаграммы.МаксимальноеЗначение) - Максимальное значение. Число.
                ChartType.MinValue (ТипДиаграммы.МинимальноеЗначение) - Минимальное значение. Число.
                ChartType.Outline (ТипДиаграммы.Окантовка) – Окантовка. Булево.
                ChartType.Gradient (ТипДиаграммы.Градиент) – Градиент. Булево.
                ChartType.Font(ТипДиаграммы.Шрифт) - Шрифт диаграммы. Шрифт
                ChartType.BackColor(ТипДиаграммы.ЦветФона) - Цвет фона диаграммы. Цвет.
                ChartType.BorderStyle(ТипДиаграммы.СтильЛинии) - стиль линии вокруг диаграммы. Линия.
                ChartType.LegendPlacement(ТипДиаграммы.РасположениеЛегенды) - расположение легенды в диаграммы. РасположениеЛегендыДиаграммыСистемыКомпоновкиДанных.
                ChartType.GaugeChartQualityBands(ТипДиаграммы.ПолосыИзмерительнойДиаграммы) - полосы для измерительной диаграммы. ПолосыИзмерительнойДиаграммы.
                ChartType.ResourcesPlacement(ТипДиаграммы.РасположениеРесурсов) - расположение ресурсов в диаграмме. РасположениеРесурсовВДиаграммеКомпоновкиДанных.
                OutputTitle - выводить заголовок (DataCompositionTextOutputType)
                Title - заголовок (Строка)
            </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dcscore:ParameterValues"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChartGroupOutputParameterValues">
		<xs:annotation>
			<xs:documentation>Параметры вывода группировки диаграммы. Возможны следующие параметры:
RecordsCount(КоличествоЗаписей) - количество записей, которое необходимо выводить в группировке
RecordsPercent(ПроцентЗаписей) - процент записей, которое необходимо выводить в группировке
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dcscore:ParameterValues"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChartGroup">
		<xs:annotation>
			<xs:documentation>Группировка диаграммы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="use" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Группировка диаграммы используется.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Имя группировки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="groupItems" type="tns:GroupItems" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Поля, по которым осуществляется группировка.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filter" type="tns:Filter" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фильтр, применяемый к записям, попадающим в группировку.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="order" type="tns:Order" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Упорядочивание группировки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="selection" type="tns:Selection" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Поля выводимые поля.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="conditionalAppearance" type="tns:ConditionalAppearance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Условное оформление, применяемое в группировке.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="outputParameters" type="tns:ChartGroupOutputParameterValues" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Параметры вывода группировки диаграммы.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="item" type="tns:ChartGroup" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вложенная группировка.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Режим отображения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Представление выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="itemsViewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Режим отображения структуры</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="itemsUserSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор выделенной настройки структуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="itemsUserSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Представление выделенной настройки структуры</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="groupState" type="tns:DataCompositionSettingsItemState" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Состояние группировки</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
    </xs:complexType>
	<xs:complexType name="StructureItemNestedObject">
		<xs:annotation>
			<xs:documentation>Вложенный объект настройки</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:StructureItem">
				<xs:sequence>
					<xs:element name="use" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Вложенный отчет используется</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
					<xs:element name="objectID" type="xs:string">
						<xs:annotation>
							<xs:documentation>Идентификатор объекта настройки.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="settings" type="tns:Settings">
						<xs:annotation>
							<xs:documentation>Настройки вложенного объекта.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
                    <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Режим отображения</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор выделенной настройки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представление выделенной настройки</xs:documentation>
						</xs:annotation>
					</xs:element>
                </xs:sequence>
                <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
            </xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GroupItems">
		<xs:annotation>
			<xs:documentation>Элементы группировки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="tns:GroupItem" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Поле группировки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupItemField">
		<xs:annotation>
			<xs:documentation>Групповое поле</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:GroupItem">
				<xs:sequence>
					<xs:element name="use" type="xs:boolean"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Поле используется для группировки.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="field" type="dcscore:Field">
						<xs:annotation>
							<xs:documentation>
								Путь к данным поля, по которому
								осуществляется группировка.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="groupType"
						type="dcscore:DataCompositionGroupType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Тип группировки
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="periodAdditionType"
						type="dcscore:DataCompositionPeriodAdditionType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Тип дополнения
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="periodAdditionBegin"
						type="xs:anyType" minOccurs="0" nillable="true">
						<xs:annotation>
							<xs:documentation>
								Начальная дата периода. Может содержать
								константное значение, липо значение -
								поле.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="periodAdditionEnd"
						type="xs:anyType" minOccurs="0" nillable="true">
						<xs:annotation>
							<xs:documentation>
								Конечная дата периода. Может содержать
								константное значение, липо значение -
								поле.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
                <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
            </xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GroupItemAuto">
		<xs:annotation>
			<xs:documentation>Авто групповое поле</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:GroupItem">
				<xs:sequence>
					<xs:element name="use" type="xs:boolean"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Поле используется для группировки.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
                <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
            </xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConditionalAppearance">
		<xs:annotation>
			<xs:documentation>Условное оформление</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="tns:ConditionalAppearanceItem" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Элемент условного оформления.</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Режим отображения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Представление выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="ConditionalAppearanceItem">
		<xs:annotation>
			<xs:documentation>Элемент условного оформления</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="use" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Элемент оформления используется.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="selection" type="tns:AppearanceFields" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Выбор условного оформления.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filter" type="tns:Filter" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отбор условного оформления.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="appearance" type="dcscore:Appearance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Применяемое оформление. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="presentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Представление элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Режим отображения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Представление выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
        </xs:sequence>
        <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
    </xs:complexType>
	<xs:complexType name="AppearanceFields">
		<xs:annotation>
			<xs:documentation>Поля оформления</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="tns:AppearanceField" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Поле оформления.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AppearanceField">
		<xs:annotation>
			<xs:documentation>Поле оформления</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="use" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Оформление будет применено к полю.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="field" type="dcscore:Field">
				<xs:annotation>
					<xs:documentation>Путь к данным поля, к которому применяется оформление.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
        <xs:attribute name="iID" type="xs:decimal" default="0" use="optional"/>
    </xs:complexType>
    <xs:complexType name="SettingsParameterValue">
        <xs:complexContent>
            <xs:extension base="dcscore:ParameterValue">
                <xs:annotation>
                    <xs:documentation>Значение параметра настроек</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Режим отображения</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Идентификатор выделенной настройки</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="userSettingPresentation" type="xs:anyType" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Представление выделенной настройки</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SettingStructure">
		<xs:annotation>
			<xs:documentation>Структура настроек</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="tns:StructureItem" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Элементы структуры группировки</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="viewMode" type="tns:DataCompositionSettingsItemViewMode" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Режим отображения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userSettingID" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор выделенной настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserSettings">
		<xs:annotation>
			<xs:documentation>Выделенные настройки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="xs:anyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Коллекция выделенных настроек.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalProperties" type="core:Structure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дополнительные свойства</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DataCompositionGroupFieldsPlacement">
		<xs:annotation>
			<xs:documentation>Тип размещения полей группировок</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Together"/>
			<xs:enumeration value="Separately"/>
			<xs:enumeration value="SeparatelyAndInTotalsOnly"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataCompositionGroupPlacement">
		<xs:annotation>
			<xs:documentation>Тип размещения группировки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Begin"/>
			<xs:enumeration value="End"/>
			<xs:enumeration value="BeginAndEnd"/>
			<xs:enumeration value="None"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataCompositionAttributesPlacement">
		<xs:annotation>
			<xs:documentation>Тип размещения реквизитов группировок</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="WithOwnerField"/>
			<xs:enumeration value="Separately"/>
			<xs:enumeration value="Together"/>
			<xs:enumeration value="SpecialPosition"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataCompositionResourcesPlacement">
		<xs:annotation>
			<xs:documentation>Тип размещения ресурсов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Vertically"/>
			<xs:enumeration value="Horizontally"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataCompositionGroupTemplateType">
	    <xs:annotation>
	        <xs:documentation>Тип макета группировки</xs:documentation>
	    </xs:annotation>
	    <xs:restriction base="xs:string">
	        <xs:enumeration value="Vertical"/>
	        <xs:enumeration value="Horizontal"/>
	        <xs:enumeration value="Auto"/>
	    </xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GroupItem" abstract="true"></xs:complexType>

	<xs:simpleType name="DataCompositionTextOutputType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DontOutput">
				<xs:annotation>
					<xs:documentation>Не выводить</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Output">
				<xs:annotation>
					<xs:documentation>Выводить</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Auto">
				<xs:annotation>
					<xs:documentation>Выводить, если есть информация для вывода</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataCompositionChartLegendPlacement">
        <xs:annotation>
        	<xs:documentation>РасположениеЛегендыДиаграммыКомпоновкиДанных</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
			<xs:enumeration value="None"></xs:enumeration>
			<xs:enumeration value="Left"></xs:enumeration>
			<xs:enumeration value="Right"></xs:enumeration>
			<xs:enumeration value="Top"></xs:enumeration>
			<xs:enumeration value="Bottom"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="DataCompositionResourcesPlacementInChart">
        <xs:annotation>
            <xs:documentation>РасположениеРесурсовВДиаграммеКомпоновкиДанных</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Auto"></xs:enumeration>
            <xs:enumeration value="Series"></xs:enumeration>
            <xs:enumeration value="Points"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataCompositionFilterApplicationType">
	        <xs:annotation>
	              <xs:documentation>Тип применения элемента отбора компоновки данных (ТипПримененияОтбораКомпоновкиДанных)</xs:documentation>
	        </xs:annotation>
	        <xs:restriction base="xs:string">
	        	<xs:enumeration value="Items" />
	            <xs:enumeration value="Hierarchy" />
               	<xs:enumeration value="HierarchyOnly" />
            </xs:restriction>
     </xs:simpleType>
	<xs:simpleType name="DataCompositionSettingsItemViewMode">
	        <xs:annotation>
	              <xs:documentation>Режим отображения элемента настройки компоновки данных (РежимОтображенияЭлементаНастройкиКомпоновкиДанных)</xs:documentation>
	        </xs:annotation>
	        <xs:restriction base="xs:string">
	        	<xs:enumeration value="Normal" />
	            <xs:enumeration value="QuickAccess" />
	            <xs:enumeration value="Inaccessible" />
              <xs:enumeration value="Auto" />
            </xs:restriction>
     </xs:simpleType>
	<xs:simpleType name="DataCompositionSettingsViewMode">
	        <xs:annotation>
	              <xs:documentation>Режим отображения настроек компоновки данных (РежимОтображенияНастроекКомпоновкиДанных)</xs:documentation>
	        </xs:annotation>
	        <xs:restriction base="xs:string">
	        	<xs:enumeration value="All" />
	            <xs:enumeration value="QuickAccess" />
            </xs:restriction>
     </xs:simpleType>
	<xs:complexType name="SettingsComposer">
		<xs:sequence>
			<xs:element name="settings" type="tns:Settings" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceID" type="xs:anyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор источника доступных настроек (URL или идентификатор типа отчета).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userSettings" type="tns:UserSettings" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Выделенные настройки</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="fixedSettings" type="tns:Settings" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Фиксированные настройки</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
	</xs:complexType>

	<xs:complexType name="AvailableFields">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AvailableFieldUseRestrictions">
		<xs:sequence>
			<xs:element name="item" type="tns:AvailableFieldUseRestriction" maxOccurs="unbounded">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AvailableFieldUseRestriction">
		<xs:sequence>
			<xs:element name="field" type="dcscore:Field">
			</xs:element>
			<xs:element name="enabled" type="xs:boolean" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AvailableParameterUseRestrictions">
		<xs:sequence>
			<xs:element name="item" type="tns:AvailableParameterUseRestriction" maxOccurs="unbounded">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AvailableParameterUseRestriction">
		<xs:sequence>
			<xs:element name="parameter" type="dcscore:Parameter">
			</xs:element>
			<xs:element name="enabled" type="xs:boolean" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SettingsVariant">
		<xs:sequence>
			<xs:element name="name" type="xs:string"></xs:element>
			<xs:element name="presentation" type="xs:anyType" maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="settings" type="tns:Settings"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="DataCompositionSettingsItemState">
	        <xs:annotation>
	              <xs:documentation>Состояние элемента настройки компоновки данных</xs:documentation>
	        </xs:annotation>
	        <xs:restriction base="xs:string">
	        	<xs:enumeration value="Enabled" />
	            <xs:enumeration value="Disabled" />
	            <xs:enumeration value="DeletedByUser" />
            </xs:restriction>
     </xs:simpleType>

    <xs:simpleType name="DataCompositionResourcesAutoPosition">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DontUse">
                <xs:annotation>
                    <xs:documentation>Не использовать</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AfterAllFields">
                <xs:annotation>
                    <xs:documentation>После всех полей</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DataCompositionGroupUseVariant">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Auto">
                <xs:annotation>
                    <xs:documentation>Авто</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AdditionalInformation">
                <xs:annotation>
                    <xs:documentation>Дополнительная информация</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
