src/onec_ordinary_forms/schemas/platform/8.5/ws/ws_root-03-http_v8.1c.ru_8.1_ws_wsdefinitions-model.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema 
    xmlns="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://v8.1c.ru/8.1/ws/wsdefinitions-model" 
    xmlns:tns="http://v8.1c.ru/8.1/ws/wsdefinitions-model" 
    xmlns:xdto="http://v8.1c.ru/8.1/xdto"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
	<import namespace="http://v8.1c.ru/8.1/xdto" />
	<complexType name="Definitions">
		<sequence>
			<element name="model" type="xdto:Model" />
			<element name="service" type="tns:Service" minOccurs="0" maxOccurs="unbounded" />
			<element name="documentation" type="string" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="Service">
		<sequence>
			<element name="namespace" type="anyURI" />
			<element name="name" type="NCName" />
			<element name="endpoint" type="tns:Endpoint" minOccurs="0" maxOccurs="unbounded" />
			<element name="documentation" type="string" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="Endpoint">
		<sequence>
			<element name="name" type="NCName" />
			<element name="operation" type="tns:Operation" maxOccurs="unbounded" />
			<element name="documentation" type="string" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="Operation">
		<sequence>
			<element name="name" type="NCName" />
			<element name="documentation" type="string" minOccurs="0" />
			<element name="retValType" type="QName" minOccurs="0" />
			<element name="retValNillable" type="boolean" minOccurs="0" />
			<element name="retValDoc" type="string" minOccurs="0" />
			<element name="parameter" type="tns:Parameter" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="Parameter">
		<sequence>
			<element name="name" type="NCName" />
			<element name="type" type="QName" />
			<element name="direction" type="tns:Direction" />
			<element name="nillable" type="boolean" />
			<element name="documentation" type="string" minOccurs="0" />
		</sequence>
	</complexType>
	<simpleType name="Direction">
		<restriction base="string">
			<enumeration value="In" />
			<enumeration value="Out" />
			<enumeration value="InOut" />
		</restriction>
	</simpleType>
	<element name="definitions" type="tns:Definitions" />
</schema>
