src/onec_ordinary_forms/schemas/platform/8.5/fmtd/fmtd_root-02-http_v8.1c.ru_8.2_data_formatted-document.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ui="http://v8.1c.ru/8.1/data/ui"
           xmlns:v81="http://v8.1c.ru/8.1/data/core"
           xmlns:tns="http://v8.1c.ru/8.2/data/formatted-document"
           targetNamespace="http://v8.1c.ru/8.2/data/formatted-document"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.1/data/ui" schemaLocation="../../../xdto/src/res/uiobjects.xsd"/>

    <!-- Горизонтальное выравнивание -->
    <xs:simpleType name="HorizontalAlignment">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Left" />
            <xs:enumeration value="Center" />
            <xs:enumeration value="Right" />
            <xs:enumeration value="Justify" />
            <xs:enumeration value="Auto" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Тип параграфа -->
    <xs:simpleType name="ParagraphType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Usual" />
            <xs:enumeration value="Bulleted" />
            <xs:enumeration value="Numbered" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Тип файла -->
    <xs:simpleType name="FormattedDocumentFileType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TXT" />
            <xs:enumeration value="ANSITXT" />
            <xs:enumeration value="HTML" />
            <xs:enumeration value="PDF" />
        </xs:restriction>
    </xs:simpleType>

  <!-- Тип элемента -->
  <xs:simpleType name="FormattedDocumentItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Text" />
      <xs:enumeration value="Picture" />
      <xs:enumeration value="Linefeed" />
    </xs:restriction>
  </xs:simpleType>

    <!-- Закладка -->
    <xs:complexType name="FormattedDocumentBookmark">
    <xs:sequence>
    </xs:sequence>
    <!-- m_partId по умолчанию kFormattedDocumentMainPartId -->
    <xs:attribute name="part" type="xs:decimal" />
    <!-- m_paragraphId по умолчанию 0 -->
    <xs:attribute name="prgrph" type="xs:decimal" />
    <!-- m_pos по умолчанию 0 -->
    <xs:attribute name="pos" type="xs:decimal" />
    </xs:complexType>

    <!-- Область -->
    <xs:complexType name="FormattedDocumentRange">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="beginbmk" type="tns:FormattedDocumentBookmark" />
            <xs:element minOccurs="1" maxOccurs="1" name="endbmk" type="tns:FormattedDocumentBookmark" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- Оформление текста -->
  <xs:complexType name="TextAppearance">
                <xs:sequence>
      <!-- font по умолчанию kFormattedDocumentTextAppearanceDefFont -->
      <xs:element name="fnt" type="ui:Font" minOccurs="0" />
      <!-- backColor по умолчанию kFormattedDocumentTextAppearanceDefBackColor -->
      <xs:element name="bkClr" type="ui:Color" minOccurs="0" />
      <!-- textColor по умолчанию kFormattedDocumentTextAppearanceDefTextColor -->
      <xs:element name="txtClr" type="ui:Color" minOccurs="0" />
                </xs:sequence>
    </xs:complexType>
    
  <!-- Элемент содержимого документа - текст с одинаковым оформлением -->
    <xs:complexType name="TextElement">
                <xs:sequence>
                <!-- m_text по умолчанию пустой -->
          <xs:element name="text" type="xs:string" minOccurs="0" />
          <!-- m_link по умолчанию пустой -->
          <xs:element name="link" type="xs:string" minOccurs="0" />
          <!-- m_appearance -->
          <xs:element name="apprnc" type="tns:TextAppearance" minOccurs="0" />
                </xs:sequence>
    </xs:complexType>

    <!-- Элемент содержимого документа - картинка -->
  <xs:complexType name="PictureElement">
                <xs:sequence>
      <!-- m_picture по умолчанию V8Picture() -->
      <xs:element name="pic" type="ui:Picture" minOccurs="0" />
      <!-- m_link по умолчанию пустой -->
      <xs:element name="link" type="xs:string" minOccurs="0" />
                </xs:sequence>
    <!-- m_id по умолчанию kFormattedDocumentInvalidPictureId -->
    <xs:attribute name="id" type="xs:decimal" />
    <!-- m_width по умолчанию kFormattedDocumentPictureDefWidth -->
    <xs:attribute name="width" type="xs:decimal" />
    <!-- m_height по умолчанию kFormattedDocumentPictureDefHeight -->
    <xs:attribute name="height" type="xs:decimal" />
    </xs:complexType>
    
  <!-- Элемент содержимого документа - "Мягкий" перевод строки -->
  <xs:complexType name="SoftBreakElement">
                <xs:sequence>
                </xs:sequence>
    </xs:complexType>
    
  <!-- Параграф. Внутреннее представление. -->
  <xs:complexType name="Paragraph">
                <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded" >
        <xs:element name="text" type="tns:TextElement" />
        <xs:element name="pic" type="tns:PictureElement" />
        <xs:element name="sbr" type="tns:SoftBreakElement" />
      </xs:choice>
                </xs:sequence>
    <!-- m_id по умолчанию kFormattedDocumentInvalidParagraphId -->
    <xs:attribute name="id" type="xs:decimal" />
    <!-- m_type по умолчанию kFormattedDocumentParagraphDefType -->
    <xs:attribute name="type" type="tns:ParagraphType" />
    <!-- m_hAlign по умолчанию kFormattedDocumentParagraphDefHAlign -->
    <xs:attribute name="hAlign" type="tns:HorizontalAlignment" />
    <!-- m_indent по умолчанию kFormattedDocumentParagraphDefIndent -->
    <xs:attribute name="indent" type="xs:decimal" />
    <!-- m_lineSpacing по умолчанию kFormattedDocumentParagraphDefLineSpacing -->
    <xs:attribute name="lineSpacing" type="xs:decimal" />
    </xs:complexType>

    <!-- Содержимое документа -->
  <xs:complexType name="Content">
        <xs:sequence>
      <xs:element name="p" type="tns:Paragraph" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <!-- m_curFreeId по умолчанию 0 -->
    <xs:attribute name="fid" type="xs:decimal" />
            <!-- m_curFreePictureId по умолчанию 0 -->
    <xs:attribute name="fpid" type="xs:decimal" />
    </xs:complexType>

    <!-- Документ -->
    <xs:complexType name="FormattedDocument">
        <xs:sequence>
            <!-- instanceId -->
            <xs:element name="id" type="v81:UUID"/>
      <xs:element name="content" type="tns:Content"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
