src/onec_ordinary_forms/schemas/Configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>Platform-derived configuration metadata and value schema used by the ordinary-form codec layer. This is the single bundled schema for configuration tree, type tree, type-domain patterns, and platform serializer evidence; it is not a public raw stream dump format.</xs:documentation>
    <xs:appinfo>
      <PlatformSchemaResources source="1C 8.5 platform embedded XML/XSD resources" version="8.5" count="81">
        <Resource source="backend_root.res" schema="backend_root-07-http_v8.1c.ru_8.3_TestAndRepairExchangePlanIntegrityReport.xsd" namespace="http://v8.1c.ru/8.3/TestAndRepairExchangePlanIntegrityReport" path="platform/8.5/backend/backend_root-07-http_v8.1c.ru_8.3_TestAndRepairExchangePlanIntegrityReport.xsd" sha256="d211ea4def809adc4c1c5d1aefd2efbfe04b4e98cbef22104c9125ff3cfaf938"/>
        <Resource source="backend_root.res" schema="backend_root-106-http_v8.1c.ru_8.2_misc.xsd" namespace="http://v8.1c.ru/8.2/misc" path="platform/8.5/backend/backend_root-106-http_v8.1c.ru_8.2_misc.xsd" sha256="5cbcdfdd8edf68d5a948784fadf41c46db30d1d1f13d182b7959e7c7b69271b6"/>
        <Resource source="backend_root.res" schema="backend_root-111-http_v8.1c.ru_8.2_roles.xsd" namespace="http://v8.1c.ru/8.2/roles" path="platform/8.5/backend/backend_root-111-http_v8.1c.ru_8.2_roles.xsd" sha256="38687271c9b40211ed72dfc490351d457acee0099b2196ebe8b37f9451348636"/>
        <Resource source="backend_root.res" schema="backend_root-114-http_v8.1c.ru_8.3_xcf_dumpinfo.xsd" namespace="http://v8.1c.ru/8.3/xcf/dumpinfo" path="platform/8.5/backend/backend_root-114-http_v8.1c.ru_8.3_xcf_dumpinfo.xsd" sha256="72c007d38d9b1d37990b269519ced4867c900621c4f912a816d8a8fec8506b09"/>
        <Resource source="bsl_root.res" schema="bsl_root-01-http_v8.1c.ru_8.2_data_bsl.xsd" namespace="http://v8.1c.ru/8.2/data/bsl" path="platform/8.5/bsl/bsl_root-01-http_v8.1c.ru_8.2_data_bsl.xsd" sha256="ccb27e900fea67a69edecf257b51d565ea8611827fa0ff803318f665fa0324f2"/>
        <Resource source="chart_root.res" schema="chart_root-01-http_v8.1c.ru_8.2_data_chart.xsd" namespace="http://v8.1c.ru/8.2/data/chart" path="platform/8.5/chart/chart_root-01-http_v8.1c.ru_8.2_data_chart.xsd" sha256="380128ebd1503f9b4a4c3fd092fba1c1966638d9cbee526a00031d555110118f"/>
        <Resource source="config_root.res" schema="config_root-01-http_v8.1c.ru_8.3_mobile-application_app.xsd" namespace="http://v8.1c.ru/8.3/mobile-application/app" path="platform/8.5/config/config_root-01-http_v8.1c.ru_8.3_mobile-application_app.xsd" sha256="3084e518f6dabab681debc0cab47662c7dd4829008da1e534acb1865ffbf2a67"/>
        <Resource source="config_root.res" schema="config_root-02-http_v8.1c.ru_8.3_mobile-application_form.xsd" namespace="http://v8.1c.ru/8.3/mobile-application/form" path="platform/8.5/config/config_root-02-http_v8.1c.ru_8.3_mobile-application_form.xsd" sha256="84bb7d935056d9368217817dc37e0d748bd472d9125d327da897700869c52c86"/>
        <Resource source="config_root.res" schema="config_root-04-http_v8.1c.ru_8.3_xcf_dumpinfo.xsd" namespace="http://v8.1c.ru/8.3/xcf/dumpinfo" path="platform/8.5/config/config_root-04-http_v8.1c.ru_8.3_xcf_dumpinfo.xsd" sha256="72c007d38d9b1d37990b269519ced4867c900621c4f912a816d8a8fec8506b09"/>
        <Resource source="dbgbase_root.res" schema="dbgbase_root-01-http_v8.1c.ru_8.3_debugger_debugArea.xsd" namespace="http://v8.1c.ru/8.3/debugger/debugArea" path="platform/8.5/dbgbase/dbgbase_root-01-http_v8.1c.ru_8.3_debugger_debugArea.xsd" sha256="a87f357909719e9cd1b35619ebd52231bc5cd000ecdc10d1396a2d6d3dd4dd6f"/>
        <Resource source="dbgbase_root.res" schema="dbgbase_root-02-http_v8.1c.ru_8.3_debugger_debugAutoAttach.xsd" namespace="http://v8.1c.ru/8.3/debugger/debugAutoAttach" path="platform/8.5/dbgbase/dbgbase_root-02-http_v8.1c.ru_8.3_debugger_debugAutoAttach.xsd" sha256="e4a734f3a655a236f9e299f7c8d597fcea2147ac219df90dab865ad7dac92eb9"/>
        <Resource source="dbgbase_root.res" schema="dbgbase_root-03-http_v8.1c.ru_8.3_debugger_debugBaseData.xsd" namespace="http://v8.1c.ru/8.3/debugger/debugBaseData" path="platform/8.5/dbgbase/dbgbase_root-03-http_v8.1c.ru_8.3_debugger_debugBaseData.xsd" sha256="96451793ba7950f39080f21eb1ad94b174d837ffc9542268da9232ec20c116bd"/>
        <Resource source="dbgbase_root.res" schema="dbgbase_root-04-http_v8.1c.ru_8.3_debugger_debugBreakpoints.xsd" namespace="http://v8.1c.ru/8.3/debugger/debugBreakpoints" path="platform/8.5/dbgbase/dbgbase_root-04-http_v8.1c.ru_8.3_debugger_debugBreakpoints.xsd" sha256="7764cdfde2a337974945a2b3b590bfba4ccc276da355c6bd0ee52637e837d508"/>
        <Resource source="dbgbase_root.res" schema="dbgbase_root-05-http_v8.1c.ru_8.3_debugger_debugCalculations.xsd" namespace="http://v8.1c.ru/8.3/debugger/debugCalculations" path="platform/8.5/dbgbase/dbgbase_root-05-http_v8.1c.ru_8.3_debugger_debugCalculations.xsd" sha256="9bf033e4e8b8eabccaf2f59ddb8ab018afb803903d0501d03f0725329b914196"/>
        <Resource source="dbgbase_root.res" schema="dbgbase_root-06-http_v8.1c.ru_8.3_debugger_debugDBGUICommands.xsd" namespace="http://v8.1c.ru/8.3/debugger/debugDBGUICommands" path="platform/8.5/dbgbase/dbgbase_root-06-http_v8.1c.ru_8.3_debugger_debugDBGUICommands.xsd" sha256="78b3bb7404d23362b6dd25812c38add5c667514754c6694d4f102e68348caaf9"/>
        <Resource source="dbgbase_root.res" schema="dbgbase_root-07-http_v8.1c.ru_8.3_debugger_debugForegroundData.xsd" namespace="http://v8.1c.ru/8.3/debugger/debugForegroundData" path="platform/8.5/dbgbase/dbgbase_root-07-http_v8.1c.ru_8.3_debugger_debugForegroundData.xsd" sha256="eb476ad7f984e4c655d68a35955a3804ed058fcbcfeeb05a263658aaccfaff02"/>
        <Resource source="dbgbase_root.res" schema="dbgbase_root-08-http_v8.1c.ru_8.3_debugger_debugMeasure.xsd" namespace="http://v8.1c.ru/8.3/debugger/debugMeasure" path="platform/8.5/dbgbase/dbgbase_root-08-http_v8.1c.ru_8.3_debugger_debugMeasure.xsd" sha256="2a3a0e801d143adc516f19f0aec515d90d5cacfffe4c84d50aaf12b0fa5b6788"/>
        <Resource source="dbgbase_root.res" schema="dbgbase_root-09-http_v8.1c.ru_8.3_debugger_debugRDBGRequestResponse.xsd" namespace="http://v8.1c.ru/8.3/debugger/debugRDBGRequestResponse" path="platform/8.5/dbgbase/dbgbase_root-09-http_v8.1c.ru_8.3_debugger_debugRDBGRequestResponse.xsd" sha256="916dc9087068d139273f2912d65f873cc3ff594d6acce7062dd4dc8de353fc83"/>
        <Resource source="dbgbase_root.res" schema="dbgbase_root-10-http_v8.1c.ru_8.3_debugger_debugRTEFilter.xsd" namespace="http://v8.1c.ru/8.3/debugger/debugRTEFilter" path="platform/8.5/dbgbase/dbgbase_root-10-http_v8.1c.ru_8.3_debugger_debugRTEFilter.xsd" sha256="57915bfda4461d8bdb5e21979d34615ce4952a4210f30f6bff2f12d9975c4733"/>
        <Resource source="dbgbase_root.res" schema="dbgbase_root-11-http_v8.1c.ru_8.3_debugger_debugRTEInfo.xsd" namespace="http://v8.1c.ru/8.3/debugger/debugRTEInfo" path="platform/8.5/dbgbase/dbgbase_root-11-http_v8.1c.ru_8.3_debugger_debugRTEInfo.xsd" sha256="fe45f85d858b4edd571401e55d00270d2ef6c45eaf5939c79c93a2c994d6ed01"/>
        <Resource source="dbgtgt_root.res" schema="dbgtgt_root-01-http_v8.1c.ru_8.3_debugger_dbgtgtBP.xsd" namespace="http://v8.1c.ru/8.3/debugger/dbgtgtBP" path="platform/8.5/dbgtgt/dbgtgt_root-01-http_v8.1c.ru_8.3_debugger_dbgtgtBP.xsd" sha256="c43d268897dd6d5f543974e815daf3cfb160729d4e6a6260997d8a30fb5888a1"/>
        <Resource source="dbgtgt_root.res" schema="dbgtgt_root-02-http_v8.1c.ru_8.3_debugger_dbgtgtCommands.xsd" namespace="http://v8.1c.ru/8.3/debugger/dbgtgtCommands" path="platform/8.5/dbgtgt/dbgtgt_root-02-http_v8.1c.ru_8.3_debugger_dbgtgtCommands.xsd" sha256="e3c4877820f6a6c25a76564f3e11ec9d84197630067d35078f7b69b1beff676c"/>
        <Resource source="dbgtgt_root.res" schema="dbgtgt_root-03-http_v8.1c.ru_8.3_debugger_dbgtgtData.xsd" namespace="http://v8.1c.ru/8.3/debugger/dbgtgtData" path="platform/8.5/dbgtgt/dbgtgt_root-03-http_v8.1c.ru_8.3_debugger_dbgtgtData.xsd" sha256="196251fde87d134e9fff48b8f2e0ea887f3cc0888d20471af39d54c14a85c86a"/>
        <Resource source="dbgtgt_root.res" schema="dbgtgt_root-04-http_v8.1c.ru_8.3_debugger_dbgtgtErrorInfo.xsd" namespace="http://v8.1c.ru/8.3/debugger/dbgtgtErrorInfo" path="platform/8.5/dbgtgt/dbgtgt_root-04-http_v8.1c.ru_8.3_debugger_dbgtgtErrorInfo.xsd" sha256="1daee3f550bcacfae3590a2425886eec76a4b84dd1bec710c8c173253498502e"/>
        <Resource source="dbgtgt_root.res" schema="dbgtgt_root-05-http_v8.1c.ru_8.3_debugger_dbgtgtRemoteRequestResponse.xsd" namespace="http://v8.1c.ru/8.3/debugger/dbgtgtRemoteRequestResponse" path="platform/8.5/dbgtgt/dbgtgt_root-05-http_v8.1c.ru_8.3_debugger_dbgtgtRemoteRequestResponse.xsd" sha256="73a3b1c2a2249aa061fd389c50661b1529c9f627642740d830071ad4ebd2c714"/>
        <Resource source="dbgtgt_root.res" schema="dbgtgt_root-06-http_v8.1c.ru_8.3_debugger_dbgtgtRequestResponse.xsd" namespace="http://v8.1c.ru/8.3/debugger/dbgtgtRequestResponse" path="platform/8.5/dbgtgt/dbgtgt_root-06-http_v8.1c.ru_8.3_debugger_dbgtgtRequestResponse.xsd" sha256="5da299868c691a7d7a4a2efe866f0a61fc137b412da454cdb730baff9ff216fa"/>
        <Resource source="dcs_root.res" schema="dcs_root-03-http_v8.1c.ru_8.1_data-composition-system_appearance-template.xsd" namespace="http://v8.1c.ru/8.1/data-composition-system/appearance-template" path="platform/8.5/dcs/dcs_root-03-http_v8.1c.ru_8.1_data-composition-system_appearance-template.xsd" sha256="e66ec3ee7e3c4f07bb12815412d9d10a5a9f468114619ec5564dc24ba6c495d1"/>
        <Resource source="dcs_root.res" schema="dcs_root-06-http_v8.1c.ru_8.1_data-composition-system_area-template.xsd" namespace="http://v8.1c.ru/8.1/data-composition-system/area-template" path="platform/8.5/dcs/dcs_root-06-http_v8.1c.ru_8.1_data-composition-system_area-template.xsd" sha256="f0e02b224b8095bfd1230e886256ea458315c81d7934424c8648a76b42df7cb5"/>
        <Resource source="dcs_root.res" schema="dcs_root-07-http_v8.1c.ru_8.1_data-composition-system_common.xsd" namespace="http://v8.1c.ru/8.1/data-composition-system/common" path="platform/8.5/dcs/dcs_root-07-http_v8.1c.ru_8.1_data-composition-system_common.xsd" sha256="478a25f324c0c8c3a2b0e117351a78fd556831143fc809845336782fd8f84c55"/>
        <Resource source="dcs_root.res" schema="dcs_root-08-http_v8.1c.ru_8.1_data-composition-system_composition-template.xsd" namespace="http://v8.1c.ru/8.1/data-composition-system/composition-template" path="platform/8.5/dcs/dcs_root-08-http_v8.1c.ru_8.1_data-composition-system_composition-template.xsd" sha256="9479763a578852f27c84fbc3d0b09b5bb778673d44f4b92a8cca98254ac31d61"/>
        <Resource source="dcs_root.res" schema="dcs_root-18-http_v8.1c.ru_8.1_data-composition-system_result.xsd" namespace="http://v8.1c.ru/8.1/data-composition-system/result" path="platform/8.5/dcs/dcs_root-18-http_v8.1c.ru_8.1_data-composition-system_result.xsd" sha256="5cb6d8df389bfe7eb105a4499b769b1f56893b1d812d9078bf42a79f7e603b47"/>
        <Resource source="dcs_root.res" schema="dcs_root-19-http_v8.1c.ru_8.1_data-composition-system_schema.xsd" namespace="http://v8.1c.ru/8.1/data-composition-system/schema" path="platform/8.5/dcs/dcs_root-19-http_v8.1c.ru_8.1_data-composition-system_schema.xsd" sha256="9f3ef9a4ebfe74d6f29a11fb6ad176d48940be22dad33e65fc7e5571435d08d6"/>
        <Resource source="dcscore_root.res" schema="dcscore_root-42-http_v8.1c.ru_8.1_data-composition-system_core.xsd" namespace="http://v8.1c.ru/8.1/data-composition-system/core" path="platform/8.5/dcscore/dcscore_root-42-http_v8.1c.ru_8.1_data-composition-system_core.xsd" sha256="b0144a6a5563d651e0f2bba0847e6750c4682b97957d64f303eb204a27a8047b"/>
        <Resource source="dcscore_root.res" schema="dcscore_root-43-http_v8.1c.ru_8.1_data-composition-system_details.xsd" namespace="http://v8.1c.ru/8.1/data-composition-system/details" path="platform/8.5/dcscore/dcscore_root-43-http_v8.1c.ru_8.1_data-composition-system_details.xsd" sha256="0f44fd4ed02035e7c4de0c1ee3fec3f95c3041e63ed0845e2f740f6548cb18e6"/>
        <Resource source="dcscore_root.res" schema="dcscore_root-45-http_v8.1c.ru_8.1_data-composition-system_settings.xsd" namespace="http://v8.1c.ru/8.1/data-composition-system/settings" path="platform/8.5/dcscore/dcscore_root-45-http_v8.1c.ru_8.1_data-composition-system_settings.xsd" sha256="a5f621f88984718b0b33ffe7ba3e41a634f062da2e3b29b4786d7826447f9939"/>
        <Resource source="ecscore_root.res" schema="ecscore_root-113-http_v8.1c.ru_8.3_ecs_core.xsd" namespace="http://v8.1c.ru/8.3/ecs/core" path="platform/8.5/ecscore/ecscore_root-113-http_v8.1c.ru_8.3_ecs_core.xsd" sha256="16f9ea4066fe56f8c1d11383c7d2586799c0a66f6fee860114ca274f3914831e"/>
        <Resource source="entext_root.res" schema="entext_root-01-http_v8.1c.ru_8.3_data_entext.xsd" namespace="http://v8.1c.ru/8.3/data/entext" path="platform/8.5/entext/entext_root-01-http_v8.1c.ru_8.3_data_entext.xsd" sha256="6cb9e9e12cf4a6810a4bcb94b8fc8276b8645ba6e389c53490e6f22fb0083602"/>
        <Resource source="enums_root.res" schema="enums_root-01-http_v8.1c.ru_8.2_data_data-analysis.xsd" namespace="http://v8.1c.ru/8.2/data/data-analysis" path="platform/8.5/enums/enums_root-01-http_v8.1c.ru_8.2_data_data-analysis.xsd" sha256="5222b73c787f1d33a470cbe91a7369c1b30fb0232bcf47421b011758cbf2213f"/>
        <Resource source="enums_root.res" schema="enums_root-02-http_v8.1c.ru_8.1_data_enterprise.xsd" namespace="http://v8.1c.ru/8.1/data/enterprise" path="platform/8.5/enums/enums_root-02-http_v8.1c.ru_8.1_data_enterprise.xsd" sha256="749f2259cff14a85a4ae3dc8e8dcb223f3c65a5357c2e03fe2fecdb790187ee8"/>
        <Resource source="ext_root.res" schema="ext_root-01-http_v8.1c.ru_8.3_data_ext.xsd" namespace="http://v8.1c.ru/8.3/data/ext" path="platform/8.5/ext/ext_root-01-http_v8.1c.ru_8.3_data_ext.xsd" sha256="d20f1020be4162b9a75531432aaf68498ef4c68ee0566d0263b155870d42b05b"/>
        <Resource source="fmtd_root.res" schema="fmtd_root-01-http_v8.1c.ru_8.2_data_formatted-document-internal.xsd" namespace="http://v8.1c.ru/8.2/data/formatted-document-internal" path="platform/8.5/fmtd/fmtd_root-01-http_v8.1c.ru_8.2_data_formatted-document-internal.xsd" sha256="7faa77ab37bc19440ae01d6bf56ab37b20044ddb976710a9213f5f79243c7168"/>
        <Resource source="fmtd_root.res" schema="fmtd_root-02-http_v8.1c.ru_8.2_data_formatted-document.xsd" namespace="http://v8.1c.ru/8.2/data/formatted-document" path="platform/8.5/fmtd/fmtd_root-02-http_v8.1c.ru_8.2_data_formatted-document.xsd" sha256="225ab0c9dff99bb4f936197ac5602edc3f43c6e05b3529262c5e90f982f0039e"/>
        <Resource source="frntend_root.res" schema="frntend_root-01-http_v8.1c.ru_8.3_config_merge_settings.xsd" namespace="http://v8.1c.ru/8.3/config/merge/settings" path="platform/8.5/frntend/frntend_root-01-http_v8.1c.ru_8.3_config_merge_settings.xsd" sha256="5561b4a8cf2b89c06003ac740cc0ffeb889a8d1ee2e4452a4c9a67e17ac3d261"/>
        <Resource source="frntend_root.res" schema="frntend_root-02-http_v8.1c.ru_8.3_config_objects.xsd" namespace="http://v8.1c.ru/8.3/config/objects" path="platform/8.5/frntend/frntend_root-02-http_v8.1c.ru_8.3_config_objects.xsd" sha256="14f141bb845c4b257ba6332042beac6c0800435f26ef46832a5988c19d5910b8"/>
        <Resource source="map_root.res" schema="map_root-02-http_v8.1c.ru_8.2_data_geo.xsd" namespace="http://v8.1c.ru/8.2/data/geo" path="platform/8.5/map/map_root-02-http_v8.1c.ru_8.2_data_geo.xsd" sha256="76ab62dcebd379cddd1695da6bb32bb5bf5c15cff31ed049542d0c88a6ed6dde"/>
        <Resource source="mngcore_root.res" schema="mngcore_root-149-http_v8.1c.ru_8.2_managed-application_cmi.xsd" namespace="http://v8.1c.ru/8.2/managed-application/cmi" path="platform/8.5/mngcore/mngcore_root-149-http_v8.1c.ru_8.2_managed-application_cmi.xsd" sha256="a7f744aa4d0e497f8746a43bf07ce13559f710dafffbd5acf4534df976973cb5"/>
        <Resource source="mngcore_root.res" schema="mngcore_root-155-http_v8.1c.ru_8.2_managed-application_dynamic-list.xsd" namespace="http://v8.1c.ru/8.2/managed-application/dynamic-list" path="platform/8.5/mngcore/mngcore_root-155-http_v8.1c.ru_8.2_managed-application_dynamic-list.xsd" sha256="961abd7da413070ab3cfb72385dd241b0dce1c82fa8b86fcbc69fdff8630b6bc"/>
        <Resource source="mngcore_root.res" schema="mngcore_root-156-http_v8.1c.ru_8.2_managed-application_dynamic-list-data.xsd" namespace="http://v8.1c.ru/8.2/managed-application/dynamic-list-data" path="platform/8.5/mngcore/mngcore_root-156-http_v8.1c.ru_8.2_managed-application_dynamic-list-data.xsd" sha256="3e84c74fc2dacc72f87b4e8656f292dcdf72bf39a4ff84eb4e6404bb7908db2d"/>
        <Resource source="mngcore_root.res" schema="mngcore_root-168-http_v8.1c.ru_8.2_managed-application_logform.xsd" namespace="http://v8.1c.ru/8.2/managed-application/logform" path="platform/8.5/mngcore/mngcore_root-168-http_v8.1c.ru_8.2_managed-application_logform.xsd" sha256="51176b3c1fde29ec0cc89ffdd0262f749c2353e7d59a7629c8f312f19377b52a"/>
        <Resource source="mngcore_root.res" schema="mngcore_root-169-http_v8.1c.ru_8.3_managed-application_logform_hippo.xsd" namespace="http://v8.1c.ru/8.3/managed-application/logform/hippo" path="platform/8.5/mngcore/mngcore_root-169-http_v8.1c.ru_8.3_managed-application_logform_hippo.xsd" sha256="1214e94f0bd47a56899e289da20c36afca8190f05511bbaae1442cd29fb62007"/>
        <Resource source="mngcore_root.res" schema="mngcore_root-170-http_v8.1c.ru_8.2_managed-application_logform_layouter.xsd" namespace="http://v8.1c.ru/8.2/managed-application/logform/layouter" path="platform/8.5/mngcore/mngcore_root-170-http_v8.1c.ru_8.2_managed-application_logform_layouter.xsd" sha256="742e8fb4e14acdc2cfde543804405cfc1513b2aa1e84a712a60664ee263d8129"/>
        <Resource source="mngcore_root.res" schema="mngcore_root-171-http_v8.1c.ru_8.2_managed-application_core.xsd" namespace="http://v8.1c.ru/8.2/managed-application/core" path="platform/8.5/mngcore/mngcore_root-171-http_v8.1c.ru_8.2_managed-application_core.xsd" sha256="07d6191d89b6d5385a1b7cd2abe9fead721d85639bb9af273c5338fd1cb06af4"/>
        <Resource source="mngcore_root.res" schema="mngcore_root-172-http_v8.1c.ru_8.2_mngsrv_ws.xsd" namespace="http://v8.1c.ru/8.2/mngsrv/ws" path="platform/8.5/mngcore/mngcore_root-172-http_v8.1c.ru_8.2_mngsrv_ws.xsd" sha256="53e6bf6a01b06dbbb8cc3f7998c40757b7778065cab02457d360f1c36e47c322"/>
        <Resource source="mngcore_root.res" schema="mngcore_root-198-http_v8.1c.ru_8.2_uobjects.xsd" namespace="http://v8.1c.ru/8.2/uobjects" path="platform/8.5/mngcore/mngcore_root-198-http_v8.1c.ru_8.2_uobjects.xsd" sha256="751b882b1411be1a4e393896494b89851246e818d31acce03c5b396b605317c2"/>
        <Resource source="mngcore_root.res" schema="mngcore_root-201-http_v8.1c.ru_8.2_managed-application_user-settings.xsd" namespace="http://v8.1c.ru/8.2/managed-application/user-settings" path="platform/8.5/mngcore/mngcore_root-201-http_v8.1c.ru_8.2_managed-application_user-settings.xsd" sha256="3adbd38e988280e437f7ea7dcd5fdc50a7d6079d304fa04fec3dfc75a15c01c2"/>
        <Resource source="mob_root.res" schema="mob_root-01-http_v8.1c.ru_8.3_data_mob.xsd" namespace="http://v8.1c.ru/8.3/data/mob" path="platform/8.5/mob/mob_root-01-http_v8.1c.ru_8.3_data_mob.xsd" sha256="80b9c419ddece2ba332fceb6051e66119689efe8eefb8c55698e45418a89d402"/>
        <Resource source="moxel_root.res" schema="moxel_root-69-http_v8.1c.ru_8.2_data_spreadsheet.xsd" namespace="http://v8.1c.ru/8.2/data/spreadsheet" path="platform/8.5/moxel/moxel_root-69-http_v8.1c.ru_8.2_data_spreadsheet.xsd" sha256="e25f8a3a54a46cfd41737a08727928b79f67dc4a507ce7655390d927baca634a"/>
        <Resource source="pdf_root.res" schema="pdf_root-05-http_v8.1c.ru_8.3_data_pdf.xsd" namespace="http://v8.1c.ru/8.3/data/pdf" path="platform/8.5/pdf/pdf_root-05-http_v8.1c.ru_8.3_data_pdf.xsd" sha256="457b44c9cad4b08bfe9f6ba4cd57a3ae734aeb54c082b5a20c0070b082dd0977"/>
        <Resource source="plnnr_root.res" schema="plnnr_root-01-http_v8.1c.ru_8.3_data_planner.xsd" namespace="http://v8.1c.ru/8.3/data/planner" path="platform/8.5/plnnr/plnnr_root-01-http_v8.1c.ru_8.3_data_planner.xsd" sha256="3711b2b049cd55cd9c87fe015404c0d12066217acb397b516ddab667b42e4904"/>
        <Resource source="scheme_root.res" schema="scheme_root-14-http_v8.1c.ru_8.2_data_graphscheme.xsd" namespace="http://v8.1c.ru/8.2/data/graphscheme" path="platform/8.5/scheme/scheme_root-14-http_v8.1c.ru_8.2_data_graphscheme.xsd" sha256="c00a336a54b7107af40b11ca3386eb73f98c80f48f00c547f534b39b4dea1bca"/>
        <Resource source="testbase_root.res" schema="testbase_root-01-http_v8.1c.ru_8.2_data_test.xsd" namespace="http://v8.1c.ru/8.2/data/test" path="platform/8.5/testbase/testbase_root-01-http_v8.1c.ru_8.2_data_test.xsd" sha256="2ce3fdc1846fac2a64e735a247c4e1377e70142a0baa0ac69ba74ce90c647123"/>
        <Resource source="txtedt_root.res" schema="txtedt_root-02-http_v8.1c.ru_8.1_data_txtedt.xsd" namespace="http://v8.1c.ru/8.1/data/txtedt" path="platform/8.5/txtedt/txtedt_root-02-http_v8.1c.ru_8.1_data_txtedt.xsd" sha256="6e6b24741e4960fb04a83beb5b7926263fed92d66a242d5e80f01e6c69bc386e"/>
        <Resource source="vrscore_root.res" schema="vrscore_root-01-http_v8.1c.ru_8.2_managed-application_InteractiveSecurityException.xsd" namespace="http://v8.1c.ru/8.2/managed-application/InteractiveSecurityException" path="platform/8.5/vrscore/vrscore_root-01-http_v8.1c.ru_8.2_managed-application_InteractiveSecurityException.xsd" sha256="d97583403b5cf6900f0250aed359cf30970c06dacdccb9c64e6081d94642e351"/>
        <Resource source="vrscore_root.res" schema="vrscore_root-02-http_v8.1c.ru_8.2_managed-application_edbexception.xsd" namespace="http://v8.1c.ru/8.2/managed-application/edbexception" path="platform/8.5/vrscore/vrscore_root-02-http_v8.1c.ru_8.2_managed-application_edbexception.xsd" sha256="6e1ec8f403445184d9021b90bf7a45710c01dfdc8d09308ee647239498abe353"/>
        <Resource source="vrscore_root.res" schema="vrscore_root-06-http_v8.1c.ru_8.2_managed-application_logformexception.xsd" namespace="http://v8.1c.ru/8.2/managed-application/logformexception" path="platform/8.5/vrscore/vrscore_root-06-http_v8.1c.ru_8.2_managed-application_logformexception.xsd" sha256="b3cc14039a0b677eee5cff5c10bdfefc64ead96ef3981a6e1b296d5d8e8a6d3e"/>
        <Resource source="vrscore_root.res" schema="vrscore_root-07-http_v8.1c.ru_8.2_managed-application_objectlocksexception.xsd" namespace="http://v8.1c.ru/8.2/managed-application/objectlocksexception" path="platform/8.5/vrscore/vrscore_root-07-http_v8.1c.ru_8.2_managed-application_objectlocksexception.xsd" sha256="597552fb8828431e3b84ccd066e228bdec4639e776a6914d9e58def812ad4d60"/>
        <Resource source="vrscore_root.res" schema="vrscore_root-08-http_v8.1c.ru_8.2_managed-application_remoteexception.xsd" namespace="http://v8.1c.ru/8.2/managed-application/remoteexception" path="platform/8.5/vrscore/vrscore_root-08-http_v8.1c.ru_8.2_managed-application_remoteexception.xsd" sha256="98d290c8abde6142e980b26f44590b9b54a35e53681d242f56995f94a37d8da6"/>
        <Resource source="vrscore_root.res" schema="vrscore_root-09-http_v8.1c.ru_8.2_managed-application_seancecontextexception.xsd" namespace="http://v8.1c.ru/8.2/managed-application/seancecontextexception" path="platform/8.5/vrscore/vrscore_root-09-http_v8.1c.ru_8.2_managed-application_seancecontextexception.xsd" sha256="cbc3703cfc0db7145a7f93ea90733bec8ccdb56a253f9e7765d191638bca7ddb"/>
        <Resource source="vrscore_root.res" schema="vrscore_root-10-http_v8.1c.ru_8.2_managed-application_SecondFactorAuthException.xsd" namespace="http://v8.1c.ru/8.2/managed-application/SecondFactorAuthException" path="platform/8.5/vrscore/vrscore_root-10-http_v8.1c.ru_8.2_managed-application_SecondFactorAuthException.xsd" sha256="5b4ecefcd448bc4ed9615d915614e0f36f0f49ec541fcabc5dc80909e73b8ab2"/>
        <Resource source="ws_root.res" schema="ws_root-01-http_schemas.xmlsoap.org_soap_encoding.xsd" namespace="http://schemas.xmlsoap.org/soap/encoding/" path="platform/8.5/ws/ws_root-01-http_schemas.xmlsoap.org_soap_encoding.xsd" sha256="ef559e3a979e122ce0bf79630cb735e52454450c38ce9b806175db18abcc0fd1"/>
        <Resource source="ws_root.res" schema="ws_root-02-http_schemas.xmlsoap.org_wsdl.xsd" namespace="http://schemas.xmlsoap.org/wsdl/" path="platform/8.5/ws/ws_root-02-http_schemas.xmlsoap.org_wsdl.xsd" sha256="f592f6541ccdb780895d82f056a74e96ad5d6269ccf5d90628ff1caafe70b00e"/>
        <Resource source="ws_root.res" schema="ws_root-03-http_v8.1c.ru_8.1_ws_wsdefinitions-model.xsd" namespace="http://v8.1c.ru/8.1/ws/wsdefinitions-model" path="platform/8.5/ws/ws_root-03-http_v8.1c.ru_8.1_ws_wsdefinitions-model.xsd" sha256="f9742a5fb3a2b16d116ae313730aad4bfe381bea623e114431db300166845ecc"/>
        <Resource source="xdto_root.res" schema="xdto_root-01-http_v8.1c.ru_8.1_xdto.xsd" namespace="http://v8.1c.ru/8.1/xdto" path="platform/8.5/xdto/xdto_root-01-http_v8.1c.ru_8.1_xdto.xsd" sha256="41cf8fe40c433b2f3872e208cd24af23dcf489ce03d06a2d564b18f641e88c86"/>
        <Resource source="xdto_root.res" schema="xdto_root-02-http_v8.1c.ru_8.2_bsl.xsd" namespace="http://v8.1c.ru/8.2/bsl" path="platform/8.5/xdto/xdto_root-02-http_v8.1c.ru_8.2_bsl.xsd" sha256="7841fc7905a395e7a1bdd5e50e77ae9826e987d3c2c017c58312b4bb97fa0c85"/>
        <Resource source="xdto_root.res" schema="xdto_root-03-http_v8.1c.ru_8.1_data_core.xsd" namespace="http://v8.1c.ru/8.1/data/core" path="platform/8.5/xdto/xdto_root-03-http_v8.1c.ru_8.1_data_core.xsd" sha256="73a7086af37aaeeefebe0f476e847498e8891220c06f681868e71f92a4e45602"/>
        <Resource source="xdto_root.res" schema="xdto_root-04-http_v8.1c.ru_8.1_data_ui.xsd" namespace="http://v8.1c.ru/8.1/data/ui" path="platform/8.5/xdto/xdto_root-04-http_v8.1c.ru_8.1_data_ui.xsd" sha256="ff60a4bdb50e757214aac7027402e449bde8fcd295badb3e00fbecc5faccc14d"/>
        <Resource source="xml2_root.res" schema="xml2_root-01-http_www.w3.org_2001_XMLSchema.xsd" namespace="http://www.w3.org/2001/XMLSchema" path="platform/8.5/xml2/xml2_root-01-http_www.w3.org_2001_XMLSchema.xsd" sha256="a16ef27b3d4ce3ec7f82d448de85f2902387506db2f1af522177d106b68dacc9"/>
        <Resource source="xml2_root.res" schema="xml2_root-02-http_www.w3.org_2001_XMLSchema-instance.xsd" namespace="http://www.w3.org/2001/XMLSchema-instance" path="platform/8.5/xml2/xml2_root-02-http_www.w3.org_2001_XMLSchema-instance.xsd" sha256="c8f44918dadf53e78a7f445aae3368f0d3750ccf7f9157fa6b850cb6bc4bb4b5"/>
        <Resource source="xml2_root.res" schema="xml2_root-03-http_www.w3.org_2001_XMLSchema.xsd" namespace="http://www.w3.org/2001/XMLSchema" path="platform/8.5/xml2/xml2_root-03-http_www.w3.org_2001_XMLSchema.xsd" sha256="481b2ece3df57183349892f4b612b9535e6038f2b35aff3bffca0b771b2bf642"/>
        <Resource source="xml2_root.res" schema="xml2_root-04-http_www.w3.org_2001_XMLSchema.xsd" namespace="http://www.w3.org/2001/XMLSchema" path="platform/8.5/xml2/xml2_root-04-http_www.w3.org_2001_XMLSchema.xsd" sha256="3f4bfeab4596150d194710f9828a6d86df62d493c8a81235b5b894a236fee9f1"/>
        <Resource source="xml2_root.res" schema="xml2_root-05-http_www.w3.org_XML_1998_namespace.xsd" namespace="http://www.w3.org/XML/1998/namespace" path="platform/8.5/xml2/xml2_root-05-http_www.w3.org_XML_1998_namespace.xsd" sha256="d2256d6042014ac6a39fdf2a5e545bd6a7afa1ae6c7c51349b4c4e0607a07015"/>
      </PlatformSchemaResources>
      <PlatformObjectModel source="1C EDT EMF model jars">
        <MetadataClasses>
          <Class name="AdjustableBoolean"/>
          <Class name="ForRoleType"/>
          <Class name="StandardCommand"/>
          <Class name="CharacteristicsDescription"/>
          <Class name="StandardAttribute"/>
          <Class name="StandardTabularSectionDescription"/>
          <Class name="CommonAttributeContentItem"/>
          <Class name="AbstractCommandInterface"/>
          <Class name="AbstractMobileClientSign"/>
          <Class name="AbstractStandaloneContent"/>
          <Class name="BasicMobileClientSign"/>
          <Class name="MobileClientSign"/>
          <Class name="MobileClientDigestData"/>
          <Class name="MobileClientDigestTypes"/>
          <Class name="ConvertedMobileClientSign"/>
          <Class name="AbstractClientApplicationInterface"/>
          <Class name="AbstractFlowchart"/>
          <Class name="AbstractForm"/>
          <Class name="MdPicture"/>
          <Class name="Template"/>
          <Class name="TabularSectionAttribute"/>
          <Class name="CommonCommand"/>
          <Class name="AbstractRoleDescription"/>
          <Class name="Role"/>
          <Class name="Language"/>
          <Class name="SessionParameter"/>
          <Class name="CommonTemplate"/>
          <Class name="CommonModule"/>
          <Class name="CommonAttribute"/>
          <Class name="CommonForm"/>
          <Class name="CommonPicture"/>
          <Class name="CommandGroup"/>
          <Class name="Catalog"/>
          <Class name="CatalogAttribute"/>
          <Class name="CatalogTabularSection"/>
          <Class name="CatalogForm"/>
          <Class name="CatalogCommand"/>
          <Class name="CatalogPredefinedItem"/>
          <Class name="CatalogPredefined"/>
          <Class name="Document"/>
          <Class name="DocumentAttribute"/>
          <Class name="DocumentForm"/>
          <Class name="DocumentTabularSection"/>
          <Class name="DocumentCommand"/>
          <Class name="DocumentNumerator"/>
          <Class name="ChartOfCharacteristicTypes"/>
          <Class name="ChartOfCharacteristicTypesAttribute"/>
          <Class name="ChartOfCharacteristicTypesTabularSection"/>
          <Class name="ChartOfCharacteristicTypesForm"/>
          <Class name="ChartOfCharacteristicTypesCommand"/>
          <Class name="ChartOfCharacteristicTypesPredefinedItem"/>
          <Class name="ChartOfCharacteristicTypesPredefined"/>
          <Class name="Enum"/>
          <Class name="EnumValue"/>
          <Class name="EnumForm"/>
          <Class name="EnumCommand"/>
          <Class name="InformationRegister"/>
          <Class name="InformationRegisterResource"/>
          <Class name="InformationRegisterAttribute"/>
          <Class name="InformationRegisterDimension"/>
          <Class name="InformationRegisterForm"/>
          <Class name="InformationRegisterCommand"/>
          <Class name="Interface"/>
          <Class name="Style"/>
          <Class name="Configuration"/>
          <Class name="ContainedObject"/>
          <Class name="AbstractWorkArea"/>
          <Class name="StyleItem"/>
          <Class name="ExchangePlan"/>
          <Class name="ExchangePlanContentItem"/>
          <Class name="ExchangePlanAttribute"/>
          <Class name="ExchangePlanTabularSection"/>
          <Class name="ExchangePlanForm"/>
          <Class name="ExchangePlanCommand"/>
          <Class name="Subsystem"/>
          <Class name="WSReference"/>
          <Class name="EventSubscription"/>
          <Class name="DefinedType"/>
          <Class name="Constant"/>
          <Class name="Sequence"/>
          <Class name="SequenceDimension"/>
          <Class name="DocumentJournal"/>
          <Class name="DocumentJournalForm"/>
          <Class name="Column"/>
          <Class name="DocumentJournalCommand"/>
          <Class name="Report"/>
          <Class name="ReportAttribute"/>
          <Class name="ReportTabularSection"/>
          <Class name="ReportTabularSectionAttribute"/>
          <Class name="ReportForm"/>
          <Class name="ReportCommand"/>
          <Class name="ExternalReport"/>
          <Class name="DataProcessor"/>
          <Class name="DataProcessorAttribute"/>
          <Class name="DataProcessorTabularSection"/>
          <Class name="DataProcessorTabularSectionAttribute"/>
          <Class name="DataProcessorForm"/>
          <Class name="DataProcessorCommand"/>
          <Class name="ExternalDataProcessor"/>
          <Class name="AccumulationRegister"/>
          <Class name="AccumulationRegisterResource"/>
          <Class name="AccumulationRegisterAttribute"/>
          <Class name="AccumulationRegisterDimension"/>
          <Class name="AccumulationRegisterForm"/>
          <Class name="AccumulationRegisterCommand"/>
          <Class name="FunctionalOption"/>
          <Class name="BusinessProcess"/>
          <Class name="BusinessProcessForm"/>
          <Class name="BusinessProcessCommand"/>
          <Class name="BusinessProcessAttribute"/>
          <Class name="BusinessProcessTabularSection"/>
          <Class name="Task"/>
          <Class name="TaskCommand"/>
          <Class name="TaskForm"/>
          <Class name="TaskAttribute"/>
          <Class name="TaskTabularSection"/>
          <Class name="AddressingAttribute"/>
          <Class name="ScheduledJob"/>
          <Class name="FunctionalOptionsParameter"/>
          <Class name="FilterCriterion"/>
          <Class name="FilterCriterionCommand"/>
          <Class name="FilterCriterionForm"/>
          <Class name="SettingsStorage"/>
          <Class name="SettingsStorageForm"/>
          <Class name="XDTOPackage"/>
          <Class name="WebService"/>
          <Class name="Operation"/>
          <Class name="Parameter"/>
          <Class name="HTTPService"/>
          <Class name="URLTemplate"/>
          <Class name="Method"/>
          <Class name="ExternalDataSource"/>
          <Class name="Table"/>
          <Class name="TableForm"/>
          <Class name="TableCommand"/>
          <Class name="Field"/>
          <Class name="Cube"/>
          <Class name="DimensionTable"/>
          <Class name="DimensionTableForm"/>
          <Class name="DimensionTableCommand"/>
          <Class name="Dimension"/>
          <Class name="Resource"/>
          <Class name="CubeForm"/>
          <Class name="CubeCommand"/>
          <Class name="Function"/>
          <Class name="ChartOfAccounts"/>
          <Class name="ChartOfAccountsPredefinedItem"/>
          <Class name="ExtDimensionType"/>
          <Class name="ChartOfAccountsPredefined"/>
          <Class name="ChartOfAccountsAttribute"/>
          <Class name="ChartOfAccountsTabularSection"/>
          <Class name="AccountingFlag"/>
          <Class name="ExtDimensionAccountingFlag"/>
          <Class name="ChartOfAccountsCommand"/>
          <Class name="ChartOfAccountsForm"/>
          <Class name="ChartOfCalculationTypes"/>
          <Class name="ChartOfCalculationTypesPredefinedItem"/>
          <Class name="ChartOfCalculationTypesPredefined"/>
          <Class name="ChartOfCalculationTypesAttribute"/>
          <Class name="ChartOfCalculationTypesTabularSection"/>
          <Class name="ChartOfCalculationTypesForm"/>
          <Class name="ChartOfCalculationTypesCommand"/>
          <Class name="AccountingRegister"/>
          <Class name="AccountingRegisterDimension"/>
          <Class name="AccountingRegisterResource"/>
          <Class name="AccountingRegisterAttribute"/>
          <Class name="AccountingRegisterForm"/>
          <Class name="AccountingRegisterCommand"/>
          <Class name="CalculationRegister"/>
          <Class name="CalculationRegisterResource"/>
          <Class name="RecalculationDimension"/>
          <Class name="CalculationRegisterAttribute"/>
          <Class name="CalculationRegisterDimension"/>
          <Class name="Recalculation"/>
          <Class name="CalculationRegisterForm"/>
          <Class name="CalculationRegisterCommand"/>
          <Class name="AbstractGeographicalSchema"/>
          <Class name="AbstractStyle"/>
          <Class name="IntegrationService"/>
          <Class name="IntegrationServiceChannel"/>
          <Class name="Bot"/>
          <Class name="WebSocketClient"/>
          <Class name="AbstractDistributionSupport"/>
          <Class name="SourceReferenceTypeDescription"/>
          <Class name="MdObjectReferenceTypeDescription"/>
          <Class name="SourceReferenceTypeContainer"/>
          <Class name="PaletteColor"/>
        </MetadataClasses>
        <McoreClasses>
          <Class name="StringKeyAndValue"/>
          <Class name="Type"/>
          <Class name="PromiseType"/>
          <Class name="EmptyContextDef"/>
          <Class name="Ctor"/>
          <Class name="FakeCtor"/>
          <Class name="FakeParameter"/>
          <Class name="TypeSet"/>
          <Class name="NumberQualifiers"/>
          <Class name="StringQualifiers"/>
          <Class name="DateQualifiers"/>
          <Class name="BinaryQualifiers"/>
          <Class name="TypeDescription"/>
          <Class name="TypeValue"/>
          <Class name="TypeDescriptionValue"/>
          <Class name="UndefinedValue"/>
          <Class name="NullValue"/>
          <Class name="NumberValue"/>
          <Class name="BooleanValue"/>
          <Class name="StringValue"/>
          <Class name="DateValue"/>
          <Class name="BinaryValue"/>
          <Class name="ReferenceValue"/>
          <Class name="EnumValue"/>
          <Class name="SysEnumValue"/>
          <Class name="ColorValue"/>
          <Class name="FontValue"/>
          <Class name="LineValue"/>
          <Class name="BorderValue"/>
          <Class name="IrresolvableReferenceValue"/>
          <Class name="ValueList"/>
          <Class name="FixedArrayValue"/>
          <Class name="TypedValueListItem"/>
          <Class name="TypedValueList"/>
          <Class name="StructureProperty"/>
          <Class name="Structure"/>
          <Class name="UuidValue"/>
          <Class name="RuntimeValue"/>
          <Class name="StandardBeginningDate"/>
          <Class name="StandardBeginningDateValue"/>
          <Class name="StandardPeriod"/>
          <Class name="StandardPeriodValue"/>
          <Class name="ContextDef"/>
          <Class name="ContextDefWithRefItem"/>
          <Class name="Property"/>
          <Class name="TypeContainerRef"/>
          <Class name="TypeContainerDef"/>
          <Class name="DerivedProperty"/>
          <Class name="ContainingSourceDerivedProperty"/>
          <Class name="Method"/>
          <Class name="Event"/>
          <Class name="ParamSet"/>
          <Class name="Parameter"/>
          <Class name="GeneralContextDef"/>
          <Class name="Field"/>
          <Class name="DerivedField"/>
          <Class name="StandardTabularPart"/>
          <Class name="CommandRef"/>
          <Class name="StandardCommandGroup"/>
          <Class name="Point"/>
          <Class name="PictureRef"/>
          <Class name="ColorDef"/>
          <Class name="ColorRef"/>
          <Class name="StyleColor"/>
          <Class name="StyleBorder"/>
          <Class name="StyleFont"/>
          <Class name="BorderDef"/>
          <Class name="BorderRef"/>
          <Class name="FontDef"/>
          <Class name="AutoFont"/>
          <Class name="FontRef"/>
          <Class name="Line"/>
          <Class name="Help"/>
          <Class name="HelpPage"/>
          <Class name="RefContextDelegatingContextDef"/>
          <Class name="QName"/>
          <Class name="AutoColor"/>
          <Class name="PaletteColor"/>
        </McoreClasses>
      </PlatformObjectModel>
      <PlatformSerializers>
        <Serializer name="ListInStream" direction="read" role="platform bracket/list-stream reader"/>
        <Serializer name="ListOutStream" direction="write" role="platform bracket/list-stream writer"/>
        <Serializer name="ValueFromStringInternal" direction="read" role="typed scalar value reader"/>
        <Serializer name="ValueToStringInternal" direction="write" role="typed scalar value writer"/>
        <Serializer name="CompositeID::serialize" direction="write" role="platform metadata object id writer"/>
        <Serializer name="CompositeID::deserialize" direction="read" role="platform metadata object id reader"/>
        <Serializer name="TypeDomainPattern::serialize" direction="write" role="platform type-domain writer"/>
        <Serializer name="TypeDomainPattern::deserialize" direction="read" role="platform type-domain reader"/>
      </PlatformSerializers>
      <TypeDomainCodes>
        <Code value="S" typeName="xs:string" kind="primitive"/>
        <Code value="N" typeName="xs:decimal" kind="primitive"/>
        <Code value="B" typeName="xs:boolean" kind="primitive"/>
        <Code value="D" typeName="xs:dateTime" kind="primitive"/>
        <Code value="U" typeName="xs:anyType" kind="primitive"/>
        <Code value="#" typeName="cfg:uuid" kind="reference"/>
      </TypeDomainCodes>
    </xs:appinfo>
  </xs:annotation>

  <xs:simpleType name="UUID">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CompositeID">
    <xs:restriction base="xs:string">
      <xs:pattern value="-?[0-9]+(:[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TypeDomainCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="S"/>
      <xs:enumeration value="N"/>
      <xs:enumeration value="B"/>
      <xs:enumeration value="D"/>
      <xs:enumeration value="U"/>
      <xs:enumeration value="#"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TypeDomainPatternItem">
    <xs:attribute name="code" type="TypeDomainCode" use="required"/>
    <xs:attribute name="uuid" type="UUID"/>
    <xs:attribute name="typeName" type="xs:string" use="required"/>
    <xs:attribute name="kind" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="TypeDomainPattern">
    <xs:sequence>
      <xs:element name="PatternItem" type="TypeDomainPatternItem" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="encoding" fixed="TypeDomainPattern"/>
  </xs:complexType>

  <xs:simpleType name="ValueStringInternalKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="null"/>
      <xs:enumeration value="boolean"/>
      <xs:enumeration value="integer"/>
      <xs:enumeration value="number"/>
      <xs:enumeration value="string"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ValueStringInternal">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="kind" type="ValueStringInternalKind" use="required"/>
        <xs:attribute name="encoding" fixed="ValueToStringInternal"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MetadataAttribute">
    <xs:sequence>
      <xs:element name="Type" type="TypeDomainPattern" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
    <xs:attribute name="id" type="CompositeID"/>
  </xs:complexType>

  <xs:complexType name="MetadataObject">
    <xs:sequence>
      <xs:element name="Attribute" type="MetadataAttribute" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Form" type="MetadataForm" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TablePart" type="MetadataObject" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
    <xs:attribute name="type" type="MetadataObjectKind" use="required"/>
    <xs:attribute name="uuid" type="UUID"/>
  </xs:complexType>

  <xs:simpleType name="MetadataObjectKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Configuration"/>
      <xs:enumeration value="Common"/>
      <xs:enumeration value="Constant"/>
      <xs:enumeration value="Catalog"/>
      <xs:enumeration value="Document"/>
      <xs:enumeration value="DocumentJournal"/>
      <xs:enumeration value="Enumeration"/>
      <xs:enumeration value="Report"/>
      <xs:enumeration value="DataProcessor"/>
      <xs:enumeration value="ChartOfCharacteristicTypes"/>
      <xs:enumeration value="ChartOfAccounts"/>
      <xs:enumeration value="ChartOfCalculationTypes"/>
      <xs:enumeration value="InformationRegister"/>
      <xs:enumeration value="AccumulationRegister"/>
      <xs:enumeration value="AccountingRegister"/>
      <xs:enumeration value="CalculationRegister"/>
      <xs:enumeration value="BusinessProcess"/>
      <xs:enumeration value="Task"/>
      <xs:enumeration value="ExternalDataSource"/>
      <xs:enumeration value="ExternalDataProcessorObject"/>
      <xs:enumeration value="ExchangePlan"/>
      <xs:enumeration value="FilterCriterion"/>
      <xs:enumeration value="CommonModule"/>
      <xs:enumeration value="CommonForm"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TypeTreeKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Number"/>
      <xs:enumeration value="String"/>
      <xs:enumeration value="Date"/>
      <xs:enumeration value="Boolean"/>
      <xs:enumeration value="ValueList"/>
      <xs:enumeration value="CatalogRef"/>
      <xs:enumeration value="DocumentRef"/>
      <xs:enumeration value="EnumerationRef"/>
      <xs:enumeration value="ChartOfCharacteristicTypesRef"/>
      <xs:enumeration value="ChartOfAccountsRef"/>
      <xs:enumeration value="ChartOfCalculationTypesRef"/>
      <xs:enumeration value="BusinessProcessRef"/>
      <xs:enumeration value="BusinessProcessRoutePointRef"/>
      <xs:enumeration value="TaskRef"/>
      <xs:enumeration value="ExchangePlanRef"/>
      <xs:enumeration value="Characteristic"/>
      <xs:enumeration value="AnyRef"/>
      <xs:enumeration value="TypeDescription"/>
      <xs:enumeration value="Color"/>
      <xs:enumeration value="Font"/>
      <xs:enumeration value="StandardBeginningDate"/>
      <xs:enumeration value="StandardPeriod"/>
      <xs:enumeration value="Filter"/>
      <xs:enumeration value="Order"/>
      <xs:enumeration value="ConditionalAppearance"/>
      <xs:enumeration value="AppearanceSettings"/>
      <xs:enumeration value="FormattingField"/>
      <xs:enumeration value="SystemEnumeration"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TypeTreeNode">
    <xs:sequence>
      <xs:element name="Type" type="TypeTreeNode" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
    <xs:attribute name="kind" type="TypeTreeKind" use="required"/>
    <xs:attribute name="uuid" type="UUID"/>
    <xs:attribute name="typeName" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="MetadataForm">
    <xs:sequence>
      <xs:element name="Attribute" type="MetadataAttribute" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Command" type="MetadataCommand" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Event" type="MetadataEvent" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
    <xs:attribute name="kind" type="xs:string"/>
    <xs:attribute name="uuid" type="UUID"/>
  </xs:complexType>

  <xs:complexType name="MetadataCommand">
    <xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
    <xs:attribute name="id" type="CompositeID"/>
    <xs:attribute name="handler" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="MetadataEvent">
    <xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
    <xs:attribute name="id" type="UUID"/>
    <xs:attribute name="handler" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="MetadataConfiguration">
    <xs:sequence>
      <xs:element name="TypeDomain" type="TypeDomainPattern" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="TypeTree" type="TypeTreeNode" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Object" type="MetadataObject" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:NMTOKEN"/>
    <xs:attribute name="uuid" type="UUID"/>
  </xs:complexType>

  <xs:element name="MetadataConfiguration" type="MetadataConfiguration"/>
</xs:schema>
