src/onec_ordinary_forms/schemas/metadata.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:md="urn:onec:ordinary-form:metadata" targetNamespace="urn:onec:ordinary-form:metadata" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>
      Platform-derived ordinary form vocabulary. The control and property names
      are confirmed against 1C 8.2.19.130 and 8.5.1.1343 designer/runtime
      libraries, then used as the public schema contract for ordinary Form.xml.
    </xs:documentation>
  </xs:annotation>
  <xs:simpleType name="ControlElementNameType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Panel"/>
      <xs:enumeration value="LabelDecoration"/>
      <xs:enumeration value="PictureDecoration"/>
      <xs:enumeration value="Button"/>
      <xs:enumeration value="InputField"/>
      <xs:enumeration value="CommandBar"/>
      <xs:enumeration value="CheckBox"/>
      <xs:enumeration value="Table"/>
      <xs:enumeration value="ChoiceField"/>
      <xs:enumeration value="SpreadsheetDocumentField"/>
      <xs:enumeration value="GroupBox"/>
      <xs:enumeration value="RadioButton"/>
      <xs:enumeration value="Splitter"/>
      <xs:enumeration value="Chart"/>
      <xs:enumeration value="ListBox"/>
      <xs:enumeration value="HTMLDocumentField"/>
      <xs:enumeration value="ProgressBar"/>
      <xs:enumeration value="TrackBar"/>
      <xs:enumeration value="CalendarField"/>
      <xs:enumeration value="TextDocumentField"/>
      <xs:enumeration value="CommandBarButton"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PlatformControlNameType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Панель"/>
      <xs:enumeration value="Надпись"/>
      <xs:enumeration value="ПолеКартинки"/>
      <xs:enumeration value="Кнопка"/>
      <xs:enumeration value="ПолеВвода"/>
      <xs:enumeration value="КоманднаяПанель"/>
      <xs:enumeration value="Флажок"/>
      <xs:enumeration value="ТабличноеПоле"/>
      <xs:enumeration value="ПолеВыбора"/>
      <xs:enumeration value="ПолеТабличногоДокумента"/>
      <xs:enumeration value="РамкаГруппы"/>
      <xs:enumeration value="Переключатель"/>
      <xs:enumeration value="Разделитель"/>
      <xs:enumeration value="Диаграмма"/>
      <xs:enumeration value="Список"/>
      <xs:enumeration value="ПолеHTMLДокумента"/>
      <xs:enumeration value="Индикатор"/>
      <xs:enumeration value="ПолосаРегулирования"/>
      <xs:enumeration value="ПолеКалендаря"/>
      <xs:enumeration value="ПолеТекстовогоДокумента"/>
      <xs:enumeration value="КнопкаКоманднойПанели"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ControlPropertyNameType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Title"/>
      <xs:enumeration value="ToolTip"/>
      <xs:enumeration value="Position"/>
      <xs:enumeration value="Visible"/>
      <xs:enumeration value="Enabled"/>
      <xs:enumeration value="ReadOnly"/>
      <xs:enumeration value="SkipOnInput"/>
      <xs:enumeration value="DataPath"/>
      <xs:enumeration value="Font"/>
      <xs:enumeration value="TextColor"/>
      <xs:enumeration value="BackColor"/>
      <xs:enumeration value="BorderColor"/>
      <xs:enumeration value="ContextMenu"/>
      <xs:enumeration value="AutoContextMenu"/>
      <xs:enumeration value="ExtendedTooltip"/>
      <xs:enumeration value="Events"/>
      <xs:enumeration value="HorizontalAlign"/>
      <xs:enumeration value="VerticalAlign"/>
      <xs:enumeration value="TextPosition"/>
      <xs:enumeration value="PicturePosition"/>
      <xs:enumeration value="AutoMaxWidth"/>
      <xs:enumeration value="HorizontalStretch"/>
      <xs:enumeration value="Hyperlink"/>
      <xs:enumeration value="ValueType"/>
      <xs:enumeration value="EditMode"/>
      <xs:enumeration value="ChoiceMode"/>
      <xs:enumeration value="MaxLength"/>
      <xs:enumeration value="MultiLine"/>
      <xs:enumeration value="PasswordMode"/>
      <xs:enumeration value="ChoiceButton"/>
      <xs:enumeration value="ClearButton"/>
      <xs:enumeration value="OpenButton"/>
      <xs:enumeration value="CreateButton"/>
      <xs:enumeration value="EditButton"/>
      <xs:enumeration value="RegulationButton"/>
      <xs:enumeration value="Picture"/>
      <xs:enumeration value="ButtonType"/>
      <xs:enumeration value="CommandName"/>
      <xs:enumeration value="DefaultButton"/>
      <xs:enumeration value="CancelButton"/>
      <xs:enumeration value="Pages"/>
      <xs:enumeration value="PagesRepresentation"/>
      <xs:enumeration value="Autofill"/>
      <xs:enumeration value="ChoiceList"/>
      <xs:enumeration value="Columns"/>
      <xs:enumeration value="Rows"/>
      <xs:enumeration value="ColumnsCount"/>
      <xs:enumeration value="RowsCount"/>
      <xs:enumeration value="AutoMarkIncomplete"/>
      <xs:enumeration value="ShowTitle"/>
      <xs:enumeration value="Representation"/>
      <xs:enumeration value="Orientation"/>
      <xs:enumeration value="Items"/>
      <xs:enumeration value="MinWidth"/>
      <xs:enumeration value="MaxWidth"/>
      <xs:enumeration value="Border"/>
      <xs:enumeration value="VerticalStretch"/>
      <xs:enumeration value="Action"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
