src/onec_ordinary_forms/schemas/ordinary-form.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xs:element name="Form" type="FormType"/>
  <xs:complexType name="FormType">
    <xs:sequence>
      <xs:element name="Title" type="LocalizedTextType" minOccurs="0"/>
      <xs:element name="Width" type="xs:integer" minOccurs="0"/>
      <xs:element name="Height" type="xs:integer" minOccurs="0"/>
      <xs:element name="WindowOpeningMode" type="xs:string" minOccurs="0"/>
      <xs:element name="AutoTitle" type="xs:boolean" minOccurs="0"/>
      <xs:element name="Group" type="xs:string" minOccurs="0"/>
      <xs:element name="CommandBarLocation" type="xs:string" minOccurs="0"/>
      <xs:element name="VerticalScroll" type="xs:string" minOccurs="0"/>
      <xs:element name="ShowCommandBar" type="xs:boolean" minOccurs="0"/>
      <xs:element name="AutoCommandBar" type="CommandBarType" minOccurs="0"/>
      <xs:element name="Events" type="EventsType" minOccurs="0"/>
      <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
      <xs:element name="Pages" type="PagesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:simpleType name="Sha256Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{64}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LocalizedTextType">
    <xs:sequence>
      <xs:element name="Item" type="LocalizedTextItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="LocalizedTextItemType" mixed="true">
    <xs:attribute name="lang" type="xs:language"/>
  </xs:complexType>
  <xs:complexType name="FileRefType">
    <xs:attribute name="file" type="xs:string" use="required"/>
    <xs:attribute name="sha256" type="Sha256Type"/>
    <xs:attribute name="size" type="xs:nonNegativeInteger"/>
    <xs:attribute name="mime" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="AttributesType">
    <xs:sequence>
      <xs:element name="Attribute" type="AttributeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:sequence>
      <xs:element name="Type" type="OpenElementType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:integer"/>
  </xs:complexType>
  <xs:complexType name="PagesType">
    <xs:sequence>
      <xs:element name="Page" type="PageType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PageType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Title" type="LocalizedTextType" minOccurs="0"/>
      <xs:element name="ToolTip" type="LocalizedTextType" minOccurs="0"/>
      <xs:element name="Group" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtendedTooltip" type="NamedRefType" minOccurs="0"/>
      <xs:group ref="ControlElementGroup"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:integer"/>
  </xs:complexType>
  <xs:group name="ControlElementGroup">
    <xs:choice>
      <xs:element name="Pages" type="PagesControlType"/>
      <xs:element name="Panel" type="PanelType"/>
      <xs:element name="LabelDecoration" type="LabelDecorationType"/>
      <xs:element name="PictureDecoration" type="PictureDecorationType"/>
      <xs:element name="Button" type="ButtonType"/>
      <xs:element name="InputField" type="InputFieldType"/>
      <xs:element name="CommandBar" type="CommandBarType"/>
      <xs:element name="CheckBox" type="CheckBoxType"/>
      <xs:element name="Table" type="TableType"/>
      <xs:element name="ChoiceField" type="ChoiceFieldType"/>
      <xs:element name="SpreadsheetDocumentField" type="SpreadsheetDocumentFieldType"/>
      <xs:element name="GroupBox" type="GroupBoxType"/>
      <xs:element name="RadioButton" type="RadioButtonType"/>
      <xs:element name="Splitter" type="SplitterType"/>
      <xs:element name="Chart" type="ChartType"/>
      <xs:element name="ListBox" type="ListBoxType"/>
      <xs:element name="HTMLDocumentField" type="HTMLDocumentFieldType"/>
      <xs:element name="ProgressBar" type="ProgressBarType"/>
      <xs:element name="TrackBar" type="TrackBarType"/>
      <xs:element name="CalendarField" type="CalendarFieldType"/>
      <xs:element name="TextDocumentField" type="TextDocumentFieldType"/>
      <xs:element name="CommandBarButton" type="CommandBarButtonType"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="PagesControlType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ControlType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Title" type="LocalizedTextType"/>
      <xs:element name="ToolTip" type="LocalizedTextType"/>
      <xs:element name="Position" type="PositionType"/>
      <xs:element name="Picture" type="FileRefType"/>
      <xs:element name="Action" type="OpenElementType"/>
      <xs:element name="DataPath" type="xs:string"/>
      <xs:element name="Visible" type="xs:boolean"/>
      <xs:element name="Enabled" type="xs:boolean"/>
      <xs:element name="ReadOnly" type="xs:boolean"/>
      <xs:element name="SkipOnInput" type="xs:boolean"/>
      <xs:element name="DefaultButton" type="xs:boolean"/>
      <xs:element name="CancelButton" type="xs:boolean"/>
      <xs:element name="AutoMarkIncomplete" type="xs:boolean"/>
      <xs:element name="AutoMaxWidth" type="xs:boolean"/>
      <xs:element name="HorizontalStretch" type="xs:boolean"/>
      <xs:element name="VerticalStretch" type="xs:boolean"/>
      <xs:element name="ShowTitle" type="xs:boolean"/>
      <xs:element name="Hyperlink" type="xs:boolean"/>
      <xs:element name="Autofill" type="xs:boolean"/>
      <xs:element name="MultiLine" type="xs:boolean"/>
      <xs:element name="PasswordMode" type="xs:boolean"/>
      <xs:element name="ChoiceButton" type="xs:boolean"/>
      <xs:element name="ClearButton" type="xs:boolean"/>
      <xs:element name="OpenButton" type="xs:boolean"/>
      <xs:element name="CreateButton" type="xs:boolean"/>
      <xs:element name="EditButton" type="xs:boolean"/>
      <xs:element name="Width" type="xs:integer"/>
      <xs:element name="Height" type="xs:integer"/>
      <xs:element name="MinWidth" type="xs:integer"/>
      <xs:element name="MinHeight" type="xs:integer"/>
      <xs:element name="MaxWidth" type="xs:integer"/>
      <xs:element name="MaxHeight" type="xs:integer"/>
      <xs:element name="TabIndex" type="xs:integer"/>
      <xs:element name="ColumnsCount" type="xs:integer"/>
      <xs:element name="RowsCount" type="xs:integer"/>
      <xs:element name="MaxLength" type="xs:integer"/>
      <xs:element name="TextColor" type="xs:string"/>
      <xs:element name="BackColor" type="xs:string"/>
      <xs:element name="BorderColor" type="xs:string"/>
      <xs:element name="Font" type="OpenElementType"/>
      <xs:element name="AutoContextMenu" type="xs:boolean"/>
      <xs:element name="Representation" type="xs:string"/>
      <xs:element name="HorizontalAlign" type="xs:string"/>
      <xs:element name="VerticalAlign" type="xs:string"/>
      <xs:element name="TextPosition" type="xs:string"/>
      <xs:element name="PicturePosition" type="xs:string"/>
      <xs:element name="Border" type="xs:string"/>
      <xs:element name="Orientation" type="xs:string"/>
      <xs:element name="ButtonType" type="xs:string"/>
      <xs:element name="CommandName" type="xs:string"/>
      <xs:element name="ToolTipRepresentation" type="xs:string"/>
      <xs:element name="PagesRepresentation" type="xs:string"/>
      <xs:element name="EditMode" type="xs:string"/>
      <xs:element name="ChoiceMode" type="xs:string"/>
      <xs:element name="RegulationButton" type="xs:boolean"/>
      <xs:element name="ChoiceList" type="OpenElementType"/>
      <xs:element name="ValueType" type="OpenElementType"/>
      <xs:element name="ContextMenu" type="NamedRefType"/>
      <xs:element name="ExtendedTooltip" type="NamedRefType"/>
      <xs:element name="Events" type="EventsType"/>
      <xs:element name="Columns" type="OpenElementType"/>
      <xs:element name="Rows" type="OpenElementType"/>
      <xs:element name="Items" type="OpenElementType"/>
      <xs:group ref="ControlElementGroup"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:integer"/>
  </xs:complexType>
  <xs:complexType name="PanelType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LabelDecorationType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PictureDecorationType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ButtonType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InputFieldType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CommandBarType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CheckBoxType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TableType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChoiceFieldType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SpreadsheetDocumentFieldType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GroupBoxType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RadioButtonType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SplitterType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChartType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ListBoxType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HTMLDocumentFieldType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProgressBarType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrackBarType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CalendarFieldType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextDocumentFieldType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CommandBarButtonType">
    <xs:complexContent>
      <xs:extension base="ControlType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NamedRefType">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="id" type="xs:integer"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="EventsType">
    <xs:sequence>
      <xs:element name="Event" type="EventType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EventType" mixed="true">
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="PositionType">
    <xs:sequence>
      <xs:element name="Bindings" type="BindingsType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="left" type="xs:integer"/>
    <xs:attribute name="top" type="xs:integer"/>
    <xs:attribute name="right" type="xs:integer"/>
    <xs:attribute name="bottom" type="xs:integer"/>
    <xs:attribute name="width" type="xs:integer"/>
    <xs:attribute name="height" type="xs:integer"/>
    <xs:attribute name="unit" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="BindingsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Binding" type="BindingType"/>
      <xs:element name="DimensionBinding" type="DimensionBindingType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="BindingType">
    <xs:sequence>
      <xs:element name="From" type="AnchorType" minOccurs="0"/>
      <xs:element name="To" type="AnchorType" minOccurs="0"/>
      <xs:element name="Extra1" type="AnchorType" minOccurs="0"/>
      <xs:element name="Extra2" type="AnchorType" minOccurs="0"/>
      <xs:element name="Extra3" type="AnchorType" minOccurs="0"/>
      <xs:element name="Extra4" type="AnchorType" minOccurs="0"/>
      <xs:element name="Extra5" type="AnchorType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="coordinate" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="mode" type="xs:string"/>
    <xs:attribute name="modeName" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="DimensionBindingType">
    <xs:attribute name="dimension" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="mode" type="xs:string"/>
    <xs:attribute name="modeName" type="xs:string"/>
    <xs:attribute name="target" type="xs:string"/>
    <xs:attribute name="targetId" type="xs:integer"/>
    <xs:attribute name="targetName" type="xs:string"/>
    <xs:attribute name="side" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="AnchorType">
    <xs:sequence>
      <xs:element name="Value" type="IndexedValueType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="valueType" type="xs:string"/>
    <xs:attribute name="relation" type="xs:string"/>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
    <xs:attribute name="target" type="xs:string"/>
    <xs:attribute name="targetId" type="xs:integer"/>
    <xs:attribute name="targetName" type="xs:string"/>
    <xs:attribute name="side" type="xs:string"/>
    <xs:attribute name="offset" type="xs:integer"/>
  </xs:complexType>
  <xs:complexType name="IndexedValueType" mixed="true">
    <xs:attribute name="index" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="kind" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="OpenElementType" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
</xs:schema>
