src/onec_ordinary_forms/schemas/platform/8.2/dcs/dcs_root-06-http_v8.1c.ru_8.1_data-composition-system_composition-template.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://v8.1c.ru/8.1/data-composition-system/composition-template" xmlns:dcsc="http://v8.1c.ru/8.1/data-composition-system/common" xmlns:dcsat="http://v8.1c.ru/8.1/data-composition-system/area-template" xmlns:dcscore="http://v8.1c.ru/8.1/data-composition-system/core" targetNamespace="http://v8.1c.ru/8.1/data-composition-system/composition-template" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://v8.1c.ru/8.1/data-composition-system/core" schemaLocation="../../../dcscore/src/res/core.xsd"/>
	<xs:import namespace="http://v8.1c.ru/8.1/data-composition-system/common" schemaLocation="common.xsd"/>
	<xs:import namespace="http://v8.1c.ru/8.1/data-composition-system/area-template" schemaLocation="areaTemplate.xsd"/>
	<xs:element name="dataComposition" type="tns:DataCompositionTemplate">
		<xs:annotation>
			<xs:documentation>Макет компоновки данных</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DataCompositionTemplate">
		<xs:annotation>
			<xs:documentation>Компоновка данных</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dataSource" type="tns:DataSource" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Источник данных</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataSet" type="tns:DataSet" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Набор данных.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataSetLink" type="tns:DataSetLink" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Связь между наборами данных.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parameterValue" type="tns:ParameterValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Значение параметра</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="template" type="tns:TemplateDefinition" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание макета.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="body" type="tns:DataCompositionPart" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Часть тела компоновки данных.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataSource">
		<xs:annotation>
			<xs:documentation>Источник данных</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя источника данных.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип источника данных.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="connectionString" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Строка соединения с источником данных.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataSet" abstract="true">
		<xs:annotation>
			<xs:documentation>Абстрактный набор данных</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Имя набора данных.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filter" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Выражение фильтра набора данных.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="field" type="tns:DataSetField" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="nestedDataSet" type="tns:DataSetNested" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вложенные наборы данных
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataSetQuery">
		<xs:annotation>
			<xs:documentation>Набор данных - запрос</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DataSet">
				<xs:sequence>
					<xs:element name="dataSource" type="xs:string">
						<xs:annotation>
							<xs:documentation>Имя источника данных, из которого будут получаться данные набора </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="query" type="xs:string">
						<xs:annotation>
							<xs:documentation>Запрос для получения данных.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parameterValue" type="tns:ParameterValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Значения параметров набора данных</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataSetUnion">
		<xs:annotation>
			<xs:documentation>Набор данных - объединение</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DataSet">
				<xs:sequence>
					<xs:element name="item" type="tns:DataSet" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Часть объединения.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataSetObject">
		<xs:annotation>
			<xs:documentation>Набор данных - объект</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DataSet">
				<xs:sequence>
					<xs:element name="dataSource" type="xs:string">
						<xs:annotation>
							<xs:documentation>Имя источника данных, из которого будут получаться данные набора </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="objectName" type="xs:string">
						<xs:annotation>
							<xs:documentation>Имя объекта, содержащего данные.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataSetField">
		<xs:annotation>
			<xs:documentation>Поле набора данных</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dataPath" type="xs:string">
				<xs:annotation>
					<xs:documentation>Путь к данным поля</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя поля.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="role" type="dcsc:DataSetFieldRole" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Роль поля.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataSetLink">
		<xs:annotation>
			<xs:documentation>Связь между наборами данных</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sourceDataSet" type="xs:string">
				<xs:annotation>
					<xs:documentation>Набор данных - источник связи.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="destinationDataSet" type="xs:string">
				<xs:annotation>
					<xs:documentation>Набор данных - приемник связи.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceExpression" type="xs:string">
				<xs:annotation>
					<xs:documentation>Выражение - источник.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="destinationExpression" type="xs:string">
				<xs:annotation>
					<xs:documentation>Выражение - приемник.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parameter" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Параметр связи.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parameterListAllowed" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Допустимо использование списка в качестве параметра.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="linkConditionExpression" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Условие, при выполнении которого будет осуществляться связь.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startExpression" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Выражение, устанавливающее начальное значение связи при иерерхическом спуске.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="linkType" type="tns:DataCompositionDataSetsLinkType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип связи</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DataCompositionDataSetsLinkType">
		<xs:annotation>
			<xs:documentation>Тип связи между наборами данных</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Outer"/>
			<xs:enumeration value="Inner"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ParameterValue">
		<xs:annotation>
			<xs:documentation>Значение параметра</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя параметра.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="value" type="xs:anyType" minOccurs="0" maxOccurs="unbounded" nillable="true">
				<xs:annotation>
					<xs:documentation>Значение параметра.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Group">
		<xs:annotation>
			<xs:documentation>Элемент группировки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="expression" type="xs:string">
				<xs:annotation>
					<xs:documentation>Выражение группировки.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="groupType" type="dcscore:DataCompositionGroupType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип группировки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hierarchyDataSet" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Имя набора данных для получения иерархии.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="periodAddition" type="tns:PeriodAddition" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнение периода.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fieldName" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Имя поля группировки</xs:documentation>
				</xs:annotation>
			</xs:element>
      <xs:element name="resourceGroup" type="xs:boolean" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Группировка ресурса</xs:documentation>
        </xs:annotation>
      </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PeriodAddition">
		<xs:annotation>
			<xs:documentation>Дополнение периода</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="additionType" type="dcscore:DataCompositionPeriodAdditionType">
				<xs:annotation>
					<xs:documentation>Тип дополнения.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="begin" type="xs:anyType" minOccurs="0" nillable="true">
				<xs:annotation>
					<xs:documentation>Начальная дата периода. Может быть либо датой, либо выражением.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="end" type="xs:anyType" minOccurs="0" nillable="true">
				<xs:annotation>
					<xs:documentation>Конечная дата периода. Может быть либо датой, либо выражением.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataCompositionPart" abstract="true">
		<xs:annotation>
			<xs:documentation>Часть компоновки данных</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="DataCompositionPartTemplate">
		<xs:annotation>
			<xs:documentation>Часть компоновки данных - макет</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DataCompositionPart">
				<xs:sequence>
					<xs:element name="template" type="xs:string">
						<xs:annotation>
							<xs:documentation>Имя выводимого макета.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataCompositionPartGroup">
		<xs:annotation>
			<xs:documentation>Часть компоновки данных - группировка</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DataCompositionPart">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Имя группировки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="group" type="tns:Group" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент группировки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsFilter" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фильтр детальных записей, которые подлежат группировке.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="groupFilter" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фильтр для групповых записей.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="groupFilterHierarchy" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фильтр для групповых записей с учетом иерархических записей.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="groupFilterHierarchyOnly" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фильтр для иерархических групповых записей.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="order" type="dcsc:OrderExpression" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент упорядочивания.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hierarchicalOrder" type="dcsc:OrderExpression" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент упорядочивания.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="headerTemplate" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Макет для вывода заголовка области.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="footerTemplate" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Макет для вывода подвала области</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="body" type="tns:DataCompositionPart" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Тело группировки.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hierarchicalBody" type="tns:DataCompositionPart" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Иерархическое тело группировки.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsCount" type="xs:integer" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество выдаваемых записей</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsPercent" type="xs:integer" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Процент выдаваемых записей</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataCompositionPartHierarchicalGroup">
		<xs:annotation>
			<xs:documentation>Часть компоновки данных - иерархическая группировка</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DataCompositionPart"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataCompositionPartRecords">
		<xs:annotation>
			<xs:documentation>Часть компоновки данных - записи набора данных</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DataCompositionPart">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Имя группировки.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataSet" type="xs:string">
						<xs:annotation>
							<xs:documentation>Имя источника данных, из которого берутся детальные записи.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="requiredDataSet" type="xs:string" maxOccurs="unbounded" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Имя набора данных, который обязателен для группировки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsFilter" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фильтр записей.</xs:documentation>
						</xs:annotation>
					</xs:element>
                                        <xs:element name="groupFilterHierarchy" type="xs:string" minOccurs="0">
                                          <xs:annotation>
                                            <xs:documentation>Фильтр для групповых и иерархических записей.</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                        <xs:element name="order" type="dcsc:OrderExpression" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент упорядочивания.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="headerTemplate" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Макет для вывода заголовка области.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="footerTemplate" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Макет для вывода подвала области</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="body" type="tns:DataCompositionPart" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Часть тела компоновки данных.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsCount" type="xs:integer" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество выдаваемых записей</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsPercent" type="xs:integer" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Процент выдаваемых записей</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataCompositionPartHierarchicalRecords">
		<xs:annotation>
			<xs:documentation>Часть компоновки данных - иерархические детальные записи</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DataCompositionPart"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataCompositionPartTable">
		<xs:annotation>
			<xs:documentation>Часть компоновки данных - таблица</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DataCompositionPart">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Имя группировки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="headerTemplate" type="xs:string">
						<xs:annotation>
							<xs:documentation>Макет заголовка таблицы.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rowsTotalTemplate" type="xs:string">
						<xs:annotation>
							<xs:documentation>Макет, в котором будет написано ИТОГО ПО СТРОКЕ.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="columnsTotalTemplate" type="xs:string">
						<xs:annotation>
							<xs:documentation>Макет, в котором будет написано ИТОГО ПО КОЛОНКЕ.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="overallsTemplate" type="xs:string">
						<xs:annotation>
							<xs:documentation>Макет общих итогов.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rowsTotalPlacement" type="dcscore:DataCompositionTotalPlacement">
						<xs:annotation>
							<xs:documentation>Тип размещения итогов по строкам.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="columnsTotalPlacement" type="dcscore:DataCompositionTotalPlacement">
						<xs:annotation>
							<xs:documentation>Тип размещения итогов по колонкам.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="column" type="tns:TableGroupBodyItem" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Колонки таблицы.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="row" type="tns:TableGroupBodyItem" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Строки таблицы.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TableGroup">
		<xs:annotation>
			<xs:documentation>Группировка таблицы</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:TableGroupBodyItem">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Имя группировки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="group" type="tns:Group" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент группировки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsFilter" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фильтр детальных записей, попадающих в группировку.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="groupFilter" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фильтр групповых записей.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="groupFilterHierarchy" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фильтр для групповых записей с учетом иерархических записей.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="groupFilterHierarchyOnly" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фильтр для иерархических групповых записей.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="order" type="dcsc:OrderExpression" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент упорядочивания.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hierarchicalOrder" type="dcsc:OrderExpression" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент упорядочивания.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="headerTemplate" type="tns:TableGroupTemplate" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Макет для вывода заголовка области</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="footerTemplate" type="tns:TableGroupTemplate" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Макет для вывода подвала области</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="body" type="tns:TableGroupBodyItem" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент тела группировки таблицы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hierarchicalBody" type="tns:TableGroupBodyItem" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент иерархического тела группировки таблицы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsCount" type="xs:integer" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество выдаваемых записей</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsPercent" type="xs:integer" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Процент выдаваемых записей</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TableRecords">
		<xs:annotation>
			<xs:documentation>Детальные записи таблицы</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:TableGroupBodyItem">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Имя группировки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataSet" type="xs:string">
						<xs:annotation>
							<xs:documentation>Имя источника данных, из которого берутся детальные записи.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="requiredDataSet" type="xs:string" maxOccurs="unbounded" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Имя набора данных, который обязателен для группировки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsFilter" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фильтр детальных записей, попадающих в группировку.</xs:documentation>
						</xs:annotation>
					</xs:element>
                                        <xs:element name="groupFilterHierarchy" type="xs:string" minOccurs="0">
                                          <xs:annotation>
                                            <xs:documentation>Фильтр для групповых и иерархических записей.</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                        <xs:element name="order" type="dcsc:OrderExpression" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент упорядочивания.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="headerTemplate" type="tns:TableGroupTemplate" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Макет для вывода заголовка области</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="footerTemplate" type="tns:TableGroupTemplate" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Макет для вывода подвала области</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="body" type="tns:TableGroupBodyItem" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент тела группировки таблицы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsCount" type="xs:integer" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество выдаваемых записей</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsPercent" type="xs:integer" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Процент выдаваемых записей</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TableHierarchicalRecords">
		<xs:annotation>
			<xs:documentation>Иерархические детальные записи таблицы</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:TableGroupBodyItem"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TableHierarchicalGroup">
		<xs:annotation>
			<xs:documentation>Иерархическая группировка таблицы</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:TableGroupBodyItem"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TableGroupBodyItem" abstract="true">
		<xs:annotation>
			<xs:documentation>Элементы тела группировки таблицы</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="TableBodyTemplate">
		<xs:annotation>
			<xs:documentation>Макет тела таблицы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="groupTemplate" type="xs:string"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Имя макета группировки.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="template" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя макета</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TableGroupTemplate">
		<xs:annotation>
			<xs:documentation>Макет группировки таблицы</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:TableGroupBodyItem">
				<xs:sequence>
					<xs:element name="template" type="xs:string">
						<xs:annotation>
							<xs:documentation>Макет для вывода области группировки таблицы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="resourceTemplate" type="tns:TableBodyTemplate" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Макет, используемый для вывода центра таблицы.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="resourceTotalTemplate" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Макет используемый для вывода итогов справа таблицы.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataCompositionPartChart">
		<xs:annotation>
			<xs:documentation>Часть компоновки данных - диаграмма</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DataCompositionPart">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Имя диаграммы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="template" type="xs:string">
						<xs:annotation>
							<xs:documentation>Макет диаграммы. Содержит общие оформительские свойства диаграммы, такие, как тип диаграммы.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="resourceTemplate" type="xs:string">
						<xs:annotation>
							<xs:documentation>Макет, используемый для вывода центра диаграммы.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="point" type="tns:ChartGroup" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Точки диаграммы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="series" type="tns:ChartGroup" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Серии диаграммы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChartGroup">
		<xs:annotation>
			<xs:documentation>Группировка диаграммы</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:ChartGroupBodyItem">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Имя группировки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="group" type="tns:Group" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент группировки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsFilter" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фильтр детальных записей, попадающих в группировку.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="groupFilter" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фильтр групповых записей.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="groupFilterHierarchy" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фильтр для групповых записей с учетом иерархических записей.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="groupFilterHierarchyOnly" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фильтр для иерархических групповых записей.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="order" type="dcsc:OrderExpression" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент упорядочивания.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hierarchicalOrder" type="dcsc:OrderExpression" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент упорядочивания.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="body" type="tns:ChartGroupBodyItem" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент тела группировки диаграммы.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hierarchicalBody" type="tns:ChartGroupBodyItem" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Элемент иерархического тела группировки диаграммы.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsCount" type="xs:integer" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество выдаваемых записей</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordsPercent" type="xs:integer" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Процент выдаваемых записей</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChartHierarchicalGroup">
		<xs:annotation>
			<xs:documentation>Иерархическая группировка диаграммы</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:ChartGroupBodyItem"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChartGroupBodyItem" abstract="true">
		<xs:annotation>
			<xs:documentation>Элементы тела группировки диаграммы</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="ChartGroupTemplate">
		<xs:annotation>
			<xs:documentation>Макет группировки диаграммы</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:ChartGroupBodyItem">
				<xs:sequence>
					<xs:element name="template" type="xs:string">
						<xs:annotation>
							<xs:documentation>Макет для вывода области группировки диаграммы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="resourceTemplate" type="tns:ChartBodyTemplate" maxOccurs="unbounded" minOccurs="0"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataCompositionPartNestedObject">
		<xs:annotation>
			<xs:documentation>Часть компоновки данных - вложенный объект</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:DataCompositionPart">
				<xs:sequence>
					<xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Имя элемента</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="id" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор элемента</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataComposition" type="tns:DataCompositionTemplate">
						<xs:annotation>
							<xs:documentation>Описание сборки данных</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parameterValue" type="tns:ParameterValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Значение параметров</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TemplateDefinition">
		<xs:annotation>
			<xs:documentation>Определение макета</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя макета.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="template" type="xs:anyType">
				<xs:annotation>
					<xs:documentation>Макет.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parameter" type="dcsat:AreaTemplateParameter" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Параметр макета.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ChartBodyTemplate">
        <xs:annotation>
        	<xs:documentation>Макет тела диаграммы</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="groupTemplate" type="xs:string"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Имя макета группировки.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="template" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя макета</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataSetNested">
        <xs:annotation>
        	<xs:documentation>Вложенный набор данных</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
			<xs:extension base="tns:DataSet">
				<xs:sequence>
					<xs:element name="dataPath" type="xs:string">
						<xs:annotation>
							<xs:documentation>Путь к данным вложенного набора данных.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
