src/onec_ordinary_forms/schemas/platform/8.2/xdto/xdto_root-03-http_v8.1c.ru_8.1_data_core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://v8.1c.ru/8.1/data/core" xmlns:tns="http://v8.1c.ru/8.1/data/core" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0">

    <xs:simpleType name="UUID">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Type">
        <xs:restriction base="xs:QName"/>
    </xs:simpleType>

    <xs:simpleType name="ValueStorage">
        <xs:restriction base="xs:base64Binary"/>
    </xs:simpleType>

    <xs:simpleType name="AllowedSign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Any"/>
            <xs:enumeration value="Nonnegative"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AllowedLength">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Fixed"/>
            <xs:enumeration value="Variable"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DateFractions">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Date"/>
            <xs:enumeration value="Time"/>
            <xs:enumeration value="DateTime"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="NumberQualifiers">
        <xs:sequence>
            <xs:element name="Digits" type="xs:decimal"/>
            <xs:element name="FractionDigits" type="xs:decimal"/>
            <xs:element name="AllowedSign" type="tns:AllowedSign"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StringQualifiers">
        <xs:sequence>
            <xs:element name="Length" type="xs:decimal"/>
            <xs:element name="AllowedLength" type="tns:AllowedLength"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BinaryDataQualifiers">
        <xs:sequence>
            <xs:element name="Length" type="xs:decimal"/>
            <xs:element name="AllowedLength" type="tns:AllowedLength"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DateQualifiers">
        <xs:sequence>
            <xs:element name="DateFractions" type="tns:DateFractions"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TypeDescription">
        <xs:sequence>
            <xs:element name="Type" type="xs:QName" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="TypeSet" type="xs:QName" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="TypeId" type="tns:UUID" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="NumberQualifiers" type="tns:NumberQualifiers" minOccurs="0"/>
            <xs:element name="StringQualifiers" type="tns:StringQualifiers" minOccurs="0"/>
            <xs:element name="DateQualifiers" type="tns:DateQualifiers" minOccurs="0"/>
            <xs:element name="BinaryDataQualifiers" type="tns:BinaryDataQualifiers" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LocalStringItemType">
        <xs:sequence>
            <xs:element name="lang" type="xs:NMTOKEN"/>
            <xs:element name="content" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LocalStringType">
        <xs:sequence>
            <xs:element name="item" type="tns:LocalStringItemType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ValueListItemType">
        <xs:sequence>
            <xs:element name="value"  nillable="true"/>
            <xs:element name="presentation" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="checkState" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="picture" minOccurs="0" maxOccurs="1"/>
            <xs:element name="id" type="xs:long" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ValueListType">
        <xs:sequence>
            <xs:element name="valueType" type="tns:TypeDescription"/>
            <xs:element name="availableValues" type="tns:ValueListType" minOccurs="0" />
            <!-- Значение последнего идентификатора строки коллекции. -->
            <xs:element name="lastId" type="xs:long" minOccurs="0" maxOccurs="1"/>
            <xs:element name="item" type="tns:ValueListItemType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="FillCheckErrorStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Error"/>
            <xs:enumeration value="Warning"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FillChecking">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DontCheck"/>
            <xs:enumeration value="ShowError"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="DataFillError">
        <xs:sequence>
            <xs:element name="Data" type="xs:string"/>
            <xs:element name="DataDescr" type="xs:string"/>
            <xs:element name="Text" type="xs:string"/>
            <xs:element name="Status" type="tns:FillCheckErrorStatus"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DataFillErrors">
        <xs:sequence>
            <xs:element name="item" type="tns:DataFillError" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="CompositeID">
        <xs:restriction base="xs:string">
            <xs:pattern value="-?[0-9]+(:[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})?" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Array">
        <xs:sequence>
            <xs:element name="Value" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FixedArray">
        <xs:sequence>
            <xs:element name="Value" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Structure">
        <xs:sequence>
            <xs:element name="Property" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Value" nillable="true"/>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FixedStructure">
        <xs:sequence>
            <xs:element name="Property" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Value" nillable="true"/>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KeyAndValue">
        <xs:sequence>
            <xs:element name="Key"/>
            <xs:element name="Value" nillable="true"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Map">
        <xs:sequence>
            <xs:element name="pair" type="tns:KeyAndValue" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FixedMap">
        <xs:sequence>
            <xs:element name="pair" type="tns:KeyAndValue" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ValueTableColumn">
        <xs:sequence>
            <xs:element name="Name" type="xs:NMTOKEN" minOccurs="0"/>
            <xs:element name="ValueType" type="tns:TypeDescription" minOccurs="0"/>
            <xs:element name="Title" type="xs:string" minOccurs="0"/>
            <xs:element name="Width" type="xs:nonNegativeInteger" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ValueTableIndex">
        <xs:sequence>
            <xs:element name="column" type="xs:NMTOKEN" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ValueTableRow">
        <xs:sequence>
            <xs:element name="Value" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ValueTable">
        <xs:sequence>
            <xs:element name="column" type="tns:ValueTableColumn" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="index" type="tns:ValueTableIndex" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="row" type="tns:ValueTableRow" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ValueTreeColumn">
        <xs:sequence>
            <xs:element name="Name" type="xs:NMTOKEN" minOccurs="0"/>
            <xs:element name="ValueType" type="tns:TypeDescription" minOccurs="0"/>
            <xs:element name="Title" type="xs:string" minOccurs="0"/>
            <xs:element name="Width" type="xs:nonNegativeInteger" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ValueTreeRow">
        <xs:sequence>
            <xs:element name="row" type="tns:ValueTreeRow" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Value" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ValueTree">
        <xs:sequence>
            <xs:element name="column" type="tns:ValueTreeColumn" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="row" type="tns:ValueTreeRow" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="StandardBeginningDateVariant">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Custom"></xs:enumeration>
            <xs:enumeration value="BeginningOfThisDay"></xs:enumeration>
            <xs:enumeration value="BeginningOfThisWeek"></xs:enumeration>
            <xs:enumeration value="BeginningOfThisTenDays"></xs:enumeration>
            <xs:enumeration value="BeginningOfThisMonth"></xs:enumeration>
            <xs:enumeration value="BeginningOfThisQuarter"></xs:enumeration>
            <xs:enumeration value="BeginningOfThisHalfYear"></xs:enumeration>
            <xs:enumeration value="BeginningOfThisYear"></xs:enumeration>
            <xs:enumeration value="BeginningOfLastDay"></xs:enumeration>
            <xs:enumeration value="BeginningOfLastWeek"></xs:enumeration>
            <xs:enumeration value="BeginningOfLastTenDays"></xs:enumeration>
            <xs:enumeration value="BeginningOfLastMonth"></xs:enumeration>
            <xs:enumeration value="BeginningOfLastQuarter"></xs:enumeration>
            <xs:enumeration value="BeginningOfLastHalfYear"></xs:enumeration>
            <xs:enumeration value="BeginningOfLastYear"></xs:enumeration>
            <xs:enumeration value="BeginningOfNextDay"></xs:enumeration>
            <xs:enumeration value="BeginningOfNextWeek"></xs:enumeration>
            <xs:enumeration value="BeginningOfNextTenDays"></xs:enumeration>
            <xs:enumeration value="BeginningOfNextMonth"></xs:enumeration>
            <xs:enumeration value="BeginningOfNextQuarter"></xs:enumeration>
            <xs:enumeration value="BeginningOfNextHalfYear"></xs:enumeration>
            <xs:enumeration value="BeginningOfNextYear"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StandardPeriodVariant">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Custom"></xs:enumeration>
            <xs:enumeration value="Today"></xs:enumeration>
            <xs:enumeration value="ThisWeek"></xs:enumeration>
            <xs:enumeration value="ThisTenDays"></xs:enumeration>
            <xs:enumeration value="ThisMonth"></xs:enumeration>
            <xs:enumeration value="ThisQuarter"></xs:enumeration>
            <xs:enumeration value="ThisHalfYear"></xs:enumeration>
            <xs:enumeration value="ThisYear"></xs:enumeration>
            <xs:enumeration value="FromBeginningOfThisWeek"></xs:enumeration>
            <xs:enumeration value="FromBeginningOfThisTenDays"></xs:enumeration>
            <xs:enumeration value="FromBeginningOfThisMonth"></xs:enumeration>
            <xs:enumeration value="FromBeginningOfThisQuarter"></xs:enumeration>
            <xs:enumeration value="FromBeginningOfThisHalfYear"></xs:enumeration>
            <xs:enumeration value="FromBeginningOfThisYear"></xs:enumeration>
            <xs:enumeration value="Yesterday"></xs:enumeration>
            <xs:enumeration value="LastWeek"></xs:enumeration>
            <xs:enumeration value="LastTenDays"></xs:enumeration>
            <xs:enumeration value="LastMonth"></xs:enumeration>
            <xs:enumeration value="LastQuarter"></xs:enumeration>
            <xs:enumeration value="LastHalfYear"></xs:enumeration>
            <xs:enumeration value="LastYear"></xs:enumeration>
            <xs:enumeration value="LastWeekTillSameWeekDay"></xs:enumeration>
            <xs:enumeration value="LastTenDaysTillSameDayNumber"></xs:enumeration>
            <xs:enumeration value="LastMonthTillSameDate"></xs:enumeration>
            <xs:enumeration value="LastQuarterTillSameDate"></xs:enumeration>
            <xs:enumeration value="LastHalfYearTillSameDate"></xs:enumeration>
            <xs:enumeration value="LastYearTillSameDate"></xs:enumeration>
            <xs:enumeration value="Tomorrow"></xs:enumeration>
            <xs:enumeration value="NextWeek"></xs:enumeration>
            <xs:enumeration value="NextTenDays"></xs:enumeration>
            <xs:enumeration value="NextMonth"></xs:enumeration>
            <xs:enumeration value="NextQuarter"></xs:enumeration>
            <xs:enumeration value="NextHalfYear"></xs:enumeration>
            <xs:enumeration value="NextYear"></xs:enumeration>
            <xs:enumeration value="NextWeekTillSameWeekDay"></xs:enumeration>
            <xs:enumeration value="NextTenDaysTillSameDayNumber"></xs:enumeration>
            <xs:enumeration value="NextMonthTillSameDate"></xs:enumeration>
            <xs:enumeration value="NextQuarterTillSameDate"></xs:enumeration>
            <xs:enumeration value="NextHalfYearTillSameDate"></xs:enumeration>
            <xs:enumeration value="NextYearTillSameDate"></xs:enumeration>
            <xs:enumeration value="TillEndOfThisWeek"></xs:enumeration>
            <xs:enumeration value="TillEndOfThisTenDays"></xs:enumeration>
            <xs:enumeration value="TillEndOfThisMonth"></xs:enumeration>
            <xs:enumeration value="TillEndOfThisQuarter"></xs:enumeration>
            <xs:enumeration value="TillEndOfThisHalfYear"></xs:enumeration>
            <xs:enumeration value="TillEndOfThisYear"></xs:enumeration>
            <xs:enumeration value="Last7Days"></xs:enumeration>
            <xs:enumeration value="Next7Days"></xs:enumeration>
            <xs:enumeration value="Month"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="StandardBeginningDate">
        <xs:annotation>
            <xs:documentation>Стандартная дата начала</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="variant" />
            <xs:element name="date" type="xs:dateTime" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StandardPeriod">
        <xs:annotation>
            <xs:documentation>
                Стандартный период
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="variant" />
            <xs:element name="startDate" type="xs:dateTime" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="endDate" type="xs:dateTime" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="Null">
        <xs:restriction base="xs:string">
            <xs:length value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="GenericException" abstract="true">
        <xs:sequence>
            <xs:element name="descr" type="xs:string"/>
            <xs:element name="inner" type="tns:GenericException" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="clsid" type="tns:UUID" use="required"/>
        <xs:attribute name="encoded" type="xs:boolean" default="false"/>
    </xs:complexType>

    <xs:complexType name="Exception">
        <xs:complexContent>
            <xs:extension base="tns:GenericException">
                <xs:sequence>
                    <xs:element name="data" type="xs:base64Binary" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
