src/onec_ordinary_forms/schemas/platform/8.5/dbgtgt/dbgtgt_root-01-http_v8.1c.ru_8.3_debugger_dbgtgtBP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.3/debugger/dbgtgtBP"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:dbgbase="http://v8.1c.ru/8.3/debugger/debugBaseData"
           xmlns:dbgcalc="http://v8.1c.ru/8.3/debugger/debugCalculations"
           xmlns:dbgtgtErrorInfo="http://v8.1c.ru/8.3/debugger/dbgtgtErrorInfo"
           targetNamespace="http://v8.1c.ru/8.3/debugger/dbgtgtBP"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugBaseData" schemaLocation="../../../dbgbase/src/res/debugBaseData.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugCalculations" schemaLocation="../../../dbgbase/src/res/debugCalculations.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/dbgtgtErrorInfo" schemaLocation="./dbgtgtErrorInfo.xsd"/>

    <!-- ========================================================= -->
    <!-- Результаты вычисления условия срабатывания точки останова -->
    <!-- ========================================================= -->

    <!-- Результаты вычисления условия срабатывания точки останова -->
    <xs:simpleType name="BPConditionState">
        <xs:restriction base="xs:string">
            <!-- Результат проверки неизвестен -->
            <xs:enumeration value="Unkwnown" />
            <!-- Результат проверки условия есть Истина - точка останова должна сработать -->
            <xs:enumeration value="true" />
            <!-- Результат проверки условия есть Ложь - точка останова не должна сработать -->
            <xs:enumeration value="false" />
            <!-- При проверке условия возникли ошибки компиляции или ран-тайм - ошибки -->
            <xs:enumeration value="error" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Информация о проверке условия срабатывания точки останова-->
    <xs:complexType name="CheckBPConditionResult">
        <xs:sequence>
            <!-- Результат проверки условия -->
            <xs:element name="condResult" type="tns:BPConditionState"/>
            <xs:choice>
                <!-- Информация по ошибке компиляции (для передачи из веб-клиента) -->
                <xs:element name="compileErrorInfo" type="dbgtgtErrorInfo:CompileErrorInfo" minOccurs="0" maxOccurs="1"/>
                <!-- Информация по ран-тайм ошибке (для передачи из веб-клиента) -->
                <xs:element name="runtimeErrorInfo" type="dbgtgtErrorInfo:RunTimeErrorInfo" minOccurs="0" maxOccurs="1"/>
                <!-- Информация об ошибке (для передачи из C++ - клиента) -->
                <xs:element name="exception" type="core:GenericException" minOccurs="0" maxOccurs="1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <!-- Информация о вычислении сообщения точки останова-->
    <xs:complexType name="MessageBPConditionResult">
        <xs:sequence>
            <!-- Результат проверки условия -->
            <xs:element name="condResult" type="xs:string"/>
            <xs:choice>
                <!-- Информация по ошибке компиляции (для передачи из веб-клиента) -->
                <xs:element name="compileErrorInfo" type="dbgtgtErrorInfo:CompileErrorInfo" minOccurs="0" maxOccurs="1"/>
                <!-- Информация по ран-тайм ошибке (для передачи из веб-клиента) -->
                <xs:element name="runtimeErrorInfo" type="dbgtgtErrorInfo:RunTimeErrorInfo" minOccurs="0" maxOccurs="1"/>
                <!-- Информация об ошибке (для передачи из C++ - клиента) -->
                <xs:element name="exception" type="core:GenericException" minOccurs="0" maxOccurs="1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
