src/onec_ordinary_forms/schemas/platform/8.5/dbgtgt/dbgtgt_root-02-http_v8.1c.ru_8.3_debugger_dbgtgtCommands.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.3/debugger/dbgtgtCommands"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:dbgbase="http://v8.1c.ru/8.3/debugger/debugBaseData"
           xmlns:dbgbp="http://v8.1c.ru/8.3/debugger/debugBreakpoints"
           xmlns:debugRTEFilter="http://v8.1c.ru/8.3/debugger/debugRTEFilter"
           xmlns:dbgtgtData="http://v8.1c.ru/8.3/debugger/dbgtgtData"
           xmlns:debugMeasure="http://v8.1c.ru/8.3/debugger/debugMeasure"
           xmlns:debugForegroundData="http://v8.1c.ru/8.3/debugger/debugForegroundData"
           targetNamespace="http://v8.1c.ru/8.3/debugger/dbgtgtCommands"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugBaseData" schemaLocation="../../../dbgbase/src/res/debugBaseData.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugCalculations" schemaLocation="../../../dbgbase/src/res/debugCalculations.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugBreakpoints" schemaLocation="../../../dbgbase/src/res/debugBreakpoints.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugRTEFilter" schemaLocation="../../../dbgbase/src/res/debugRTEFilter.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugMeasure" schemaLocation="../../../dbgbase/src/res/debugMeasure.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugForegroundData" schemaLocation="../../../dbgbase/src/res/debugForegroundData.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/dbgtgtData" schemaLocation="dbgtgtData.xsd"/>

    <!-- ============================================================================ -->
    <!-- Команды и данные, команды, поступающие в предмет отладки от сервера отладки  -->
    <!-- ============================================================================ -->

    <!-- Команды, поступающие в предмет отладки от сервера отладки -->
    <xs:simpleType name="DBGTGTExtCmds">
        <xs:restriction base="xs:string">
            <!-- Неизвестное состояние -->
            <xs:enumeration value="unknown" />
            <!-- Изменилась версия настроек окружения ЦУПа предмета отладки -->
            <xs:enumeration value="EnvStateVersion" />
            <!-- Изменилась информация об останове на следующей строке кода -->
            <xs:enumeration value="BreakOnNextLine" />
            <!-- Изменилась версия данных пошаговой отладки -->
            <xs:enumeration value="StepDebuggingDataVer" />
            <!-- Изменился состав точек останова -->
            <xs:enumeration value="Breakpoints" />
            <!-- Изменилась настройка обработки ран-тайм - ошибок -->
            <xs:enumeration value="RTEProcessing" />
            <!-- Изменилось состояние флага замера производительности -->
            <xs:enumeration value="MeasureMode" />
            <!-- Изменился состав недоступных для отладки модулей -->
            <xs:enumeration value="InaccessModules" />
            <!-- Поступила просьба предоставить стек вызовов -->
            <xs:enumeration value="GetCallStack" />
            <!-- Поступила просьба предоставить результаты замера производительности -->
            <xs:enumeration value="GetMeasureResults" />
            <!-- Поступила просьба очистить данные пошаговой отладки -->
            <xs:enumeration value="ClearStepDebuggingInfo" />
            <!-- Поступила просьба завершить работу предмета отладки -->
            <xs:enumeration value="Terminate" />
            <!-- Поступила просьба перезапустить приложение с предметом отладки -->
            <xs:enumeration value="Restart" />
            <!-- Поступила информация о времени выполнения кода на сервере -->
            <xs:enumeration value="ServerCallFullTime" />
        
            <!-- Команды со стороны предмета отладки серверу отладки -->
        
            <!-- Стек вызовов -->
            <xs:enumeration value="SetCallStack" />
            <!-- Результат замера производительности -->
            <xs:enumeration value="MeasureResults" />
            <!-- Подтверждение обработки времени работы кода на сервере -->
            <xs:enumeration value="ServerCallFullTimeConfirmation" />
            <!-- Передача информации о состоянии разделителей -->
            <xs:enumeration value="DSChangeData" />

            <!-- Команды активизации приложений -->

            <!-- Установить помогальник для активизации окна партнера по соединению -->
            <xs:enumeration value="ForegroundHelperSet" />
            <!-- Запросить помогальник для активизации окна партнера по соединению -->
            <xs:enumeration value="ForegroundHelperRequest" />
            <!-- Выполнить активизацию окна партнера по соединению переданным помогальником -->
            <xs:enumeration value="ForegroundHelperProcess" />

        </xs:restriction>
    </xs:simpleType>

    <!-- Базовый тип для описания информации о команде -->
    <xs:complexType name="DBGTGTExtCmdBase">
        <xs:sequence>
            <!-- Идентификатор команды для UI+ части отладчика -->
            <xs:element name="cmdID" type="tns:DBGTGTExtCmds"/>
            <!-- Уникальный идентификатор предмета отладки -->
            <xs:element name="targetUUID" type="core:UUID" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Базовый тип для описания информации о команде, включающей идентификатор отправителя команды -->
    <xs:complexType name="DBGTGTExtCmdAndSenderIDBase">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Идентификатор отправителя команды -->
                    <xs:element name="senderID" type="core:UUID" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Изменилась версия настроек окружения ЦУПа предмета отладки -->
    <xs:complexType name="DBGTGTExtCmdEnvStateVersion">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Версия настроек окружения ЦУПа предмета отладки -->
                    <xs:element name="envStateVersion" type="core:UUID" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Изменилась информация об останове на следующей строке кода -->
    <xs:complexType name="DBGTGTExtCmdBreakOnNextLine">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Признак необходимости останова на следующей стркое кода -->
                    <xs:element name="breakOnNextLine" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                    <!-- Признак необходимости останова на следующей стркое кода -->
                    <xs:element name="triggeredTargetID" type="dbgbase:DebugTargetIdStr" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Изменилась версия данных пошаговой отладки -->
    <xs:complexType name="DBGTGTExtCmdStepDebuggingDataVer">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Версия данных пошаговой отладки -->
                    <xs:element name="stepDebuggingDataVer" type="core:UUID" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
   
    <!-- команда с информацией о точках останова -->
    <xs:complexType name="DBGTGTExtCmdBreakpoints">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Пространство точек останова -->
                    <xs:element name="bpWorkspace" type="dbgbp:BPWorkspaceInternal" minOccurs="0" maxOccurs="1"/>
                    <!-- Версия -->
                    <xs:element name="version" type="core:UUID" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Команда с информацией о настройке обработок ран-тайм - ошибок -->
    <xs:complexType name="DBGTGTExtCmdRTEProcessing">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Способ обработки ран-тайм - ошибки -->
                    <xs:element name="rteProcessing" type="debugRTEFilter:RteFilterStorage" minOccurs="1" maxOccurs="1"/>
                    <!-- Версия -->
                    <xs:element name="version" type="core:UUID" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Команда с информацией о состоянии флага замера производительности -->
    <xs:complexType name="DBGTGTExtCmdMeasureMode">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Идентификатор сессии замера производительности -->
                    <xs:element name="measureMode" type="core:UUID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Команда с информацией о составе недоступных модулей -->
    <xs:complexType name="DBGTGTExtCmdInaccessModules">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Идентификатор модуля -->
                    <xs:element name="moduleID" type="dbgbase:BSLModuleIdInternal" minOccurs="0" />
                    <!-- Версия -->
                    <xs:element name="version" type="core:UUID" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Команда с просьбой вернуть стек вызовов -->
    <xs:complexType name="DBGTGTExtCmdGetCallStack">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Идентификатор получателя стека вызовов -->
                    <xs:element name="callStackReceiverID" type="core:UUID" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Команда с просьбой очистить данные пошаговой отладки -->
    <xs:complexType name="DBGTGTExtCmdClearStepDebuggingInfo">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Команда с просьбой завершить работу предмета отладки -->
    <xs:complexType name="DBGTGTExtCmdTerminate">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Команда с просьбой перезапустить приложение с предметом отладки -->
    <xs:complexType name="DBGTGTExtCmdRestart">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Команда с информацией о времени выполнения кода на сервере-->
    <xs:complexType name="DBGTGTExtCmdSrvCallFullTime">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdAndSenderIDBase">
                <xs:sequence>
                    <!-- Идентификатор сессии замера производительности -->
                    <xs:element name="measureSessionID" type="core:UUID" minOccurs="1" maxOccurs="1"/>
                    <!-- Время выполнения кода на сервере -->
                    <xs:element name="serverCallFullTime" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
                    <!-- Время простоя в отладчике -->
                    <xs:element name="serverCallTimeInDebugger" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- =================================================================== -->
    <!-- Команды, передаваемые со стороны предмета отладки на сервер отладки -->
    <!-- =================================================================== -->
    
    <!-- Команда со стеком вызовов -->
    <xs:complexType name="DBGTGTExtCmdSetCallStack">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Идентификатор предмета отладки в виде строки -->
                    <xs:element name="targetIDStr" type="dbgbase:DebugTargetIdStr"/>
                    <!-- Стек вызова -->
                    <xs:element name="callStack" type="dbgtgtData:CallStackInfo" minOccurs="0" maxOccurs="1"/>
                    <!-- Идентификатор получателя стека вызовов -->
                    <xs:element name="callStackReceiverID" type="core:UUID" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Команда с результатами замера производительности -->
    <xs:complexType name="DBGTGTExtCmdMeasureResults">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Идентификатор предмета отладки в виде строки -->
                    <xs:element name="targetIDStr" type="dbgbase:DebugTargetIdStr"/>
                    <!-- Результат замера производительности -->
                    <xs:element name="measure" type="debugMeasure:PerformanceInfoMain" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Команда с информацией о подтверждении обработки времени работы кода на сервере-->
    <xs:complexType name="DBGTGTExtCmdSrvCallFullTimeConfirm">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Идентификатор получателя команды -->
                    <xs:element name="recipientID" type="core:UUID" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Команда для передачи на сервер информации об изменившихся значениях разделителей из пинговочного потока -->
    <xs:complexType name="DBGTGTExtCmdDSChangeData">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Информация об изменении значения разделителей для сеанса в ИБ -->
                    <xs:element name="seanceDSState" type="dbgtgtData:DBGTGTRemoteCallDSInfoItem" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Установить помогальник для активизации окна партнера по соединению -->
    <xs:complexType name="DBGTGTExtCmdForegroundHelperSet">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Данные для активации окна -->
                    <xs:element name="data" type="debugForegroundData:ForegroundWindowData" minOccurs="0" maxOccurs="1"/>
                    <!-- Идентификатор получателя события -->
                    <xs:element name="recipientID" type="core:UUID" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Запросить помогальник для активизации окна партнера по соединению -->
    <xs:complexType name="DBGTGTExtCmdForegroundHelperRequest">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdAndSenderIDBase">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Выполнить активизацию окна партнера по соединению переданным помогальником -->
    <xs:complexType name="DBGTGTExtCmdForegroundHelperProcess">
        <xs:complexContent>
            <xs:extension base="tns:DBGTGTExtCmdBase">
                <xs:sequence>
                    <!-- Данные для активации окна -->
                    <xs:element name="data" type="debugForegroundData:ForegroundWindowData" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
   

</xs:schema>
