src/onec_ordinary_forms/schemas/platform/8.5/dbgtgt/dbgtgt_root-04-http_v8.1c.ru_8.3_debugger_dbgtgtErrorInfo.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.3/debugger/dbgtgtErrorInfo"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:dbgbase="http://v8.1c.ru/8.3/debugger/debugBaseData"
           xmlns:dbgcalc="http://v8.1c.ru/8.3/debugger/debugCalculations"
           targetNamespace="http://v8.1c.ru/8.3/debugger/dbgtgtErrorInfo"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugBaseData" schemaLocation="../../../dbgbase/src/res/debugBaseData.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugCalculations" schemaLocation="../../../dbgbase/src/res/debugCalculations.xsd"/>

    <xs:complexType name="CompileErrorInfo">
        <xs:sequence>
            <!-- Код ошибки -->
            <xs:element name="reason" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <!-- Номер строки исходного текста, в которой обнаружена ошибка -->
            <xs:element name="lineNum" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <!-- Позиция в строке, в которой обнаружена ошибка -->
            <xs:element name="posInLine" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <!-- Полное описание ошибки -->
            <xs:element name="descr" type="xs:base64Binary" minOccurs="0" maxOccurs="1"/>
            <!-- Текст сообщения об ошибке -->
            <xs:element name="message" type="xs:base64Binary" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ErrorInfoList">
        <xs:sequence>
            <xs:element name="compileErrorInfo" type="tns:CompileErrorInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Информация о ран-тайм ошибке -->
    <xs:complexType name="RunTimeErrorInfo">
        <xs:sequence>
            <!-- Имя модуля -->
            <xs:element name="mname" type="xs:string" minOccurs="0"/>
            <!-- Идентификатор модуля -->
            <xs:element name="mid" type="xs:string" minOccurs="0"/>
            <!-- Номер строки -->
            <xs:element name="lineNo" type="xs:decimal"/>
            <!-- Информация об ошибке (для передачи из веб-клиента) -->
            <xs:element name="runTimeException" type="bsl:RuntimeException"/>
            <!-- Информация об ошибке (для передачи из C++ - клиента) -->
            <xs:element name="exception" type="core:GenericException"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
