src/onec_ordinary_forms/schemas/platform/8.5/dbgtgt/dbgtgt_root-03-http_v8.1c.ru_8.3_debugger_dbgtgtData.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://v8.1c.ru/8.3/debugger/dbgtgtData"
           xmlns:core="http://v8.1c.ru/8.1/data/core"
           xmlns:dbgbase="http://v8.1c.ru/8.3/debugger/debugBaseData"
           xmlns:dbgcalc="http://v8.1c.ru/8.3/debugger/debugCalculations"
           targetNamespace="http://v8.1c.ru/8.3/debugger/dbgtgtData"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:import namespace="http://v8.1c.ru/8.1/data/core" schemaLocation="../../../xdto/src/res/core.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugBaseData" schemaLocation="../../../dbgbase/src/res/debugBaseData.xsd"/>
    <xs:import namespace="http://v8.1c.ru/8.3/debugger/debugCalculations" schemaLocation="../../../dbgbase/src/res/debugCalculations.xsd"/>

    <!-- =============================================== -->
    <!-- Описание результата из onNextLine               -->
    <!-- =============================================== -->

    <!-- Режим использования параметра команды -->
    <!-- См. enum NextLineCallResult -->
    <xs:simpleType name="NextLineCallResult">
        <xs:restriction base="xs:string">
            <!-- Не инициализированное состояние -->
            <xs:enumeration value="Unknown" />
            <!-- Вызывать заново -->
            <xs:enumeration value="ReCall" />
            <!-- Нужно вычислить выражение -->
            <xs:enumeration value="EvalExpr" />
            <!-- Нужно определить состав и вычислить значения локальных переменных -->
            <xs:enumeration value="EvalLocalVariables" />
            <!-- Нужно изменить значение локальной переменной или свойства контекста -->
            <xs:enumeration value="ModifyValue" />
            <!-- Нужно проверить условие срабатывания точки останова -->
            <xs:enumeration value="BPEvalExpr" />
            <!-- Нужно продолжить исполнение кода -->
            <xs:enumeration value="Continue" />
            <!-- Нужно завершить работу предмета отладки -->
            <xs:enumeration value="Terminate" />
            <!-- Нужно перезапустить приложение с предметом отладки -->
            <xs:enumeration value="Restart" />
            <!-- Нужно вычислить сообщение точки останова -->
            <xs:enumeration value="BPMessageEval" />
        </xs:restriction>
    </xs:simpleType>

    <!-- ====================================================== -->
    <!-- описание действий после передачи управления в отладчик -->
    <!-- ====================================================== -->
    <xs:complexType name="NextLineResult">
        <xs:sequence>
            <!-- Признак необходимости генерирования onNextLine при выходе из стек-фрейма -->
            <xs:element name="forceExecLineNum" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <!-- Что нужно делать -->
            <xs:element name="variant" type="tns:NextLineCallResult"/>
            <!-- Выражение для вычисления -->
            <xs:element name="expr" type="dbgcalc:CalculationSourceDataStorage" minOccurs="0" maxOccurs="unbounded"/>
            <!-- Описание нового значения локальной переменной или свойства контекста -->
            <xs:element name="newValueInfo" type="dbgcalc:NewValueInfo" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========================================================================== -->
    <!-- описание действий после передачи управления в отладчик для отладки по HTTP -->
    <!-- ========================================================================== -->
    <xs:complexType name="NextLineResultHTTP">
        <xs:complexContent>
            <xs:extension base="tns:NextLineResult">
                <xs:sequence>
                    <!-- Идентификатор события -->
                    <xs:element name="requestQueueID" type="core:UUID" minOccurs="0" maxOccurs="1"/>
                    <!-- Уточнение для способа продолжения работы -->
                    <xs:element name="debugStepAction" type="dbgbase:DebugStepAction" default="Unknown" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- =============================================== -->
    <!--  Информация о параметрах элемента стека вызовов -->
    <!-- =============================================== -->
    <!-- Информация о параметре -->
    <xs:complexType name="ParameterInfo">
        <xs:sequence>
            <!-- Имя формального параметра -->
            <xs:element name="name" type="xs:string"/>
            <!-- Текстовое предствление значения фактического параметра -->
            <xs:element name="pres" type="xs:base64Binary"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Список параметров -->
    <xs:complexType name="ParametersInfo">
        <xs:sequence>
            <!-- Информация о параметре -->
            <xs:element name="param" type="tns:ParameterInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Информация о элементе стека вызовов -->
    <xs:complexType name="CallStackItemInfo">
        <xs:sequence>
            <!-- Уникальный идентификатор стек-фрейма -->
            <xs:element name="id" type="xs:string" minOccurs="0"/>
            <!-- Имя модуля -->
            <xs:element name="mname" type="xs:string" minOccurs="0"/>
            <!-- Идентификатор модуля -->
            <xs:element name="mid" type="xs:string" minOccurs="0"/>
            <!-- Имя функции -->
            <xs:element name="fname" type="xs:string" minOccurs="0"/>
            <!-- Номер строки -->
            <xs:element name="lineNo" type="xs:decimal"/>
            <!-- Определение того, образован ли уровень стека вызовов входом в тело отлаживаемого модуля или вызовом процедуры/функции -->
            <xs:element name="isModuleEntry" type="xs:boolean"/>
            <!-- Фрейм из уже умершего родителя "асинхронного" вызов -->
            <xs:element name="thisFrameIsFromAsyncTopStack" type="xs:boolean"/>
            <!-- В этой точке и сделан асинхронный вызов -->
            <xs:element name="isAsyncPoint" type="xs:boolean"/>
            <!-- Состояние стек-фрейм -->
            <xs:element name="state" type="xs:decimal"/>
            <!-- Информация о параметрах -->
            <xs:element name="params" type="tns:ParametersInfo" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Стек вызовов -->
    <xs:complexType name="CallStackInfo">
        <xs:sequence>
            <!-- Элемент стека вызовов -->
            <xs:element name="item" type="tns:CallStackItemInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- =============================================== -->
    <!--  Информация о состоянии разделителей            -->
    <!-- =============================================== -->
    <xs:complexType name="DebugDataSeparatorInfo">
        <xs:sequence>
            <!-- Идентификатор разделителя -->
            <xs:element name="id" type="core:UUID"/>
            <!-- Имя разделителя -->
            <xs:element name="name" type="xs:string"/>
            <!-- Признак успешного получения значения разделителя -->
            <xs:element name="isReceived" type="xs:boolean" default="true"/>
            <!-- Значение разделителя -->
            <xs:element name="value" type="xs:anyType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Информация об изменении значения разделителей для сеанса в ИБ -->
    <xs:complexType name="DBGTGTRemoteCallDSInfoItem">
        <xs:sequence>
            <!-- Псевдоним информационной базы -->
            <xs:element name="infoBaseAlias" type="xs:string"/>
            <!-- Идентификатор экземпляра информационной базы -->
            <xs:element name="infoBaseInstanceID" type="core:UUID" minOccurs="1"/>
            <!-- Идентификатор сеанса -->
            <xs:element name="seanceID" type="core:UUID" minOccurs="1"/>

            <!-- Информация о состоянии разделителя -->
            <xs:element name="dsInfo" type="tns:DebugDataSeparatorInfo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
